.specific-width-33pct {
  width: 33%;
}

.h2-specific-fontsize-12 {
  font-size: 12px;
}

.specific-fontsize-09 {
  font-size: 0.9em;
}

.specific-fontsize-08 {
  font-size: 0.8em;
}

.specific-lineheight-20 {
  line-height: 20px;
}

.specific-minheight-100 {
  min-height: 100px;
}

.specific-bordercolor-ccc {
  border-color: #ccc;
}

.specific-border-radiusy-0 {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.specific-border-left-solid1pxEEE {
  border-left: 1px solid #eeeeee;
}

.specific-border-top-solid1pxEEE {
  border-top: 1px solid #eeeeee;
}

.specific-maxheight-90vh {
  max-height: 90vh;
}

.scroll-gestion {
  overflow-y: scroll;
}

.specific-size {
  width: 24px;
  height: 24px;
}

.close-btn-modal {
  z-index: 101;
}

.repositionning-in-modal {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}

.repositionning-in-modal-non-public {
  position: absolute;
  bottom: 6rem;
  right: 1.5rem;
}

.button-cancel-edit {
  position: absolute;
  bottom: 1.5rem;
  right: 7rem;
}

.button-cancel-edit-non-public {
  position: absolute;
  bottom: 6.5rem;
  right: 7rem;
}

.modal-preview {
  .task-status-switcher {
    &__container {
      position: sticky;
      top: 38px;
      background-color: white;
      z-index: 2;
      padding: 0.5rem 0;
    }
    margin-left: 1rem;
    .button {
      font-size: 0.75rem;
      padding: 3px 10px;
      border-radius: 2px;
    }
  }
}
