.specific-width {
  width: 33%;
}

.h2-specific-fontsize {
  font-size: 12px;
}

.specific-fontsize {
  font-size: 0.9em;
}

.specific-fontsize2 {
  font-size: 0.8em;
}

.specific-lineheight {
  line-height: 20px;
}

.need-cursor {
  cursor: pointer;
}

.specific-minheight {
  min-height: 100px;
}

.specific-bordercolor {
  border-color: #ccc;
}

.specific-border-radius {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.specific-border-left {
  border-left: 1px solid #eeeeee;
}

.specific-border-top {
  border-top: 1px solid #eeeeee;
}

.specific-maxheight {
  max-height: 90vh;
}

.scroll-gestion {
  overflow-y: scroll;
}

.specific-size {
  width: 24px;
  height: 24px;
}
