.specific-width {
  width: 33%;
}

.h2-specific-fontsize-12 {
  font-size: 12px;
}

.specific-fontsize-09 {
  font-size: 0.9em;
}

.specific-fontsize-08 {
  font-size: 0.8em;
}

.specific-lineheight {
  line-height: 20px;
}

.specific-cursor-pointer {
  cursor: pointer;
}

.specific-minheight-100 {
  min-height: 100px;
}

.specific-bordercolor-ccc {
  border-color: #ccc;
}

.specific-border-radiusy-0 {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.specific-border-left-solid1pxEEE {
  border-left: 1px solid #eeeeee;
}

.specific-border-top-solid1pxEEE {
  border-top: 1px solid #eeeeee;
}

.specific-maxheight-90vh {
  max-height: 90vh;
}

.scroll-gestion {
  overflow-y: scroll;
}

.specific-size {
  width: 24px;
  height: 24px;
}
