<div class="d-flex align-items-center">
    <span class="text-custom-info text-grey-dark fw-light me-2">affiché par :</span>
    <div class="tasks-view-switcher">
        <button @click="$store.tasksView.switchView()"
                :class="{ 'active' : $store.tasksView.currentView === 'inline' }"
                class="button">
            <span>Thématique</span>
        </button>
        <button @click="$store.tasksView.switchView()"
                :class="{ 'active' : $store.tasksView.currentView === 'kanban' }"
                class="button">
            <span>Statut d’avancement</span>
        </button>
    </div>
</div>
