{% load static %}
<template x-if="$store.tasksData.newTasks.length > 0 && !$store.djangoData.isAdvisor">
    <div class="py-1 flag dark-blue mb-2 d-flex align-items-center justify-content-start text-white small-border-radius mt-4">
        <img width="65"
             height="65"
             src="{% static 'projects/img/icon_new_task.svg'  %}" />
        <div class="ms-4 d-flex justify-content-between align-items-center w-100">
            <h6 class="mb-0 fw-bold">
                Vous avez
                <!-- TODO : Extraire les formatteurs -->
                <span x-text="`${$store.tasksData.newTasks.length > 1 ? $store.tasksData.newTasks.length + ' nouvelles recommandations' : $store.tasksData.newTasks.length + ' nouvelle recommandation'}`"></span>
            </h6>
            <button @click="$store.previewModal.openWithPagination()"
                    style="color: #0063CB !important"
                    class="button filled white small inherit fw-bold">Consultez les recommandations</button>
        </div>
    </div>
</template>
