{% load django_vite %}

{% block project_js %}
    {% vite_asset 'js/apps/tasks.js' %}
{% endblock %}

<div x-data x-init="$store.tasksData.getTasks({{ project.pk }})">
    {% include 'projects/project/fragments/tasks_inline_kanban/tasks_inline_kanban_header.html' %}

    <template x-if="$store.tasksView.currentView === 'inline'">
        {% include 'projects/project/fragments/tasks_inline/tasks_inline.html' %}
    </template>
    <template x-if="$store.tasksView.currentView === 'kanban'">
        {% include 'projects/project/fragments/tasks_kanban/tasks_kanban.html' %}
    </template>

    {% include 'projects/project/fragments/tasks_kanban/preview_modal.html' %}
    {% include 'projects/project/fragments/tasks_kanban/feedback_modal.html' %}
    {% include 'projects/project/fragments/tasks_kanban/delete_task_confirmation_modal.html' %}
   
</div>
