{% if field.field.widget.attrs.data_role == "tagsinput" %}
    {{ field }}
{% elif field.field.widget.input_type == "text" %}
    {% include "dsrc/core/blocks/inputs/input_text.html" with js_validation=False %}
{% elif field.field.widget.input_type == "password" %}
    {% include "dsrc/core/blocks/inputs/input_text.html" with js_validation=False %}
{% elif field.field.widget.input_type == "email" %}
    {% include "dsrc/core/blocks/inputs/input_text.html" with js_validation=False %}
{% elif field.field.widget.input_type == "file" %}
    {{ field }}
{% elif field.field.widget.input_type == "number" %}
    {% include "dsrc/core/blocks/inputs/input_number.html" with js_validation=False %}
{% elif field.field.widget.input_type == "select" %}
    {% include "dsrc/core/blocks/inputs/select.html" with js_validation=False %}
{% elif field.field.widget.attrs.cols != None and field.field.widget.attrs.rows != None %}
    {% include "dsrc/core/blocks/inputs/textarea.html" with js_validation=False %}
{% elif field.field.widget.input_type == "richtext" %}
    {% include "dsrc/core/compositions/forms/richtext.html" with js_validation=False %}
{% endif %}
