{% load static %}
{% load guardian_tags %}
{% get_obj_perms request.user for request.site as "user_site_perms" %}
{% get_obj_perms request.user for project as "user_project_perms" %}
{% if project.advisors_note %}
    <div class="advisor-item h-100">
        {% include "projects/project/fragments/information_card.html" with is_advisor_note=True full_width=True full_height=True project=project is_editable=True title="Note interne aux conseillers" description=project.advisors_note_rendered updated_on=project.advisors_note_on card_user=project.advisors_note_by %}
    </div>
{% else %}
    <header>
        <h6 class="font-small text-uppercase fr-mb-1v"
            data-cy="title-internal-note">
            <span class="fr-icon-lock-line fr-icon--sm" aria-hidden="true"></span> Note interne aux conseillers
        </h6>
    </header>
    <div class="project-card-details empty">
        <span class="fr-m-0 text-info-custom text-grey fw-normal fr-pb-2w text-center">Aucune note n'a encore été rédigée ici (visible des conseillers uniquement)</span>
        {% if "use_advisor_note" in user_project_perms %}
            <a class="fr-btn fr-btn--sm fr-btn--secondary fr-mt-2w text-uppercase"
               href="{% url "projects-project-topics" project.id %}#advisor-note">Écrire une note interne</a>
        {% endif %}
    </div>
{% endif %}
