{% load static %}
{% load waffle_tags %}
<div class="btn-group" role="group" aria-label="Admin actions">
    {% flag "enable_submit_new_project" %}
        {% if is_switchtender %}
            {% if request.site.configuration.stopped_at == None %}
                <a class="fr-btn fr-btn--sm fr-mr-1v text-nowrap"
                href="{% url 'onboarding-prefill-set-user' %}"
                data-test-id="new-project-btn-toolbar"
                role="button">Déposer un dossier</a>
            {% endif %}
        {% endif %}
    {% endflag %}
    <a class="fr-btn fr-btn--sm fr-btn--secondary fr-mr-1v text-nowrap"
       href="{% url 'projects-project-list-export-csv' %}"
       role="button">Exporter en CSV</a>
</div>
