{% load static %}
{% load gravatar %}
{% load guardian_tags %}
{% get_obj_perms request.user for request.site as "user_site_perms" %}
{% get_obj_perms request.user for project as "user_project_perms" %}
{% if project.owner %}
    <div class="d-flex align-items-start fr-mb-2v">
        <span class="fr-mr-2v d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center font-size-12px">
                <img class="rounded-circle fr-mr-2v"
                     src="{% gravatar_url project.owner.email size=16 %}"
                     alt="{{ action.actor }}">
                <strong data-test-id="project-owner-name-details"
                        class="text-nowrap text-capitalize project-card__projectowner {% if not project.owner.is_active %}inactive-status{% endif %}">
                    {{ project.owner.first_name|default:project.owner.username }}
                    {{ project.owner.last_name|default:"(A renseigner)" }}
                </strong>
            </div>
        </span>
        <span class="project-card__orgname fw-light specific-color-666 font-size-12px">
            {{ project.owner.profile.organization.name|default:project.org_name }}
        </span>
        {% if 'use_crm' in user_site_perms %}
            <a class="small fr-ml-2v"
               href="{% url 'crm-user-details' project.owner.pk %}">
                <svg class="bi fr-mr-1v" width="16" height="16" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#activity" />
                </svg>
            </a>
        {% endif %}
    </div>
{% elif project.status == 'PRE_DRAFT' %}
    <div class="d-flex flex-column align-items-start fr-mb-2v">
        <span class="fr-mr-2v d-flex align-items-center">
            <img class="rounded-circle fr-mr-2v"
                 src="{% gravatar_url project_creation_request.email size=24 %}"
                 alt="{{ action.actor }}">
            <strong class="text-nowrap project-card__projectowner">{{ project_creation_request.email }}</strong>
        </span>
        <div class="fr-notice fr-notice--warning fr-mt-2v">
            <div class="fr-container">
                <div class="fr-notice__body">
                    <p>
                        <span class="fr-notice__title font-size-14px">Cet utilisateur n'a pas encore créé son compte.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="d-flex flex-column align-items-start fr-mb-2v">
        <span class="fr-mr-2v d-flex align-items-center">
            <img class="rounded-circle fr-mr-2v"
                 src="{% gravatar_url project.owner.email size=24 %}"
                 alt="{{ action.actor }}">
            <strong class="text-nowrap text-capitalize project-card__projectowner">
                {{ project.first_name }}
                {{ project.last_name }}
            </strong>
        </span>
        <span class="project-card__orgname fw-light specific-color-666">{{ project.owner.profile.organization.name|default:project.org_name }}</span>
    </div>
{% endif %}
