{% load static %}
{% load gravatar %}
{% load guardian_tags %}
{% load sass_tags %}
{% block css %}
    <link href="{% sass_src 'projects/css/project_owner.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% get_obj_perms request.user for request.site as "user_site_perms" %}
{% get_obj_perms request.user for project as "user_project_perms" %}
<div class="d-flex align-items-start fr-mb-2v">
    <span class="fr-mr-2v d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <img class="rounded-circle fr-mr-2v specific-border-solid2px58B77D"
                 src="{% gravatar_url project.owner.email size=16 %}"
                 alt="{{ action.actor }}">
            <strong data-test-id="project-owner-name-details"
                    class="text-nowrap text-capitalize project-card__projectowner {% if not project.owner.is_active %}inactive-status{% endif %}">
                {{ project.owner.first_name|default:project.owner.username }}
                {{ project.owner.last_name|default:"(A renseigner)" }}
            </strong>
        </div>
    </span>
    <span class="project-card__orgname fw-light specific-color-666">
        {% if project.owner.profile.organization.name %}
            {{ project.owner.profile.organization.name }}
        {% else %}
            {{ project.org_name }}
        {% endif %}
    </span>
    {% if 'use_crm' in user_site_perms %}
        <a class="small fr-ml-2v"
           href="{% url 'crm-user-details' project.owner.pk %}">
            <svg class="bi fr-mr-1v" width="16" height="16" fill="currentColor">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#activity" />
            </svg>
        </a>
    {% endif %}
</div>
