{% load static %}
{% load humanize %}
{% load guardian_tags %}
{% load sass_tags %}
{% block css %}
    <link href="{% sass_src 'projects/css/fragments/sidebar.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock %}
{% get_obj_perms request.user for request.site as "user_site_perms" %}
{% get_obj_perms request.user for project as "user_project_perms" %}
<div class="project-header-sidebar d-grid gap-2">
    {% if "change_project" in user_project_perms and not is_switchtender %}
        {% if not disable_can_edit %}
            <a href="{% url 'projects-project-administration' project.id %}"
               class="fr-btn fr-btn--sm fr-btn--icon-left fr-icon-pencil-line justify-content-center w-100">Éditer</a>
        {% endif %}
        {% if not disable_add_recommendation %}
            {% if "manage_tasks" in user_project_perms %}
                <a class="fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-health-book-line justify-content-center w-100"
                   href="{% url 'projects-project-create-task' project.id %}">Ajouter une recommandation</a>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if "use_crm" in user_site_perms and not disable_crm %}
        <a class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-left fr-icon-pulse-line justify-content-center w-100"
           href="{% url 'crm-project-details' project.pk %}">CRM</a>
    {% endif %}
    {% if user.is_staff and not disable_administration %}
        <a class="fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-lock-line justify-content-center w-100"
           href="{% url 'projects-project-administration' project.pk %}">Administration</a>
    {% endif %}
    {% if 'actions' not in url_name and 'conversations' not in url_name and 'internal-followup' not in url_name %}
        {% if project.status == 'DRAFT' %}
            <button @click="openPublicShareModal"
                    data-toggle="modal"
                    data-target="#publicShareModal"
                    disabled
                    class="fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-lock-line disabled text-uppercase">
                Partager l'état des lieux
            </button>
        {% else %}
            <button @click="openPublicShareModal"
                    data-toggle="modal"
                    data-target="#publicShareModal"
                    class="fr-btn fr-btn--sm fr-btn--secondary text-uppercase">Partager l'état des lieux</button>
        {% endif %}
    {% endif %}
</div>
{% include "projects/project/fragments/share/public_share_modal.html" %}
