{% load static %}
{% load guardian_tags %}
{% load sass_tags %}
{% block css %}
    <link href="{% sass_src 'projects/css/fragments/status_switcher.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% get_obj_perms request.user for request.site as "user_site_perms" %}
{% get_obj_perms request.user for project as "user_project_perms" %}
<div x-data="StatusSwitcher($refs.commentTextRef, $refs.commentTextFormRef)">
    <div @issue-followup="handleIssueFollowup($event)">
        <div class="d-flex flex-column">
            <h2 class="text-secondary text-uppercase fw-bolder fr-m-2w h2-specific-fontsize-12">État d'avancement actuel</h2>
            {% if "use_tasks" in user_project_perms %}
                <span class="status-switcher-item fr-mx-2w text-white specific-bgcolor cursor-pointer"
                      @click="handleStatusWrapper"
                      x-text="statusText($store.taskModal.currentTask.status)"></span>
                <div class="d-flex align-items-center justify-content-center">
                    <span class="fr-py-2v fr-m-2w tiny fw-bold text-center text-decoration-underline cursor-pointer specific-color-335B7E"
                          @click="handleStatusWrapper"
                          x-text="openStatusWrapper ? 'Fermer' : 'Modifier le statut'"></span>
                </div>
            {% else %}
                <span class="status-switcher-item fr-mx-2w text-white specific-bgcolor"
                      x-text="statusText($store.taskModal.currentTask.status)"></span>
            {% endif %}
        </div>
        <template x-if="openStatusWrapper">
            <ul class="d-flex align-items-center status-switcher list-unstyled fr-mt-0 fr-m-2w tmp-usevar">
                <li x-bind:style="activeStatus($store.taskModal.currentTask, STATUSES.PROPOSED) && { pointerEvents: 'none' }">
                    <a @click="handleStatusClick($store.taskModal.currentTask, STATUSES.PROPOSED)"
                       :class="activeStatus($store.taskModal.currentTask, STATUSES.PROPOSED)">Nouveau</a>
                </li>
                <li x-bind:style="activeStatus($store.taskModal.currentTask, STATUSES.INPROGRESS) && { pointerEvents: 'none' }">
                    <a @click="handleStatusClick($store.taskModal.currentTask, STATUSES.INPROGRESS)"
                       :class="activeStatus($store.taskModal.currentTask, STATUSES.INPROGRESS)">En cours</a>
                </li>
                <li x-bind:style="activeStatus($store.taskModal.currentTask, STATUSES.BLOCKED) && { pointerEvents: 'none' }">
                    <a @click="handleStatusClick($store.taskModal.currentTask, STATUSES.BLOCKED)"
                       :class="activeStatus($store.taskModal.currentTask, STATUSES.BLOCKED)">En Attente</a>
                </li>
                <li x-bind:style="activeStatus($store.taskModal.currentTask, STATUSES.DONE) && { pointerEvents: 'none' }">
                    <a @click="handleStatusWithCommentClick($store.taskModal.currentTask, STATUSES.DONE)"
                       :class="activeStatus($store.taskModal.currentTask, STATUSES.DONE) || activeStatus($store.taskModal.currentTask, STATUSES.ALREADY_DONE)">
                        Fait
                    </a>
                </li>
                <li x-bind:style="activeStatus($store.taskModal.currentTask, STATUSES.NOT_INTERESTED) && { pointerEvents: 'none' }">
                    <a @click="handleStatusWithCommentClick($store.taskModal.currentTask, STATUSES.NOT_INTERESTED)"
                       :class="activeStatus($store.taskModal.currentTask, STATUSES.NOT_INTERESTED)">Non applicable</a>
                </li>
            </ul>
        </template>
    </div>
</div>
