{% load survey %}
{% load static %}
{% load django_vite %}
{% load projects_extra %}
{% block js %}
    {% vite_asset 'js/styles/survey-grid.css.js' %}
    {% vite_asset 'js/apps/projectKnowledge.js' %}
{% endblock js %}
<div class="container-fluid knowledge">
    <div class="row">
        <div class="col-3 knowledge__info">
            <!-- Barre de navigation de l'edl -->
            <div class="info__survey-navbar fr-mt-5v">
                <div class="info__title">État des lieux</div>
                <nav>
                    {% for session in sorted_sessions %}
                        <div class="info__survey-title">
                            <span>{{ session.survey.name }}</span>
                            <span class="badge {% if session.completion < 50 %}fr-color--error {% elif session.completion < 80 %}fr-color--warning {% else %}fr-color--success{% endif %} ">{{ session.completion }}%</span>
                        </div>
                        <ul class="info__survey-questions">
                            {% regroup session.the_answers.all by question.question_set as answer_list %}
                            {% for question_set, answers in answer_list %}
                                {% question_set_visible session question_set as qs_visible %}
                                {% if qs_visible %}
                                    <li>
                                        <a class="fr-link"
                                           href="#{{ session.survey.site.id }}_{{ question_set.id }}">{{ question_set.heading }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% for question_set in session.survey.question_sets.all %}
                                {% question_set_completion session question_set as qs_completion %}
                                {% question_set_visible session question_set as qs_visible %}
                                {% if qs_completion == 0 and qs_visible %}
                                    <li>
                                        <a class="fr-link"
                                           href="#{{ session.survey.site.id }}_{{ question_set.id }}">{{ question_set.heading }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </nav>
            </div>
            <hr class="info__separator">
            <!-- Informations du dossier -->
            <div class="info__title">Localisation</div>
            {% include "projects/project/fragments/geolocation/location_knowledge.html" with project=project %}
            <div class="info__title">Informations dossier</div>
            {% comment %} TODO
            - dossier déposé depuis ...
            {% endcomment %}
            <div class="info__project-origin">
                {% if project.project_sites.origin.site.configuration.logo_small %}
                    <img src="{{ project.project_sites.origin.site.configuration.logo_small.url }}"
                         width="16px"
                         height="auto"
                         alt="Logo {{ project.project_sites.origin.site.name }}" />
                {% else %}
                    <span class="fr-icon--sm fr-icon-window-line" aria-hidden="true"></span>
                {% endif %}
                dossier envoyé par {{ project.project_sites.origin.site.name }}
            </div>
        </div>
        <div class="col-9 knowledge__surveys">
            {% if not is_staff and not advising_position.is_advisor and not advising_position.is_observer %}
                <div class="d-flex justify-content-between knowledge__surveys-header fr-mt-5v">
                    <h3 class="fr-m-0">État des lieux</h3>
                    {% comment %} TODO
                - refonte modal share EDL
                    {% endcomment %}
                    {% if "use_surveys" in user_project_perms %}
                        <div x-data="ProjectShare" class="d-flex align-items-center">
                            <button @click="openPublicShareModal"
                                    data-toggle="modal"
                                    data-target="#publicShareModal"
                                    data-test-id="public-share-button"
                                    {% if project.status == 'DRAFT' %}disabled{% endif %}
                                    class="fr-btn fr-btn--sm fr-btn--secondary {% if project.status == 'DRAFT' %}fr-btn--icon-left fr-icon-lock-line disabled{% endif %}">
                                Partager l'état des lieux
                            </button>
                            {% include "projects/project/fragments/share/public_share_modal.html" %}
                        </div>
                    {% endif %}
                </div>
                {% if "use_surveys" in user_project_perms %}
                    {% for session in sorted_sessions %}
                        <div class="survey-card-cta">
                            <div class="survey-card-cta__title" data-cy="survey-name">{{ session.survey.name }}</div>
                            <a class="fr-btn fr-btn--sm"
                               data-test-id="link-fill-survey-cta"
                               href="{% url 'survey-project-session' project_id=project.pk site_id=session.survey.site.id %}">Compléter le questionnaire</a>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
            <div class="fr-mt-3w">
                {% for session in sorted_sessions %}
                    <div class="d-flex justify-content-between knowledge__surveys-header fr-mt-5v">
                        <h4 class="fr-m-0">{{ session.survey.name }}</h4>
                        {% if is_staff or advising_position.is_advisor or advising_position.is_observer %}
                            {% if "use_surveys" in user_project_perms %}
                                <div x-data="ProjectShare" class="d-flex align-items-center">
                                    <button @click="openPublicShareModal"
                                            data-toggle="modal"
                                            data-target="#publicShareModal"
                                            data-test-id="public-share-button"
                                            {% if project.status == 'DRAFT' %}disabled{% endif %}
                                            class="fr-btn fr-btn--sm fr-btn--secondary {% if project.status == 'DRAFT' %}fr-btn--icon-left fr-icon-lock-line disabled{% endif %}">
                                        Partager l'état des lieux
                                    </button>
                                    {% include "projects/project/fragments/share/public_share_modal.html" %}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="masonry-wrapper row"
                         data-masonry='{"percentPosition": true, "transitionDuration": 0 }'>
                        <!-- Show QS with progress -->
                        {% regroup session.the_answers.all by question.question_set as answer_list %}
                        {% for question_set, answers in answer_list %}
                            {% question_set_visible session question_set as qs_visible %}
                            {% if qs_visible %}
                                <div class="col-12 col-xl-6 col-md-6 masonry-item">
                                    <div class="position-relative">
                                        <div class="invisible-anchor-high"
                                             id="{{ session.survey.site.id }}_{{ question_set.id }}"></div>
                                        {% include "survey/widgets/qs_summary_card.html" with question_set=question_set can_manage=can_manage_draft answers=answers show_conclusion=1 show_comment=1 %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <!-- Show other QS not yet started -->
                        {% for question_set in session.survey.question_sets.all %}
                            {% question_set_completion session question_set as qs_completion %}
                            {% question_set_visible session question_set as qs_visible %}
                            {% if qs_completion == 0 and qs_visible %}
                                <div class="col-12 col-xl-6 col-md-6 masonry-item">
                                    <div class="position-relative">
                                        <div class="invisible-anchor-high"
                                             id="{{ session.survey.site.id }}_{{ question_set.id }}"></div>
                                        {% include "survey/widgets/qs_summary_card.html" with question_set=question_set can_manage=can_manage_draft %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
