{% load gravatar %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/styles/switchtender-list.css.js' %}
{% endblock js %}
{% for switchtender in switchtenders %}
    <div class="bg-light fr-mt-2w fr-p-3w d-flex flex-row align-items-center">
        <span class="align-items-center link-dark text-decoration-none flex-shrink-1">
            <img src="{% gravatar_url switchtender.email 32 %}"
                 alt="{{ switchtender.get_full_name|default:'Conseiller inconnu' }}"
                 class="fr-mr-2v rounded-circle img-size" />
        </span>
        <span class="align-middle d-flex align-items-start flex-column flex-grow-1">
            <div>
                <strong>{{ switchtender.get_full_name|default:switchtender }}</strong>
            </div>
            {% if switchtender.profile.organization %}
                <div>
                    <span class="text-secondary small">{{ switchtender.profile.organization.name }}</span>
                </div>
            {% endif %}
        </span>
    </div>
{% endfor %}
