{% load gravatar %}
{% load static %}
{% load sass_tags %}
{% block css %}
    <link href="{% sass_src 'projects/css/fragments/user_invited.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock %}
<div class="d-flex flex-column align-items-start mb-2">
    <div class="w-100 d-flex align-items-center justify-content-between">
        <span class="me-2 d-flex align-items-center font-very-small">
            <img class="rounded-circle me-2"
                 src="{% gravatar_url user_invited.email size=24 %}"
                 alt="{{ action.actor }}" />
            <strong class="text-nowrap">{{ user_invited.email }}</strong>
        </span>
    </div>
    <div class="d-flex align-items-center">
        <span class="font-very-small fst-italic fw-light specific-color">invité·e par {{ invite.inviter }}</span>
    </div>
</div>
