# encoding: utf-8

"""
Settings for frontend tests permissions

author  : raphael.marvie@beta.gouv.fr,guillaume.libersat@beta.gouv.fr
created : 2024-11-18 11:54:53 CEST
"""

import os

from dotenv import load_dotenv

from .common import *  # noqa: F403

load_dotenv()

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True
DJANGO_DEBUG = True

ALLOWED_HOSTS = ["example.localhost"]

INSTALLED_APPS += (  # noqa: F405
    "drf_spectacular",
    "drf_spectacular_sidecar",
    "django_extensions",
)

# Database
# https://docs.djangoproject.com/en/3.2/ref/settings/#databases

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql",
        "NAME": os.getenv("DJANGO_DB_TEST_NAME", "test_recoco"),
        "USER": os.getenv("DJANGO_DB_USER", "recoco"),
        "PASSWORD": os.getenv("DJANGO_DB_PASSWORD", ""),
        "HOST": os.getenv("DJANGO_DB_HOST", "localhost"),
    }
}

# EMAIL
EMAIL_BACKEND = "django.core.mail.backends.console.EmailBackend"
# EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'

SECRET_KEY = os.getenv("SECRET_KEY", "secret")

BREVO_API_KEY = os.environ.get("BREVO_API_KEY")
BREVO_FORCE_DEBUG = True

# Recaptcha
RECAPTCHA_REQUIRED_SCORE = 0

# Vite
DJANGO_VITE_ASSETS_PATH = BASE_DIR / "frontend" / "dist"  # noqa: F405
DJANGO_VITE = {
    "default": {
        "dev_mode": DEBUG,
        "dev_server_port": os.getenv("DJANGO_VITE_TEST_SERVER_PORT"),
    }
}
DJANGO_VITE_DEV_MODE = DEBUG


MULTISITE_REPO_DIR = BASE_DIR / ".." / "multisites"  # noqa: F405
TEMPLATES[0]["DIRS"] += [MULTISITE_REPO_DIR / "templates"]  # noqa: F405
STATICFILES_DIRS += [MULTISITE_REPO_DIR / "static"]  # noqa: F405
STATICFILES_DIRS += [BASE_DIR / "static"]  # noqa: F405
STATICFILES_DIRS += [DJANGO_VITE_ASSETS_PATH]


# Uncomment Gdal and Geos libraries paths on MacOS
# GDAL_LIBRARY_PATH = "/opt//homebrew/lib/libgdal.dylib"
# GEOS_LIBRARY_PATH = "/opt//homebrew/lib/libgeos_c.dylib"

SILENCED_SYSTEM_CHECKS += ["captcha.recaptcha_test_key_error"]  # noqa: F405

# Celery
CELERY_TASK_ALWAYS_EAGER = True

# Démarches simplifiées
DS_AUTOLOAD_SCHEMA = False
DS_AUTOCREATE_FOLDER = False

# eof
