{% extends "account/base_reauthenticate.html" %}
{% load i18n %}
{% load allauth %}
{% block reauthenticate_content %}
    <p>{% blocktranslate %}Enter an authenticator code:{% endblocktranslate %}</p>
    {% url 'mfa_reauthenticate' as action_url %}
    <form method="post" action="{{ action_url }}">
        {% csrf_token %}
        <div class="fr-input-group">
            <label for="authenticator_code">{% translate "Authenticator code" %}</label>
            <input class="fr-input"
                   type="text"
                   id="authenticator_code"
                   name="authenticator_code"
                   placeholder="{% translate "Enter your authenticator code" %}" />
        </div>
        <button type="submit" class="fr-btn fr-btn--primary">{% trans "Confirm" %}</button>
    </form>
    {% element form form=form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {{ redirect_field }}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" tags="primary,mfa,login" %}
                {% trans "Confirm" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
{% endblock reauthenticate_content %}
