.h6-specific-fontsize-22 {
  font-size: 22px;
}

.h6-specific-fontsize-14 {
  font-size: 14px;
}

.specific-fontsize-16 {
  font-size: 16px;
}

.specific-color-666 {
  color: #666666;
}

.specific-color-929292 {
  color: #929292;
}
