{% load static %}
{% load crispy_forms_tags %}
<dialog aria-labelledby="onboarding-modal-title"
        id="onboarding-modal"
        class="fr-modal"
        role="dialog">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-btn--close fr-btn" aria-controls="onboarding-modal">Fermer</button>
          </div>
          <div class="fr-modal__content"
               x-data="AjvValidationSchema('schemaOnboardingEmailFormValidator')">
            <h1 id="onboarding-modal-title" class="fr-modal__title">Solliciter {{ request.site.name }}</h1>
            {% include "home/onboarding/fragments/site-description.html" %}
            <div x-data="DsrcFormValidator('{{ form.helper.form_id }}', schemaValidator)"
                 x-init="init">
                 <form id="{{ form.helper.form_id }}" method="{{ form.helper.form_method }}"  action="{% url "onboarding" %}">
                  <input type="hidden"
                   name="js_enabled"
                   id="{{ form.helper.form_id }}_js_enabled"
                   value="false">
                   <fieldset class="fr-fieldset">
                    {% csrf_token %}

                   {{ form.email|as_crispy_field }}
                </fieldset>
                {% include "dsrc/core/blocks/buttons/button_group.html" %}
                 </form>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>
