{% extends "base.html" %}
{% load static %}
{% block title %}
    Examiner les recommandations suggérées automatiquement
{% endblock title %}
{% block og_title %}
    Examiner les recommandations suggérées automatiquement
{% endblock og_title %}
{% block content %}
    <div class="col-12 fr-p-3w fr-mx-auto">
        <h2>Ressources suggérées automatiquement</h2>
        <p class="text-secondary fr-mb-3w">Nb de recos : {{ tasks|length }} -- basé sur les signaux: {{ signals }}</p>
        {% for task in tasks %}
            <p class="fr-mb-3w">{{ task.intent }}</p>
            {% include "projects/project/fragments/action_list_item.html" with hide_comments=True %}
        {% endfor %}
    </div>
{% endblock content %}
