{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load sass_tags %}
{% load django_vite %}
{% block title %}
    Créer une recommandation
{% endblock title %}
{% block og_title %}
    Créer une recommandation
{% endblock og_title %}
{% block css %}
    <link href="{% sass_src 'resources/resources.scss' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% sass_src 'projects/css/push.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% block js %}
    {% vite_asset 'js/apps/createAndShareContact.js' %}
    {% vite_asset 'js/components/ActionPusher.js' %}
    {% vite_asset 'js/apps/tutorial.js' %}
{% endblock js %}
{% block content %}
    <div x-data='SearchContact()' class="col-10 fr-py-6w fr-mx-auto push-reco">
        <h2 class="push-reco__main-title">Créer une recommandation</h2>
        <div x-data="ActionPusher()" x-init="create_recommendation()" x-cloak>
            <form class="form" method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {% include "projects/project/fragments/action_pusher/project_selector.html" %}
                {% include "projects/project/fragments/action_pusher/type.html" %}
                {% include "projects/project/fragments/action_pusher/resource_search.html" %}
                {% include "projects/project/fragments/action_pusher/details_form.html" %}
                <input type="hidden" name="next" value="{{ type_form.next.value }}">
                <input type="hidden" name="public" x-model="public">
                <input type="hidden" name="contact_id" x-model="selectedContact.id">
            </form>
            {% include "tools/contacts/search_contact_modal.html" %}
            {% include "tools/contacts/create_contact_modal.html" %}
            {% include "tools/contacts/create_organisation_modal.html" %}
        </div>
    </div>
{% endblock content %}
