{% extends "base.html" %}
{% load static %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/styles/resources.css.js' %}
    {% vite_asset 'js/styles/projects-push.css.js' %}
    {% vite_asset 'js/components/ActionPusher.js' %}
    {% vite_asset 'js/store/actionPusher.js' %}
    {% vite_asset 'js/apps/tutorial.js' %}
    {% vite_asset 'js/apps/featureAddContact.js' %}
    {% vite_asset 'js/components/User.js' %}
{% endblock js %}
{% block content %}
    <div class="col-12 fr-p-3w fr-mx-auto push-reco">
        <h1 class=" align-items-center">
            <svg class="bi" width="40" height="40" fill="currentColor">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#card-checklist" />
            </svg>
            Mettre à jour une recommandation
        </h1>
        <section>
            <div x-data="ActionPusher()"
                 x-init="update_recommendation({{ task.pk }}, '{{ task.intent|escapejs }}', '{{ task.content|escapejs }}', {{ task.resource_id|default:'null' }})"
                 x-cloak>
                <form id="form-projects-update-task"
                      method="post"
                      enctype="multipart/form-data"
                      action="."
                      class="form"
                      x-data="{message: {text: '', contact: ''}}"
                      {% if task.contact %}x-init="message.contact = await getContact({{ task.contact.id }})"{% endif %}>
                    {% csrf_token %}
                    {% include "projects/project/fragments/action_pusher/type.html" with disable_multi=True %}
                    {% include "projects/project/fragments/action_pusher/resource_search.html" %}
                    {% include "projects/project/fragments/action_pusher/details_form.html" with disable_draft=task.public form=form %}
                    <input type="hidden" name="next" value="{{ form.next.value }}">
                    <input type="hidden" name="public" x-model="public">
                    {{ form.media }}
                </form>
            </div>
            <hr />
            <div class="d-flex justify-content-end">
                <form id="form-project-delete-task"
                      method="post"
                      action="{% url 'projects-delete-task' task.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">
                        <svg class="bi " width="16" height="16" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#trash" />
                        </svg>
                        Supprimer
                    </button>
                </form>
            </div>
        </section>
    </div>
{% endblock content %}
