.arrow-link {
    transition-property: transform;
    transition-duration: 0.3s;
}

.task-opening:hover {
    .arrow-link {
        transform: translateX(5px);
    }
}

.rephrase-update label {
    margin-bottom: 15px;
    display: none;
}

.rephrase-update p {
        display: flex !important;
        flex-direction: column !important;
}

.project-card-details {
    background-color: #f6f6f6;
    min-width: 200px;

    article {
        color: #3A3A3A;
        font-weight: 400;
        font-size: 1rem;
    }
}

.project-card-details {
    background-color: #f6f6f6;

    article {
        color: #3A3A3A;
        font-weight: 400;
        font-size: 1rem;
    }
}


.small-markdown {
    h1 {
        font-size: 18px;
    }
    h2  {
        font-size: 16px;
    }
    h4 {
        font-size: 14px;
    }

    font-size: 14Px;
}

.project-sidebar {
    background-color: #F6F6F6;
    border-radius: 2px;

    .button {
        background: white;
        text-align: center;
    }
}
