.project-navigation {
    border-bottom: 1px solid #E5E5E5;
    list-style: none;
    margin-bottom: 30px;
}

.project-navigation a {
    display: flex;
    padding: 10px 15px;
    margin: 0 5px;

    text-decoration: none;
    
    box-sizing: border-box;
    border-top: solid 2px transparent;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
    border-bottom: solid 1px #E8EDFF;

    transform: translate3d(0,1px,0);
    background-color: #E8EDFF;

    color: #222;
    font-weight: 500;

    font-size: 15px;
}

.project-navigation a.active{
    background-color: white;
    font-weight: bold;
    color: #0063CB;

    border-top: solid 2px #0063CB;
    border-left: solid 1px #E5E5E5;
    border-right: solid 1px #E5E5E5;
    border-bottom: solid 1px white;
}

.project-navigation a.disabled{
    background-color: #EEEEEE;
    cursor: not-allowed;
    user-select: none;
    pointer-events: none;

    color: #929292;
    border-top: solid 1px #EEEEEE;
    border-bottom: solid 1px #EEEEEE;
}

.project-navigation .survey-completion {
    position: absolute;
    display: flex;
    align-items: center;

    bottom: 2px;
    left: 5%;

    width: 90%;
}

.project-navigation .survey-completion-progress-bar-container {
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: 5px;

    background-color: white;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.project-navigation .survey-completion-progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.project-navigation .survey-completion-number {
    color: #222;
    font-weight: 400;
    font-size: 11px;
    margin-left: 5px;
}

.project-navigation .survey p {
    margin: 0;
    transform: translate3d(0,-4px,0);
}
