.arrow-link {
    transition-property: transform;
    transition-duration: 0.3s;
}

.task-opening:hover {
    .arrow-link {
        transform: translateX(5px);
    }
}


.small-markdown {
    h1 {
        font-size: 18px;
    }
    h2  {
        font-size: 16px;
    }
    h4 {
        font-size: 14px;
    }

    font-size: 14Px;
}
