.arrow-link {
    transition-property: transform;
    transition-duration: 0.3s;
}

.task-opening:hover {
    .arrow-link {
        transform: translateX(5px);
    }
}


.rephrase-update label {
    margin-bottom: 15px;
    display: none;
}

.rephrase-update p {
    display: flex !important;
    flex-direction: column !important;
}

.project-card-details {
    background-color: #f6f6f6;
    min-width: 200px;

    article {
        color: #3A3A3A;
        font-weight: 400;
        font-size: 1rem;
    }
}

.project-card-details {
    background-color: #f6f6f6;

    article {
        color: #3A3A3A;
        font-weight: 400;
        font-size: 1rem;
    }
}


.small-markdown {
    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 16px;
    }

    h4 {
        font-size: 14px;
    }

    font-size: 14Px;
}

.topic-form .topic-label input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 25px 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.advisor-item .advisor-item-icon {
    padding: 10px 15px;
    background-color: #ff8e8e;
    position: absolute;
    top: 0;
    right: 0;

    border-bottom-left-radius: 6px;
}

.advisor-item >div {
    padding-top: 0 !important;
}

@media only screen and (max-width: 990px) {
    .responsive-wrapper {
        height: auto !important;
    }
  }
