{% extends "base.html" %}

{% load humanize %}
{% load static %}

{% load sass_tags %}

{% block css %}
<link href="{% sass_src 'resources/resources.scss' %}" rel="stylesheet" type="text/css">
<link href="{% sass_src 'resources/resource_card.scss' %}" rel="stylesheet" type="text/css">
<link href="{% sass_src 'projects/css/project.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="col-11 py-5 mx-auto">
    <h2 class="mb-4">
        <span class="align-middle">Mise à jour de votre avancement</span>
    </h2>

    <div class="d-flex flex-column p-4 bg-light rounded rounded-4 mb-4">
        <p class="fs-3 ">
            <svg class="align-middle bi" width="24px" height="24px" fill="currentColor">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#check-circle"/>
            </svg>
            <span class="align-middle">
                Merci ! Votre avancement a bien été enregistré.
            </span>
        </p>
    </div>

</div>
{% endblock %}
