.need-cursor {
  cursor: pointer;
}

.specific-margin-y {
  margin-bottom: 0.35rem;
  margin-top: 0.75rem;
}

.specific-border-radius {
  border-radius: 2px;
}

.specific-ml {
  margin-left: 0.12rem;
}
