{% load static %}
{% load sass_tags %}
{% block css %}
    <link href="{% sass_src 'projects/css/fragments/personnal_dashboard/personnal_dashboard.scss' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock css %}
<div class="d-flex align-items-center fr-mb-3w fr-mt-3w w-100 justify-content-between projects-filters-container">
    {% comment %} <div class="d-flex align-items-center">
        <div class="d-flex align-items-center fr-ml-3w projects-filters-territory">
            <span class="text-custom-info text-grey-dark fw-light fr-mr-2v">Filtrer :</span>
            <div class="input-item position-relative active" x-data="{ open: false }" x-on:click.outside="open = false">
                <div class="d-flex align-items-center fr-pr-3w bg-white rounded-pill" x-on:click="open = !open" type="button" :class="{'input-active':open}">
                    <button class="input-field bg-white fr-px-2w fw-normal text-dark appearance-none">
                        Projets de mon
                        territoire
                    </button>
                    <svg class="input-icon right black bi align-baseline fr-mr-2v" width="15" height="15" fill="#000000">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#chevron-down" />
                    </svg>
                </div>
                <ul x-show="open" :class="{'show':open}" class="territory-dropdown list-unstyled flex-column">
                    <li class="bg-white appearance-none w-100 d-flex justify-content-start align-items-center department-item">
                        <div class="form-check w-100 d-flex align-items-center fr-p-0">
                            <input x-on:input.change="handleTerritorySelectAll" class="form-check-input fw-normal fr-ml-2v fr-px-2v fr-py-2v fr-mr-2v" type="checkbox" :value="territorySelectAll" :checked="territorySelectAll" id="allTerritory" />
                            <label class=" w-100 fr-pr-2v fr-py-2v d-flex align-items-center" for="allTerritory">
                                <span class="fw-normal">Tout (dé)sélectionner</span>
                            </label>
                        </div>
                    </li>
                    <template x-for="department in departments">
                        <li class="bg-white appearance-none w-100 d-flex justify-content-start align-items-center department-item fr-pr-3w">
                            <div class="form-check w-100 d-flex align-items-center fr-p-0">
                                <input x-on:input.change="handleTerritoryFilter(department)" class="form-check-input fw-normal fr-ml-2v fr-px-2v fr-py-2v fr-mr-2v" type="checkbox" :value="department.active" :checked="department.active" :id="department.code" />
                                <label class=" w-100 fr-pr-2v fr-py-1v d-flex align-items-center" :for="department.code">
                                    <span class="fw-normal" x-text="department.code"></span>
                                    <span class="fr-mx-1v fw-light">-</span>
                                    <span class="fw-light text-grey-dark text-nowrap" x-text="department.name"></span>
                                    <span class="fw-light text-dark fr-ml-1v" x-text="`(${department.nbProjects})`"></span>
                                </label>
                            </div>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
    </div> {% endcomment %}
    <div class="d-flex align-items-center projects-filters-select">
        <span class="text-custom-info text-grey-dark fw-light fr-mr-2v">Trier :</span>
        <div class="input-item bg-white position-relative">
            <select x-model="select"
                    x-on:input.change="handleProjectsSelect"
                    class="input-field fr-px-2w fw-normal text-dark appearance-none z-2 bg-white specific-pr-40"
                    name="projects-select"
                    id="projects-select">
                <option value="date">Date de dépôt</option>
                <option value="commune-name">Nom de la commune</option>
                <option value="insee">Code INSEE</option>
                <option value="recent-activities">Activité récente</option>
                <option value="role">Rôle</option>
            </select>
            <span class="fr-icon--sm fr-icon-arrow-down-s-line select-input-icon fr-pr-4v"
                  aria-hidden="true"></span>
        </div>
    </div>
</div>
