{% load static %}
<template x-if="item.project.is_observer && item.project.is_switchtender">
    <ul x-show="open"
        :class="{'show':open}"
        class="positioning-dropdown list-unstyled flex-column">
        <li class="fr-pb-1v">
            <button @click="handlePositioningAction('{% url 'projects-project-switchtender-join' 0 %}', item.project.id)"
                    class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-user-heart-fill fr-btn--icon-left w-100 justify-content-center">
                Devenir conseiller
            </button>
        </li>
        <li class="fr-pb-0">
            <button @click="handlePositioningAction('{% url 'projects-project-switchtender-leave' 0 %}', item.project.id)"
                    class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-eye-off-fill fr-btn--icon-left w-100 justify-content-center">
                Ne plus observer le projet
            </button>
        </li>
    </ul>
</template>
<template x-if="item.project.is_switchtender && !item.project.is_observer">
    <ul x-show="open"
        :class="{'show':open}"
        class="positioning-dropdown list-unstyled flex-column">
        <li class="fr-pb-1v">
            <button @click="handlePositioningAction('{% url 'projects-project-observer-join' 0 %}', item.project.id)"
                    class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-eye-fill fr-btn--icon-left w-100 justify-content-center">
                Devenir Observateur
            </button>
        </li>
        <li class="fr-pb-0">
            <button @click="handlePositioningAction('{% url 'projects-project-switchtender-leave' 0 %}', item.project.id)"
                    class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-dislike-fill fr-btn--icon-left w-100 justify-content-center">
                Ne plus conseiller le projet
            </button>
        </li>
    </ul>
</template>
<template x-if="!item.project.is_observer && !item.project.is_switchtender">
    <ul x-show="open"
        :class="{'show':open}"
        class="positioning-dropdown list-unstyled flex-column">
        <li class="fr-pb-1v">
            <button @click="handlePositioningAction('{% url 'projects-project-switchtender-join' 0 %}', item.project.id)"
                    class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-user-heart-fill fr-btn--icon-left w-100 justify-content-center">
                Devenir conseiller
            </button>
        </li>
        <li class="fr-pb-0">
            <button @click="handlePositioningAction('{% url 'projects-project-observer-join' 0 %}', item.project.id)"
                    class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-eye-fill fr-btn--icon-left w-100 justify-content-center">
                Devenir observateur
            </button>
        </li>
    </ul>
</template>
