{% load static %}
<div x-show="isBusy"
     x-transition
     class="position-absolute text-center w-100">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<header class="d-flex justify-content-between fr-p-2v ">
    <span class="fs-5">{% include "projects/project/fragments/navigation/display_select.html" %}</span>
    <div class="fr-ml-3w flex-grow-1 fr-mr-6v">
        {% include "projects/project/fragments/search_bar.html" with action_search="handleProjectsSearch" x_model="search" %}
    </div>
    {% include "projects/project/fragments/region_filter.html" with label="Projets de mon territoire" filter_by_regions=False zone_objects="departments" %}
    {% include "projects/project/fragments/list-toolbars.html" %}
</header>
