{% load static %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/styles/personnal-dashboard.css.js' %}
{% endblock js %}
<div class="d-flex flex-column" id="projectsList">
    {% include "projects/project/fragments/personal_dashboard/personal_dashboard_project_filters.html" %}
    <ul class="list-unstyled list d-flex flex-column">
        <template x-if="data.length == 0 && !isBusy">
            <div class="rounded bg-white fr-mb-3w fr-px-2w d-flex flex-column fr-py-2w justify-content-between align-items-start task-item position-relative">
                <div class="d-flex flex-column align-items-center justify-content-center w-100 fr-py-3w">
                    <span class="text-info-custom text-grey-dark name fw-normal fr-mb-2v">Pas encore de dossier</span>
                    <a class="button filled blue small inherit"
                       href="{% url 'onboarding-prefill-set-user' %}">Déposer un dossier</a>
                </div>
            </div>
        </template>
        <template x-if="displayedData.length == 0 && !isBusy && data.length != 0">
            <div class="rounded bg-white fr-mb-3w fr-px-2w d-flex flex-column fr-py-2w justify-content-between align-items-start task-item position-relative">
                <header>
                    <div class="d-flex align-items-center">
                        <span class="text-info-custom text-grey-dark name">Aucun dossier trouvé, essayez peut-être de réduire vos critères de recherche ?</span>
                    </div>
                </header>
            </div>
        </template>
        <template x-for="item in displayedData" :key="item.project.id">
            <div :id=`project-${item.project.id}` class="project-card position-relative rounded fr-mb-3w fr-px-2w d-flex flex-column fr-py-2w justify-content-between align-items-start task-item position-relative cursor-pointer hover-shadow transition-all tmp-usevar" :style="(item.status === 'NEW') ? {'border':'solid 1px #FDCD6D'} : {'border':'solid 1px #dee2e6'}"
                :class="getProjectStatusClass(item)">
                <div x-show="item.isLoading"
                     class="fr-ml-2v project-item-loader specific-size">
                    <div class="spinner-border spinner-border spinner-border-sm text-primary"
                         role="status"></div>
                </div>
                <div :class="item.isLoading && 'project-item-is-loading'"
                     class="project-item d-flex flex-column justify-content-between align-items-start w-100">
                    <div class="project-card-top-information-container">
                        <template x-if="item.project.inactive_since !== null">
                            <div class="project-card-top-information inactive left-0">
                                <span>Conseil en pause</span>
                            </div>
                        </template>
                        <template x-if="item.project.inactive_since == null && item.status === 'NEW'">
                            <div class="project-card-top-information new left-0">
                                <span>Non consulté</span>
                            </div>
                        </template>
                        <template x-if="item.project.inactive_since == null && item.project.is_observer">
                            <div class="project-card-top-information observer left-0">
                                <span>Observateur</span>
                            </div>
                        </template>
                        <template x-if="item.project.inactive_since == null && item.project.is_switchtender && !item.project.is_observer">
                            <div class="project-card-top-information advisor left-0">
                                <span>Conseiller</span>
                            </div>
                        </template>
                    </div>
                    <header class="d-flex align-items-center justify-content-between w-100 fr-mb-1v">
                        <div class="d-flex align-items-center">
                            <a class="project-link d-flex align-items-center no-underline"
                               data-test-id="project-link"
                               :href="makeProjectURL('{% url 'projects-project-detail' 0 %}', item.project.id)">
                                <span class="text-info-custom name no-underline project-card__name"
                                      x-text="item.project.name"></span>
                                <p>&nbsp;</p>
                                <template x-if="item.project.org_name">
                                    <span class="fw-bold title-info fr-mr-2v location no-underline project-card__org-name"
                                          x-text="item.project.org_name"></span>
                                </template>
                            </a>
                        </div>
                        <div class="d-flex align-items-center fr-mr-1v">
                            <template x-for="switchtender in item.project.switchtenders">
                                {% include "projects/project/fragments/advisor_gravatar_list_item.html" with wide_margin=True %}
                            </template>
                        </div>
                    </header>
                    <div class="d-flex align-items-center">
                        <template x-if="item.project.commune">
                            <div class="fw-normal text-uppercase small d-flex align-items-center fr-mr-2w">
                                <svg class="align-middle bi fr-mr-1v"
                                     width="18px"
                                     height="18px"
                                     fill="currentColor">
                                    <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#geo-alt" />
                                </svg>
                                <span class="text-grey-dark tiny"
                                      x-text="`INSEE: ${item.project.commune.insee}`"></span>
                            </div>
                        </template>
                        <div class="text-dark d-flex align-items-center">
                            <svg class="align-middle bi fr-mr-1v"
                                 width="18px"
                                 height="15px"
                                 fill="currentColor">
                                <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#calendar-event" />
                            </svg>
                            <span x-text="`Déposé le ${formatDate(item.project.created_on)}`"
                                  class="align-middle text-grey-dark tiny"></span>
                        </div>
                    </div>
                    <template x-if="item.project.origin">
                        <div class="kanban-card__project-push-by-container"
                             data-cy="list-project-shared-by-origin"
                             x-show="item.project.origin && {{ request.site.id }} !== item.project.origin?.site">
                            <img x-show="item.project.origin.siteInfo.configuration.logo_small"
                                 :src="item.project.origin.siteInfo.configuration.logo_small"
                                 width="16px"
                                 height="auto"
                                 :alt="`Logo ${item.project.origin.siteInfo.name}`" />
                            <span x-show="!item.project.origin.siteInfo.configuration.logo_small"
                                  class="fr-icon--sm fr-icon-window-line"
                                  aria-hidden="true"></span>
                            <span class="align-middle text-grey-dark tiny">dossier envoyé par</span>
                            <span x-text="item.project.origin.siteInfo.name"
                                  class="align-middle text-grey-dark tiny"></span>
                        </div>
                    </template>
                    <footer class="d-flex align-items-center justify-content-between w-100">
                        <div class="d-flex align-items-center">
                            <div class="d-flex align-items-center tiny fr-mr-2w responsive-flex-column">
                                <svg class="align-middle bi fr-mr-1v"
                                     width="18px"
                                     height="15px"
                                     fill="currentColor">
                                    <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#calendar-event" />
                                </svg>
                                <span class="text-grey-dark fr-mr-1v"
                                      x-text="item.project.recommendation_count > 1 ? `${item.project.recommendation_count} recommandations` : `${item.project.recommendation_count} recommandation`"></span>
                                <template x-if="getNewRecommendations(item) && (item.project.is_observer || item.project.is_switchtender)">
                                    <a class="text-decoration-none hover-underline"
                                       :href="makeProjectURL('{% url 'projects-project-detail-actions' 0 %}', item.project.id)">
                                        <span :class="getProjectStatusColor(item)"
                                              class="text-green fw-medium"
                                              x-text="getNewRecommendations(item)"></span>
                                    </a>
                                </template>
                            </div>
                            <div class="d-flex align-items-center tiny fr-mr-2w responsive-flex-column">
                                <svg class="align-middle bi fr-mr-1v"
                                     width="18px"
                                     height="15px"
                                     fill="currentColor">
                                    <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#chat-square" />
                                </svg>
                                <span class="text-grey-dark fr-mr-1v"
                                      x-text="item.project.public_message_count <= 1 ? `${item.project.public_message_count} message conversation` : `${item.project.public_message_count} messages conversation`"></span>
                                <template x-if="getUnreadPublicMessages(item) && (item.project.is_observer || item.project.is_switchtender)">
                                    <a class="text-decoration-none hover-underline"
                                       :href="makeProjectURL('{% url 'projects-project-detail-conversations' 0 %}', item.project.id)">
                                        <span :class="getProjectStatusColor(item)"
                                              class="text-green fw-medium"
                                              x-text="getUnreadPublicMessages(item)"></span>
                                    </a>
                                </template>
                            </div>
                            <template x-if="item.project.is_observer || item.project.is_switchtender">
                                <div class="d-flex align-items-center tiny responsive-flex-column">
                                    <svg class="align-middle bi fr-mr-1v"
                                         width="18px"
                                         height="16px"
                                         fill="currentColor">
                                        <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#lock" />
                                    </svg>
                                    <span class="text-grey-dark fr-mr-1v"
                                          x-text="item.project.private_message_count <= 1 ? `${item.project.private_message_count} message conseillers` : `${item.project.private_message_count} messages conseillers`"></span>
                                    <template x-if="getUnreadPrivateMessages(item) && (item.project.is_observer || item.project.is_switchtender)">
                                        <a class="text-decoration-none hover-underline"
                                           :href="makeProjectURL('{% url 'projects-project-detail-internal-followup' 0 %}', item.project.id)">
                                            <span :class="getProjectStatusColor(item)"
                                                  class="text-green fw-medium"
                                                  x-text="getUnreadPrivateMessages(item)"></span>
                                        </a>
                                    </template>
                                </div>
                            </template>
                        </div>
                        <div x-data="{ open: false }"
                             x-on:click.outside="open = false"
                             class="btn-group position-relative">
                            <button :class="{'active':open}"
                                    class="fr-btn fr-btn--sm fr-btn--tertiary fr-icon-more-fill"
                                    x-on:click="open = !open"
                                    type="button">Plus d'action</button>
                            {% include "projects/project/fragments/personal_dashboard/personal_dashboard_project_positioning.html" %}
                        </div>
                    </footer>
                </div>
            </div>
        </template>
    </ul>
</div>
