{% load static %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/styles/personnal-dashboard.css.js' %}
{% endblock js %}
<div class="d-flex align-items-center fr-mb-3w fr-mt-3w w-100 justify-content-between projects-filters-container">
    <div class="d-flex align-items-center projects-filters-select">
        <span class="text-custom-info text-grey-dark fw-light fr-mr-2v">Trier :</span>
        <div class="input-item bg-white position-relative">
            <select x-model="select"
                    x-on:input.change="handleProjectsSelect"
                    class="input-field fr-px-2w fw-normal text-dark appearance-none z-2 bg-white specific-pr-40"
                    name="projects-select"
                    id="projects-select">
                <option value="date">Date de dépôt</option>
                <option value="commune-name">Nom de la commune</option>
                <option value="insee">Code INSEE</option>
                <option value="recent-activities">Activité récente</option>
                <option value="role">Rôle</option>
            </select>
            <span class="fr-icon--sm fr-icon-arrow-down-s-line select-input-icon fr-pr-4v"
                  aria-hidden="true"></span>
        </div>
    </div>
</div>
