{% with request.resolver_match.url_name as url_name %}
    <fieldset class="fr-segmented fr-segmented--sm">
        <legend class="fr-segmented__legend inline text-nowrap">Vue :</legend>
        <div class="fr-segmented__elements">
            <div class="fr-segmented__element">
                <input value="table"
                       {% if url_name == 'projects-project-list' %}checked{% endif %}
                       type="radio"
                       id="table-display"
                       name="display-select-radio"
                       @click="window.location.href='{% url "projects-project-list-staff" %}'">
                <label class="fr-label" for="table-display">
                    <a href="{% url "projects-project-list" %}">Tableau</a>
                </label>
            </div>
            <div class="fr-segmented__element">
                <input value="map"
                       {% if url_name == 'projects-project-list-map' %}checked{% endif %}
                       type="radio"
                       id="map-display"
                       name="display-select-radio"
                       @click="window.location.href='{% url "projects-project-list-map" %}'">
                <label class="fr-label" for="map-display">
                    <a href="{% url "projects-project-list-map" %}">Carte</a>
                </label>
            </div>
        </div>
    </fieldset>
{% endwith %}
