{% include "projects/project/fragments/navigation/tabs/presentation.html" %}
{% include "projects/project/fragments/navigation/tabs/plugin_tabs.html" %}
{% include "projects/project/fragments/navigation/tabs/result_survey.html" %}
{% include "projects/project/fragments/navigation/tabs/conversation.html" %}
{% include "projects/project/fragments/navigation/tabs/files.html" %}
{% include "projects/project/fragments/navigation/tabs/private_conversation.html" %}
{% include "projects/project/fragments/navigation/tabs/settings.html" %}
