<div class="flag blue mb-4 d-flex align-items-start justify-content-start">
  <span class="title-info text-blue text-uppercase my-0 me-3">Attention</span>
  <p class="text-info-custom text-blue my-0 ">Cet appel à projet a une date de limite de dépôt fixée au 21 Janvier 2023</p>
</div>

<div class="flag red mb-4 d-flex align-items-start justify-content-start">
    <span class="title-info text-red text-uppercase my-0 me-3">Attention</span>
    <p class="text-info-custom text-red my-0">Cet appel à projet a dépassé sa date de limite de dépôt du 21 Octobre 2022</p>
  </div>
