.span-specific-fontsize {
  font-size: 30px;
}

.specific-ml {
  margin-left: 30px;
}

.specific-pl {
  padding-left: 15px;
}

.specific-padding {
  padding: 3px;
}

.specific-padding2 {
  padding: 0;
}

.specific-background {
  background: #0063cb;
}

.specific-color {
  color: white !important;
}

.specific-color2 {
  color: inherit;
}

.specific-color3 {
  color: #0063cb;
}

.img-specific-size {
  width: 16px;
  height: 16px;
}
