@media screen and (min-width: 992px) {
  .menu-burger__btn {
    display: none;
  }
}

.fr-modal__header h1 {
  margin-bottom: 0px;
}

.fr-menu__list li {
  list-style: none;
}

.correct-margin {
  margin-top: 32px;
  margin-bottom: 0px;
}

@media (max-width: 991px) {
  .fr-modal--opened {
    display: block;
    top: -92px;
  }
}
@media (max-width: 768px) {
  .fr-modal--opened {
    top: -32px;
  }
}

 .responsive-header .responsive-header__element-not-mobile {
  display: inline !important;
 }

 .responsive-header span {
  margin-left: 0px !important;
 }

 .fr-modal--opened {
  height: 150%;
 }
