.user-tools .dropdown-menu {
  transform: translate3d(-60px, 0, 0); }
  .user-tools .dropdown-menu.notifications {
    transform: none;
    right: 0;
    left: auto;
    text-wrap: wrap; }
    .user-tools .dropdown-menu.notifications span {
      text-wrap: wrap;
      display: inline; }

.user-tools__notification-menu {
  padding: var(--padding-navigation);
  height: 100%;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc; }
  .user-tools__notification-menu button#notification-menu-button {
    margin-left: var(--padding-y-navigation);
    margin-right: var(--padding-y-navigation);
    max-height: 2.25rem;
    max-width: 2.25rem;
    margin: 6px; }
    .user-tools__notification-menu button#notification-menu-button::before {
      --icon-size: 1.25rem; }
  .user-tools__notification-menu .badge {
    position: absolute;
    bottom: 4px;
    right: 6px;
    padding: 0.1rem 0.4rem;
    align-self: center;
    line-height: 0.75rem; }

.user-tools__main-menu-button {
  color: var(--text-action-high-blue-france);
  font-size: 1rem; }
  .user-tools__main-menu-button::after {
    --icon-size: 1.5rem; }

.user-tools__main-menu {
  --ul-type: none;
  z-index: 1040; }

#display-corrected {
  transform: none;
  right: 0;
  left: auto;
  text-wrap: wrap; }

#display-corrected span {
  text-wrap: wrap;
  display: inline-block; }

@media (max-width: 1200px) {
  .user-info .dropdown-menu {
    transform: translate3d(-130px, 0, 0); } }
