{% load static %}
{% load l10n %}
{% load guardian_tags %}
{% get_obj_perms request.user for project as "user_project_perms" %}
<div class="card-text map">
    <div class="d-flex gap-1 text-muted">
        <span class="fr-icon-map-pin-2-line fr-icon--sm" aria-hidden="true"></span>
        <p class="fr-ml-1v fr-text--xs fr-mb-0 d-flex flex-column fr-mb-1v">
            <span>{{ project.location }}</span>
            <span>
                {{ project.commune.name }} {{ project.commune.postal }}
                {% if project.commune.insee %}(INSEE: {{ project.commune.insee }}){% endif %}
            </span>
        </p>
    </div>
    {% if project.commune.latitude and project.commune.longitude %}
        <div class="d-flex gap-1 text-muted justify-flex-end flex-grow-1">
            <span class="fr-icon-road-map-line fr-icon--sm" aria-hidden="true"></span>
            <div class="d-flex flex-column">
                <a class="fr-ml-1v fr-text--xs fr-mb-0"
                   href="https://www.google.com/maps/search/?api=1&query={{ project.location_y|unlocalize }}%2C{{ project.location_x|unlocalize }}"
                   target="_blank"
                   rel="noopener noreferrer">Voir sur Google Maps <span class="visually-hidden">Nouvelle fenêtre</span></a>
            </div>
        </div>
        {% if request.user in project.members.all or 'change_location' in user_project_perms %}
            <div class="answer">
                <a href="{% url 'projects-project-location' project.pk %}"
                   class="fr-text--xs fr-mb-0 link-project-location-edit link-edit stretched-link text-decoration-none"
                   data-test-id="link-project-location-edit-knowledge">Préciser la localisation du dossier</a>
                <div class="flex-shrink-1 next-arrow">
                    <span class="fr-icon-arrow-right-line fr-icon--sm" aria-hidden="true"></span>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>
