{% load static %}
{% load l10n %}
{% if 'change_location' in user_project_perms and project.location_x == None and project.location_y == None %}
    <div class="card-text project-card-details map d-flex flex-column gap-1 text-muted fr-px-2w fr-py-2v">
        <a href="{% url 'projects-project-location' project.pk %}"
           class="link-project-location-edit text-decoration-none"
           data-test-id="link-project-location-edit">Modifier la localisation du dossier</a>
    </div>
{% endif %}
<div class="card-text map d-flex gap-1 text-muted">
    <span class="fr-icon-map-pin-2-line fr-icon--sm" aria-hidden="true"></span>
    <p class="d-flex flex-column fr-mb-1v font-size-12px">
        <span>{{ project.location }}</span>
        <span>
            {{ project.commune.name }} {{ project.commune.postal }}
            {% if project.commune.insee %}(INSEE: {{ project.commune.insee }}){% endif %}
        </span>
        <span>{{ project.commune.department }} - {{ project.commune.department.region }}</span>
    </p>
</div>
