.link-edit {
    color: black;
}


.next-arrow {
    transition-property: transform;
    transition-duration: 0.3s;
}
.answer:hover {
    .next-arrow {
        transform: translateX(5px);
    }
}


.survey-card {
    .q-progress {
        height: 5px;

        span:first-of-type {
            margin-left: 0 !important;
        }

        .done {

        }

        .todo {
            background-color: #eee;
        }
    }

    h6 {
        letter-spacing: 0.1em !important;
    }
}
