.h2-specific-fontsize {
  font-size: 12px;
}

.specific-size {
  width: 24px;
  height: 24px;
}

.specific-fontsize {
  font-size: 0.7em;
}

.specific-fontsize2 {
  font-size: 0.9em;
}

.specific-fontsize3 {
  font-size: 0.8em;
}

.need-cursor {
  cursor: pointer;
}

.specific-lineheight {
  line-height: 20px;
}

.specific-height {
  height: 80vh;
}

.specific-height2 {
  height: 100px;
}
