.h2-specific-fontsize-12 {
  font-size: 12px;
}

.specific-size {
  width: 24px;
  height: 24px;
}

.specific-fontsize-07 {
  font-size: 0.7em;
}

.specific-fontsize-08 {
  font-size: 0.8em;
}

.specific-fontsize-09 {
  font-size: 0.9em;
}

.specific-cursor-pointer {
  cursor: pointer;
}

.specific-lineheight {
  line-height: 20px;
}

.specific-height {
  height: 80vh;
}

.specific-height2 {
  height: 100px;
}
