tmp
tags
TAGS
cscope.*
.venv
.vscode
dist
*.sqlite3
*.egg-info
__pycache__
*.pyc
*.swp
*.swo
.#*
*~
.coverage
.coverage.*
*~
.*~
development.py
frontend_tests.py
htmlcov
media
node_modules/
coverage.xml
restart.sh
multisites
.DS_Store
venv
/static/