tmp
tags
TAGS
cscope.*
.venv
.vscode
dist
*.sqlite3
*.egg-info
__pycache__
*.pyc
*.swp
*.swo
.#*
*~
.coverage
.coverage.*
*~
.*~
development.py
frontend_tests.py
htmlcov
media
node_modules/
coverage.xml
restart.sh
multisites
.DS_Store
venv
/static/
**/.npmrc
.npmrc
screenshots
.idea
.tool-versions
.python-version
.env

## Ignore Jupyter Notebooks files
# see: https://jupytext.readthedocs.io/en/latest/

notebooks/**/.ipynb_checkpoints/
*.ipynb
dsrc_doc/*.md
!dsrc_doc/README.md

docker/docker-compose.local.yml
