recursive-include recoco/static *.*
recursive-include recoco/frontend/dist/ *.*
recursive-include recoco/apps/home/static *.*
recursive-include recoco/apps/projects *.txt
recursive-include recoco/apps/projects *.md
recursive-include recoco/apps/projects/static *.*
recursive-include recoco/apps/resources/static *.*
recursive-include recoco/apps/survey/static *.*
recursive-include recoco/apps/resources *.md
recursive-include recoco/sql/ *.sql
recursive-include recoco *.html
