django<4.0
ipython
django-markdownx
markdown-link-attr-modifier
#django-magicauth
git+http://github.com/glibersat/django-magicauth@master#egg=django-magicauth
git+http://github.com/django-ordered-model/django-ordered-model@master#egg=django-ordered-model
django_otp
django-tagging
django-gravatar2
psycopg2-binary
django-activity-stream
django-leaflet
django-admin-csvexport
djangorestframework
rest-framework-generic-relations
django-filter
django-notifications-hq==1.7.0
django-hijack==3.1.4
django-sesame[ua]==2.4
django-recaptcha==3.0.0
django-allauth==0.51.0
sentry-sdk
sib-api-v3-sdk
# STATIC FILES
django-sass-processor
libsass
django-compressor==3.1
multimethod==1.7
