bandit==1.7.7
black
coverage==7.4.1
django-debug-toolbar==4.3.0
django_coverage_plugin
fabric==3.2.2
ipython
model-bakery==1.17.0
pylint
pylint-django
pytest==8.0.1
pytest-cov==4.1.0
pytest-django==4.8.0
pytest-icdiff==0.9
pytest-mock==3.12.0
pytest-sugar==1.0.0
pytest-xdist==3.5.0
pytest-subtests==0.11.0
pytz
semgrep==1.61.1
python-dotenv
rich
