bandit==1.7.7
black
coverage==7.4.1
django-debug-toolbar==4.3.0
django_coverage_plugin
fabric==3.2.2
ipython
model-bakery==1.17.0
pylint
pylint-django
pytest==8.0.1
pytest-cov==4.1.0
pytest-django==4.8.0
pytest-icdiff==0.9
pytest-mock==3.12.0
pytest-sugar==1.0.0
pytest-xdist==3.5.0
pytest-subtests==0.11.0
pre-commit==3.6.0
pytz
semgrep==1.61.1
python-dotenv
rich
ipykernel==6.20.1
jupyter==1.0.0
django-extensions==3.2.1
notebook==6.4.12
traitlets==5.9.0
jupytext==1.16.1
graphviz==0.20.1
freezegun
