bandit
black
coverage
django-debug-toolbar
django_coverage_plugin
fabric
ipython
model_bakery
pytest
pytest-cov
pytest-coverage
pytest-django
pytest-icdiff
pytest-mock
pytest-sugar
pytest-xdist
pytz
semgrep
