.scroll-gestion {
  overflow-y: scroll;
}

.close-btn-modal {
  z-index: 101;
}

.repositionning-in-modal {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}

.repositionning-in-modal-non-public {
  position: absolute;
  bottom: 6rem;
  right: 1.5rem;
}

.button-cancel-edit {
  position: absolute;
  bottom: 1.5rem;
  right: 7rem;
}

.button-cancel-edit-non-public {
  position: absolute;
  bottom: 6.5rem;
  right: 7rem;
}

.modal-preview {
  .task-status-switcher {
    &__container {
      position: sticky;
      top: 38px;
      background-color: white;
      z-index: 2;
      padding: 0.5rem 0;
    }
    .button {
      font-size: 0.75rem;
      padding: 3px 10px;
      border-radius: 2px;
    }
  }
}

.correct-bs-radius {
  --bs-modal-border-radius: 0;
}

// CSS for the new task modal
.task-modal {
  width: 450px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  border: 1px solid var(--light-border-default-grey, #e5e5e5);
  background: #fff;
  box-shadow: 4px 8px 6px 0px rgba(0, 0, 0, 0.2);
  &__block {
    border: 1px solid var(--light-border-default-grey, #e5e5e5);
  }
}
