{% comment %}
    This layout is used to display the form for the account signup.

    Parameters:
        - title (str): title of the page
        - stepper (boolean): if true, display the stepper
        - total_steps (int): total number of steps
        - step_number (int): current step number
        - current_step_title (str): current step title
        - next_step_title (str): next step title

{% endcomment %}
{% load static %}
{% load sass_tags %}
{% load django_vite %}
{% block css %}
    <link href="{% sass_src 'css/account/layout-form.scss' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% sass_src 'home/css/dsfr/custom-dsfr.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
<div class="layout-form container">
    <div class="banner text-center">
        {% comment %} TODO ADD site_config in context {% endcomment %}
        {% if site_config.logo_small %}
            <img src="{{ site_config.logo_small.url }}"
                 width="10%"
                 height="auto"
                 alt="Logo {{ request.site.name }}" />
        {% endif %}
        <h1 class="fr-mb-8w">
            <strong>{{ title }}</strong>
            <br>
            sur <span class="layout-form__site-name">{{ request.site.name }}</span>
        </h1>
    </div>
    {% if stepper %}
        <div class="fr-stepper fr-mb-2w">
            <h2 class="fr-stepper__title">
                {{ current_step_title }}
                <span class="fr-stepper__state">Étape {{ step_number }} sur {{ total_steps }}</span>
            </h2>
            <div class="fr-stepper__steps"
                 data-fr-current-step="{{ step_number }}"
                 data-fr-steps="{{ total_steps }}"></div>
            <p class="fr-stepper__details">
                <span class="fr-text--bold">Étape suivante :</span> {{ next_step_title }}
            </p>
        </div>
    {% endif %}
    <div class="container__form d-flex justify-content-center">
        <div class="layout__form">
            {% block layout_content %}
            {% endblock layout_content %}
        </div>
    </div>
    <div class="container__form d-flex justify-content-center">
        <div class="layout__form">
            {% block layout_secondary_content %}
            {% endblock layout_secondary_content %}
        </div>
    </div>
</div>
