{% extends "base.html" %}
{% block title %}
    Créer une nouvelle fiche-ressource {{ block.super }}
{% endblock title %}
{% block og_title %}
    Créer une nouvelle fiche-ressource {{ block.super }}
{% endblock og_title %}
{% block content %}
    {{ categories|json_script:"categoriesArray" }}
    <!-- Breadcrumb -->
    <div x-data="{ breadcrumbs: { links: [{url: '{% url 'resources-resource-search' %}', title: 'Ressources'}], current: 'Création de fiche ressource' } }"
         class="fr-p-0">{% include "tools/breadcrumb.html" %}</div>
    {% include "resources/resource/form_resource.html" %}
{% endblock content %}
