{% extends "base.html" %}
{% block title %}
    Créer une nouvelle fiche-ressource {{ block.super }}
{% endblock title %}
{% block og_title %}
    Créer une nouvelle fiche-ressource {{ block.super }}
{% endblock og_title %}
{% block content %}
    {{ categories|json_script:"categoriesArray" }}
    <!-- Admin navigation -->
    {% include "crm/fragments/navigation.html" with resources=True %}
    <!-- Breadcrumb -->
    <div x-data="{ breadcrumbs: { links: [{url: '{% url 'crm-site-dashboard' %}', title: 'Admin'}, {url: '{% url 'resources-resource-search' %}', title: 'Ressources'}], current: 'Création de fiche ressource' } }"
         class="fr-p-0">{% include "tools/breadcrumb.html" %}</div>
    <div x-data="AjvValidationSchema('schemaResourceFormValidator')">
        <form id="form-resource" @submit.prevent="onSubmit">
            {% csrf_token %}
            {% include "resources/resource/form_resource.html" %}
        </form>
    </div>
{% endblock content %}
