{% load django_vite %}
{% load static %}
{% load sass_tags %}
{% load common_tags %}
<link href="{% sass_src 'css/base.scss' %}"
      rel="stylesheet"
      type="text/css">
<link href="{% sass_src 'resources/resources.scss' %}"
      rel="stylesheet"
      type="text/css">
{% block js %}
    {% vite_asset 'js/main.js' %}
    {% vite_asset 'js/apps/embedResource.js' %}
{% endblock js %}
<style type="text/css">
	@media print
    {
        body {
            margin: 0 !important;
            padding: 0 !important;
        }

        .row > div:first-child {
            margin: auto !important;
            margin-top: 20px !important;
            width: 100%;
            padding: 0 10px  !important;
        }

        .task-preview-cta {
            display: none !important;
        }
	}
</style>
<div class="row">
    <div class="col-11 fr-px-2v fr-mx-auto" x-data="PrintTaskResource">
        <div class="d-flex justify-content-end fr-pb-2v fr-mb-2v task-preview-cta fr-mt-2v">
            <!-- List all available addons and display them if a template exists -->
            {% for addon in task.resource_addons.all %}
                {% with "resources/resource/addons/"|add:addon.nature|lower|add:".html" as addon_template %}
                    {% if addon_template|template_exists %}
                        {% include addon_template with data=addon.data %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
            {% if task and task.ds_folder %}
                <a class="fr-btn fr-btn--secondary fr-btn--sm fr-mr-1w"
                   href="{{ task.ds_folder.dossier_url }}"
                   target="blank">
                    <img height="25px"
                         width="26px"
                         src="{% static 'svg/picto-demarches_simplifiees.svg' %}"
                         alt="Pictogramme Démarches Simpliffiées"
                         class="fr-mr-1w">
                    Voir mon dossier
                </a>
            {% endif %}
            {% if contacts.count > 0 %}
                <a href="#task-contacts"
                   class="fr-mr-2v fr-px-2v fr-py-1v bg-white text-decoration-none d-flex align-items-center text-black fw-medium specific-border-solid2px222">
                    <span>👩‍💼 Voir les contacts</span>
                    <svg class="bi align-middle" width="24" height="24">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#arrow-down-short" />
                    </svg>
                </a>
            {% endif %}
            <a @click="handlePrintResourceIframe"
               href="#task-contacts"
               class="fr-px-2v fr-py-1v bg-white text-decoration-none d-flex align-items-center text-black fw-medium specific-border-solid2px222">
                <svg class="bi align-middle fr-mr-2v" width="18" height="18">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#printer" />
                </svg>
                <span>Imprimer</span>
            </a>
        </div>
        {% if contacts.count == 0 %}<div class="fr-mt-3w"></div>{% endif %}
        {% include "resources/resource/fragments/flag.html" %}
        {% include "resources/resource/fragments/resource_content.html" with resource=resource %}
    </div>
</div>
