{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load gravatar %}
{% load guardian_tags %}
{% block title %}
    {{ resource.title }}
{% endblock title %}
{% block og_title %}
    {{ resource.title }}
{% endblock og_title %}
{% block description %}
    {{ resource.subtitle }}
{% endblock description %}
{% block og_description %}
    {{ resource.subtitle }}
{% endblock og_description %}
{% block css %}
    <style type="text/css">
 /* minimal style for the diffs */
 pre.highlight {
     max-width: 900px;
     white-space: pre-line;
 }
 del, ins {
     color: #000;
     text-decoration: none;
 }
 del { background-color: #ffe6e6; }
 ins { background-color: #e6ffe6; }
 sup.follow { color: #5555ff; }
    </style>
{% endblock css %}
{% block content %}
    <div class="row fr-py-6w" id="resource-main-content">
        <div class="col-9 fr-px-6w fr-mx-auto font-marianne" id="resource-main">
            {% include "resources/resource/fragments/breadcrumb.html" %}
            <h2>Historique des modifications</h2>
            <small>&larr; <a href="{% url 'resources-resource-detail' resource.pk %}">Retour à la dernière version</a></small>
            <div class="text-justified font-marianne fr-my-3w">
                {% include "reversion-compare/action_list_partial.html" %}
                <div class="fr-p-3w fr-my-3w">
                    {% if version1 and version2 %}
                        {% include "reversion-compare/compare_partial.html" %}
                    {% else %}
                        Veuillez sélectionner deux versions à comparer.
                    {% endif %}
                </div>
                {% include "reversion-compare/compare_links_partial.html" %}
            </div>
        </div>
    </div>
{% endblock content %}
