{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load guardian_tags %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/styles/resources.css.js' %}
    {% vite_asset 'js/styles/resource-card.css.js' %}
    {% vite_asset 'js/styles/segmented_ctrl.css.js' %}
    {% vite_asset 'js/styles/multi_select.css.js' %}
    {% vite_asset 'js/components/MultiSelect2.js' %}
    {% vite_asset 'js/components/resourceCategoryFilter.js' %}
{% endblock js %}
{% block title %}
    Liste des ressources
{% endblock title %}
{% block og_title %}
    Liste des ressources
{% endblock og_title %}
{% block content %}
    {{ category_options|json_script:"categoryOptions" }}
    {% comment %} {{ departments|json_script:"departmentsArray" }}
    {{ regions|json_script:"regionsArray" }} {% endcomment %}
    <div x-data="ResourceFilter(JSON.parse(document.getElementById('categoryOptions').textContent))" class="col-12 fr-p-3w fr-mx-auto">
        <div x-data="{ breadcrumbs: { links: [{url: '{% url 'home' %}', title: 'Accueil'}], current: 'Ressources' } }"
             class="fr-p-0">{% include "tools/breadcrumb.html" with margin_bottom_only=True %}</div>
        <div class="row">
            <div class="col">
                <h1 class=" align-items-center fr-mb-2w">
                    {% if resources_count %}{{ resources_count }}{% endif %} Ressources
                </h1>
            </div>
        </div>
        <form method="get">
            <div class="d-flex">
                <div class="w-50 position-relative" @keydown.enter.prevent="$el.closest('form').submit()">
                    {% include "projects/project/fragments/search_bar.html" with action_search="onSearch" placeholder="Rechercher" value=query %}
                    <input type="hidden" value="on" name="searching">
                </div>
                <div class="w-50 d-flex justify-content-around align-items-center">
                    <div @multi-select-change="selectedIds = $event.detail || []; $nextTick(() => $el.closest('form').submit());">
                        <!-- Adapter: emit GET params Django expects -->
                        <template x-for="id in selectedIds" :key="id">
                            <input type="hidden" :name="categoryMap[id]" value="on">
                        </template>
                        <div x-data="{ selected: selectedIds }">
                            {% include "tools/multi_select.html" %}
                        </div>
                    </div>

                    {% comment %} <div x-data="{ selectedDepartments: [], departments: [] }" @multi-select-change="selectedDepartments = $event.detail || []; $nextTick(() => $el.closest('form').submit());">
                        {% include "projects/project/fragments/departments_selector.html" with label="Projets de mon territoire" filter_by_regions=True zone_objects="regions" select_all=True input_department_name="limit_area" %}
                        <template x-for="code in selectedCodes" :key="code">
                            <input type="hidden" name="limit_area" :value="code">
                          </template>
                    </div> {% endcomment %}
                    <div x-data="{ selectedCodes: {{ selected_departments_codes|default:'[]' }}, normalize(payload) { if (!payload) return []; if (Array.isArray(payload) && typeof payload[0] === 'string') return payload; if (Array.isArray(payload) && typeof payload[0] === 'object') { return payload.filter(d => d.active).map(d => d.code); } return []; }}"
                        @selected-departments="selectedCodes = normalize($event.detail)"
                        @user-close-selector="$nextTick(() => $el.closest('form').submit())">
                        <!-- Submit values in a Django-friendly way -->
                        <template x-for="code in selectedCodes" :key="code">
                            <input type="hidden" name="limit_area" :value="code">
                        </template>

                        {% include "projects/project/fragments/departments_selector.html" with label="Projets de mon territoire" filter_by_regions=True select_all=select_all_departments selected_departments=selected_departments_codes user_departments=user_departments_codes %}
                    </div>
                </div>
            </div>
        </form>
        <!-- Search -->
        {% comment %} <div class="quick-search fr-mb-6w">
            <form method="get">
                <input id="searching" type="hidden" value="on" name="searching">
                <div class="input-group fr-mb-2w">
                    {% if is_switchtender %}

                        <select id="limit_area"
                                name="limit_area"
                                class="form-select specific-minwidth-200 specific-flex"
                                aria-label="Limiter la zone géographique">
                            <option {% if not limit_area %}selected{% endif %} value="">France entière</option>
                            <option {% if limit_area == 'AUTO' %}selected{% endif %} value="AUTO">Mes départements</option>
                            {% for department in departments %}
                                <option {% if department.code == limit_area %}selected{% endif %}
                                        value="{{ department.code }}">{{ department.name }}</option>
                            {% endfor %}
                        </select>

                    {% elif limit_area != '' and user.is_authenticated %}
                        <select id="limit_area"
                                name="limit_area"
                                class="form-select specific-flex specific-minwidth-200 specific-flex"
                                aria-label="Limiter la zone géographique">
                            <option {% if not limit_area %}selected{% endif %} value="">France entière</option>
                            <option {% if limit_area == 'AUTO' %}selected{% endif %} value="AUTO">
                                {% for department in departments %}
                                    {{ department.name }}
                                    {% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </option>
                        </select>
                    {% endif %}


                </div>
                <div class="fr-grid-row">

                    <div class="fr-col">
                        <div>
                            <a href="{% url 'resources-resource-search' %}">Réinitialiser les filtres</a>
                        </div>
                    </div>

                </div>
            </form>
        </div> {% endcomment %}
        <!-- Results -->
        {% if query %}
            <div class="row align-center fr-mb-2w">
                {% if not resources_count %}
                    <div class="col-6 offset-md-3 fs-5">
                        <svg class="bi" width="20" height="20" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#signpost-split-fill" />
                        </svg>
                        &nbsp;
                        <span>Aucun résulat trouvé pour "<em>{{ query }}</em>"</span>
                        <br />
                        <span class="text-secondary">Essayez de supprimer des mots-clés ou d'ajouter des catégories.</span>
                        <br />
                        <span class="small">Vous pouvez aussi <a href="{% url 'resources-resource-search' %}">réinitialiser</a> vos critères de recherche ou <a href="?searching=on">élargir la zone géographique</a>.</span>
                    </div>
                {% else %}
                    <div class="col-12">
                        <span class="text-secondary">
                            {{ resources_count }} résultat{{ resources_count|pluralize }} trouvé{{ resources_count|pluralize }} pour "<em>{{ query }}</em>".
                        </span>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <!-- Result cards -->
        <div class="row row-cols-1 row-cols-md-4 g-4 fr-m-0">
            {% for resource in resources %}
                <!-- Card Grid -->
                <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12">{% include "resources/resource/widgets/card_standard.html" %}</div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
