{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load guardian_tags %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/styles/resources.css.js' %}
    {% vite_asset 'js/styles/resource-card.css.js' %}
    {% vite_asset 'js/styles/segmented_ctrl.css.js' %}
    {% vite_asset 'js/styles/multi-select.css.js' %}
    {% vite_asset 'js/components/MultiSelect2.js' %}
    {% vite_asset 'js/components/resourceCategoryFilter.js' %}
{% endblock js %}
{% block title %}
    Liste des ressources
{% endblock title %}
{% block og_title %}
    Liste des ressources
{% endblock og_title %}
{% block content %}
    {% if user.is_authenticated %}
        {% get_obj_perms request.user for request.site as "user_site_perms" %}
    {% endif %}
    {{ category_options|json_script:"categoryOptions" }}
    <div x-data="ResourceFilter(JSON.parse(document.getElementById('categoryOptions').textContent))"
         class="col-12 fr-p-3w fr-mx-auto">
        <div x-data="{ breadcrumbs: { links: [{url: '{% url 'home' %}', title: 'Accueil'}], current: 'Ressources' } }"
             class="fr-p-0">{% include "tools/breadcrumb.html" with margin_bottom_only=True %}</div>
        <div class="d-flex justify-content-between align-items-center fr-mb-2w">
            <h1 class=" align-items-center fr-mb-2w">
                {% if resources_count %}{{ resources_count }}{% endif %}
                Ressources
            </h1>
            {% if "manage_resources" in user_site_perms %}
                <a class="fr-btn fr-btn--sm fr-btn--primary fr-mr-1w"
                   href="{% url 'resources-resource-create' %}">Créer une ressource</a>
            {% endif %}
        </div>
        <form method="get">
            <div class="d-flex">
                <div class="w-50 position-relative"
                     @keydown.enter.prevent="$el.closest('form').submit()">
                    {% include "projects/project/fragments/search_bar.html" with placeholder="Rechercher" value=query %}
                    <input type="hidden" value="on" name="searching">
                </div>
                <div class="w-50 d-flex justify-content-around align-items-center">
                    <div @multi-select-change="selectedIds = $event.detail || []; $nextTick(() => $el.closest('form').submit());"
                         class="d-flex align-items-center">
                        <label class="fr-segmented__legend inline text-nowrap fr-mb-0 fr-mr-1w">Catégories :</label>
                        <template x-for="id in selectedIds" :key="id">
                            <input type="hidden" :name="categoryMap[id]" value="on">
                        </template>
                        <div x-data="{ selected: selectedIds }">
                            {% include "tools/multi_select.html" with extra_classes="multi-select--pill align-items-center fr-pl-1w" placeholder="Toutes les catégories" %}
                        </div>
                    </div>
                    <div x-data="{ selectedCodes: {{ limit_areas|default:'[]' }}, normalize(payload) { if (!payload) return []; if (Array.isArray(payload) && typeof payload[0] === 'string') return payload; if (Array.isArray(payload) && typeof payload[0] === 'object') { return payload.filter(d => d.active).map(d => d.code); } return []; }}"
                         @selected-departments="selectedCodes = normalize($event.detail)"
                         @user-close-selector="$nextTick(() => $el.closest('form').submit())">
                        <template x-for="code in selectedCodes" :key="code">
                            <input type="hidden" name="limit_area" :value="code">
                        </template>
                        {% include "projects/project/fragments/departments_selector.html" with label="Sélectionnez des départements" filter_by_regions=True select_all=select_all_departments selected_departments=limit_areas user_departments=user_departments_codes label_filter="Territoire :" extra_classes="inline-chevron" %}
                    </div>
                </div>
            </div>
        </form>
        <!-- Results -->
        {% if query %}
            <div class="row align-center fr-mb-2w">
                {% if not resources_count %}
                    <div class="col-6 offset-md-3 fs-5">
                        <svg class="bi" width="20" height="20" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#signpost-split-fill" />
                        </svg>
                        &nbsp;
                        <span>Aucun résulat trouvé pour "<em>{{ query }}</em>"</span>
                        <br />
                        <span class="text-secondary">Essayez de supprimer des mots-clés ou d'ajouter des catégories.</span>
                        <br />
                        <span class="small">Vous pouvez aussi <a href="{% url 'resources-resource-search' %}">réinitialiser</a> vos critères de recherche ou <a href="?searching=on">élargir la zone géographique</a>.</span>
                    </div>
                {% else %}
                    <div class="col-12">
                        <span class="text-secondary">
                            {{ resources_count }} résultat{{ resources_count|pluralize }} trouvé{{ resources_count|pluralize }} pour "<em>{{ query }}</em>".
                        </span>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <!-- Result cards -->
        <div class="row row-cols-1 row-cols-md-4 g-4 fr-m-0">
            {% for resource in resources %}
                <!-- Card Grid -->
                <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12">{% include "resources/resource/widgets/card_standard.html" %}</div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
