{% load static %}
{% load guardian_tags %}
{% load sass_tags %}
{% block css %}
    <link href="{% sass_src 'projects/css/fragments/tasks_modal/modal.scss' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock css %}
{% get_obj_perms request.user for request.site as "user_site_perms" %}
{% get_obj_perms request.user for project as "user_project_perms" %}
<div x-data="PreviewModal()"
     class="modal fade modal-preview"
     id="task-modal"
     tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered correct-bs-radius">
        <div class="modal-content font-marianne">
            <template x-if="currentTask">
                <div class="d-flex flex-column">
                    <!-- Pagination -->
                    <template x-if="$store.previewModal.isPaginated">
                        <div class="bg-blue d-flex align-items-center justify-content-between fr-p-2v rounded specific-border-radiusy-0">
                            <button class="fr-p-1v button filled white small"
                                    @click="$store.previewModal.previous()">
                                <svg class="bi align-middle"
                                     width="25"
                                     height="25"
                                     fill="var(--background-action-high-blue-france)">
                                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#arrow-left-short" />
                                </svg>
                            </button>
                            <span class="text-white fw-normal" x-text="newTasksNavigationText()"></span>
                            <button class="fr-p-1v button filled white small"
                                    @click="$store.previewModal.next()">
                                <svg class="bi align-middle"
                                     width="25"
                                     height="25"
                                     fill="var(--background-action-high-blue-france)">
                                    <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#arrow-right-short" />
                                </svg>
                            </button>
                        </div>
                    </template>
                    <!-- Modal body -->
                    <div x-init="taskId && $store.previewModal.loadFollowups() && $store.previewModal.loadNotifications() && followupScrollToLastMessage(true)"
                         class="d-flex w-100 align-items-stretch position-relative">
                        <!-- Modal resource / content preview -->
                        <div class="position-absolute top-0 end-0 fr-p-1v close-btn-modal">
                            <button class="fr-btn--close fr-btn"
                                    data-bs-dismiss="modal"
                                    data-test-id="close-modal-task"
                                    aria-label="Close"
                                    @click="changeShowEdition()">Fermer</button>
                        </div>
                        <div class="d-flex flex-grow-1 align-items-stretch w-65 task-modal-content"
                             :class="!contentIsLoading && 'visible'"
                             x-effect="taskId && loadContent()">
                            <template x-if="taskId && currentTask.resource_id">
                                <iframe class="w-100 d-flex flex-column rounded"
                                        :src="resourcePreviewUrl(currentTask.resource_id, taskId)"></iframe>
                            </template>
                            <template x-if="taskId && !currentTask.resource_id">
                                <div class="w-100 text-break fr-p-2w specific-maxheight-90vh scroll-gestion">
                                    <div class="resource-details">
                                        <h1 x-text="currentTask?.intent" class="fr-mb-2w"></h1>
                                    </div>
                                    <p class="text-justified overflow-hidden text-break"
                                       x-html="renderMarkdown(currentTask?.content || '' )"></p>
                                    <template x-if="currentTask?.contact">
                                        <div x-data="{contact: currentTask.contact,isOpenDeleteContact:null}"
                                             class="container__card-contact--no-ressource">
                                            {% include "tools/contacts/contact_card.html" %}
                                        </div>
                                    </template>
                                </div>
                            </template>
                        </div>
                        <!-- Modal followups -->
                        <div class="position-relative flex-column justify-content-between w-35 specific-border-left-solid1pxEEE border-grey"
                             data-cy="column-list-comment">
                            <div class="w-100">
                                <div class="border-bottom-grey"
                                     x-show="currentTask?.document && currentTask?.document.length > 0">
                                    <span class="fr-py-2v d-block fr-px-2w fw-medium title-info text-dark">Fichier(s) partagé(s)</span>
                                    <template x-for="document in currentTask?.document" x-key="document.id">
                                        <div class="fr-px-2w">{% include "projects/project/fragments/files_links/file_list_item_api.html" %}</div>
                                    </template>
                                </div>
                            </div>
                            <div class="task-modal-followups position-relative d-flex flex-column"
                                 :class="getTypeOfModalClass(currentTask?.document && currentTask?.document.length > 0)"
                                 id="followups-scroll-container">
                                <div class="fr-py-2v fr-px-2w position-sticky top-0 d-flex justify-content-between bg-white z-1 border-bottom-grey">
                                    <span class="fw-medium title-info text-dark">Commentaire du conseiller</span>
                                </div>

                                <div class="position-absolute d-flex justify-content-center align-items-center w-100 h-100">
                                    <div x-show="followupsIsLoading" class="fr-ml-2v specific-size">
                                        <output class="spinner-border spinner-border-sm text-primary"></output>
                                    </div>
                                </div>
                                <div :class="!followupsIsLoading && 'visible'" class="followups-wrapper">
                                    <template x-if="currentTask?.resource_id">
                                        <div class="rounded bg-light fr-p-2v fr-m-2w message"
                                             :class="$store.djangoData.canManageTasks && currentTask?.content === '' && 'border border-warning'">
                                            <template x-if="currentTask && taskId && currentTask?.content !== ''">
                                                <p x-html="currentTask && renderMarkdown(currentTask?.content)"
                                                   class="fr-mb-2v overflow-hidden text-break"></p>
                                            </template>
                                            <template x-if="currentTask && currentTask.contact">
                                                <div x-data="{contact: currentTask.contact,isOpenDeleteContact:null}">
                                                    {% include "tools/contacts/contact_card.html" %}
                                                </div>
                                            </template>
                                            <template x-if="currentTask?.content === ''">
                                                <p class="text-light-centered">Aucun commentaire</p>
                                            </template>
                                            <template x-if="currentTask && taskId && currentTask?.content !== ''">
                                                <div class="d-flex justify-content-between align-items-center specific-fontsize-09">
                                                    <div class="d-flex flex-column">
                                                        {% include "projects/project/fragments/task/task_user_card.html" %}
                                                    </div>
                                                </div>
                                            </template>
                                        </div>
                                    </template>
                                    <template x-if="!currentTask?.resource_id">
                                         <div class="rounded bg-light fr-p-2v fr-m-2w">
                                            <p class="text-light-centered">Aucun commentaire</p>
                                        </div>
                                    </template>
                                </div>
                            </div>
                            <template x-if="currentTask.public">
                                <div class="fr-py-2v fr-px-2w position-sticky top-0 bg-white z-1 border-top-grey">
                                    <span class="fw-medium title-info text-dark">Statut</span>
                                    <div class="task-status-switcher__container" x-data="{task: currentTask}">
                                        {% include "projects/project/fragments/tasks_inline_kanban/tasks_status_buttons.html" with full_width=True %}
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>
