{% load static %}
{% load gravatar %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/styles/projects-kanban-project.css.js' %}
{% endblock js %}
<div :id="p.project.id"
     class="drag-targetable fr-py-1v fr-my-1v"
     @dragover="onDragOver(event)"
     @drop="onDrop(event, board.code)"
     @dragenter="onDragEnter(event)"
     @dragleave="onDragLeave(event)">
    <div class="bg-white border rounded border-1 fr-px-2w fr-py-2w position-relative draggable tmp-usevar"
         :style="`border-color:${getProjectRoleColor(p.project)} !important`"
         draggable="true"
         @dragstart="onDragStart(event, p.id)"
         @dragend="onDragEnd(event)">
        <div class="d-flex align-items-center">
            <template x-if="p.status === 'NEW' ">
                <i class="status-color-indicator fr-mr-2v specific-background-high-blue-france"></i>
            </template>
            <a :href="makeProjectURL('{% url 'projects-project-detail' 0 %}', p.project.id)"
               class="fw-bold fr-mt-0 fr-pt-0 font-normal fr-mb-0 text-decoration-none fr-pr-3w text-dark cursor-pointer specific-fontsize-18"
               x-text="p.project.name"></a>
        </div>
        <template x-if="p.project.notifications.count > 0">
            <figure class="project-notification" x-text="p.project.notifications.count">
            </template>
        </figure>
        <template x-if="p.project.commune">
            <div class="fw-normal text-uppercase small d-flex align-items-center fr-my-1v">
                <svg class="align-middle bi fr-mr-2v"
                     width="18px"
                     height="18px"
                     fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#geo-alt" />
                </svg>
                <span class="fr-mr-1v" x-text="p.project.commune.name"></span>
                <span x-text="`(${p.project.commune.postal})`"></span>
            </div>
        </template>
        <div class="font-small text-dark d-flex align-items-center">
            <svg class="align-middle bi fr-mr-2v"
                 width="18px"
                 height="15px"
                 fill="currentColor">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#calendar-event" />
            </svg>
            <span x-text=" p.status === 'NEW' ? `Déposé le ${formatDate(p.project.created_on)}`: `Modifié le ${formatDate(p.project.updated_on)}` "
                  class="align-middle"></span>
        </div>
        <div class="d-flex fr-mt-2w justify-content-between align-items-center">
            <div class="d-flex">
                <span :style="`color:${getProjectRoleColor(p.project)} !important`"
                      class="text-uppercase small fw-medium text-muted d-flex fr-my-0 tmp-usevar"
                      x-text="p.project.recommendation_count > 0 ? `${p.project.recommendation_count} recommandations` : `${p.project.recommendation_count} recommandation`">
                </span>
            </div>
            <div class="d-flex align-items-center">
                <template x-for="switchtender in p.project.switchtenders">
                    {% include "projects/project/fragments/advisor_gravatar_list_item.html" with wide_margin=True %}
                </template>
            </div>
        </div>
    </div>
</div>
