{% load static %}
<div x-data="AdvisorDashboard" x-init="getData();">
    <header class="d-flex fr-mb-2v w-100">
        <div class="d-flex justify-content-between align-items-start w-100">
            <div class="d-flex flex-column">
                <div class="d-flex align-items-center">
                    <h2 class="fr-mb-1v d-flex align-items-center">Mon tableau de bord</h2>
                    <span class="text-muted fw-normal fr-mt-0 fr-ml-2v"
                          x-text="`${data.length} dossiers`"></span>
                    <div x-show="isBusy" class="fr-ml-2v specific-size">
                        <div class="spinner-border spinner-border spinner-border-sm text-primary"
                             role="status"></div>
                    </div>
                </div>
                <div class="d-flex align-items-center fr-mb-3w text-muted text-small">
                    <div class="d-flex align-items-center fr-mr-2v">
                        <svg class="align-middle bi fr-mr-2v"
                             width="18px"
                             height="18px"
                             fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#bell" />
                        </svg>
                        <span x-text="totalNotifications > 0 ? `${totalNotifications} Notifications` : `${totalNotifications} Notification`"></span>
                    </div>
                    <div class="d-flex align-items-center fr-mr-2v">
                        <svg class="align-middle bi fr-mr-2v"
                             width="18px"
                             height="18px"
                             fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#folder" />
                        </svg>
                        <span x-text="nbNewProjects > 1 ? `${nbNewProjects} Nouveaux dossiers` : `${nbNewProjects} Nouveau dossier`"></span>
                    </div>
                    <template x-if="errors">
                        <div class="d-flex align-items-center fr-mr-2v">
                            <span class="text-danger" x-text="errors"></span>>
                        </div>
                    </template>
                </div>
            </div>
            <a class="button" href="{% url 'projects-project-list-staff' %}">Revenir sur l'ancien tableau de bord</a>
        </div>
    </header>
    <div class="d-flex justify-content-start row flex-nowrap overflow-x-scroll">
        <template x-for="board in boards"
                  :key="board.code instanceof Array ? board.code[0] : board.code">
            <div class="fr-px-2v bg-light border-top border-4 fr-mr-2w tmp-usevar"
                 :style="`border-color:${board.color}!important;width:30%`">
                <h5 x-text="board.title" class="font-medium text-gray-800 fr-mt-2v"></h5>
                <div class="position-relative overflow-auto specific-height-80vh">
                    <div class="drag-targetable fr-py-2w h-100 position-absolute t-0 l-0 w-100 h-100"
                         @dragover="onDragOver(event, null)"
                         @drop="onDrop(event, board.code)"
                         @dragenter="onDragEnter(event)"
                         @dragleave="onDragLeave(event)">
                        <template x-if="column(board.code).length === 0">
                            <div class="text-grey drag-placeholder rounded d-flex align-items-center justify-content-center text-uppercase h-100 specific-fontsize-08">
                                Glissez et déposez une carte ici
                            </div>
                        </template>
                    </div>
                    <template x-for="(p, taskIndex) in column(board.code)" :key="p.id" class="col">
                        {% include "projects/project/fragments/kanban_projects/kanban_project_item.html" %}
                    </template>
                </div>
            </div>
        </template>
    </div>
</div>
