{% comment %}
    upload image component (for site configuration form)
    Parameters:
      field : image field from the form (ex. form.logo_small)
      blue_hint_text : optional, if true, the help text will be displayed in blue color
{% endcomment %}
<div x-data="LogoUpload">
    <div class="fr-upload-group">
        <label class="fr-label" for="{{ field.id_for_label }}">
            {{ field.label }}
            {% if field.help_text %}<span class="fr-hint-text">{{ field.help_text }}</span>{% endif %}
        </label>
        <input class="fr-upload fr-mb-2w"
               type="file"
               accept="image/*"
               id="{{ field.id_for_label }}"
               name="{{ field.html_name }}"
               @change="onSelect($event)">
        {% for error in field.errors %}<p class="fr-error-text">{{ error }}</p>{% endfor %}
    </div>
    {% if blue_hint_text %}
        <span class="fr-icon-info-fill fr-hint-text fr-hint-text-blue">{{ blue_hint_text }}</span>
    {% endif %}
    {% if field.value %}
        <div class="fr-mt-2w crm-config__logo-preview-wrapper"
             x-show="!removed && !replaced"
             x-cloak>
            <img class="fr-responsive-img crm-config__logo-preview"
                 src="{{ field.value.url }}"
                 alt="Aperçu : {{ field.label }}">
            <button type="button"
                    class="fr-link fr-link--icon-left fr-icon-delete-line crm-config__logo-remove"
                    @click="remove()">Supprimer le logo</button>
        </div>
        {# Case attendue par Django pour vider le champ, pilotee par le lien ci-dessus. #}
        <input type="checkbox"
               class="fr-sr-only"
               tabindex="-1"
               aria-hidden="true"
               name="{{ field.html_name }}-clear"
               x-model="removed">
        <p class="fr-hint-text fr-mt-2w" x-show="removed" x-cloak>
            Le logo sera supprimé après enregistrement.
        </p>
    {% endif %}
    <p class="fr-hint-text fr-mt-2w" x-show="replaced" x-cloak>
        Nouveau logo ajouté : le changement sera effectif après enregistrement.
    </p>
</div>
