$green: #5dc2b0;
$blue: var(--background-action-high-blue-france);
$dark-blue: #224a6d;

.introjs-tooltip {
  background-color: $green;
  color: white;
  font-size: 1.3em;

  border: 1px solid white;

  min-width: 50vw; // change to desired
}

.introjs-skipbutton {
  color: white;
}

.introjs-button {
  background-color: $blue;
  border: 1px solid $dark-blue;
  color: white;

  text-shadow: none;

  &:hover,
  &:focus {
    background-color: $blue;
    color: white !important;
  }
}

.introjs-prevbutton {
  background-color: white;
  color: black;
}
