:root {
  --width-left-col: 20%;
  --width-right-col: 80%; }

.conversation-new {
  line-height: 1.5em; }
  .conversation-new__topics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 auto;
    width: var(--width-left-col);
    min-width: 18.75rem;
    border-right: 1px solid var(--light-border-default-grey, #e5e5e5);
    position: sticky;
    height: calc(100vh - 128px);
    top: 128px;
    overflow-y: hidden; }
    .conversation-new__topics-header {
      padding: 1rem;
      border-bottom: 1px solid var(--light-border-default-grey, #e5e5e5); }
      .conversation-new__topics-header-title {
        color: var(--light-text-default-grey, #3a3a3a);
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 1.5em;
        text-transform: uppercase;
        margin: 0; }
    .conversation-new__topics-list-member {
      box-shadow: 0px -4px 4px 0px #0000001a;
      border-top: 1px solid var(--light-border-default-grey, #e5e5e5);
      position: sticky;
      max-height: 48vh;
      bottom: 0;
      background-color: #fff;
      transition: max-height 0.3s ease-in-out; }
      .conversation-new__topics-list-member .list-member-toggle {
        padding-bottom: 1rem;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
        height: 3rem; }
      .conversation-new__topics-list-member.open {
        max-height: unset;
        overflow-y: auto; }
        .conversation-new__topics-list-member.open .list-member-toggle {
          padding-bottom: 0; }
      .conversation-new__topics-list-member-title {
        color: var(--light-text-default-grey, #3a3a3a);
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 1.5em;
        text-transform: uppercase;
        margin: 0; }
      .conversation-new__topics-list-member-subtitle {
        color: var(--light-text-default-grey, #3a3a3a);
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5em;
        margin: 0;
        margin-top: 1rem; }
    .conversation-new__topics .topic-item__container {
      padding: 1.25rem;
      display: flex;
      border-bottom: 1px solid var(--light-border-default-grey, #e5e5e5); }
      .conversation-new__topics .topic-item__container:hover {
        cursor: pointer; }
      .conversation-new__topics .topic-item__container:has(input:checked) {
        padding-left: 1rem;
        border-left: 4px solid var(--light-background-action-high-blue-france, #000091);
        background: var(--light-background-alt-blue-france, #f5f5fe); }
      .conversation-new__topics .topic-item__container--open {
        padding-left: 1rem;
        border-left: 4px solid var(--light-background-action-high-blue-france, #000091);
        background: var(--light-background-alt-blue-france, #f5f5fe); }
        .conversation-new__topics .topic-item__container--open .topic-item__title {
          color: var(--light-background-action-high-blue-france, #000091); }
        .conversation-new__topics .topic-item__container--open .topic-item__description-icon {
          display: block; }
    .conversation-new__topics .topic-item__title {
      color: var(--light-text-title-grey, #161616);
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.5em;
      margin-bottom: 0; }
    .conversation-new__topics .topic-item__label {
      --current-bg-color: var(--color-items-default, #929292); }
      .conversation-new__topics .topic-item__label.color:before {
        content: ' ';
        display: inline-block;
        margin-inline-end: 0.25em;
        width: 0.75em;
        height: 0.75em;
        background-color: var(--current-bg-color);
        border-radius: 0.15em; }
    .conversation-new__topics .topic-item__description {
      display: flex; }
      .conversation-new__topics .topic-item__description-content {
        color: var(--light-text-mention-grey, #666);
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1.5em;
        margin-bottom: 0; }
      .conversation-new__topics .topic-item__description-icon {
        color: var(--light-background-action-high-blue-france, #000091);
        margin-top: -2px;
        display: none; }
    .conversation-new__topics .topic-item__message-len {
      color: var(--light-text-mention-grey, #666);
      font-size: 0.75rem;
      font-weight: 400;
      margin-bottom: 0;
      margin-top: 12px; }
      .conversation-new__topics .topic-item__message-len--new {
        color: var(--light-background-flat-info, #0063cb);
        font-weight: 700; }
  .conversation-new__container {
    display: flex;
    flex-direction: column;
    width: var(--width-right-col); }
    .conversation-new__container-partial {
      display: flex;
      flex-direction: column-reverse;
      height: 100vh; }
    .conversation-new__container-feed {
      min-height: calc(100vh - 174px);
      display: flex;
      flex-direction: column;
      justify-content: end; }
    .conversation-new__container-topic .welcome-message {
      display: flex;
      color: var(--light-neutral-grey-625, #929292);
      justify-content: center;
      align-items: center; }
      .conversation-new__container-topic .welcome-message p {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5em;
        margin: 1rem; }
    .conversation-new__container-topic .notification-limit {
      display: flex; }
      .conversation-new__container-topic .notification-limit__line {
        flex-grow: 1;
        border-top: 2px solid var(--light-background-flat-info, #0063cb);
        opacity: 1;
        margin-top: 12px;
        padding-bottom: 10px; }
      .conversation-new__container-topic .notification-limit__message-number {
        color: var(--light-background-flat-info, #0063cb);
        font-weight: 700;
        margin-bottom: 0;
        font-size: 14px; }
    .conversation-new__container-topic .message-item {
      scroll-margin-top: 133px; }
      .conversation-new__container-topic .message-item .action-button {
        display: none; }
      .conversation-new__container-topic .message-item:hover .action-button {
        display: block; }
      .conversation-new__container-topic .message-item .contact-card {
        border: 1px solid #c0c0c0; }
      .conversation-new__container-topic .message-item.other-user-message {
        background: #f6f6f6; }
      .conversation-new__container-topic .message-item.current-user-message {
        background: var(--light-background-alt-blue-france, #f5f5fe); }
        .conversation-new__container-topic .message-item.current-user-message .message-item__reply-to {
          background: #e4e4fe; }
      .conversation-new__container-topic .message-item .message-item__date {
        color: var(--light-neutral-grey-625, #929292);
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        line-height: 24px; }
      .conversation-new__container-topic .message-item__reply-to {
        display: flex;
        margin: -0.75rem -0.75rem 0 -0.75rem;
        background: #eaeaea;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        margin-bottom: 0.5rem; }
        .conversation-new__container-topic .message-item__reply-to p {
          margin: 0;
          font-size: 0.875rem; }
      .conversation-new__container-topic .message-item .document-item {
        padding: 8px 8px 8px 12px;
        align-items: center;
        align-self: stretch;
        line-height: 150%;
        border-radius: 2px;
        border: 1px solid #c0c0c0;
        background: #fff;
        margin-bottom: 0.5rem; }
        .conversation-new__container-topic .message-item .document-item__content {
          gap: 0.5rem;
          display: flex;
          align-items: baseline;
          justify-content: space-between; }
        .conversation-new__container-topic .message-item .document-item__title {
          color: #3a3a3a;
          font-size: 14px;
          font-weight: 700; }
        .conversation-new__container-topic .message-item .document-item__filename, .conversation-new__container-topic .message-item .document-item__size {
          color: var(--light-text-mention-grey, #666);
          font-size: 12px;
          font-weight: 400; }
        .conversation-new__container-topic .message-item .document-item__info-container, .conversation-new__container-topic .message-item .document-item__actions-container {
          display: flex;
          align-items: center; }
    .conversation-new__container-topic .task-item__topic {
      --color-topic: #667dcf;
      color: var(--color-topic);
      line-height: 100%;
      margin-bottom: 0.25rem;
      display: flex;
      align-items: baseline; }
      .conversation-new__container-topic .task-item__topic-icon {
        width: 8px;
        height: 8px;
        background-color: var(--color-topic);
        border-radius: 2px;
        margin-right: 4px; }
      .conversation-new__container-topic .task-item__topic-name {
        color: var(--color-topic);
        font-size: 0.625rem;
        font-weight: 700;
        line-height: 100%; }
    .conversation-new__container-topic .task-item__content {
      color: var(--light-neutral-grey-200, #3a3a3a);
      font-family: Marianne;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5em; }
    .conversation-new__container-topic .task-item__resource {
      border-radius: 2px;
      border: 1px solid #c0c0c0;
      background: #fff;
      padding: 1em; }
      .conversation-new__container-topic .task-item__resource h4 {
        color: var(--text-action-high-blue-france);
        font-family: Marianne;
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 1.5em;
        margin-bottom: 0.5rem; }
      .conversation-new__container-topic .task-item__resource-subtitle {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1.5em; }
      .conversation-new__container-topic .task-item__resource .resource-link {
        color: var(--light-background-action-high-blue-france, #000091);
        font-family: Marianne;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5em;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font; }
    .conversation-new__container-topic .posting-item p {
      color: var(--light-neutral-grey-200, #3a3a3a);
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 1em; }
    .conversation-new__container-topic .followup-item__action {
      color: var(--light-neutral-grey-200, #3a3a3a);
      font-size: 14px;
      font-weight: 400; }
    .conversation-new__container-topic .followup-item__message > p {
      color: var(--light-neutral-grey-200, #3a3a3a);
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.5em;
      margin-bottom: 0.625rem; }
  .conversation-new__date {
    color: var(--light-neutral-grey-625, #929292);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .conversation-new .user-card__gravatar {
    --current-bg-color: var(--color-items-default, #929292);
    background-color: var(--current-bg-color);
    width: 1.125rem;
    height: 1.125rem; }
  .conversation-new .editor-form {
    position: sticky;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid var(--light-border-default-grey, #e5e5e5); }
    .conversation-new .editor-form__container {
      position: relative;
      z-index: 1; }
      .conversation-new .editor-form__container .tiptap-menu-custom {
        top: 0.5rem; }
      .conversation-new .editor-form__container .send-message {
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem; }
  .conversation-new .editor-container .tiptap-menu-custom,
  .conversation-new .editor-container .tiptap.ProseMirror .contact-card {
    display: none;
    transition: none; }
  .conversation-new .editor-container .tiptap.ProseMirror {
    min-height: 3.5rem;
    height: 5.3rem;
    padding: 0.75rem 0.5rem;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden; }
  .conversation-new .contact-card {
    max-width: 28.125rem;
    margin-bottom: 0.5rem; }
    .conversation-new .contact-card__container {
      display: none; }

.message-form.focus .tiptap-menu-custom,
.message-form.focus .button-add-reco,
.message-form.focus .contact-card {
  display: block; }
  .message-form.focus .tiptap-menu-custom__container,
  .message-form.focus .button-add-reco__container,
  .message-form.focus .contact-card__container {
    display: flex;
    flex-direction: column; }

.message-form.focus .module__container {
  display: flex;
  flex-direction: column; }
  .message-form.focus .module__container .info-module__container {
    display: flex;
    flex-direction: column; }
  .message-form.focus .module__container .button-module__container {
    display: flex; }

.message-form.focus .tiptap.ProseMirror {
  min-height: inherit;
  max-height: inherit;
  height: inherit;
  padding: 3.5rem 0.5rem; }

.message-form.edit-mode .edit-mode__message-container,
.message-form.edit-mode .reply-mode__message-container, .message-form.reply-mode .edit-mode__message-container,
.message-form.reply-mode .reply-mode__message-container {
  position: absolute;
  top: -33px;
  padding: 6px;
  background: var(--light-border-plain-info, #0063cb);
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  line-height: 150%; }

.message-form.edit-mode button.edit-mode__button,
.message-form.edit-mode button.reply-mode__button, .message-form.reply-mode button.edit-mode__button,
.message-form.reply-mode button.reply-mode__button {
  color: #fff;
  font-weight: 700;
  text-decoration: underline; }
  .message-form.edit-mode button.edit-mode__button:hover,
  .message-form.edit-mode button.reply-mode__button:hover, .message-form.reply-mode button.edit-mode__button:hover,
  .message-form.reply-mode button.reply-mode__button:hover {
    opacity: 0.8;
    background-color: transparent; }

.message-form.edit-mode .tiptap.ProseMirror, .message-form.reply-mode .tiptap.ProseMirror {
  border: var(--light-border-plain-info, #0063cb) solid 1.5px; }

.empty-message-list {
  display: flex;
  padding: 24px;
  align-items: center;
  align-self: stretch;
  border-radius: 1px;
  background: var(--light-background-alt-blue-france, #f5f5fe);
  color: #3a3a3a;
  line-height: 1.5em; }
  .empty-message-list__title {
    margin: 0;
    font-size: 1rem;
    font-weight: 800; }
  .empty-message-list__subtitle {
    margin: 0;
    font-size: 0.875rem;
    font-weight: 400; }

.stretched-link::after {
  cursor: pointer; }
