.kanban-card {
  --font-size: 10px;
  --font-size-md: 14px; }

.project-card {
  --font-size: 12px;
  --font-size-md: 16px; }

.kanban-header,
.project-header {
  flex-wrap: wrap; }
  .kanban-header__middle-part,
  .project-header__middle-part {
    display: flex;
    flex-grow: 1;
    order: 3;
    width: 100%;
    margin-top: 0.626rem; }
  .kanban-header__searchbar,
  .project-header__searchbar {
    flex-grow: 1;
    margin: 0;
    margin-right: 1.5rem;
    margin-left: 0;
    order: 1; }
  .kanban-header__lastactivity-filter,
  .project-header__lastactivity-filter {
    order: 3; }
    .kanban-header__lastactivity-filter label,
    .project-header__lastactivity-filter label {
      font-size: 0.9rem;
      font-weight: 400;
      color: #666; }
    .kanban-header__lastactivity-filter select,
    .project-header__lastactivity-filter select {
      border-radius: 20px;
      background-color: transparent;
      box-shadow: none;
      border: 1px solid var(--light-border-default-grey, #e5e5e5);
      padding: 5px 40px 5px 15px; }
  .kanban-header__toolbar,
  .project-header__toolbar {
    order: 2; }
  .kanban-header__my-projects-toggle,
  .project-header__my-projects-toggle {
    margin-right: 1.5rem;
    padding-top: 6px;
    order: 5;
    margin-right: 0; }
  .kanban-header__region-filter,
  .project-header__region-filter {
    order: 4; }

.kanban-container,
.project-container {
  overflow-x: auto;
  overflow-y: hidden; }

.kanban-column-container,
.project-column-container {
  min-width: 220px;
  width: 20%; }

.kanban-column,
.project-column {
  min-height: 100px;
  background-color: #f6f6f6; }
  .kanban-column__content,
  .project-column__content {
    height: 75vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px; }

.kanban-card-container,
.project-card-container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.kanban-card,
.project-card {
  border: solid 1px #e5e5e5;
  background-color: #fafafa;
  box-shadow: 2px 2px 4px 0px #0000001a;
  border-radius: 0.375rem;
  width: 100%;
  padding: 1rem; }
  .kanban-card__state-container,
  .project-card__state-container {
    display: flex;
    position: absolute;
    top: -15px;
    gap: 0.8rem; }
  .kanban-card__state--pause,
  .project-card__state--pause {
    padding: 0.2rem 0.5rem;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 2px;
    background-color: #e5e5e5;
    color: #222; }
  .kanban-card__border--is-switchtender, .kanban-card__border--highlight,
  .project-card__border--is-switchtender,
  .project-card__border--highlight {
    border: 1px solid var(--background-action-high-blue-france);
    background-color: white; }
  .kanban-card__border--is-observer,
  .project-card__border--is-observer {
    border: 1px solid #27a658;
    background-color: white; }
  .kanban-card__notification-container,
  .project-card__notification-container {
    transform: translate(-65%, -75%) !important; }
  .kanban-card__commune-container,
  .project-card__commune-container {
    height: 24px; }
  .kanban-card__commune-name, .kanban-card__commune-postal,
  .project-card__commune-name,
  .project-card__commune-postal {
    font-size: var(--font-size);
    font-weight: 400;
    color: #666; }
  .kanban-card__project-container,
  .project-card__project-container {
    margin-top: -5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column; }
  .kanban-card__project-push-by-container, .kanban-card__project-site, .kanban-card__project-insee, .kanban-card__project-date, .kanban-card__project-org,
  .project-card__project-push-by-container,
  .project-card__project-site,
  .project-card__project-insee,
  .project-card__project-date,
  .project-card__project-org {
    color: #666666;
    font-size: var(--font-size);
    line-height: 24px; }
  .kanban-card__project-name,
  .project-card__project-name {
    color: #161616;
    font-size: var(--font-size-md);
    font-weight: 700;
    white-space: nowrap;
    height: 22px; }
  .kanban-card__project-organization,
  .project-card__project-organization {
    color: var(--light-text-mention-grey, #666);
    font-size: var(--font-size-md);
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 128.571% */ }
  .kanban-card__project-tags,
  .project-card__project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    color: var(--light-background-flat-info, #0063cb);
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 16px;
    text-decoration-line: underline;
    text-decoration-style: solid; }
    .kanban-card__project-tags .icon,
    .project-card__project-tags .icon {
      color: #666666; }
  .kanban-card__project-date-container,
  .project-card__project-date-container {
    margin-top: -1px; }

.fr-toggle label.specific-toggle__label {
  color: var(--light-text-mention-grey, #666);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 24px; }

h5 {
  font-weight: 700; }

.got-my-style img {
  width: 30px !important;
  border: solid white !important;
  padding: 0px !important; }

.not-a-link {
  text-decoration: none;
  color: #666666; }

.fake-a-link {
  color: var(--light-background-flat-info, #0063cb);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 160% */
  text-decoration-line: underline;
  text-decoration-style: solid; }

.min-width-12 {
  min-width: 12px; }

.limit-height {
  max-height: 34px;
  overflow: auto; }
