.kanban {
  &-header {
    flex-wrap: wrap;
    &__middle-part {
      display: flex;
      flex-grow: 1;
      order: 3;
      width: 100%;
      margin-top: 0.626rem;
    }
    &__searchbar {
      flex-grow: 1;
      margin: 0;
      margin-right: 1.5rem;
      margin-left: 0;
      order: 1;
    }
    &__lastactivity-filter {
      order: 3;
      label {
        font-size: 0.9rem;
        font-weight: 400;
        color: #666;
      }
      select {
        border-radius: 20px;
        background-color: transparent;
        box-shadow: none;
        border: 1px solid var(--light-border-default-grey, #e5e5e5);
        padding: 5px 40px 5px 15px;
      }
    }
    &__toolbar {
      order: 2;
    }
    &__my-projects-toggle {
      margin-right: 1.5rem;
      padding-top: 6px;
      order: 5;
      margin-right: 0;
    }
    &__region-filter {
      order: 4;
    }
  }
  &-container {
    overflow-x: auto;
    overflow-y: hidden;
  }

  &-column-container {
    min-width: 220px;
    width: 20%;
  }

  &-column {
    min-height: 100px;
    background-color: #f6f6f6;

    &__content {
      height: 75vh;
      overflow-x: hidden;
      overflow-y: auto;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
  &-card-container {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &-card {
    border: solid 1px #e5e5e5;
    background-color: #fafafa;
    box-shadow: 2px 2px 4px 0px #0000001a;

    &__state {
      &-container {
        display: flex;
        position: absolute;
        top: -15px;
        gap: 0.8rem;
      }

      &--pause {
        padding: 0.25rem 0.5rem;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: 2px;
        background-color: #e5e5e5;
        color: #222;
      }
    }

    &__border {
      &--is-switchtender {
        border: 1px solid var(--background-action-high-blue-france);
        background-color: white;
      }

      &--is-observer {
        border: 1px solid #27a658;
        background-color: white;
      }
    }

    &__notification {
      &-container {
        transform: translate(-65%, -75%) !important;
      }
    }

    &__commune {
      &-container {
        margin-top: 2px;
        color: #3a3a3a;
      }

      &-name,
      &-postal {
        font-size: 14px;
        font-weight: 700;
        font-family: 'Marianne';
        color: #3a3a3a;
      }
    }

    &__project {
      &-container {
        margin-top: -5px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-push-by-container,
      &-insee,
      &-date {
        color: #666666;
        font-size: 10px;
        line-height: 24px;
      }

      &-name {
        color: #666666;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Marianne';
        white-space: nowrap;
      }

      &-date-container {
        margin-top: -1px;
      }
    }
  }
}

.fr-toggle label.specific-toggle__label {
  color: var(--light-text-mention-grey, #666);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 24px;
}

h5 {
  font-weight: 700;
}

.got-my-style img {
  width: 30px !important;
  border: solid white !important;
  padding: 0px !important;
}

.not-a-link {
  text-decoration: none;
  color: #666666;
}

.fake-a-link {
  color: var(--light-background-flat-info, #0063CB);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 160% */
  text-decoration-line: underline;
  text-decoration-style: solid;
}

.min-width-12 {
  min-width: 12px;
}

.limit-height {
  max-height: 34px;
  overflow: auto;
}
