.onboarding-tutorial {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1003;
    &__dialog {
        background-color: hsla(0, 0%, 0%, 0);
    }
    &__popup {
        position: fixed;
        right: 20px;
        bottom: 94px;
        background: #FFF;
        max-width: 450px;
    }
    &__button {
        border-radius: 99px;
        background: #FFF;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10);
        display: flex;
        width: 64px;
        height: 64px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        flex-shrink: 0;
    }
    &__close-button {
        position: fixed;
        right: 30px;
        transform: translate(0, 10px);
    }
    &__popup-content {
        border-radius: 4px;
        border: 1px solid var(--light-border-action-high-blue-france, #000091);
        background: #FFF;
        &__part{
            border-bottom: 1px solid var(--light-border-default-grey, #E5E5E5);
        }
    }
    h3 {
        color: var(--light-text-default-grey, #3A3A3A);
        font-size: 14px;
        font-weight: 700;
        line-height: 24px; /* 171.429% */
        margin-bottom: 0px;
    }
    p {
        color: var(--light-text-mention-grey, #666);
        font-size: 12px;
        font-weight: 400;
        line-height: 18px; /* 150% */
        margin-bottom: 0px;
    }
}

.text-linethrough {
    text-decoration: line-through;
}
.disabled {
    color: var(--light-text-disabled-grey, #929292);
    pointer-events: none;
}

.circle-visual-hint {
    fill: #0974F6;
    stroke-width: 4px;
    stroke: rgba(0, 0, 0, 0.08);
    filter: drop-shadow(0 0 0 rgba(225, 225, 225, 0.35));
}

.position-visual-circle-hint {
    position: absolute;
    transform: translate(-15px, -15px);
    z-index: 1002;
    &--higher {
        transform: translate(-25px, -40px);

    }
    &--85px-y {
        transform: translate(-15px, -85px);

    }
}
