.h6-specific-fontsize-14 {
  font-size: 14px; }

.btn-tag-specific-size {
  min-height: 1.5rem !important;
  height: 1.5rem; }

.highlighted {
  padding: 4px 8px; }
  .highlighted p,
  .highlighted a {
    font-size: 12px;
    line-height: 24px;
    font-weight: 700; }
  .highlighted a {
    font-weight: 400;
    text-decoration: underline; }
  .highlighted--blue {
    background: var(--light-background-contrast-info, #e8edff);
    color: var(--light-background-action-high-blue-france, #000091); }
  .highlighted__tooltip {
    color: var(--text-default-grey); }
