.project-navigation {
  width: 100%;
  height: 64px;
  border-bottom: solid 1px #ccc;
  background: white;
  position: sticky;
  z-index: 1001;
  top: 65px;
  &__container-btn-role-selection {
    padding: 0 10px;
    height: 100%;
    border-left: solid 1px #ccc;
    display: flex;
    align-items: center;
    &:has(> #select-observer-or-advisor.fr-collapse--expanded) {
      background-color: #1b0093;
    }
    button:has(+ #select-observer-or-advisor.fr-collapse--expanded) {
      color: white;
    }
    button:hover {
      background-color: inherit;
    }
  }
}

.old-project-navigation {
  border-bottom: 1px solid #e5e5e5;
  list-style: none;
  margin-bottom: 30px;
}

.old-project-navigation a .has-notification {
  position: absolute;

  top: -2px;
  left: -1px;

  color: white;
  font-size: 9px !important;

  border-bottom-right-radius: 5px;
  background-color: #0063cb;
  padding: 0 5px !important;

  width: auto !important;
  height: auto !important;

  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.old-project-navigation a {
  display: flex;
  padding: 10px 15px;
  margin: 0 5px;

  text-decoration: none;

  box-sizing: border-box;
  border-top: solid 2px transparent;
  border-left: solid 1px transparent;
  border-right: solid 1px transparent;
  border-bottom: solid 1px #e8edff;

  transform: translate3d(0, 1px, 0);
  background-color: #e8edff;

  color: #222;
  font-weight: 500;

  font-size: 15px;
}

.old-project-navigation h3 {
  line-height: 24px;
  margin-bottom: 0;
}

.old-project-navigation li {
  padding-bottom: 0;
}

.old-project-navigation a.active {
  background-color: white;
  font-weight: bold;
  color: #0063cb;

  border-top: solid 2px #0063cb;
  border-left: solid 1px #e5e5e5;
  border-right: solid 1px #e5e5e5;
  border-bottom: solid 1px white;
}

.old-project-navigation a.disabled {
  background-color: #eeeeee;
  cursor: not-allowed;
  user-select: none;
  pointer-events: none;

  color: #929292;
  border-top: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
}

.old-project-navigation .survey-completion {
  position: absolute;
  display: flex;
  align-items: center;

  bottom: -2px;
  left: 5%;

  width: 90%;
}

.old-project-navigation .survey-completion-progress-bar-container {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: 5px;

  background-color: white;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.old-project-navigation .survey-completion-progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.old-project-navigation .survey-completion-number {
  color: #222;
  font-weight: 400;
  font-size: 11px;
  margin-left: 5px;
}

.old-project-navigation .survey p {
  margin: 0;
  transform: translate3d(0, -4px, 0);
}

.show-me {
  right: 0%;
}

.divider-specific {
  border-top: solid 1px #e5e5e5;
  padding: 0;
  opacity: 1;
}

.specific-fontsize-14px {
  font-size: 14px;
}

.specific-width-25rem {
  width: 25rem;
}

.specific-button-close-from-dsfr {
  min-height: 1.7rem;
  padding: 0;
  padding-right: 10px;
}
