.project-card {
  box-shadow: 2px 2px 4px 0px #0000001a;
  border: 1px solid #e5e5e5;
  font-family: Marianne;
  padding: 12px; }
  .project-card__col--left {
    padding: 0px 12px 0px 0px !important;
    min-width: 30%; }
  .project-card__col--right {
    min-width: 70%; }
  .project-card__title {
    font-size: 16px;
    text-align: left;
    line-height: 1rem;
    margin-bottom: 0.75rem; }
  .project-card__city {
    font-weight: 700;
    color: #3a3a3a; }
  .project-card__name {
    font-weight: 400;
    color: #666666; }
  .project-card__keyinfo, .project-card__address, .project-card__team {
    font-size: 12px;
    color: #666666;
    text-align: left; }
  .project-card__keyinfo {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    line-height: 24px; }
  .project-card__location p {
    line-height: 18px; }
  .project-card__address, .project-card__team {
    font-weight: 700;
    line-height: 22px; }
  .project-card__location, .project-card__communename {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #666666; }
  .project-card p:has(#no-margin) {
    margin-bottom: 0px; }
  .project-card__communename {
    margin-left: 20px; }
  .project-card__projectowner {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: left; }
  .project-card__orgname {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left; }
  .project-card__subtitle {
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color: #666666; }
  .project-card__description {
    padding: 12px 0px 0px 0px;
    border-radius: 4px;
    opacity: 0px;
    background: #f6f6f6;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #3a3a3a; }

.fr-icon--sm:before {
  margin-right: 0.25rem; }

.specific-maxheight-70 {
  max-height: 70px; }

.moderation-advisor {
  display: flex;
  flex-wrap: wrap; }
  .moderation-advisor__card {
    border-radius: 4px;
    border: 1px solid var(--light-border-default-grey, #e5e5e5);
    background: var(--light-background-default-grey, #fff);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
    height: fit-content; }
  .moderation-advisor__contact-card {
    border: 1px solid var(--light-border-default-grey, #e5e5e5); }
  .moderation-advisor__texte {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; }
  .moderation-advisor__comment {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; }
  .moderation-advisor__departments {
    display: flex;
    flex-wrap: wrap;
    gap: 4px; }
  .moderation-advisor__department {
    border-radius: 2px;
    background: var(--light-background-contrast-info, #e8edff);
    color: var(--light-text-default-info, #0063cb);
    padding: 6px 4px;
    align-items: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; }
  .moderation-advisor__overright-button {
    border-radius: 1px; }

.fr-col-4-min {
  flex: 0 0 32%;
  max-width: 32%;
  width: 32%; }
