.push-reco {
  &__main-title {
    color: var(--light-neutral-grey-50, #161616);
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.25rem;
  }
  &__title-section {
    color: #242424;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5rem;
  }

  .resource-selector {
    &__label {
      color: #3a3a3a;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5rem;
    }
    &__subtitle {
      color: var(--light-text-mention-grey, #666);
      font-size: 14px;
      font-weight: 400;
      line-height: 1.3125rem;
    }
  }

  .ressources__search-bar,
  .thematic__search-bar {
    position: relative;
    span {
      position: absolute;
      top: 0.5rem;
      left: 0.75rem;
      color: var(--light-text-mention-grey, #666);
    }
    input {
      padding-left: 2rem;
    }
  }
  .ressources__result-item {
    height: 188px;
    &-title {
      color: #3a3a3a;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5rem;
      -webkit-line-clamp: 2;
      overflow: hidden;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }
    &-subtitle {
      color: var(--light-text-mention-grey, #666);
      font-size: 14px;
      font-weight: 400;
      line-height: 1.3125rem;
      max-height: 4.5rem;
      -webkit-line-clamp: 2;
      overflow: hidden;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }
  }
}

.card {
  position: relative;

  label {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
  }
}

#push-type-selector {
  input[type='radio'],
  input[type='checkbox'] {
    transform: scale(1.5);
    transform-origin: top left;
    position: absolute;
    top: 1.75em;
    left: 1.75em;
  }
}

.resource-card {
  input[type='radio'],
  input[type='checkbox'] {
    transform: scale(1.5);
    transform-origin: top left;
    position: absolute;
    top: 1.1em;
    left: -1em;
  }
}

.cards {
  flex-wrap: wrap;

  max-height: 500px;
  overflow-y: auto;

  li {
    list-style: none;
    padding-left: 0;
  }
}

.search {
  position: relative;

  svg {
    position: absolute;
    top: 12px;
    left: 12px;
  }

  input[type='text'] {
    text-indent: 32px;
  }
}

.form {
  label {
    display: block;
  }

  input[type='text'] {
    display: block;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
  }
}

.grow {
  transition: all ease-in 300ms;
  max-height: 99em;
  overflow: hidden;
}

.grow-enter-start {
  max-height: 0em;
}

.grow-leave {
  max-height: 0em;
}
