input:not(.fr-input) {
  border: 1px solid var(--light-border-default-grey, #e5e5e5);
  height: 100%;
  padding: 0.3rem 0.75rem;
  padding-left: 32px;
  width: 100%;
  border-radius: 100px;
}

.correct-position {
  position: absolute;
  left: 10px;
  top: 5px;
}

.correct-position::before {
  --icon-size: 1.2rem;
  color: #929292;
}

.placeholder-position {
  padding-left: 32px;
}
