h5 {
  font-weight: 700 !important;
}

// div div {
//   margin-right: 0px !important;
// }

.got-my-style img {
  width: 30px !important;
  border: solid white !important;
  padding: 0px !important;
}

.not-a-link {
  text-decoration: none;
  color: #666666;
}

.fw-bold span {
  color: #3a3a3a;
}

.mini {
  font-size: 10px;
}
