{% load activity_tags %}
{% load humanize %}
{% load gravatar %}
<li class="d-flex mx-0 px-0 d-flex align-items-center py-1">
    <span class="small text-info-custom text-grey-dark me-2 text-nowrap font-small">{{ action.timestamp|naturalday|capfirst }}</span>
    <div class="activity-stream-actions-container d-flex flex-column">
        {% load i18n %}
        {% load static %}
        {% load common_tags %}
        {% get_verbs as verbs %}
        <div class="d-block font-marianne">
            <div class="d-flex align-items-start">
                <div class="font-small">
                    <span class="fw-normal">
                        <a class=""
                           href="{% url 'crm-user-details' action.actor.pk %}">
                            {{ action.actor.first_name|default:action.actor }}
                            {{ action.actor.last_name|default:"" }}
                        </a>
                        <span class="text-dark fw-normal font-italic font-small">{{ action.actor.profile.organization.name|default:'' }}</span>
                        <span class="d-inline-block">
                            <span class="d-inline">
                                {% if action.verb == verbs.Project.INVITATION %}
                                    {% if action.action_object.role %}
                                        <span>a invité
                                            <strong class="d-inline-block fw-bold text-dark">{{ action.action_object.email }}</strong> en tant que
                                            <strong class="text-dark">
                                                {% if action.action_object.role == "SWITCHTENDER" %}
                                                    conseiller·e
                                                {% else %}
                                                    collectivité
                                                {% endif %}
                                            </strong>
                                        </span>
                                    {% endif %}
                                {% else %}
                                    {% if action.action_object.feed_label %}
                                        <a class="d-inline hover-underline"
                                           href="{{ action.action_object.get_absolute_url }}">
                                            {{ action.verb }}
                                            {{ action.action_object.feed_label }}
                                        </a>
                                    {% else %}
                                        <span>{{ action.verb }}</span>
                                        <a class="d-inline hover-underline"
                                           href="{{ action.action_object.get_absolute_url }}">
                                            "{{ action.action_object }}"
                                        </a>
                                    {% endif %}
                                    {% if action.target %}
                                        <div class="d-inline-block ms-1">
                                            <span>à propos de</span>
                                            {% if action.target.get_absolute_url %}
                                                <a class="hover-underline"
                                                   href="{{ action.target.get_absolute_url }}">{{ action.target }}</a>
                                            {% else %}
                                                <strong class="fw-normal">{{ action.target }}</strong>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</li>
