{% extends "base.html" %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/components/MultiSelect.js' %}
{% endblock js %}
{% block content %}
    {{ departments|json_script:"departmentsArray" }}
    <br>
    <br>
    <div>
        {% if advisor_access_request %}
            {% include "account/fragments/pending_advisor_request_redirect.html" with title="Devenir conseiller" %}
        {% else %}
            {% include "account/fragments/departements_select_form.html" with stepper=True total_steps=2 step_number=2 current_step_title="Sélection des départements" title="Devenir conseiller" %}
        {% endif %}
    </div>
{% endblock content %}
