{% extends "base.html" %}
{% load static %}
{% load sass_tags %}
{% block title %}
    Nous contacter
{% endblock title %}
{% block og_title %}
    Nous contacter
{% endblock og_title %}
{% block css %}
    <link href="{% sass_src 'home/css/dsfr/custom-dsfr.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% block content %}
    <div class="col-9 fr-py-6w fr-mx-auto">
        <h2 class="fr-mb-2w">
            <svg class="bi fr-mr-2v" width="28" height="28">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#envelope" />
            </svg>
            Contacter l'équipe {{ request.site.name }}
        </h2>
        {% if user.is_authenticated %}
            <p class="text-secondary">
                Si vous ne souhaitez pas utiliser notre formulaire, vous pouvez
                copier-coller notre adresse email :
                {% with request.site.configuration.contact_form_recipient as email %}
                    <a class="fw-bold" href="mailto:{{ email }}">{{ email }}</a>
                {% endwith %}
            </p>
        {% endif %}
        <form method="post" data-test-id="contact-form">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
            {% if form.name %}
                <div class="form-floating fr-mb-2w">
                    <input type="text"
                           id="{{ form.name.id_for_label }}"
                           class="form-control {% if form.name.errors %}is-invalid{% endif %}"
                           name="{{ form.name.name }}"
                           placeholder="Nom"
                           value="{{ request.GET.name }}"
                           data-test-id="contact-form-name"
                           required>
                    <label for="{{ form.name.id_for_label }}">Votre nom</label>
                    {% for error in form.name.errors %}<div class="text-danger text-end">{{ error }}</div>{% endfor %}
                </div>
            {% endif %}
            {% if form.email %}
                <div class="form-floating fr-mb-2w">
                    <input type="text"
                           id="{{ form.email.id_for_label }}"
                           class="form-control {% if form.email.errors %}is-invalid{% endif %}"
                           name="{{ form.email.name }}"
                           placeholder="Adresse courriel"
                           value="{{ request.GET.email }}"
                           data-test-id="contact-form-email"
                           required>
                    <label for="{{ form.email.id_for_label }}">Votre adresse courriel</label>
                    {% for error in form.email.errors %}<div class="text-danger text-end">{{ error }}</div>{% endfor %}
                </div>
            {% endif %}
            <div class="form-floating fr-mb-2w">
                <input type="text"
                       id="{{ form.subject.id_for_label }}"
                       class="form-control {% if form.subject.errors %}is-invalid{% endif %}"
                       name="{{ form.subject.name }}"
                       placeholder="Sujet"
                       value="{{ request.GET.subject }}"
                       data-test-id="contact-form-subject"
                       required>
                <label for="{{ form.subject.id_for_label }}">Sujet de votre message</label>
                {% for error in form.subject.errors %}<div class="text-danger text-end">{{ error }}</div>{% endfor %}
            </div>
            <div class="fr-mb-2w">
                <textarea class="form-control {% if form.content.errors %}is-invalid{% endif %} text-area-size"
                          id="input-project-content"
                          name="{{ form.content.name }}"
                          value="{{ form.content.value|default:'' }}"
                          placeholder="Votre message..."
                          data-test-id="contact-form-message"
                          required></textarea>
                <label class="visually-hidden" for="input-project-content">{{ form.content.label }}</label>
                {% for error in form.content.errors %}
                    <div class="text-danger text-end">{{ error }}</div>
                {% endfor %}
            </div>
            {{ form.captcha }}
            <button type="submit"
                    class="btn btn-primary"
                    data-test-id="contact-form-submit">Envoyer mon message</button>
        </form>
        {% if request.GET.next %}
            <p class="small fr-mt-2w">
                <a href="{{ request.GET.next }}" class="small">Annuler et revenir à la page précédente</a>
            </p>
        {% endif %}
    </div>
{% endblock content %}
