{% extends "base.html" %}
{% load django_vite %}
{% load cookie_consent_tags %}
{% block title %}
    Politique de confidentialité
{% endblock title %}
{% block og_title %}
    Politique de confidentialité
{% endblock og_title %}
{% block js %}
    {% vite_asset 'js/styles/home-privacy.css.js' %}
    {% vite_asset 'js/styles/home.css.js' %}
{% endblock js %}
{% block content %}
    <div class="col-8 fr-mt-3w fr-py-2w g-0 fr-mx-auto font-marianne">
        <h1>Politique de confidentialité de {{ request.site.name }}</h1>
        <h2 class="fr-mt-3w fr-mb-2v fw-700">1 - Responsable de traitement</h2>
        <p>
            {{ request.site.name }} est un service numérique porté par {{ request.site.configuration.legal_owner|default:"CEREMA" }} et développé grâce au service Recommandations-collaboratives du Centre d’études et d’expertise sur les risques, l’environnement, la mobilité et l’aménagement (CEREMA).
            <br>
            Les co-responsables de traitement des données à caractère personnel sont le CEREMA représenté par son directeur général, Monsieur Etienne Crépon, et {{ request.site.configuration.legal_owner|default:"CEREMA" }} représentée par {{ request.site.configuration.legal_owner_name|default:"Etienne Crépon, directeur général du CEREMA" }}.
        </p>
        <h2 class="fr-mt-3w fr-mb-2v fw-700">2 - Finalités</h2>
        <p>
            La plateforme {{ request.site.name }} est un service numérique porté par {{ request.site.configuration.legal_owner|default:"CEREMA" }}, qui manipule des données à caractère personnel pour les raisons suivantes :
        </p>
        <ul>
            {% if request.site.configuration.gdpr_purposes %}
                {{ request.site.configuration.gdpr_purposes }}
            {% else %}
                <li>Lutter contre l’artificialisation des sols</li>
                <li>
                    Enclencher la revitalisation des friches en fournissant les outils, les acteurs à contacter
                    et les démarches aux collectivités
                </li>
                <li>
                    Suivre les dossiers de réhabilitation de friches dans la durée grâce aux acteurs publics
                    locaux
                </li>
            {% endif %}
            <li>la réalisation d’études quantitatives et d’analyses sur les demandes déposées et les recommandations émises, permettant d’évaluer les besoins des demandeurs, et d’améliorer les accompagnements dispensés</li>
        </ul>
        <h2 class="fr-mt-3w fr-mb-2v fw-700">3 - Catégorie de données à caractère personnel traitées</h2>
        <ul>
            <li>
                <span class="fw-700">Données de contact relatives aux comptes utilisateurs :</span> prénom, nom, e-mail, numéro de téléphone, fonction, organisation
            </li>
            <li>
                <span class="fw-700">Données de connexion :</span> adresse IP, date et heure de connexion, lieu de connexion des demandeurs ou des conseillers mentionnés dans les finalités du traitement.
            </li>
        </ul>
        <h2 class="fr-mt-3w fr-mb-2v fw-700">4 - Base légale</h2>
        <p>
            La plateforme {{ request.site.name }} manipule des données personnelles en se basant sur l’exécution d’une mission d’intérêt public ou relevant de l’exercice de l’autorité publique dont est investi le responsable de traitement au sens de l’article 6-e du RGPD.
        </p>
        <h2 class="fr-mt-3w fr-mb-2v fw-700">5 - Durée de conservation</h2>
        <div class="fr-table">
            <div class="fr-table__wrapper">
                <div class="fr-table__container">
                    <div class="fr-table__content">
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col">
                                        Catégories de données
                                    </th>
                                    <th scope="col">
                                        Durée de conservation
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="fw-700">
                                        Données de contact
                                    </td>
                                    <td>
                                        2 ans à compter de la dernière utilisation du compte de l’utilisateur
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fw-700">
                                        Données de connexion
                                    </td>
                                    <td>
                                        1 an
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="fr-mt-3w fr-mb-2v fw-700">6 - Vos droits</h2>
        <p>Vous disposez des droits suivants concernant vos données à caractère personnel :</p>
        <ul>
            <li>D’un droit d’information et d’un droit d’accès à vos données ;</li>
            <li>D’un droit de rectification, et le cas échéant de suppression des données;</li>
            <li>D’un droit à la limitation des données traitées ;</li>
            <li>D’un droit d’opposition.</li>
            <li>D'un droit à la portabilité, vous permettant de recevoir, dans un format structuré,
                les données personnelles vous concernant que vous nous avez fournies.</li>
        </ul>
        <p>
            Pour les exercer, contactez-nous à : {% if request.site.configuration.contact_form_recipient %}<a class="text-decoration-underline" href="mailto:{{ request.site.configuration.contact_form_recipient }}">{{ request.site.configuration.contact_form_recipient }}</a>{% endif %}
        </p>
        <p>
            Puisque ce sont des droits personnels, nous ne traiterons votre demande que si nous sommes
            en mesure de vous identifier. Dans le cas où nous ne parvenons pas à vous identifier, nous
            pouvons être amenés à vous demander une preuve de votre identité.
            <br />
            <br />
            Pour vous aider dans votre démarche, vous trouverez un modèle de courrier élaboré par la
            CNIL <a class="text-decoration-underline" href="https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces">ici</a>.
            Nous nous engageons à vous répondre dans un délai raisonnable qui ne saurait dépasser 1 mois à compter de la réception de votre demande.
            Vous pouvez également contacter le délégué à la protection des données (DPO) de {{ request.site.name }} à l’adresse : {% if request.site.configuration.dpo_contact_email %}<a class="text-decoration-underline" href="mailto:{{ request.site.configuration.dpo_contact_email }}">{{ request.site.configuration.dpo_contact_email }}</a>{% endif %}
        </p>
        <h2 class="fr-mt-3w fr-mb-2v fw-700">7 - Destinataires</h2>
        <p>
            Les accès aux données sont strictement encadrés et juridiquement justifiés.
            Sont destinataires de tout ou partie des données, les personnes habilitées suivantes :
        </p>
        <ul>
            <li>agents habilités et membres de l’équipe produit de Recommandations-collaboratives ;</li>
            <li>
                agents habilités et membres de l’équipe qui gère {{ request.site.name }} au sein de {{ request.site.configuration.legal_owner|default:"CEREMA" }} ;
            </li>
            <li>
                conseillers inscrits sur la plateforme avec un accès local ou national, ou autres membres invités à participer sur le dossier.
            </li>
        </ul>
        <h2 class="fr-mt-3w fr-mb-2v fw-700">8 - Sous-traitants</h2>
        <p>
            Certaines des données sont envoyées à d’autres acteurs, appelés « sous-traitants de données »,
            pour qu’ils nous aident à les manipuler. Nous nous assurons qu’ils respectent strictement le RGPD
            et qu’ils apportent des garanties suffisantes en matière de sécurité.
        </p>
        <table>
            <thead>
                <tr>
                    <th scope="col">
                        Partenaire
                    </th>
                    <th scope="col">
                        Traitement réalisé
                    </th>
                    <th scope="col">
                        Pays destinataire
                    </th>
                    <th scope="col">
                        Garanties
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">AlwaysData</th>
                    <td>Hébergement des données</td>
                    <td>France</td>
                    <td>
                        <a class="text-decoration-underline"
                        href="https://www.alwaysdata.com/en/contract/16/">https://www.alwaysdata.com/en/contract/16/</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Matomo</th>
                    <td>Mesure de l’audience</td>
                    <td>France</td>
                    <td>
                        <a class="text-decoration-underline"
                        href="https://fr.matomo.org/gdpr-analytics/">https://fr.matomo.org/gdpr-analytics/</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Brevo</th>
                    <td>Emails automatiques et newsletters</td>
                    <td>Variable</td>
                    <td>
                        <a class="text-decoration-underline"
                        href="https://www.brevo.com/fr/rgpd/">https://www.brevo.com/fr/rgpd/</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2 class="fr-mt-3w fr-mb-2v fw-700">9 - Cookies</h2>
        <p>
            Un cookie est un fichier déposé sur votre terminal lors de la visite d’un site.
            Il a pour but de collecter des informations relatives à votre navigation
            et de vous adresser des services adaptés à votre terminal (ordinateur, mobile ou tablette).
        </p>
        <p>
            En application de l’article 5(3) de la directive 2002/58/CE modifiée
            concernant le traitement des données à caractère personnel
            et la protection de la vie privée dans le secteur des communications électroniques,
            transposée à l’article 82 de la loi n°78-17 du 6 janvier 1978 relative à l’informatique,
            aux fichiers et aux libertés, les traceurs ou cookies suivent deux régimes distincts :
        </p>
        <ol>
            <li>
                Les cookies strictement nécessaires au service ou ayant
                pour finalité exclusive de faciliter la communication
                par voie électronique sont dispensés de consentement préalable
                au titre de l’article 82 de la loi n°78-17 du 6 janvier 1978.
            </li>
            <li>
                Les cookies n’étant pas strictement nécessaires au service
                ou n’ayant pas pour finalité exclusive de faciliter la communication
                par voie électronique doivent être consenti par l’utilisateur.
            </li>
        </ol>
        <p>
            Des cookies relatifs aux statistiques publiques et anonymes sont également déposés.
            <br />
            Cookies recensés sur la plateforme {{ request.site.name }} :
        </p>
        <table>
            <thead>
                <tr>
                    <th scope="col">Nom du cookie</th>
                    <th scope="col">Finalités</th>
                    <th scope="col">Durées de conservation du cookie</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">SessionId</td>
                    <td>Identifiant de session</td>
                    <td>Session</td>
                </tr>
                <tr>
                    <td scope="row">Csrftoken</td>
                    <td>Sécurité de l’application</td>
                    <td>Session</td>
                </tr>
                <tr>
                    <td scope="row">Matomo</td>
                    <td>Mesure de l’audience</td>
                    <td>13 mois</td>
                </tr>
                <tr>
                    <td scope="row">Dailymotion</td>
                    <td>Affichage vidéo</td>
                    <td>13 mois</td>
                </tr>
                <tr>
                    <td scope="row">Crisp</td>
                    <td>Chat entre les utilisateurs et les admins</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
        <p>
            À tout moment, vous pouvez refuser l’utilisation des cookies
            et désactiver le dépôt sur votre ordinateur en utilisant
            la fonction dédiée de votre navigateur (fonction disponible
            notamment sur Microsoft Internet Explorer 11, Google Chrome, Mozilla Firefox, Apple Safari et Opera).
            <br />
            <br />
            Pour aller plus loin, vous pouvez consulter les ﬁches proposées
            par la Commission Nationale de l'Informatique et des Libertés (CNIL) :
        </p>
        <ul>
            <li>
                <a class="text-decoration-underline"
                href="https://www.cnil.fr/fr/cookies-traceurs-que-dit-la-loi">Cookies et traceurs : que dit la loi ?</a>
            </li>
            <li>
                <a class="text-decoration-underline"
                href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser">Cookies : les outils pour les maîtriser</a>
            </li>
        </ul>
    </div>
{% endblock content %}
