{% extends "base.html" %}
{% load gravatar %}
{% load django_vite %}
{% load static %}
{% block title %}
    Page de sécurité
{% endblock title %}
{% block og_title %}
    Page de sécurité
{% endblock og_title %}
{% block js %}
    {% vite_asset 'js/styles/home.css.js' %}
{% endblock js %}
{% block content %}
    <div class="col-8 fr-mt-3w fr-py-2w g-0 fr-mx-auto font-marianne">
        <h2>Procédure permettant de signaler un problème de sécurité</h2>
        <p class="fr-mt-3w fr-mb-2v">
            Ce document décrit la procédure de signalement d'un problème de sécurité
            et sa gestion pour le site {{ request.site.name }},
            qui s'appuie sur le logiciel 'Recommandations-collaboratives’ du Cerema.
        </p>
        <h3>Signaler une faille</h3>
        <p>
            Le Cerema et l’équipe qui gère 'Recommandations-collaboratives’
            prennent au très au sérieux la sécurité de l’application.
            Signalez toute faille de sécurité en envoyant un email à l'équipe,
            à : <a href="mailto:recommandations-collaboratives@beta.gouv.fr">recommandations-collaboratives@beta.gouv.fr.</a>
        </p>
        <p>
            L’équipe accusera réception de votre message dans les 72 heures ouvrées.
            Après la réponse initiale à votre rapport, elle vous tiendra informé·e
            de la progression vers une correction et une annonce complète,
            et pourra vous demander des informations ou des conseils supplémentaires.
        </p>
        <h3>Politique de divulgation et de correction</h3>
        <p>Lorsque l’équipe reçoit un rapport sur une faille de sécurité, elle procède aux étapes suivantes :</p>
        <ol>
            <li>Confirmer le problème et déterminer les versions affectées.</li>
            <li>Vérifier le code pour trouver tout problème similaire potentiel.</li>
            <li>
                Communiquer aux principales parties prenantes (services du Cerema, gestionnaires de portails),
                par email ou par Mattermost, qu'une faille est en cours de résolution
            </li>
            <li>Préparer les correctifs, les merger sur la branche production et les déployer</li>
            <li>Communiquer aux principales parties prenantes concernées que le correctif est déployé.</li>
        </ol>
        <h3>Commentaires sur cette politique</h3>
        <p>
            Si vous avez des suggestions sur la façon dont ce processus pourrait être amélioré,
            vous pouvez nous écrire par email à <a href="mailto:recommandations-collaboratives@beta.gouv.fr">recommandations-collaboratives@beta.gouv.fr.</a>
        </p>
    </div>
{% endblock content %}
