{% extends "base.html" %}
{% load gravatar %}
{% load sass_tags %}
{% load static %}
{% block title %}
    Lancer un nouveau portail
{% endblock title %}
{% block og_title %}
    Lancer un nouveau portail
{% endblock og_title %}
{% block css %}
    <link href="{% sass_src 'home/css/home/home.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% block content %}
    <div class="col-8 fr-mt-3w fr-py-2w g-0 fr-mx-auto font-marianne">
        <h2>🚀 Lancer un nouveau portail</h2>
        <form class="form" method="POST" action="{% url "site-create" %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="fr-btn" role="submit">Créer le portail !²</button>
        </form>
        <span>²very beta feature</span>
    </div>
{% endblock content %}
