{% extends "base.html" %}
{% load static %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/styles/home-auth.css.js' %}
{% endblock js %}
{% block title %}
    Paramétrage du mot de passe
{% endblock title %}
{% block og_title %}
    Paramétrage du mot de passe
{% endblock og_title %}
{% block content %}
    <div class="fr-container fr-py-6w max-width-800">
        <nav class="fr-mb-3w fr-pb-1v">
            <ol class="list-unstyled d-flex align-items-center">
                <li>
                    <a class="small text-decoration-underline text-grey"
                       href="{% url 'home' %}">Accueil</a>
                </li>
                <svg class="bi fr-mx-2v" width="15" height="15">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#chevron-right" />
                </svg>
                <li>
                    <span class="small text-dark">Solliciter {{ request.site.name }}</span>
                </li>
            </ol>
        </nav>
        <h2>Vous êtes nouveau sur {{ request.site.name }} ?</h2>
        <div class="callout fr-my-3w">
            <span class="callout-title">votre demande n’est pas terminée</span>
            <p class="callout-content fr-mb-0 fr-mt-2v">
                Pour que nous prenions en compte votre demande, renseignez un mot de passe.
            </p>
        </div>
        <div class="d-flex flex-column justify-content-between align-items-start">
            <h3 class="title-info fr-mb-2w ">Création d'un mot de passe</h3>
        </div>
        <div class="fr-mb-2w">
            <label class="text-info-custom text-grey-dark">Courriel</label>
            <span type="email"
                  class="form-control bg-grey-light text-grey fw-light span-padding"
                  required>{{ request.user }}</span>
        </div>
        <form class="login fr-form-group" method="post" action=".">
            {% csrf_token %}
            <fieldset class="fr-fieldset">
                <div class="fr-fieldset__content common-form">
                    <p>
                        <label>{{ form.password1.label }}</label>
                        {{ form.password1.errors }}
                        {{ form.password1 }}
                        <div class="fr-mt-2v flag grey fr-mb-3w d-flex align-items-center justify-content-start">
                            <p class="text-info-custom font-small text-grey-dark fr-my-0 ">
                                10 caractères minimum et au moins 1 majuscule et 1 chiffre
                            </p>
                        </div>
                    </p>
                    <p>
                        <label>{{ form.password2.label }}</label>
                        {{ form.password2.errors }}
                        {{ form.password2 }}
                        {{ form.next }}
                    </p>
                    <div class="d-flex justify-content-between align-items-start fr-mt-6v">
                        <div class="d-flex flex-column align-items-start">
                            <div class="fr-input-group">
                                <button class="button filled" type="submit">Terminer ma création de compte</button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <hr class="specific-height-1px specific-mb-20px specific-backgroundcolor-grey specific-backgroundimage-none" />
{% endblock content %}
