{% extends "base.html" %}

{% load sass_tags %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block css %}
<link href="{% sass_src 'home/css/dsfr/dsfr.css' %}" rel="stylesheet" type="text/css">
<link href="{% sass_src 'home/css/dsfr/custom-dsfr.scss' %}" rel="stylesheet" type="text/css">
<link href="{% sass_src 'home/css/auth/auth.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="fr-container fr-py-6w max-width-800" style="font-family: 'Marianne', arial, sans-serif;">
    <h1 class="fr-mb-6w">
        <svg class="bi me-2" width="28" height="28">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#person-circle" />
        </svg>
        Réinitialisation du mot de passe
    </h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <form class="password_reset fr-form-group" method="POST" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        <fieldset class="fr-fieldset">
            <h4 class="fr-mb-2w d-block">
                {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
            </h4>
            <div class="fr-fieldset__content">
                {{ form.as_p }}
                <div class="fr-input-group fr-mt-4v">
                    <button class="fr-btn custom-login-button" type="submit">
                        Réinitialiser mon mot de passe
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>

<hr style="height: 1px;margin-bottom: 20px;background-color: grey!important; background-image: none;"/>

{% endblock %}
