.specific-fontweight-500 {
  font-weight: 500;
}

.specific-height-0 {
  height: 0;
}

// Override tiptap styles
.tiptap.ProseMirror {
  --idle: transparent;
  --hover: var(--background-contrast-grey-hover);
  --active: var(--background-contrast-grey-active);
  background-color: var(--background-contrast-grey);
  border-radius: 0.25rem 0.25rem 0 0;
  box-shadow: inset 0 -2px 0 0 var(--border-plain-grey);
  color: var(--text-default-grey);
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 3rem 0.5rem 0.5rem;
  width: 100%;
  margin-top: 0;
}

.tiptap-menu-custom {
  position: absolute;
  z-index: 1;
  top: 3rem;
  left: 0.5rem;
  button {
    color: #3a3a3a;
    &.text-white:disabled {
      color: #3a3a3a !important;
    }
  }
}
