.select-input-icon {
  position: absolute;
  z-index: 2;
  right: 0; }

.project-card__name {
  font-size: 14px;
  font-weight: 700; }

.project-card__org-name {
  font-weight: 400 !important;
  font-size: 14px;
  color: var(--light-text-mention-grey, #666); }
