.specific-background-transparent {
  background-color: transparent;
}
.specific-pr-40 {
  padding-right: 40px !important;
}

.specific-size {
  width: 24px;
  height: 24px;
}

.select-input-icon {
  position: absolute;
  z-index: 2;
  right: 0;
}
