{% comment %} {% extends "dsrc/core/pages/page_center.html" %} {% endcomment %}
{% comment %} {% load static %} {% endcomment %}
{% load crispy_forms_tags %}
{% block title %}
    | Solliciter l'équipe {{ request.site.name }}
{% endblock title %}
{% block og_title %}
    | Solliciter l'équipe {{ request.site.name }}
{% endblock og_title %}
{% block page_title %}
    Solliciter {{ request.site }}
{% endblock page_title %}
{% block tagline %}
    Ces informations nous permettent de traiter votre demande dans les meilleures conditions.
{% endblock tagline %}
{% block form %}
    <div x-data="DsrcFormValidator('id-dsrc-example-form', {{ form_data|safe }}, 'DsrcFormValidationFunction')"
         x-init="init">{% crispy dsrc_example_form %}</div>
{% endblock form %}
