.button {
    border: 1px solid #0063CB;
    padding: 10px 45px;
    border-radius: 2px;

    text-transform: uppercase;
    font-size: 0.85rem;
    color: #0063CB;
    text-decoration: none;

    transition: background 0.25s ease;
    background: transparent;
    cursor: pointer !important;
}

.button.small {
    padding: 5px 15px;
}

.button.filled {
    background-color: #0063CB;
    color: white;
}

.button.filled:hover {
    color: #0063CB !important;
}

.button.red.filled {
    background-color: #CE0500;
    color: white;
}

.button.white {
    border-color: white;
    color: white;
}

.button.white.filled {
    border-color: white;
    background-color: white;
    color: #222 !important;
}

.button.white.filled:hover {
    border-color: #b6b6b6;
    background-color: #b6b6b6;
    color: #222 !important;
}

.button.white:hover {
    border-color: white;
    color: #222 !important;
}

.button.red {
    border-color: #CE0500;
    color: #CE0500;
}

.button.red:hover {
    background-color: #ffe7e7;
    color: #CE0500 !important;
}

.button.green {
    border-color: #18753C;
    color: #18753C;
}

.button.green:hover {
    background-color: #e0f9ea;
    color: #18753C !important;
}

.button.disabled{
    background-color: #EEEEEE;
    cursor: not-allowed;
    user-select: none;
    pointer-events: none;

    color: #929292;
    border: solid 1px #EEEEEE;
}

.button:hover{
    background-color: #e2effc;
}

.play-button {
    transition: 0.15s ease;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.play-button:hover {
    transform: scale(1.2);
}

.border-form {
    border: 1px solid #E5E5E5;
    border-radius: 4px;
}
