.button {
    border: 1px solid #0063CB;
    padding: 10px 45px;
    border-radius: 2px;

    text-transform: uppercase;
    font-size: 0.85rem;
    color: #0063CB;
    text-decoration: none;

    transition: background 0.25s ease;
}

.button.red {
    border-color: #CE0500;
    color: #CE0500;
}

.button.red:hover {
    background-color: #ffe7e7;
    color: #CE0500 !important;
}

.button.green {
    border-color: #18753C;
    color: #18753C;
}

.button.green:hover {
    background-color: #e0f9ea;
    color: #18753C !important;
}

.button.disabled{
    background-color: #EEEEEE;
    cursor: not-allowed;
    user-select: none;
    pointer-events: none;

    color: #929292;
    border: solid 1px #EEEEEE;
}

.button:hover{
    background-color: #e2effc;
}
