:root {
    --color-topic-default: #0063CB;
    --color-topic-1: #fbaff5;
    --color-topic-2: #79e7d5;
    --color-topic-3: #fcb0a2;
    --color-topic-4: #B6cffb;
    --color-topic-5: #fde39c;
}

.bg-green {
    background-color: #5BB5A7;
}

.bg-green-dark {
    background-color:#27A658;
}

.bg-grey {
    background-color: #E5E5E5;
}

/* .bg-grey-dark-light {
    background-color: #E5E5E5;
} */

.bg-grey-dark {
    background-color: #929292;
}

.bg-yellow {
    background-color:#FDCD6D;
}

.bg-grey-light {
    background-color: #F6F6F6;
}

.bg-orange {
    background-color:#FA7A35;
}

.bg-orange-light {
    background-color: #fff1e6;
}

.bg-red {
    background-color: #FFE9E9;
}

.bg-blue-light {
    background-color: #E8EDFF;
}

.bg-blue-light-hover:hover {
    background-color: #103a78 !important;
}

.bg-blue {
    background: #0063CB;
}

.bg-purple {
    background-color: #667DCF
}

.fill-blue {
    fill: #0063CB;
}

.fill-grey {
    fill: #929292;
}

.hover-bg-grey:hover {
    background-color: #E5E5E5;
}
