.bg-green {
    background-color: #5BB5A7;
}

.bg-green-dark {
    background-color:#27A658;
}

.bg-grey {
    background-color: #E5E5E5;
}

.bg-grey-dark {
    background-color: #929292;
}

.bg-yellow {
    background-color:#FDCD6D;
}

.bg-grey-light {
    background-color: #F6F6F6;
}

.bg-orange-light {
    background-color: #fff1e6;
}

.bg-red {
    background-color: #FFE9E9;
}

.bg-blue-light {
    background-color: #E8EDFF;
}

.bg-blue-light-hover:hover {
    background-color: #103a78 !important;
}

.bg-blue {
    background: #0063CB;
}

.fill-blue {
    fill: #0063CB;
}

.fill-grey {
    fill: #929292;
}

