body,
main {
    overflow-x: initial !important;
}

.crm-aside {
    border-right: 1px solid #e1e1e1;
}

.crm-border-bottom {
    border-bottom: 1px solid #e1e1e1;
}

.crm-user-decoration:after {
    content: '';
    display: block;

    width: 100%;
    height: 5px;

    margin-top: 5px;

    background-color: #d8f1f1;
    border-radius: 0.5rem;
}

.crm-project-decoration:after {
    content: '';
    display: block;

    width: 100%;
    height: 5px;

    margin-top: 5px;

    background-color: #13b88b;
    border-radius: 0.5rem;
}

.crm-timeline-min-height {
    min-height: 50vh;
}

.crm-sticky {
    position: sticky;
    top: 119px;
}

.crm-relative {
    position: relative;
    padding-top: 35px;
}

.crm-header {
    position: sticky;
    top: 106px;
    background-color: white;
    border-bottom: 1px solid #e1e1e1;
}

.crm-region-tag {
    background-color: #baddff;
    border-radius: 6px;
    padding: 5px 10px;
}

.crm-region-tag strong {
    color: #2a5075;
}
