.flag {
    padding: 20px;
}

.flag.blue {
    background-color: #E8EDFF;
}

.flag.dark-blue {
    background: #0063CB;
}

.flag.grey {
    background-color: #F6F6F6;
}

.flag.red {
    background-color: #FFE9E9;
}

.flag.orange {
    background-color: #ffeeb9;
}

.flag.slim {
    padding: 10px 20px;
}

.flag.slim .title {
    font-weight: bold;
    margin-bottom: 0;
}

.flag.slim > p {
    margin-bottom: 0;
}

.flag.slim + * {
    margin-block-start: 15px;
}
