/* AlpineJS */
[x-cloak] { display: none !important; }

.onboarding-response-form label {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}

.common-form label {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}

.common-form input {
    padding: 11px 10px !important;
}

.onboarding-response-form textarea {
    margin-bottom: 20px;
}

.hover-crm-tool {
    transition: background 0.25s ease;
}

.hover-crm-tool div{
    transition: background 0.25s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hover-crm-tool span{
    transition: color 0.25s ease;
}

.hover-crm-tool:hover span{
    color: #222 !important;
}

.hover-crm-tool:hover div {
    background-color: #f6f6f6 !important;
}

.hover-underline:hover {
    text-decoration: underline !important;
}

.component-focus{
    box-shadow: 0 0 1px 4px #cce3fb;
    animation: component-pulse 1s 3 linear;
    background-color: #fff;
}

@keyframes component-pulse {
    0%{
        box-shadow: 0 0 1px 4px #cce3fb;
        background-color: #fff;
    }
    50% {
        box-shadow: 0 0 1px 4px #fff;
        background-color: #cce3fb;

    }
    100%{
        box-shadow: 0 0 1px 4px #cce3fb;
        background-color: #fff;
    }
}

.appear-in-with-delay {
    opacity: 0;
    transform: translate3d(-5px,0,0);
    animation: appear-in 0.5s forwards ease 0.5s;
}

@keyframes appear-in {
    from{
        opacity: 0;
        transform: translate3d(-5px,0,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

