.onboarding-response-form label {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}

.common-form label {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}

.common-form input {
    padding: 11px 10px !important;
}

.onboarding-response-form textarea {
    margin-bottom: 20px;
}

.hover-crm-tool {
    transition: background 0.25s ease;
}

.hover-crm-tool div{
    transition: background 0.25s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hover-crm-tool span{
    transition: color 0.25s ease;
}

.hover-crm-tool:hover span{
    color: #222 !important;
}

.hover-crm-tool:hover div {
    background-color: #f6f6f6 !important;
}

.hover-underline:hover {
    text-decoration: underline !important;
}
