#notification {
    position: fixed;

    bottom: 28px;
    right: 25px;

    background-color: white;
    color: #222;
    padding: 15px;

    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.5);

    z-index: 9999;
    border-radius: 6px;
    border: solid 1px #222;
}

.has-notification {
    position: absolute;
    top: 1px;
    left: -2px;
    z-index: -1;

    background-color: #0063cb;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 9px;
    width: 9px;
    border-radius: 50%;
    font-size: 10px;
}
