/* used to be able to use position sticky on children */
body,
main {
    overflow-x: initial !important;
}

[x-cloak] {
    display: none;
}


.personal-dashboard-container-inner {
    position: relative;
    background-color: #e6e6e6;
    background: #F6F6F6;
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    border-color: #E5E5E5;
    border-radius: 0px 4px 0px 0px;
}

.positioning-dropdown {
    position: absolute;
    z-index: 100;

    left: -200px;
    top: 112%;

    background-color: white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16), 0px 1px 0px -2px rgba(0, 0, 0, 0.16), 0px 1px 4px rgba(0, 0, 0, 0.23);
    border-radius: 4px;

    overflow: hidden;
}

.territory-dropdown {
    position: absolute;
    width: auto;
    z-index: 100;

    left: 0;
    top: 112%;

    background-color: white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16), 0px 1px 0px -2px rgba(0, 0, 0, 0.16), 0px 1px 4px rgba(0, 0, 0, 0.23);
    border-radius: 4px;


    max-height: 400px;
    overflow-x: hidden;
}

.territory-dropdown li:first-child {
    border-bottom: solid 2px #c2c2c2 !important;
}

.positioning-dropdown.show {
    display: flex;
}

.positioning-dropdown li button:hover {
    background-color: #e6e6e6 !important;
}

.positioning-dropdown li button:hover span {
    color: #222 !important;
}

.personal-dashboard-map-container {
    position: relative;
    height: 380px;
    width: 100%;
    z-index: 100;

    border-radius: 4px;
    overflow: hidden;
    transition: height 0.25s ease;
}

.personal-dashboard-container-inner .project-link {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border 0.25s ease;
}

.personal-dashboard-container-inner .project-link:hover {
    border-bottom: 1px solid #222;
}

.project-item {
    transition: opacity 0.25s ease;
}

.project-item-is-loading {
    opacity: 0.3;
}

.project-item-loader {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
}

.personal-dashboard-map-container.is-small {
    height: 140px;
}

.personal-dashboard-map-container .leaflet-container {
    z-index: 1;
    border-radius: 4px;
}

.personal-dashboard-map-container .leaflet-container::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    background: linear-gradient(to top, #fff, #fff9d400 100%);
}

.map-increase-height-button {
    position: absolute;
    right: 15px;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 110;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    border:2px solid #ccc;

    cursor: pointer;
}

.map-increase-height-button:hover {
    background-color: #f4f4f4;
}

.map-increase-height-button svg {
    stroke: #222;
    stroke-width: 1;
}

.new-project-marker {
    background-color: #FDCD6D !important;
}

.new-project-marker:before {
    background-color: #FDCD6D !important;
}


.project-marker a {
    text-decoration: none;
    color: white !important;
}

.new-project-marker a {
    color: #222 !important;
}

.project-marker {
    width: 27px !important;
    height: 27px !important;
    padding: 5px 5px;
    border-radius: 100%;
    background-color: #222;
    font-weight: 700;
    font-size: 9px;
}

.project-marker:before {
    content: '';
    position: absolute;

    top: 45%;
    left: calc(50% - 8.5px);

    width: 17px;
    height: 17px;
    background-color: #222;
    transform: rotate(45deg);
    z-index: -1;
    border-radius: 2px;
}

.project-marker:after {
    content: '';
    position: absolute;

    width: 11px;
    height: 11px;

    top: 50%;
    left: 50%;

    transform: translate3d(-50%,-50%,0);

    border-radius: 100%;
    background-color: white;
    z-index: -1;
}

.personal-dashboard-map-container .leaflet-popup-content-wrapper{
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}

.personal-dashboard-map-container .leaflet-popup-content{
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
}

.personal-dashboard-map-container .leaflet-popup .leaflet-popup-close-button {
    display: none;
}

.personal-dashboard-map-container .leaflet-popup-pane {
    transform: translate3D(7px, 0,0) !important;
}

.personal-dashboard-map-container .leaflet-popup-tip-container {
    display: none;
}

.dashboard-marker-popup {
    padding: 13px 15px;
    border-radius: 4px;
}

.dashboard-marker-popup::after {
    content: '';
    position: absolute;

    left: 50%;
    top: 80%;

    background-color: white;
    z-index: 10;
    transform: translate3d(-50%,0,0) rotate(45deg);

    width: 16px;
    height: 16px;
    padding: 1px;
    pointer-events: auto;
}

.dashboard-marker-popup::before {
    content: '';
    position: absolute;

    left: 50%;
    top: 80%;

    background-color: white;
    transform: translate3d(-50%,0,0) rotate(45deg);

    width: 17px;
    height: 17px;
    padding: 1px;
    pointer-events: auto;
    border: solid 1px #222;
    z-index: -1;
}

.dashboard-marker-popup.new-project::before {
    border: solid 1px #FDCD6D;
}

.department-item {
    cursor: pointer;
}

.department-item * {
    cursor: pointer;
}

.department-item:hover {
    background-color: #e6e6e6 !important;
}

@media (max-width: 1139px) {
    .projects-filters-container {
        flex-direction: column;
        align-items: start !important;
    }
    .projects-filters-select {
        margin-top: 10px;
    }

    .responsive-flex-column {
        flex-direction: column;
        margin-top: 15px;
    }
}
