/* used to be able to use position sticky on children */
[x-cloak] {
    display: none;
}

.project-map-container {
    position: relative;
    height: 260px;
    width: 100%;

    border-radius: 4px;
    overflow: hidden;
    transition: height 0.25s ease;
}

.map-modal .modal-content {
    height: 85vh;
    border-radius: 0;
}

.map-modal .modal-header h6 {
  font-size: 14px;
}

.map-modal .modal-body {
    height:100%;
}

.project-map-container:not(.is-small) {
    height: 65vh;
}

.project-map-container.is-small {
    max-height: 260px;
}

.location-header ,
.location-footer {
    flex-wrap: wrap;
    padding-block: 1.5em;
}

.form-coordinates {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5em;
}

.form-coordinates > .button {
    align-self: flex-end;
    width: 100%;
}

.coordinates {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.5em;
}

.coordinates > label {
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 1.5em;
}

@media screen and (width >= 840px) {
    .coordinates > label {
        width: auto;
    }
}

@media screen and (width >= 1190px) {
    .form-coordinates > .button {
        width: auto;
    }
}

.map-modal  .project-map-container {
    height:100%;
}

.map-overlay {
    position: absolute;
    right: 10px;
    bottom: 30px;
    z-index: 1000;
}

.open-map-modal-button {
    position: absolute;
    right: 0;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    padding: 10px;
    border: 1px solid #E5E5E5;

    cursor: pointer;
}

.project-map-readonly {
    /* Allows leaflet marker to be visible without affecting leaflet transforms */
    .leaflet-marker-icon.map-marker.leaflet-zoom-animated.leaflet-interactive {
        transform: translateZ(1px) !important;
    }
}