/* used to be able to use position sticky on children */
[x-cloak] {
    display: none;
}

.project-map-container {
    position: relative;
    height: 40vh;
    width: 100%;
    z-index: 100;

    border-radius: 4px;
    overflow: hidden;
    transition: height 0.25s ease;
}

.project-map-container.is-small {
    height: 220px;
}