.status-color-indicator {
    width: 15px;
    height: 15px;

    border-radius: 50%;
	transform: scale(1);

    background: rgba(52, 172, 224, 1);
	box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
	animation: pulse-blue 2s infinite;
}

@keyframes pulse-blue {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
	}
}

.project-notification {
    position: absolute;
    top: 20px;
    right: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;

    margin: 0;

    background-color: red;
    border-radius: 50%;
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.drop-column {
    padding: 0 2px;
}

.drop-column.drop-highlight {
    padding: 0px;
    border-width: 2px;
    border-style: dashed;
    border-top-style: solid;
    border-color: #ccc !important;
}

.drag-target {
    position: relative;
    padding-top: 100px !important;
    transition: padding-top 50ms ease-in;
}

.drag-target::before {
    content: '';
    width: 100%;
    height: 70px;
    position: absolute;
    top: 15px;
    border: 2px dashed #0d6efd;
    border-radius: 3px;
    z-index: 9999;
}

.drag-dragging {
    background-color: #ffc107 !important;
    opacity: .5;
}

