.status-color-indicator {
    width: 25px;
    height: 25px;

    border-radius: 6px;
}

.task-separator {
    width: 32px;
    height: 4px;
    background-color: #CECECE;
    border-radius: 2px;
}

.board-status-filter-button {
    cursor:  pointer !important;
}

.board-status-filter-button.active {
    background-color: #CECECE !important;
}

.board-status-item {
    animation: status-appear 0.5s ease forwards;
}

@keyframes status-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
