body.modal-open {
    max-height: 100vh !important;
    overflow: auto !important;
}

/* .modal-xl {
    width: 90vw !important;
} */

.status-color-indicator {
    width: 12px;
    height: 12px;

    border-radius: 2px;
}

.status-color-indicator.big {
    width: 18px;
    height: 18px;
}

.status-color-indicator.bg-white {
    border: solid 1px #CECECE;
} 

.task-separator {
    width: 32px;
    height: 4px;
    background-color: #CECECE;
    border-radius: 2px;
}

.task-item .task-toolbar {
    /* transform: translate3d(-25px,0,0); */
    margin-left: -24px;
}

.task-item p {
    margin-bottom: 5px;
}

.board-status-filter-button {
    cursor:  pointer !important;
}

.board-status-filter-button:hover {
    background-color: #efefef !important;
}

.board-status-filter-button.active {
    background-color: #CECECE !important;
}

.task-animation-appear-in {
    animation: status-animation-appear 0.35s ease forwards;
    transform: translate3d(0,-5px,0);
    opacity: 0;
    background-color: #CECECE;
}

.board-status-item {
    animation: status-appear 0.35s ease forwards;
    transform: translate3d(0,-5px,0);
    opacity: 0;
}

.task-modal-followups {
    min-height: 40vh;
    max-height: 50vh;
    overflow-y: auto;
}

@keyframes status-animation-appear {
    from {
        opacity: 0;
        transform: translate3d(0,-5px,0);
        background-color: #CECECE;
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
        background-color: white;
    }
}


@keyframes status-appear {
    from {
        opacity: 0;
        transform: translate3d(0,-5px,0);
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
