.status-color-indicator {
    width: 25px;
    height: 25px;

    border-radius: 6px;
}

.task-separator {
    width: 32px;
    height: 4px;
    background-color: #CECECE;
    border-radius: 2px;
}

.board-status-filter-button {
    cursor:  pointer !important;
}

.board-status-filter-button.active {
    background-color: #CECECE !important;
}

.task-animation-appear-in {
    animation: status-animation-appear 0.35s ease forwards;
    transform: translate3d(0,-5px,0);
    opacity: 0;
    background-color: #CECECE;
}

.board-status-item {
    animation: status-appear 0.35s ease forwards;
    transform: translate3d(0,-5px,0);
    opacity: 0;
}

@keyframes status-animation-appear {
    from {
        opacity: 0;
        transform: translate3d(0,-5px,0);
        background-color: #CECECE;
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
        background-color: white;
    }
}


@keyframes status-appear {
    from {
        opacity: 0;
        transform: translate3d(0,-5px,0);
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
