.text-grey {
    color: #999999;
}

.text-red {
    color: #B34000;
}

.text-red-light {
    color :#E1000F;
}

.text-green {
    color: #27A658;
}

.text-new-project {
    background-color : #FDCD6D;
    padding: 0px 3px;
    color: #222;
}

.text-blue {
    color: #0063CB !important;
}

.text-black {
    color: #161616;
}

.text-black-secondary {
    color: #3A3A3A;
}

.text-grey-light {
    color: #929292;
}

.text-grey-dark {
    color: #666666;
}

.text-orange {
    color: #FA7A35;
}
