.tiptap-menu {
    display: inline-flex;
    overflow: hidden;
    
}

.tiptap-menu button {
    appearance: none !important;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    border:solid 1px #929292;
    border-radius: 2px;
    background: white;
    margin-right: 5px;

    display: flex;
    text-align: center;
    justify-content: center;
}

.tiptap-menu button.is-active {
    background: black;
    color: white;
}

.tiptap-menu button:hover {
    background: rgba(0, 0, 0, 0.5);
}

.tiptap-menu button.unset-link {
    position: relative;
}

.tiptap-menu button.unset-link svg {
    z-index: 2;
}

.tiptap-menu button.unset-link::before {
    content: '';
    position: absolute;

    width: 60%;
    height: 1px;
    background-color: #222;


    top: 50%;
    left: 15%;

    z-index: 1;

    font-weight: 700;
}

.tiptap-menu button.unset-link:disabled::before {
    opacity: 0.3;
}

.ProseMirror {
    min-height: 120px;
    padding: 5px 3px;
    margin: 1rem 0;
    border: 1px solid #ced4da;
    border-radius: 6px;
    background-color: white;
}
