/**
 * Topics
 */

 .topic-list {
	--current-gap: var(--gap, 8px);
	list-style: none;
	padding-left: 0;
}

.topic-list li,
.topic-list .topic-item {
	--current-border-color:  var(--gray-light, #E5E5E5);
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid var(--current-border-color);
	padding-block: 0.5em;
	padding-inline: 0.75em;
	width: 100%;
}

.topic-list li.empty,
.topic-list .topic-item.empty  {
	display: none;
}

.topic-list li p,
.topic-list .topic-item p {
	display: flex;
	align-items: center;
	max-width: fit-content;
	margin-block: 0;
}

.topic-list .topic-item.disabled,
.topic-list li .form-control[disabled] ,
.topic-list .topic-item .form-control[disabled] {
	align-self: center;
	background-color: inherit;
	border: none;
	padding: 0;
}

.topic-item .form-control  {
	border-radius: 0.15em;
}

.topic-list li.disabled:before,
.topic-list .topic-item.disabled:before,
.topic-list:not(.readonly) p:before {
	--current-bg-color: var(--color-items-default);
	content: " ";
	display: inline-block;
	margin-inline-end: 0.75em;
	width: 1em;
	height: 1em;
	background-color: var(--current-bg-color);
	border-radius: 0.25em;
}


.topic-list .topic-item:nth-child(1n) .disabled:before {
	align-self: flex-start;
	margin-block-start: 0.05em;
}

.topic-list .topic-item:nth-child(1n) .disabled:before,
.topic-list:not(.readonly) li:nth-child(1n) p:not(.readonly):before  {
	--current-bg-color: var(--color-topic-1);
}

.topic-list .topic-item:nth-child(2n) .disabled:before,
.topic-list:not(.readonly) li:nth-child(2n) p:not(.readonly):before{
	--current-bg-color: var(--color-topic-2);
}

.topic-list .topic-item:nth-child(3n) .disabled:before,
.topic-list:not(.readonly) li:nth-child(3n) p:not(.readonly):before {
	--current-bg-color: var(--color-topic-3);
}

.topic-list .topic-item:nth-child(4n) .disabled:before,
.topic-list:not(.readonly) li:nth-child(4n) p:not(.readonly):before {
	--current-bg-color: var(--color-topic-4);
}

.topic-list .topic-item:nth-child(5n) .disabled:before,
.topic-list:not(.readonly) li:nth-child(5n) p:not(.readonly):before {
	--current-bg-color: var(--color-topic-5);
}

.topic-delete {
	align-items: center;
}

.topic-delete svg {
	margin-inline: 0.5em;
}

.topic-choice-list  {
	display: flex;
	align-items: flex-start;
	margin-block-start: 0;
	border-left: 1px solid  var(--gray-light, #E5E5E5);
	border-right: 1px solid  var(--gray-light, #E5E5E5);
	border-bottom: 1px solid  var(--gray-light, #E5E5E5);
}

.topic-choice-list .btn.btn-select {
	text-align: left;
	text-transform: uppercase;
	background-color: inherit;
	border: none;
	border-radius: 0.2em;
}

.topic-choice-list .btn.btn-select:hover {
	color: #929292;
}

.topic-list .btn-select + .btn-select {
	color: currentColor;
	border-top: 1px solid var(--gray-light, #E5E5E5);
}

.topic-delete {
	width: 16px;
	height: 16px;
	position: relative;
	padding: 1em 10px;
	margin-inline-start: 8px
}

.input-submit {
    width: 24px;
    height: 24px;
    padding: 12px;
    border:none;
    box-shadow: none;
    font-size: 0;
		position: absolute;
		top: 0;
		left:0;
		z-index: 1;
		background-color: transparent;
		border: 1px solid white;
}


.input-submit:hover {
	border-color: red;
}

.input-submit:hover svg {
	stroke: white
}

.topic-delete svg {
    content: '';
    width: 16px;
    height: 16px;
		position: absolute;
		top: 8px;
		left: 8px;
		z-index: 0;
		margin: 0;
    background-image: url('data:image/svg+xml;utf8,');
}