.font-marianne {
    font-family: 'Marianne', arial, sans-serif;
}

.title-info {
    font-family: 'Marianne';
    font-style: normal;
    font-size: 14px;
    font-weight: 700;

    text-transform: uppercase;
}

.text-info-custom {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.fw-medium {
    font-weight: 500 !important;
}
