.user-card .user-card-popup {
    display: none;

    position: absolute;

    padding: 12px 15px;

    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16), 0px 1px 0px -2px rgba(0, 0, 0, 0.16), 0px 1px 4px rgba(0, 0, 0, 0.23);
    border-radius: 2px;

    z-index: 10;
}

.user-card {
    cursor: pointer;
}

.user-card .user-role {
    top: -27px;
    left: 5px;
}

.user-card-popup[data-show] {
    display: block;
}

.user-info:hover {
    text-decoration: underline;
}
