{% load static %}
{% load gravatar %}
{% load guardian_tags %}
{% load sass_tags %}
{% block css %}
    <link href="{% sass_src 'projects/css/fragments/tasks_kanban/kanban_header.scss' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock css %}
{% get_obj_perms request.user for request.site as "user_site_perms" %}
{% get_obj_perms request.user for project as "user_project_perms" %}
<div class="d-flex fr-mt-1v fr-mb-3w fr-mx-2v align-items-center justify-content-between">
    {% if advising %}
        <h2 class="text-secondary text-uppercase fw-bolder fr-mb-0 h2-specific-fontsize-12">
            Recommandations proposées au porteur du projet
        </h2>
    {% endif %}
    <div class="d-flex align-items-center">
        <div class="d-flex align-items-center fr-ml-2v">
            <span class="text-muted fr-mr-2v">Équipe de suivi :</span>
            {% for switchtender in project.switchtenders.all %}
                <img class="rounded-circle d-inline-block fr-ml-1v"
                     width="20px"
                     height="20px"
                     src="{% gravatar_url switchtender.email 25 %}"
                     data-bs-toggle="tooltip"
                     data-bs-placement="bottom"
                     title="{{ switchtender.get_full_name|default:'Conseiller inconnu' }} - {{ switchtender.profile.organization.name|default:'Organisation iconnue' }}"
                     tabindex="0" />
            {% endfor %}
        </div>
        {% if "manage_tasks" in user_project_perms %}
            <span class="fr-ml-3w">
                <a class="btn btn-outline-primary w-100 btn-sm"
                   href="{% url 'projects-create-task' %}">
                    <svg class="bi fr-mr-1v" width="16" height="16" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#journal-plus" />
                    </svg>
                    Ajouter une recommandation
                </a>
            </span>
        {% endif %}
        <div x-data class="fr-ml-2v specific-size">
            <div x-show="$store.app.isLoading"
                 class="spinner-border spinner-border spinner-border-sm text-primary"
                 role="status"></div>
        </div>
    </div>
</div>
{% if advising %}
    <div class="fr-mb-3w fr-mx-2v d-flex flex-column">
        <a href="{% url 'projects-project-tasks-suggest' project.pk %}">
            Examiner les recommandations suggérées automatiquement pour ce projet
        </a>
        <span class="fr-mb-3w ml-4 pl-4 text-muted">Pour éventuellement les proposer au porteur du projet</span>
    </div>
{% endif %}
