{% load sass_tags %}
{% block css %}
    <link href="{% sass_src 'projects/css/fragments/tasks_kanban/kanban_header.scss' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock css %}
<!-- Index of tasks kanban app -->
<div x-data="KanbanTasks({{ project.id }})"
     x-init="initTooltips(); loadCanAdministrate(); loadUserProjectPerms(); loadIsSwitchtender(); loadUserId();"
     class="row fr-pt-2w">
    <template x-for="(board, index) in boards">
        <div class="col fr-px-2v">
            <div class="medium-border-radius drop-column bg-grey-light"
                 :data-test-id="`board-targetable-${index}`">
                <div class="d-flex align-items-center justify-content-between fr-px-2v fr-pt-2v fr-pb-0">
                    <div class="d-flex align-items-center">
                        <span :class="board.color_class" class="status-color-indicator fr-mr-2v"></span>
                        <h5 x-text="board.title" class="fs-6 fw-normal text-gray-800 fr-mb-0"></h5>
                    </div>
                </div>
                <div class="fr-px-2v fr-pt-2v fr-mt-2v fr-pb-1v overflow-auto position-relative specific-height-80vh">
                    <template x-if="column(board.status).length === 0">
                        <div class="drag-targetable fr-py-2w"
                             @dragover="onDragOver(event, null)"
                             @drop="onDrop(event, board.status, null)"
                             @dragenter="onDragEnter(event)"
                             @dragleave="onDragLeave(event)"
                             data-test-id="drag-target">
                            <div class="drag-placeholder rounded d-flex align-items-center justify-content-center text-uppercase specific-fontsize-08 specific-height-100px">
                                Glissez et déposez une fiche ici
                            </div>
                        </div>
                    </template>
                    <template x-for="(task, i) in column(board.status)" :key="task.id">
                        {% include "projects/project/fragments/tasks_kanban/task_item.html" %}
                    </template>
                </div>
            </div>
        </div>
    </template>
</div>
