.specific-fontsize-07 {
  font-size: 0.7em;
}

.specific-fontsize-08 {
  font-size: 0.8em;
}

.specific-fontsize-09 {
  font-size: 0.9em;
}

.specific-margin {
  margin: -10px 0 0 5px;
}

.div-style {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.svg-specific-margin {
  margin: 3px 0;
}

.specific-lineheight-20 {
  line-height: 20px;
}
