.create-resources {
  padding: 0 1.25em;
  &__title {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.5rem;
  }

  &__multi-select-container {
    .multi-select {
      &__container {
        border: none;
      }
      &__input {
        --idle: transparent;
        --hover: var(--background-contrast-grey-hover) #d2d2d2;
        --active: var(--background-contrast-grey-active);
        background-color: var(--background-contrast-grey);
        border-top-left-radius: 0.25rem;
        box-shadow: inset 0 -2px 0 0 var(--border-plain-grey);
        color: var(--text-mention-grey, #666666);
        display: flex;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1rem;
        padding: 0.5rem 1rem;
        width: 100%;
      }
      &__dropdown-icon {
        --active: var(--background-contrast-grey-active);
        border-left: none;
        border-top-right-radius: 0.25rem;
        background-color: var(--background-contrast-grey);
        box-shadow: inset 0 -2px 0 0 var(--border-plain-grey);
      }
    }
  }
}

.multi-select-region-from-resource .h64 {
  height: fit-content;
}
