{% load static %}
<div class="fr-container fr-container--fluid fr-mb-md-14v">
    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
        <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
            <div class="fr-container fr-background-alt--grey fr-px-md-0 fr-pt-10v fr-pt-md-14v fr-pb-6v fr-pb-md-10v">
                <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
                    <div class="fr-col-12 fr-col-md-10 fr-col-lg-9">
                        {% block center_content %}
                        {% endblock center_content %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
