<div class="crm-project-card d-flex flex-column">
    {% with origin_site=project.project_sites.origin.site %}
        <a class="crm-project-card__name fr-link d-flex align-items-center gap-2"
           {% if origin_site == request.site %}href="{% url 'crm-project-details' project.pk %}"{% endif %}>
                <span {% if project.deleted %}class="text-decoration-line-through"{% endif %}>{% if project.owner.profile.organization %}{{ project.owner.profile.organization.name }} - {% endif %}{{ project.name }}</span>
                {% if origin_site != request.site %}
                    {% if origin_site.configuration.logo_small %}
                    <img class="crm-project-card__portal-logo"
                         src="{{ origin_site.configuration.logo_small.url }}"
                         alt="{{ origin_site.name }}"
                         title="Dossier actif sur {{ origin_site.name }}">
                {% endif %}
            {% endif %}
        </a>
    {% endwith %}

    {% if project.commune %}
        <span class="crm-project-card__org fr-icon-people fr-icon--sm fr-btn--icon-left">{{ project.commune }}</span>
    {% endif %}
    {% if project.next_reminder %}
        <span class="crm-project-card__org fr-icon-mail fr-icon--sm fr-btn--icon-left">Prochain rappel le {{ project.next_reminder.deadline }}</span>
    {% endif %}
</div>
