{% load static %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/components/DepartmentsSelector.js' %}
    {% vite_asset 'js/styles/departments-selector.css.js' %}
{% endblock js %}
{% comment %}

    Region filter component

    Parameters:
        - label (string): label to display in the filter button (default="Projets de mon territoire")
        - filter_by_regions (boolean): if true, filter by regions, else filter by departments
        - zone_objects (list): list of regions or departments to display in filter
        - select_all (boolean): to select all departments (default=true)
        - input_region_name (string): name of the input for regions
        - input_department_name (string): name of the input for departments
        - selected_departments (list): list of selected departments (default=null)
        - user_departments (list): list of user's own department codes for "Mes départements" shortcut (default=null)
        - label_filter (string): label to display in the filter button (default="Filtrer :")
        - extra_classes (string): additional CSS classes; use "inline-chevron" to use inline SVG chevron instead of Bootstrap Icons

    Event to listen in parent component:
        - selected-departments: when a department is selected, the event is triggered with the selected departments
        - user-close-selector: when the user closes the selector, the event is triggered with the selected departments
        - displayed-label: send displayed label to use in parent

    Event from parent:
        -  reset-departments-selector

{% endcomment %}
<div class="d-flex align-items-center">
    <label class="fr-segmented__legend inline text-nowrap fr-mb-0 fr-ml-2w fr-mr-1w">{{ label_filter | default:"Filtrer :" }}</label>
    <div class="departments-selector__container position-relative active"
         x-data="DepartmentsSelector({ listZone: {{ zone_objects|default:'null' }}, selectAll : '{{ select_all | default:'False' }}' == 'True', filterByRegions : '{{ filter_by_regions }}' == 'True' , selectedDepartments: {{ selected_departments|default:'null' }}, userDepartments: {{ user_departments|default:'null' }} })"
         x-on:reset-departments-selector.window="resetSelection"
         x-on:click.outside="open && $dispatch('user-close-selector'); open = false; ">
            <button class="fr-select departments-selector__button"
                    data-cy="check-display-project"
                    x-on:click.prevent="open = !open"
                    x-text="label"></button>
        {% include "projects/project/fragments/departments_selector/list_departments.html" %}
    </div>
</div>
