.specific-background-0063CB {
  background-color: #0063cb;
}

.specific-cursor-pointer {
  cursor: pointer;
}

.specific-fontsize-18 {
  font-size: 18px;
}

.specific-fontsize-08 {
  font-size: 0.8em;
}

.specific-size {
  width: 24px;
  height: 24px;
}

.scroll-gestion {
  overflow-x: scroll;
}

.specific-height {
  height: 80vh;
}
