.specific-fontsize-18 {
  font-size: 18px;
}

.specific-fontsize-08 {
  font-size: 0.8em;
}

.specific-size {
  width: 24px;
  height: 24px;
}

.scroll-gestion {
  overflow-x: scroll;
}

.specific-height-80vh {
  height: 80vh;
}
