{% extends "base.html" %}

{% load sass_tags %}
{% load static %}

{% block css %}
<link href="{% sass_src 'css/home/home.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="col-12 py-3 g-0 mx-auto">
    <img src="{% static 'img/partners/logo_cerema.png' %}" width="350px" alt="Logo du Cerema" class="px-5 py-3">

    <div id="headline" class="position-relative overflow-hidden text-center">
        <div class="headline-content">
            <div class="col-10 p-lg-5 mx-auto my-5">
                <h1 class="display-4 fw-bold mb-4">Faites passer votre friche à l'étape suivante</h1>
                <p class="lead fw-normal mb-4">Un service numérique et gratuit qui aiguille les collectivités dans leur projet de réhabilitation de foncier à l’abandon.</p>
                <a class="btn fs-5 py-3 px-5 btn-primary" href="{% url 'projects-onboarding' %}">Contactez-nous pour un site à revitaliser !</a>
            </div>
        </div>
    </div>
</div>

<div class="col-10 mx-auto">

    <div class="text-center fs-5 mb-5 mt-3">
        UrbanVitaliz appuie les collectivités pour la revitalisation des
        terrains imperméabilisés ou pollués qui ont perdu leur usage, que la
        dynamique de marché ne parvient pas à renouveler sans intervention
        publique.
    </div>


    <div class="row">
        <div class="col-xl-3 col-lg-6 px-4">
            <span class="step">1. Prise de contact</span>
            <p>
                La collectivité prend contact avec l'équipe UrbanVitaliz en
                cliquant sur <a class="href" href="{% url 'projects-onboarding' %}">ce lien</a>
            </p>
        </div>
        <div class="col-xl-3 col-lg-6 px-4">
            <span class="step">2. Approfondissement</span>
            <p>
                L'équipe échange avec la collectivité pour clarifier ensemble
                les besoins
            </p>
        </div>
        <div class="col-xl-3 col-lg-6 px-4">
            <span class="step">3. Etude</span>
            <p>
                L'équipe recherche les acteurs et les solutions existantes pour
                vous permettre d'avancer
            </p>
        </div>
        <div class="col-xl-3 col-lg-6 px-4">
            <span class="step">4. Recommandation</span>
            <p>
                La collectivité retrouve nos recommandations via l'outil et peut
                recontacter l'équipe pour plus d'éléments
            </p>
        </div>
    </div>
    
</div>

{% endblock %}
