{% extends "base.html" %}

{% load sass_tags %}
{% load static %}

{% block css %}
<link href="{% sass_src 'home/css/dsfr/dsfr.css' %}" rel="stylesheet" type="text/css">
<link href="{% sass_src 'home/css/dsfr/custom-dsfr.scss' %}" rel="stylesheet" type="text/css">
<link href="{% sass_src 'home/css/auth/auth.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="fr-container fr-py-6w max-width-800" style="font-family: 'Marianne', arial, sans-serif;">
    <div class="d-flex flex-column justify-content-between align-items-start">
      <h1 class="fr-mb-4w">
        <svg class="bi me-2" width="28" height="28">
          <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#file-lock2-fill" />
        </svg>
        Ajouter un mot de passe
      </h1>
      <p class="mb-4">
        Merci de définir un mot de passe pour votre compte.</br>
        E-mail renseigné : <strong>{{ user.email }}</strong>
      </p>
    </div>
    <form class="login fr-form-group" method="POST" action=".">
      {% csrf_token %}
      <fieldset class="fr-fieldset">
        <div class="fr-fieldset__content">
          {{ form.as_p }}
          <div class="d-flex justify-content-between align-items-start fr-mt-10v">
            <div class="d-flex flex-column align-items-start">
              <div class="fr-input-group">
                <button class="fr-btn custom-login-button" type="submit">
                  Ajouter le mot de passe
                </button>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <hr style="height: 1px;margin-bottom: 20px;background-color: grey!important; background-image: none;" />
{% endblock %}
