{% extends "base.html" %}

{% load gravatar %}

{% load sass_tags %}
{% load static %}

{% block css %}
<link href="{% sass_src 'css/home/home.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="col-8 py-3 g-0 mx-auto">

    <h2>Qui sommes-nous ?</h2>

    <p>
        La "startup d'Etat" <strong>UrbanVitaliz est une équipe projet</strong> portée par le <a href="https://www.cerema.fr/fr" target="_new">Cerema</a>, en partenariat avec <a href="https://beta.gouv.fr/" target="_new">Beta.gouv.fr</a>, et sponsorisé par le Ministère de la Transition Ecologique et l'Etablissement Public Foncier du Nord-Pas-de-Calais.
    </p>
    <p>
        L'objectif est de <strong>créer un service public gratuit d'appui aux petites collectivités pour la reconversion des friches</strong>, en lien avec les objectifs de sobriété foncière du gouvernement.
    </p>
    <p>
        L'équipe est composée d'une agente du Cerema, d'une coach en méthodologie de création de services centrés usagers, d'urbanistes/chargées de déploiement et de développeurs/UX designers.
    </p>


    <h3>Pourquoi le terme "startup" ?</h3>

    <p>
        Parce que l'équipe agit en-dehors du cadre classique de l'administration, en adoptant une méthode itérative de design de service sans cahier des charges, uniquement orientée par les retours utilisateurs : on prend la méthodologie des startups "agiles" pour créer des services publics gratuits !
    </p>
    <p>
        Au fil de l'eau, nous créons des outils numériques. Tous nos contenus évoluent progressivement, peuvent être corrigés ou supprimés en fonction des besoins utilisateurs. Aussi, n'hésitez pas à nous contacter si vous voulez réagir sur ce que <a href="{% url 'resources-resource-search' %}">nous proposons</a> !
    </p>

    <p>
        Plus de détail sur les enjeux d'UrbanVitaliz <a href="https://beta.gouv.fr/startups/urbanvitaliz.html" target="_new">ici</a>.
    </p>

    <p>
        <strong>Pour nous contacter : via le <a href="{% url 'home-contact' %}">formulaire de contact</a> ou friches@beta.gouv.fr</strong>
    </p>

    <div class="row row-cols-1 row-cols-sm-4 row-cols-md-6 g-2">
        <!-- Guillaume -->
        <div class="col">
            <div class="card" style="width: 160px">
                <img src="{% gravatar_url 'guillaume.libersat@beta.gouv.fr' 160 %}"
                     alt="Guillaume Libersat"
                     class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center">Guillaume,<br/> <em>Développeur</em></p>
                </div>
            </div>
        </div>
        <!-- Raph -->
        <div class="col">
            <div class="card" style="width: 160px">
                <img src="{% gravatar_url 'raphael.marvie@beta.gouv.fr' 160 %}"
                     alt="Raphael Marvie"
                     class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center">Raphael,<br/> <em>Développeur</em></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 160px">
                <img src="{% gravatar_url 'anouk.jeanneau@beta.gouv.fr' 160 %}"
                     alt="Anouk Jeanneau"
                     class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center">Anouk,<br/> <em>Urbaniste</em></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 160px">
                <img src="{% gravatar_url 'salome.deschenes@beta.gouv.fr' 160 %}"
                     alt="Salomé Deschênes"
                     class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center">Salomé,<br/> <em>Urbaniste</em></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 160px">
                <img src="{% gravatar_url 'perrine.rutkowski@cerema.fr' 160 %}"
                     alt="Perrine Rutkwnski"
                     class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center">Perrine,<br/> <em>Intrapreneuse</em></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 160px">
                <img src="{% gravatar_url 'sabine.safi@gmail.com' 160 %}"
                     alt="Sabine Safi"
                     class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center">Sabine,<br/> <em>Coach</em></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 160px">
                <img src="{% gravatar_url 'rahman.kalfane@beta.gouv.fr' 160 %}"
                     alt="Rahman Kalfane"
                     class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center">Rahman,<br/> <em>UX designer</em></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 160px">
                <img src="{% gravatar_url 'corentin.pouliquen@beta.gouv.fr' 160 %}"
                     alt="Corentin Pouliquen"
                     class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center">Corentin,<br/> <em>Déploiement</em></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
