{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="col-11 py-5 mx-auto">


    <div class="row recommendation-list mb-3">
        <div class="col-sm-12 col-lg-8 col-xl-9 mb-5">

            <h2>
                <svg class="bi rounded-circle p-2" width="40" height="40">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#signpost-fill"/>
                </svg>&nbsp;
                <span class="align-middle">Configuration du Pré-fléchage</span>
            </h2>

            <span class="text-secondary">Vous pouvez configurer ici les ressources qui seront pré-fléchées à partir des signaux collectés par les réponses aux questions de l'exploration.</span>

        </div>

        <!-- Sidebar -->
        <div class="col-sm-12 col-lg-4 col-xl-3 border-start">
            <!-- Ajouter -->
            <div class="d-grid gap-2">
                <a class="btn btn-light btn-sm" href="{% url 'projects-task-recommendation-create' %}" role="button">
                    <svg class="bi" width="16" height="16" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#plus-circle"/>
                    </svg>
                    &nbsp;
                    Ajouter un pré-fléchage
                </a>
            </div>
        </div>

        <!-- main content -->
        <div>
            {% for recommendation in recommendations %}
            <div class="d-flex mb-4">
                <div class="col-8" id="q-{{ recommendation.id }}">
                    <div class="mt-3 d-flex justify-content-between pe-4">
                        <div>
                        <svg class="bi align-middle" width="20" height="20" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#signpost"/>
                        </svg>&nbsp;

                        <span class="text-secondary align-middle fw-bold d-inline-block">
                            {% if recommendation.departments.all.count > 0 %}
                            Limité à : {% for department in recommendation.departments.all %}{{ department.name }}{% if not forloop.last %}, {%endif%}{% endfor %}
                            {% else %}
                            Toute la France
                            {% endif %}
                        </span>
                        <div class="ms-4 text-secondary align-middle d-inline-block">
                            <svg class="bi me-1 align-middle" width="16" height="16" fill="currentColor">
                                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#alt"/>
                            </svg>
                            <span class="align-middle">
                            Condition :
                            {% for tag in recommendation.condition_tags %}
                            <span class="badge bg-dark rounded-pill">{{ tag }}</span>
                            {% if not forloop.last %}+{% endif %}
                            {% endfor %}
                            </span>
                        </div>
                        </div>

                        <div class="btn-group ms-5 align-middle" role="group" aria-label="actions">

                            <a class="btn btn-light mb-1 d-inline-block btn-outline-primary btn-sm"  href="{% url 'projects-task-recommendation-update' recommendation.pk %}">
                                <svg class="bi me-1" width="16" height="16" fill="currentColor">
                                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#pen"/>
                                </svg>
                                Éditer
                            </a>

                        </div>

                    </div>
                    <div class="d-block w-100 pe-4">
                        <div class="text-secondary my-2">
                            Message aiguilleuse : "{{ recommendation.text }}"
                        </div>

                        {% include 'projects/project/fragments/action_list_item.html' with task=recommendation hide_comments=True disable_tracking=True disable_edit=True %}
                    </div>

                </div>
                <div class="col-4 border-start ps-4 pt-3">
                    <div class="small">
                        <svg class="bi me-1 align-middle" width="16" height="16" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#info-circle"/>
                        </svg>
                        Déclenchable par :
                        <ul>
                            {% for choice in recommendation.trigged_by %}
                            <li>{{ choice.conclusion|default:choice.text }}</li>
                            {% empty %}
                            <li class="text-danger">---Non déclenchable--</li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
            {% empty %}
            <div class="bd-callout bd-callout-info">
                Il n'y a pas de pré-fléchage pour l'instant.
                <a href="{% url 'projects-task-recommendation-create' %}">Créez-en un</a>.
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}
