{% load static %}
{% load gravatar %}
<div :id="p.id""
    class="drag-targetable py-1 my-1"
    @dragover="onDragOver(event)"
    @drop="onDrop(event, board.code)"
    @dragenter="onDragEnter(event)"
    @dragleave="onDragLeave(event)">
    <div class="bg-white border rounded border-1 px-3 py-3 position-relative"
         :style="`border-color:${getProjectRoleColor(p.project)} !important`"
         draggable="true"
         @dragstart="onDragStart(event, p.id)"
         @dragend="onDragEnd(event)">
        <div class="d-flex align-items-center">
            <template x-if="p.status === 'NEW' ">
                <i style="background-color: #0063CB" class="status-color-indicator me-2"></i>
            </template>
            <span style="cursor:pointer;
                         font-size: 18px"
                  class="fw-bold mt-0 pt-0 font-normal mb-0"
                  x-text="p.project.name">
            </span>
        </div>
        <figure class="project-notification" x-text="p.project.notifications.count">
        </figure>
        <template x-if="p.project.commune">
            <div class="fw-normal text-uppercase small d-flex align-items-center my-1">
                <svg class="align-middle bi me-2"
                     width="18px"
                     height="18px"
                     fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#geo-alt" />
                </svg>
                <span class="me-1" x-text="p.project.commune.name"></span>
                <span x-text="`(${p.project.commune.postal})`"></span>
            </div>
        </template>
        <div class="font-small text-dark d-flex align-items-center">
            <svg class="align-middle bi me-2"
                 width="18px"
                 height="15px"
                 fill="currentColor">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#calendar-event" />
            </svg>
            <span x-text=" p.status === 'NEW' ? `Déposé le ${formatDate(p.project.created_on)}`: `Modifié le ${formatDate(p.project.updated_on)}` "
                  class="align-middle"></span>
        </div>
        <div class="d-flex mt-3 justify-content-between align-items-center">
            <div class="d-flex">
                <template x-if="p.status === 'NEW' ">
                    <span class="text-uppercase small fw-medium text-muted d-flex my-0">Nouveau projet</span>
                </template>
                <span :style="`color:${getProjectRoleColor(p.project)} !important`" class="text-uppercase small fw-medium text-muted d-flex my-0" x-text="p.project.recommendation_count >
                    0 ? `${p.project.recommendation_count} recommandations` : `${p.project.recommendation_count} recommandation`">
                </span>
            </div>
            <div class="d-flex align-items-center">
                <template x-for="switchtender in p.project.switchtenders">
                    <div>
                        <img class="align-middle rounded-circle d-inline-block"
                             width="25px"
                             :src="gravatar_url(switchtender.email, 25, switchtender.first_name + ' ' + switchtender.last_name)"
                             data-bs-toggle="tooltip"
                             data-bs-placement="bottom"
                             :title="`${switchtender.first_name} ${switchtender.last_name}`"
                             style="z-index: 1000"
                             tabindex="0">
                    </div>
                </template>
            </div>
        </div>
    </div>
</div>
