{% load static %}
</script>
<div x-data="AdvisorDashboard" x-init="getData();">
    <header class="d-flex mb-2 w-100">
        <div class="d-flex justify-content-between align-items-start w-100">
            <div class="d-flex flex-column">
                <div class="d-flex align-items-center">
                    <h2 class="mb-1 d-flex align-items-center">Mon tableau de bord</h2>
                    <span class="text-muted fw-normal mt-0 ms-2"
                          x-text="`${data.length} projets`"></span>
                    <div x-show="isBusy" class="ms-2" style="width: 24px; height: 24px">
                        <div class="spinner-border spinner-border spinner-border-sm text-primary"
                             role="status"></div>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-4 text-muted text-small">
                    <div class="d-flex align-items-center me-2">
                        <svg class="align-middle bi me-2"
                             width="18px"
                             height="18px"
                             fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#bell" />
                        </svg>
                        <span x-text="totalNotifications > 0 ? `${totalNotifications} Notifications` : `${totalNotifications} Notification`"></span>
                    </div>
                    <div class="d-flex align-items-center me-2">
                        <svg class="align-middle bi me-2"
                             width="18px"
                             height="18px"
                             fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#folder" />
                        </svg>
                        <span x-text="nbNewProjects > 0 ? `${nbNewProjects} Nouveaux projets` : `${nbNewProjects} Nouveau projet`"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="d-flex justify-content-start row flex-nowrap"
         style="overflow-x: scroll">
        <template x-for="board in boards"
                  :key="board.code instanceof Array ? board.code[0] : board.code">
            <div class="px-2 bg-light border-top border-4 me-3"
                 :style="`border-color:${board.color}!important;width:30%`">
                <h5 x-text="board.title" class="font-medium text-gray-800 mt-2"></h5>
                <div style="height: 80vh; overflow-y: auto;">
                    <template x-if="column(board.code).length === 0">
                        <div class="drag-targetable py-3"
                             @dragover="onDragOver(event, null)"
                             @drop="onDrop(event, board.code)"
                             @dragenter="onDragEnter(event)"
                             @dragleave="onDragLeave(event)">
                            <div class="drag-placeholder rounded d-flex align-items-center justify-content-center text-uppercase"
                                 style="height: 100px;
                                        font-size: 0.8em">
                                Glissez et déposez une carte ici
                            </div>
                        </div>
                    </template>
                    <template x-for="(p, taskIndex) in column(board.code)" :key="p.id" class="col">
                        {% include 'projects/project/fragments/kanban_projects/kanban_project_item.html' %}
                    </template>
                </div>
            </div>
        </template>
    </div>
</div>
