<div class="d-flex justify-content-between align-items-center">
    <a href="https://github.com/user-attachments/files/19451542/Tuto.conseillers.-.reco-co.pdf"
       target="_blank"
       class="fr-btn fr-btn--tertiary-no-outline w-50 justify-content-center">Télécharger le guide conseiller en pdf <span class="sr-only">Nouvelle fenêtre</span></a>
    <a href="https://www.canva.com/design/DAGaHjqFsdY/6gKxY1Xrjd7oJ2MSZdyB9Q/view"
       target="_blank"
       class="fr-btn w-50 justify-content-center">Voir le guide du conseiller <span class="sr-only">Nouvelle fenêtre</span></a>
</div>
