{% extends "account/layout/layout.html" %}
{% block layout_content %}
    <form class="form"
          action="{% url 'advisor-access-request' %}"
          method="post">
        {% csrf_token %}
        <fieldset class="fr-fieldset">
            <h4 class="fr-mb-3w d-block">Sélectionnez vos départements d'action</h4>
            <div class="fr-fieldset__content">
                <div class="fr-input-group fr-mt-4v"
                     x-data="RegionDepartmentPreparer({ selectedDepartments: [] })"
                     x-init="init()">
                    <template x-if="objectsToSelect && objectsToSelect.length">
                        <div x-data="alpineMultiSelect({ selected: selectedDepartments, objectsToSelect: objectsToSelect, isRegion: true })">
                            {% include "tools/contacts/multi_select.html" with placeholder="Cherchez et sélectionnez vos départements pour avoir accès aux dossiers" label="Sélectionnez un ou plusieurs départements, laissez vide pour toute la France" is_region=True %}
                            <template x-for="dept in selectedDepartments" :key="dept">
                                <input type="hidden" name="departments" :value="dept">
                            </template>
                        </div>
                    </template>
                    <template x-if="!objectsToSelect || !objectsToSelect.length">
                        <div>Chargement des départements...</div>
                    </template>
                </div>
                <div class="fr-input-group fr-mt-4v">
                    <label for="comment" class="fr-label">
                        {{ form.fields.comment.label }}
                        {% if form.fields.comment.required %}
                            <span class="fr-text--bold">(obligatoire)</span>
                        {% else %}
                            <span>(facultatif)</span>
                        {% endif %}
                    </label>
                    <helptext>{{ form.fields.comment.help_text }}</helptext>
                    <textarea name="comment"
                              class="fr-input"
                              id="comment"
                              rows="3"
                              {% if form.fields.comment.required %}required{% endif %}></textarea>
                </div>
                <button class="fr-btn custom-login-button w-100" type="submit">S'inscrire</button>
            </div>
        </fieldset>
    </form>
{% endblock layout_content %}
