{% extends "account/layout/layout.html" %}
{% block layout_content %}
    <form class="form"
          action="{% url 'advisor-access-request-moderator' advisor_access_request.pk %}"
          method="post">
        {% csrf_token %}
        <fieldset class="fr-fieldset">
            <h4 class="fr-mb-3w d-block">Sélectionnez vos départements d'actions</h4>
            <div class="fr-fieldset__content">
                <div class="fr-input-group fr-mt-4v"
                     x-data="{objectsToSelect: JSON.parse(document.getElementById('departmentsArray').textContent), selectedDepartments: {{ selected_departments|default:'[]' }} }"
                     @set-departments="selectedDepartments = $event.detail">
                    {% include "tools/contacts/multi_select.html" with placeholder="Sélectionnez un ou plusieurs départements, laisser vide pour toute la France" %}
                    <template x-for="dept in selectedDepartments" :key="dept">
                        <input type="hidden" name="departments" :value="dept">
                    </template>
                    <button class="fr-btn custom-login-button w-100"
                            type="submit"
                            data-test-id="save-modif-departments"
                            @click="sessionStorage.setItem( 'view', 'advisor')">Enregistrer</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock layout_content %}
