{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% load sass_tags %}

{% block css %}
<link href="{% sass_src 'resources/resources.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="col-7 py-5 mx-auto">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#book"/>
                </svg>&nbsp;
                <a href="{% url 'resources-resource-search' %}">Ressources</a>
            </li>
            <li class="breadcrumb-item active">
                Créer une nouvelle ressource
            </li>
        </ol>
    </nav>

    <section>

	      <form id="form-resource-create"
				      method="post"
				      action="."
				>

		        {% csrf_token %}


            <h2>
                <svg class="bi " width="32" height="32" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#book"/>
                </svg>&nbsp;
                Créer une ressource
            </h2>

            <div class="bd-callout bd-info" >
                <svg class="bi " width="16" height="16" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#lightbulb"/>
                </svg>&nbsp;
                Veuillez utiliser un titre qui reprend le problème de l'utilisateur, court et parlant.
                <p class="mb-0">Par ex : <em class="text-secondary">"Financer des travaux de récupération des eaux pluviales"</em> plutôt que <em class="text-secondary">"Financements de l'Agence de l'eau"</em></p>
            </div>
            {{ form.as_p }}


		        <button type="submit" class="btn btn-primary">
			          Créer
		        </button>
	      </form>

        {{ form.media }}

    </section>

</div>

{% endblock %}
