{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% load sass_tags %}

{% block css %}
<link href="{% sass_src 'resources/resources.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="col-11 py-5 mx-auto">
	<!-- Breadcrumb -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<svg class="bi align-middle" width="18" height="18" fill="currentColor">
					<use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#book" />
				</svg>&nbsp;
				<a href="{% url 'resources-resource-search' %}">Ressources</a>
			</li>
			<li class="breadcrumb-item active">
				<a href="{% url 'resources-resource-detail' resource.id %}">
					{{ resource.title|title|truncatechars:20 }}
				</a>
				<span class="badge bg-light text-dark align-middle">
					{{ resource.category.name|default:"Ressource" }}
					</a>
				</span>
			</li>
		</ol>
	</nav>
	<h3 class="d-flex align-items-center"> 
		<svg class="bi align-middle me-2" width="25" height="25">
			<use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#trash" />
		</svg>
		Êtes-vous sûr de vouloir supprimer cette ressource ?
	</h3>
	<div class="flag red d-block mt-4">
        <span class="title text-red text-uppercase fw-bold mb-2 d-block d-flex align-items-center">
			<svg class="bi align-middle me-2" width="20" height="20" fill="#CE0500">
				<use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#exclamation-triangle-fill" />
			</svg>
			Supression de ressource
		</span>
        <p class="content mb-0">
            <a class="mb-0" href="{% url 'resources-resource-detail' resource.id %}">{{ resource.title|title }}</a>
        </p>
		<form id="form-resource-delete" method="post" action="{% url 'resources-resource-delete' resource.pk %}"
		class="form mt-2">

		{% csrf_token %}

		{{ form.as_p }}

		<button type="submit" class="button red filled mt-2">
			Oui, je supprime cette ressource
		</button>
	</form>
    </div>
</div>

{% endblock %}
