{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% load sass_tags %}

{% block css %}
<link href="{% sass_src 'resources/resources.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="col-11 py-5 mx-auto">
	  <form id="form-resource-delete"
				  method="post"
				  action="{% url 'resources-resource-delete' resource.pk %}"
				  class="form">

		    {% csrf_token %}

        T'es tu vraimin certain?

        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">
			      Criss, waé!
		    </button>

    </form>

</div>

{% endblock %}
