{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% load sass_tags %}

{% block css %}
<link href="{% sass_src 'resources/resources.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="col-11 py-5 mx-auto">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#key"/>
                </svg>&nbsp;
                <a href="{% url 'resources-resource-search' %}">Ressources</a>
            </li>
            <li class="breadcrumb-item active">{{ resource.title|title|truncatechars:20 }}
                <span class="badge bg-light text-dark align-middle">{{ resource.category.name|default:"Ressource" }}</span>
            </li>
        </ol>
    </nav>

    <div class="row resource-details mb-3">
        <div class="col-sm-12 col-lg-8 col-xl-9">

            <h1 class="mb-3 text-break">
                <span data-bs-toggle="tooltip" data-bs-placement="left" title="{{ resource.category.name|default:"Ressource" }}">
                    <svg class="bi me-2 rounded-circle align-middle resource-icon bg-color-{{ resource.category.color|default:"darkgrey" }}">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#{{ resource.category.icon|default:"key" }}"/>
                    </svg>
                </span>
                {{ resource.title|title }}

                <!-- Toggle Bookmarking -->
                {% if user.is_authenticated %}
                {% if resource.id in user.bookmarks.as_list %}
                <form class="d-inline align-middle" method="POST" action="{% url "resources-bookmark-delete" resource.id %}">
                    {% csrf_token %}
                    <button class="d-inline-block btn btn-text"  data-bs-toggle="tooltip" data-bs-placement="right" title="Retirer de vos favoris">
                        <svg class="bi align-baseline text-warning" width="24" height="24">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#star-fill"/>
                        </svg>
                    </button>
                </form>

                {% else %}

                <form class="d-inline align-middle" method="GET" action="{% url "resources-bookmark-create" resource.id %}">
                    <button class="d-inline-block btn btn-text"  data-bs-toggle="tooltip" data-bs-placement="right" title="Ajouter à vos favoris">
                        <svg class="bi align-baseline text-warning" width="24" height="24">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#star"/>
                        </svg>
                    </button>
                </form>

                {% endif %}
                {% endif %}
            </h1>

            <!-- Area -->
            {% if resource.departments.count %}
            <div class="d-inline text-secondary">
                <svg class="bi" width="16" height="16" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#globe"/>
                </svg>&nbsp;
                <span class="small">
                    {% for department in resource.departments.all %}
                    {{ department.name }}
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </span>
            </div>
            {% endif %}

            {% if resource.departments.count and resource.tags %}
            &nbsp;-&nbsp;
            {% endif %}

            <div class="mb-2 d-inline">
                {% for tag in resource.tags_as_list  %}
                <span class="badge rounded-pill bg-light text-dark">#{{ tag }}</span>
                {% endfor %}
            </div>

            {% if resource.subtitle %}
            <h3 class="subtitle text-secondary mt-3">{{ resource.subtitle }}</h3>
            {% endif %}

            {% if bookmark and bookmark.comments %}
            <div class="text-secondary mt-2 p-1">
                <svg class="bi align-baseline" width="12" height="12" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#pen"/>
                </svg>
                <span class="small">Note personnelle</span>
                <br/>
                <q> {{ bookmark.comments }} </q>
                -
                <a href="{% url "resources-bookmark-create" bookmark.resource.id %}" class="small">éditer</a>

            </div>
            {% endif %}

        </div>


        <!-- Sidebar -->
        <div class="col-sm-12 col-lg-4 col-xl-3 border-start">
            <p class="small text-secondary">
                <a href="#" class="d-flex align-items-center link-dark text-decoration-none" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="align-items-center link-dark text-decoration-none">
                        <img src="https://github.com/salomeDeschenes.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    </span>
                    &nbsp;
                    <strong>Rédigé par <strong>Urban Vitaliz</strong></strong>
            </a>

            <p class="small text-secondary">
                <svg class="bi" width="20" height="16" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#clock-history"/>
                </svg>
                Crée <em>{{ resource.created_on|naturalday }}</em> et modifiée <em>{{ resource.updated_on|naturaltime }}</em>.
            </p>

            <!-- User actions -->
            <div class="d-grid gap-2 mt-3">
                <a class="btn btn-primary btn-sm" href="mailto:contact@urbanvitaliz.fr?subject=Une question sur la ressource '{{ resource.title|truncatewords:4 }}'" role="button">
                    <svg class="bi" width="16" height="16" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#envelope"/>
                    </svg>
                    &nbsp;
                    Poser une question
                </a>
            </div>

            {% if user.is_staff %}
            <!-- Staff actions -->

            <!-- Push Resource -->
            <div class="d-grid gap-2 mt-3">
                {% if "project_id" in request.session %}
                <form action="{% url "projects-create-resource-action" resource.id %}" method="GET">
                    <button type="submit" class="btn btn-success w-100 btn-sm" role="submit">
                        <svg class="bi" width="16" height="16" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#layer-forward"/>
                        </svg>
                        &nbsp;
                        Pousser la ressource
                    </button>
                </form>
                {% else %}
                <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="left" title="Sélectionner d'abord un projet pour pousser une ressource">
                    <button type="submit" class="btn btn-light w-100 btn-sm" role="submit" disabled>
                        <svg class="bi" width="16" height="16" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#layer-forward"/>
                        </svg>
                        &nbsp;
                        Pousser la ressource
                    </button>
                </span>
                {% endif %}
            </div>

            <!-- Edit -->
            <div class="d-grid gap-2 mt-3">
                <a class="btn btn-light btn-sm" href="{% url 'resources-resource-update' resource.id %}" role="button">
                    <svg class="bi" width="16" height="16" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#pen"/>
                    </svg>
                    &nbsp;
                    Éditer
                </a>
            </div>

            {% endif %}



        </div>

    </div>

    {% if resource.summary %}
    <div class="bd-callout text-secondary">
        <svg class="bi me-2 align-middle" width="16" height="16">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#chat-right-quote"/>
        </svg>
        &nbsp; 
        {{ resource.summary }}
    </div>
    {% endif %}

    <div class="text-justified">
        {{ resource.content_rendered|safe }}
    </div>

    {% if resource.contacts.count %}
    <div class="contact-list mt-5 mb-5">
        <h3>
            <svg class="bi me-2 align-middle" width="24" height="24">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#person-badge"/>
            </svg>
            Contact{{ resource.contacts.count|pluralize }}
        </h3>
        <div class="row row-cols-1 row-cols-md-2">
            {% for contact in resource.contacts.all %}
            <div class="col" id="contact-{{ contact.id }}">
                {% include 'addressbook/widgets/card_contact_horizontal.html' with contact=contact show_id=True %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <li class="list-group-item border-0 p-0 mb-3">
    <div class="bd-callout mt-6">
        <svg class="bi me-2 align-middle" width="24" height="24">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#question-circle-fill"/>
        </svg>
        &nbsp;
        Un problème sur cette ressource ? Un doute, des questions ? N'hésitez pas à <a href="mailto:contact@urbanvitaliz.fr?subject=Une question sur la ressource '{{ resource.title|truncatewords:4 }}'"">nous interpeller</a>.
    </div>

</div>

{% endblock %}
