{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% load sass_tags %}

{% block css %}
<link href="{% sass_src 'resources/resources.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="col-11 py-5 mx-auto">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#book"/>
                </svg>&nbsp;
                <a href="{% url 'resources-resource-search' %}">Ressources</a>
            </li>
            <li class="breadcrumb-item active">{{ resource.title|title|truncatechars:20 }}
                <span class="badge bg-light text-dark align-middle">{{ resource.category.name|default:"Ressource" }}</span>
            </li>
        </ol>
    </nav>

    <div class="row resource-details mb-3">
        <div class="col-sm-12 col-lg-8 col-xl-9">

            <h1 class="mb-3 text-break">
                <span data-bs-toggle="tooltip" data-bs-placement="left" title="{{ resource.category.name|default:"Ressource" }}">
                    <svg class="bi me-2 rounded-circle align-middle resource-icon bg-color-{{ resource.category.color|default:"black" }}">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#{{ resource.category.icon|default:"book" }}"/>
                    </svg>
                </span>
                {{ resource.title|title }}

            </h1>

            <div class="mb-2">
                {% for tag in resource.tags_as_list  %}
                <span class="badge rounded-pill bg-light text-dark">#{{ tag }}</span>
                {% endfor %}
            </div>


            {% if resource.subtitle %}
                <h3 class="subtitle text-secondary mt-3">{{ resource.subtitle }}</h3>
            {% endif %}

        </div>


        <!-- Sidebar -->
        <div class="col-sm-12 col-lg-4 col-xl-3 border-start">
            <p class="small text-secondary">
                <a href="#" class="d-flex align-items-center link-dark text-decoration-none" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="align-items-center link-dark text-decoration-none">
                        <img src="https://github.com/salomeDeschenes.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    </span>
                    &nbsp;
                    <strong>Rédigé par <strong>Urban Vitaliz</strong></strong>
            </a>

            <p class="small text-secondary">
                <svg class="bi" width="20" height="16" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#clock-history"/>
                </svg>
                Crée <em>{{ resource.created_on|naturalday }}</em> et modifiée <em>{{ resource.updated_on|naturaltime }}</em>.
            </p>

            <!-- User actions -->
            <div class="d-grid gap-2 mt-3">
                <a class="btn btn-primary btn-sm" href="mailto:contact@urbanvitaliz.fr?subject=Une question sur la ressource '{{ resource.title|truncatewords:4 }}'" role="button">
                    <svg class="bi" width="16" height="16" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#envelope"/>
                    </svg>
                    &nbsp;
                    Poser une question
                </a>
            </div>

            {% if user.is_staff %}
            <!-- Staff actions -->
            <div class="d-grid gap-2 mt-3">
                <a class="btn btn-light btn-sm" href="{% url 'resources-resource-update' resource.id %}" role="button">
                    <svg class="bi" width="16" height="16" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#pen"/>
                    </svg>
                    &nbsp;
                    Éditer
                </a>
            </div>
            {% endif %}

        </div>

    </div>

    {% if resource.quote %}
    <div class="bd-callout text-secondary">
        <svg class="bi me-2 align-middle" width="16" height="16">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#chat-right-quote"/>
        </svg>
        &nbsp;
        {{ resource.quote }}
    </div>
    {% endif %}

    <div class="text-justified">
        {{ resource.content_rendered|safe }}
    </div>

    <div class="bd-callout mt-6">
        <svg class="bi me-2 align-middle" width="24" height="24">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#question-circle-fill"/>
        </svg>
        &nbsp;
        Un problème sur cette ressource ? Un doute, des questions ? N'hésitez pas à <a href="mailto:contact@urbanvitaliz.fr?subject=Une question sur la ressource '{{ resource.title|truncatewords:4 }}'"">nous interpeller</a>.
    </div>

</div>

{% endblock %}
