{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% load sass_tags %}

{% block css %}
<link href="{% sass_src 'resources/resources.scss' %}" rel="stylesheet" type="text/css">
<link href="{% sass_src 'resources/resource_card.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block js %}
<script type="text/javascript">
 $(document).ready(function() {
     $(".filters-categories .form-check-input").click(function() { $(".quick-search form").submit(); });
 });
</script>
{% endblock %}

{% block content %}

<div class="col-11 py-5 mx-auto">

    <div class="row">
        <div class="col">
            <h1 class=" align-items-center mb-3">
                <svg class="bi" width="38" height="38" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#key"/>
                </svg>
                Ressources
            </h1>

            <div class="text-secondary small mb-3">
                L'équipe crée des ressources en fonction des besoins que vous nous soumettez !<br/>
                Retrouvez ci-dessous quelques ressources déjà en ligne.
            </div>

        </div>

        {% if user.is_staff %}
        <!-- Sidebar -->
        <div class="col-sm-4 col-lg-2 col-xl-2 align-content-top border-start mb-3">
            <span class="text-secondary small smallcaps">Administration</span>
            <!-- Staff actions -->
            <div class="d-grid gap-2 mt-3">
                <a class="btn btn-light btn-sm" href="{% url 'resources-resource-create' %}" role="button">
                    <svg class="bi" width="16" height="16" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#plus-circle"/>
                    </svg>
                    &nbsp;
                    Créer une ressource
                </a>
            </div>
        </div>
        {% endif %}
    </div>

    <!-- Search -->
    <div class="quick-search mb-5">
        <form method="GET">
            <input id='searching' type='hidden' value='on' name='searching'>

            <div class="input-group mb-3">

                {% if limit_area != None and user.is_authenticated %}
                <div class="input-group-text">
                    <input name="limit_area" class="form-check-input mt-0" type="checkbox" aria-label="Limiter à ma zone géographique"
                           {% if limit_area  %}checked{% endif %}>
                    &nbsp;
                    Seulement pour ma région

                </div>
                {% endif %}

                <input type="text" name="{{ form.query.name }}" value="{{ form.query.value|default:"" }}"
                       class="form-control" placeholder="Saisissez vos mots clés (ex: coworking, pollution, ...)"
                       aria-label="Search Text input" />


                {% if my_xdepartments %}
                <div class="">
                    <svg class="bi" width="16" height="16" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#globe"/>
                    </svg>
                    <!-- Geo filters -->
                    {% for department in my_departments %}
                    <label class="">{{ department.name }}</label>
                    {% endfor %}
                    )
                </div>
                {% endif %}


                <button class="btn btn-outline-primary" type="submit">
                    <svg class="bi" width="16" height="16" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#search"/>
                    </svg>&nbsp;
                    Rechercher
                </button>

            </div>


            <!-- Categories -->
            <div class="filters-categories">
                <span class="small text-secondary">Catégories :</span>&nbsp;
                {% for category in form.category_fields %}
                <span class="form-check form-switch form-check-inline">
                    <input class="form-check-input" type="checkbox" name="{{ category.the_category.form_label }}"
                           id="check-{{ category.the_category.form_label }}"
                           {% if category.checked %}checked{% endif %}
                    >
                    <label class="form-check-label text-secondary" for="check-{{ category.the_category.form_label }}">{{ category.the_category }}</label>
                </span>
                {% endfor %}
            </div>

        </form>
    </div>


    <!-- Results -->
    {% if query %}
    <div class="row align-center mb-3">

        {% if not resources %}
        <div class="col-6 offset-md-3 fs-5">
            <svg class="bi" width="20" height="20" fill="currentColor">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#signpost-split-fill"/>
            </svg>&nbsp;
            Aucun résulat trouvé pour "<em>{{ query }}</em>" ;-( <br/>
            <span class="text-secondary">Essayez de supprimer des mots-clés ou d'ajouter des catégories.</span>
            <br/>
            <span class="small">Vous pouvez aussi <a href="{% url 'resources-resource-search' %}">réinitialiser</a> vos critères de recherche.</span>
        </div>
        {% else %}
        <div class="col-12">
            <span class="text-secondary">
                {{ resources.count }} résultat{{ resources|pluralize }} trouvé{{ resources|pluralize }} pour "<em>{{ query }}</em>".
            </span>
        </div>
        {% endif %}
    </div>
    {% endif %}

    <!-- Result cards -->
    <div class="row row-cols-1 row-cols-md-4 g-4">

        {% for resource in resources %}
        <!-- Card Grid -->
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12">
            {% include "resources/resource/widgets/card_standard.html" %}
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}
