{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% load sass_tags %}

{% block css %}
<link href="{% sass_src 'resources/resources.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block js %}
<script type="text/javascript">
 $(document).ready(function() {
     $(".form-check-input").click(function() { $("form").submit(); });
 });
</script>
{% endblock %}

{% block content %}

<div class="col-11 py-5 mx-auto">

    <div class="row">
        <div class="col">
            <h1 class=" align-items-center mb-3">
                <svg class="bi" width="38" height="38" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#book"/>
                </svg>
                Ressources
            </h1>

            <div class="text-secondary small mb-3">
                Vous trouverez ici toutes nos ressources ayant pour but de vous guider à travers votre parcours.
            </div>

        </div>

        {% if user.is_staff %}
        <!-- Sidebar -->
        <div class="col-sm-4 col-lg-2 col-xl-2 align-content-top border-start mb-3">
            <span class="text-secondary small smallcaps">Administration</span>
            <!-- Staff actions -->
            <div class="d-grid gap-2 mt-3">
                <a class="btn btn-light btn-sm" href="{% url 'resources-resource-create' %}" role="button">
                    <svg class="bi" width="16" height="16" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#plus-circle"/>
                    </svg>
                    &nbsp;
                    Créer une ressource
                </a>
            </div>
        </div>
        {% endif %}
    </div>

    <!-- Search -->
    <div class="quick-search mb-5">
        <form method="GET">
            <div class="input-group mb-3">
                <input type="text" name="{{ form.query.name }}" value="{{ form.query.value|default:"" }}"
                       class="form-control" placeholder="Saisisez vos mots clés (ex: coworking, pollution, ...)"
                       aria-label="Search Text input" />

                <button class="btn btn-outline-secondary" type="submit">
                    <svg class="bi" width="16" height="16" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#search"/>
                    </svg>&nbsp;
                    Rechercher
                </button>

            </div>


            <span class="small text-secondary">Catégories :</span>&nbsp;
            {% for category in form.category_fields %}
            <span class="form-check form-switch form-check-inline">
                <input class="form-check-input" type="checkbox" name="{{ category.the_category.form_label }}"
                       id="check-{{ category.the_category.form_label }}"
                       {% if category.checked %}checked{% endif %}
                >
                <label class="form-check-label" for="check-{{ category.the_category.form_label }}">{{ category.the_category }}</label>
            </span>
            {% endfor %}

        </form>
    </div>


    <!-- Results -->
    {% if query %}
    <div class="row align-center mb-3">

        {% if not resources %}
        <div class="col-6 offset-md-3 fs-5">
            <svg class="bi" width="20" height="20" fill="currentColor">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#signpost-split-fill"/>
            </svg>&nbsp;
            Aucun résulat trouvé pour "<em>{{ query }}</em>" ;-( <br/>
            <span class="text-secondary">Essayez de supprimer des mots-clés ou d'ajouter des catégories.</span>
            <br/>
            <span class="small">Vous pouvez aussi <a href="{% url 'resources-resource-search' %}">réinitialiser</a> vos critères de recherche.</span>
        </div>
        {% else %}
        <div class="col-12">
            <span class="text-secondary">
                {{ resources.count }} résultat{{ resources|pluralize }} trouvé{{ resources|pluralize }} pour "<em>{{ query }}</em>".
            </span>
        </div>
        {% endif %}
    </div>
    {% endif %}

    <!-- Result cards -->
    <div class="row row-cols-1 row-cols-md-4 g-4">

        {% for resource in resources %}
        <!-- Card Grid -->
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12">

            <!-- Card -->
            <div class="card-resource card h-100" style="min-height: 300px;">
                <hr class="middle-hr" />
                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="row">
                            <div class="icon-placeholder col-4">
                                <svg class="bi me-2 rounded-circle resource-icon bg-color-{{ resource.category.color|default:"black" }}">
                                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#{{ resource.category.icon|default:"book" }}"/>
                                </svg>
                            </div>
                            <span class="col-8 category">
                                <span class="badge bg-light text-dark">
                                    {{ resource.category.name|default:"Ressource" }}
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="card-text">

                        <div class="title">
                            <a href="{% url 'resources-resource-detail' resource.id %}" class="text-reset text-decoration-none stretched-link">
                                {{ resource.title|title|truncatechars:35 }}
                            </a>
                        </div>

                        <div class="mb-2">
                            {% for tag in  resource.tags_as_list  %}
                            <span class="badge rounded-pill bg-light text-dark">#{{ tag }}</span>
                            {% endfor %}
                        </div>

                        <div class="small text-secondary subtitle">{{ resource.subtitle|truncatechars:100 }}</div>

                    </div>
                </div>
                <div class="card-footer">
                    {% if user.is_staff %}
                    {% if resource.public %}
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="Publiée">
                        <svg class="bi" width="16" height="16" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#eye-fill"/>
                        </svg>
                    </span>
                    {% else %}
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="Non publiée">
                        <svg class="bi" width="16" height="16" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#eye-slash"/>
                        </svg>
                    </span>
                    {% endif %}
                    &nbsp;
                    {% endif %}
                    <span class="small text-secondary">Mis à jour le {{ resource.updated_on|date|naturaltime }}</span>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}
