{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% load sass_tags %}

{% block css %}
<link href="{% sass_src 'resources/resources.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="col-11 py-5 mx-auto">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#book"/>
                </svg>&nbsp;
                <a href="{% url 'resources-resource-search' %}">Ressources</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{% url 'resources-resource-detail' resource.id %}">
                    {{ resource.title|title|truncatechars:20 }}
                </a>
                <span class="badge bg-light text-dark align-middle">
                    {{ resource.category.name|default:"Ressource" }}
                </a>
                </span>
            </li>
        </ol>
    </nav>

    <section>

	      <form id="form-resource-update"
				      method="post"
				      action="."
				      class="form">

		        {% csrf_token %}

                <p>
                    {{form.title.label}}
                    {{form.title.errors}}
                    {{form.title}}
                </p>
    
                <p>
                    {{form.status.label}}
                    {{form.status.errors}}
                    {{form.status}}
                </p>
    
                <p>
                    {{form.subtitle.label}}
                    {{form.subtitle.errors}}
                    {{form.subtitle}}
                </p>
    
                <p>
                    {{form.summary.label}}
                    {{form.summary.errors}}
                    {{form.summary}}
                </p>
    
                <p>
                    {{form.tags.label}}
                    {{form.tags.errors}}
                    {{form.tags}}
                </p>
    
                <p>
                    {{form.category.label}}
                    {{form.category.errors}}
                    {{form.category}}
                </p>
    
                <div class="d-flex">
                    <p class="w-50 d-flex flex-column select-custom">
                        {{form.departments.label}}
                        {{form.departments.errors}}
                        {{form.departments}}
                    </p>
    
                    <p class="w-50 d-flex flex-column select-custom">
                        {{form.contacts.label}}
                        {{form.contacts.errors}}
                        {{form.contacts}}
                    </p>
                </div>
    
                <div class="d-flex">
                    {% include 'tools/editor.html' with input_name=form.content.name input_value=form.content.value|default:'' input_required=True escapejs=True%}
                </div>
                
                <p>
                    {{form.expires_on.label}}
                    {{form.expires_on.errors}}
                    {{form.expires_on}}
                </p>

		        <button type="submit" class="btn btn-primary">
			          Mettre à jour
		        </button>
	      </form>

        {{ form.media }}

    </section>

    <section>

        <a href="{% url 'resources-resource-delete' resource.pk %}" class="btn btn-danger">
            <svg class="bi " width="16" height="16" fill="currentColor">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#trash"/>
            </svg>
			      Supprimer
		    </a>


    </section>

</div>

{% endblock %}
