# encoding: utf-8

"""
Settings for development

author  : raphael.marvie@beta.gouv.fr,guillaume.libersat@beta.gouv.fr
created : 2021-05-31 11:54:53 CEST
"""

from .common import *

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

ALLOWED_HOSTS = [
    "localhost",
]

INSTALLED_APPS += ("debug_toolbar",)

MIDDLEWARE += ("debug_toolbar.middleware.DebugToolbarMiddleware",)

INTERNAL_IPS = []

DEBUG_TOOLBAR_CONFIG = {
    "SHOW_TOOLBAR_CALLBACK": lambda r: r.environ.get("SERVER_NAME", None)
    != "testserver"
    and (r.META.get("REMOTE_ADDR", None) in INTERNAL_IPS)
}

# Database
# https://docs.djangoproject.com/en/3.2/ref/settings/#databases

DATABASES = {
    "default": {
        "ENGINE": os.environ.get("DB_ENGINE", "django.db.backends.sqlite3"),
        "NAME": os.environ.get("DB_NAME", BASE_DIR / "db.sqlite3"),
        "USER": os.environ.get("DB_USER", None),
        "PASSWORD": os.environ.get("DB_PASSWORD", None),
        "HOST": os.environ.get("DB_HOST", None),
        "PORT": os.environ.get("DB_PORT", None),
    }
}

# EMAIL
EMAIL_BACKEND = "django.core.mail.backends.console.EmailBackend"

SECRET_KEY = os.environ.get("SECRET_KEY")

BREVO_API_KEY = os.environ.get("BREVO_API_KEY")
BREVO_FORCE_DEBUG = True

# Recaptcha
RECAPTCHA_REQUIRED_SCORE = 0

# Vite
DJANGO_VITE_DEV_MODE = True

SILENCED_SYSTEM_CHECKS += ['captcha.recaptcha_test_key_error']
# eof
