.custom-background-home-image {
  background-image: url('../../img/home/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding-top: 250px;
  margin-bottom: 50px;
}

@media (min-width: 48em) {
  .custom-background-home-image {
    padding-top: 250px;
    margin-bottom: 150px;
  }
}

.custom-background-home {
  transform: translate3d(0, 0, 0);
}

@media (min-width: 48em) {
  .custom-background-home {
    transform: translate3d(0, 100px, 0);
  }
}

.center-cropped {
  object-fit: none;
  object-position: center;
  height: 550px;
  width: 550px;
}

.img-shadow {
  filter: drop-shadow(32px 32px 0px #000091);
}

#headline:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url('/static/img/home/background.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.headline-content {
  position: relative;
}

span.step {
  color: white;
  padding-left: 10px;
  font-weight: 500;
  margin-bottom: 20px;
  background-color: #33475b;
  border-radius: 10px 0 0 10px;
  display: block;
  position: relative;
  line-height: 40px;

  &:after {
    content: '';
    position: absolute;
    right: -20px;
    top: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #33475b;
  }
}

.external-links > a {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  text-decoration: none;
  color: #666;
}

.user-quote > q {
  line-height: 1.7em;
}

.custom-banner {
  background-color: white;
  border: 1px solid var(--background-action-high-blue-france);
  color: var(--background-action-high-blue-france);
  padding: 10px 20px;
  width: fit-content;
  position:absolute;
  top:25px;
  display: flex;
  align-items: center;
  border-radius: 1px;
  margin-left: 6rem;
}

.custom-banner a {
  text-decoration: underline;
}

.custom-banner.left-banner {
  left: -10px;
  right: inherit;
}

.custom-banner.left-banner::after {
  left: 0;
}

// .custom-banner::after {
//   content: '';

//   position: absolute;
//   right: 0;
//   top: 100%;
//   z-index: 1;

//   width: 0px;
//   height: 0px;
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
//   border-top: 10px solid #3558a2;
// }


.imiteH6 {
  font-size: 1rem;
  font-weight: 500;
}

.spacing {
  margin-top: 5vh;
}

.div-background {
  background-color: #1b1b35;
}

.specific-maxwidth-160 {
  max-width: 160px;
}

.correct-link-display {
  color: #0000ee;
  text-decoration: underline;
}

.dark-section {
  background: var(--dark-accent-green-archipel-125, #1F2C2E);
  color: white;
}

.custom-hero {
  width: 50%;
  padding-left: 6rem;
  padding-right: 1rem;
  margin-top: 6rem;
}

.hero-div {
  margin: .5rem;
  padding: .5rem;
  margin-top: 2rem;

}

@media (max-width: 48em) {
  .custom-banner {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .custom-banner a {
    margin-top: 15px;
  }
}
@media (min-width: 1100px) and (max-width: 1200px) {

  .hero-img-div img {
    height: 450px;
    width: 450px;
  }
}
@media (max-width: 1100px) {

  .hero-img-div {
    display: none;
  }

  .custom-hero{
    width: 100%;
    // text-align: center;
    padding: 40px 40px 40px 0px;
    margin-top: 0px;
  }

  .hero-div {
    padding: 0px !important;
    text-align: center;
    padding: 40px 40px;
  }

  .custom-banner {
    position: static;
    margin-left: 0px;
    margin: 40px 40px;
  }
}

@media (max-width: 900px) {


}
