.custom-background-home-image {
  background-image: url("../../img/home/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 250px;
  margin-bottom: 50px; }

@media (min-width: 48em) {
  .custom-background-home-image {
    padding-top: 250px;
    margin-bottom: 150px; } }

.custom-background-home {
  transform: translate3d(0, 0, 0); }

@media (min-width: 48em) {
  .custom-background-home {
    transform: translate3d(0, 100px, 0); } }

.center-cropped {
  object-fit: none;
  object-position: center;
  height: 550px;
  width: 550px; }

.img-shadow {
  filter: drop-shadow(32px 32px 0px #000091); }

#headline:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url("/static/img/home/background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover; }

.headline-content {
  position: relative; }

span.step {
  color: white;
  padding-left: 10px;
  font-weight: 500;
  margin-bottom: 20px;
  background-color: #33475b;
  border-radius: 10px 0 0 10px;
  display: block;
  position: relative;
  line-height: 40px; }
  span.step:after {
    content: '';
    position: absolute;
    right: -20px;
    top: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #33475b; }

.external-links > a {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  text-decoration: none;
  color: #666; }

.user-quote > q {
  line-height: 1.7em; }

.imiteH6 {
  font-size: 1rem;
  font-weight: 500; }

.spacing {
  margin-top: 5vh; }

.div-background {
  background-color: #1b1b35; }

.specific-maxwidth-160 {
  max-width: 160px; }

.correct-link-display {
  color: #0000ee;
  text-decoration: underline; }

.hero-div {
  margin: 0.5rem;
  padding: 0.5rem;
  margin-top: 2rem; }
  .hero-div__sub-container {
    position: relative; }
  .hero-div__text-part {
    width: 50%;
    padding-left: 6rem;
    padding-right: 1rem;
    margin-top: 6rem; }
  .hero-div__dark-section {
    background: var(--light-background-alt-blue-france, #f5f5fe);
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 40px; }
  .hero-div__dark-section h2 {
    margin-bottom: 64px; }
  .hero-div__custom-banner {
    background-color: white;
    border: 1px solid var(--background-action-high-blue-france);
    color: var(--background-action-high-blue-france);
    padding: 10px 20px;
    max-width: fit-content;
    position: absolute;
    top: 25px;
    display: flex;
    align-items: center;
    border-radius: 1px;
    margin-left: 6rem; }
  .hero-div__custom-banner a {
    text-decoration: underline; }

@media (max-width: 48em) {
  .hero-div__custom-banner {
    display: flex;
    align-items: start; } }

@media (min-width: 1100px) and (max-width: 1200px) {
  .hero-div__img-div img {
    height: 450px;
    width: 450px; } }

@media (max-width: 1100px) {
  .hero-div {
    text-align: center;
    padding: 40px 40px 60px 40px; }
    .hero-div__sub-container {
      position: static; }
    .hero-div__img-div {
      display: none; }
    .hero-div__text-part {
      width: 100%;
      padding: 0px;
      margin-top: 0px; }
    .hero-div__custom-banner {
      position: static;
      margin: auto;
      margin-bottom: 32px; }
    .hero-div__custom-banner p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px; }
    .hero-div__custom-banner a {
      white-space: nowrap;
      font-size: 14px; }
    .hero-div__dark-section {
      margin-top: 0px;
      padding-left: 80px;
      padding-right: 80px;
      padding-top: 60px;
      padding-bottom: 60px; } }

@media (max-width: 900px) {
  .hero-div__dark-section {
    padding-left: 40px;
    padding-right: 40px; }
  .hero-div__dark-section h2 {
    text-align: center; }
  .hero-div__buttons {
    display: flex;
    flex-direction: column;
    align-items: center; } }
