{% load static %}
<div x-init="initStandByProjectConfirmationModal()"
     class="modal modal-lg fade"
     id="stand-by-project-confirmation-modal"
     tabindex="-1"
     aria-labelledby="stand-by-project-confirmation-modal"
     aria-hidden="true"
     @open-delete-modal.window="openDeleteModal($event)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="">Confirmation</span>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column">
                    <span class="text-info-custom fw-medium">Voulez-vous mettre le projet en pause ?</span>
                    <span class="font-small text-grey-dark mt-1">Une fois le projet en pause :</span>
                    <ul class="list-unstyled mt-2">
                        <li class="bg-light p-2 medium-border-radius my-2">
                            <span class="text-grey-dark text-nowrap">Vous ne recevrez plus de rappels.</span>
                        </li>
                        <li class="bg-light p-2 medium-border-radius my-2">
                            <span class="text-grey-dark text-nowrap">Vous ne recevrez plus de notification par email sur l'activité du projet.</span>
                        </li>
                        <li class="bg-light p-2 medium-border-radius my-2">
                            <span class="text-grey-dark text-nowrap">Vous pourrez réactiver le projet en retournant dans l’administration du projet.</span>
                        </li>
                        <li class="bg-light p-2 medium-border-radius my-2">
                            <span class="text-grey-dark text-nowrap">Le projet sera affiché comme "En pause" sur UrbanVitaliz.</span>
                        </li>
                    </ul>
                </div>
                <form id="project-deactivate"
                      method="POST"
                      action="{% url 'projects-project-set-inactive' project.pk %}"
                      class="form mt-1 d-flex justify-content-between">
                    {% csrf_token %}
                    <a class="button grey filled tiny text-nowrap inherit"
                       data-bs-dismiss="modal"
                       aria-label="Close">Annuler</a>
                    <button data-test-id="delete-task-modal-button"
                            class="button filled blue tiny text-nowrap inherit">Mettre le projet en pause</button>
                </form>
            </div>
        </div>
    </div>
</div>
