{% load django_vite %}
{% load static %}
{% block js %}
  {% vite_asset 'js/apps/topics.js' %}
{% endblock %}
<section class="project-details-section l-stack col-7">
  <header>
    <h2 class="font-small">Modifier les Thématiques du Projet</h2>
  </header>
  <p class="project-card-details font-small">
    Les thématiques sont définies par les conseillers du projet, vous pouvez en ajouter ou les supprimer ici.
  </p>
  <ul class="topic-list l-stack">
    {% for topic_form in topic_formset %}
      <li x-data='Topics("{{ topic_form.name.value|default:"" }}", "project")'
          :class="results.length === 0 ? 'empty' : ''">
        <template x-if="results[0]">
          <p class="tiny fw-bold">{{ topic_form.name.value|default:'Thématique' }}</p>
        </template>
        <span>
          <svg width="10"
               height="10"
               viewBox="0 0 10 10"
               fill="none"
               xmlns="http://www.w3.org/2000/svg"
               role="presentation">
            <path d="M2.91671 1.66665V0.833313H7.08337V1.66665H9.16671V2.49998H8.33337V8.74998C8.33337 8.9801 8.14683 9.16665 7.91671 9.16665H2.08337C1.85326 9.16665 1.66671 8.9801 1.66671 8.74998V2.49998H0.833374V1.66665H2.91671ZM2.50004 2.49998V8.33331H7.50004V2.49998H2.50004ZM3.75004 3.74998H4.58337V7.08331H3.75004V3.74998ZM5.41671 3.74998H6.25004V7.08331H5.41671V3.74998Z" fill="#CE0500" />
          </svg>
          {{ topic_form.DELETE }}
          {% if topic_form.DELETE.errors %}
            {% for error in topic_form.DELETE.errors %}{{ error|escape }}{% endfor %}
          {% endif %}
        </span>
        {% if topic_formset.non_form_errors %}
          {% for error in topic_formset.non_form_errors %}{{ error|escape }}{% endfor %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <div class="topic-list l-stack">
    <label for="new-topic" class="tiny fw-bold w-100">Ajouter une Thématique</label>
    <input list="topic-suggestions"
           id="new-topic"
           name="new-topic"
           x-on.change="handleTopicChange" />
    <datalist id="topic-suggestions">
      {% for topic_form in topic_formset %}
        <template x-data='Topics("{{ topic.name }}", "project")'>
          <option x-for="result in results"
                  value="result"
                  selected="currentTopic === result"
                  @click.prevent="handleResultClick(result.name)"></option>
        </template>
      {% endfor %}
    </datalist>
    {% if topic_form.name.errors %}
      {% for error in topic_form.name.errors %}{{ error|escape }}{% endfor %}
    {% endif %}
  </div>
  <footer class="section-footer justify-content-between">
    <button type="submit" class="button filled">Enregistrer</button>
  </footer>
</section>
