{% load static %}
<div class="pt-4 w-100 mb-4 pb-2">
    <div class="d-flex align-items-center justify-content-between w-100">
        <h6 class="d-flex align-items-center text-uppercase fw-bold font-small mb-4">
            <svg class="bi me-2 " width="32" height="32" fill="currentColor">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#card-checklist" />
            </svg>
            Sujets
        </h6>
        {% if can_administrate %}
            <a class="d-flex align-items-center"
               href="{% url "projects-project-topics" project.id %}">
                Éditer
                <svg class="bi ms-2 " width="15" height="15" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#pencil-fill" />
                </svg>
            </a>
        {% endif %}
    </div>
    {% if project.topics_on_site.count == 0 %}
        <div class="bg-light d-flex flex-column justify-content-center align-items-center py-4 rounded">
            <p class="m-0 text-info-custom text-grey fw-normal pb-3">
                Les sujets n'ont pas encore été identifié</p>
            <svg class="bi align-baseline me-2 mt-1"
                 width="30"
                 height="30"
                 fill="#999999">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#card-list" />
            </svg>
        </div>
    {% else %}
        {% for topic in project.topics_on_site.all %}
            <ul class="list-unstyled">
                {% include 'projects/project/fragments/topics/topic_list_item.html' %}
            </ul>
        {% endfor %}
    {% endif %}
</div>
