<div x-data="TaskComment()"
     {% if height == "100" %}class="w-100 h-100"{% endif %}>
    <template x-if="!isEditing && currentTask.content !== ''">
        <div data-test-id="task-initial-comment"
             class="position-relative bg-grey-light rounded-3 fr-p-2w {% if height == "100" %}w-100 h-100{% endif %}">
            <div x-html="truncate(renderMarkdown(task.content),400)"
                 class="text-info-custom font-small text-dark {% if content == 'tiny' %}font-size-12px{% endif %}">
            </div>
            <template x-if="task.contact">
                <div x-data="{contact: task.contact,isOpenDeleteContact:null}">{% include "tools/contacts/contact_card.html" %}</div>
            </template>
        </div>
    </template>
    <template x-if="!isEditing && currentTask.content === ''">
        <div class="rounded bg-grey-light fr-mb-3w fr-px-2w d-flex flex-column fr-py-2w justify-content-between align-items-start task-item position-relative">
            <div class="d-flex flex-column align-items-center justify-content-center w-100 fr-py-3w">
                <span class="text-info-custom font-very-small name fw-normal fr-color--disabled-grey fr-mb-2v fw-bold">Pas de commentaire initial</span>
            </div>
        </div>
    </template>
</div>
