{% extends "base.html" %}
{% load sass_tags %}
{% load static %}
{% load i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block css %}
    <link href="{% sass_src 'home/css/auth/auth.css' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% block content %}
    <div class="fr-container fr-py-6w max-width-800">
        <h1 class="fr-mb-6w">
            <svg class="bi fr-mr-2v" width="28" height="28">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#bag-check-fill" />
            </svg>
            {% trans "Change Password" %}
        </h1>
        <p>{% trans "Your password is now changed." %}</p>
    </div>
{% endblock content %}
