{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% block title %}
    Réinitialisation du mot de passe
{% endblock title %}
{% block og_title %}
    Réinitialisation du mot de passe
{% endblock og_title %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/styles/home-auth.css.js' %}
    {% vite_asset 'js/styles/account-login.css.js' %}
    {% vite_asset 'js/apps/auth.js' %}
{% endblock js %}
{% block content %}
    <div x-data="Auth"
         x-init="initResetPassword"
         class="fr-container fr-py-6w max-width-800">
        <h2 class="fr-mb-6w">
            <svg class="bi fr-mr-2v" width="28" height="28">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#person-circle" />
            </svg>
            Réinitialisation du mot de passe
        </h2>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <form class="password_reset fr-form-group"
              method="post"
              action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            <fieldset class="fr-fieldset">
                <h3 class="fr-mb-3w d-block fr-text--lead">
                    Mot de passe oublié ? Entrez votre adresse e-mail ci-dessous et nous vous enverrons un e-mail vous permettant de le réinitialiser.
                </h3>
                <div class="fr-fieldset__content">
                    {{ form.as_p }}
                    <div class="fr-input-group fr-mt-4v">
                        <button class="fr-btn custom-login-button" type="submit">Réinitialiser mon mot de passe</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
{% endblock content %}
