{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/styles/home-auth.css.js' %}
    {% vite_asset 'js/styles/account-login.css.js' %}
{% endblock js %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
    <div>
        {% with request.GET.next as next_url %}
            {% if next_url == '/advisor-access-request' %}
                {% include "account/fragments/signup_form.html" with stepper=True total_steps=2 step_number=1 current_step_title="Création du compte" next_step_title="Sélection des départements" title="Devenir conseiller" %}
            {% else %}
                {% include "account/fragments/signup_form.html" with title="Création d'un compte" %}
            {% endif %}
        {% endwith %}
        <hr />
        <div class="fr-form-group fr-mt-14v">
            <fieldset class="d-flex flex-column align-items-center justify-content-center">
                <h4 class="fr-mb-3w d-block ">Vous avez déjà un compte chez nous ?</h4>
                <div class="fr-fieldset__content text-center">
                    <div class="fr-input-group">
                        <a class="fr-btn fr-btn--secondary custom-login-button"
                           href="{% url 'account_login' %}">Se
                        connecter</a>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
{% endblock content %}
