{% load static %}
{% load django_vite %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'styles/css/main.css' %}"
              rel="stylesheet"
              type="text/css">
        {% block css %}
            <link href="{% static 'assets/css/dsrc-csstokens.css' %}"
                  rel="stylesheet"
                  type="text/css">
            <link href="{% static 'assets/css/dsrc-csscore.css' %}"
                  rel="stylesheet"
                  type="text/css">
        {% endblock %}
        <title>DSRC Django</title>
    </head>
    <body>
        <h1>DSRC Django Template Library</h1>
        {% block js %}
            <script src="{% static 'assets/js/componentsDsrcButton.js' %}" type="module"></script>
        {% endblock %}
    </body>
</html>
