{% load gravatar %}
{% load static %}
{% load common_tags %}
{% get_verbs as verbs %}
<ul class="dropdown-menu notifications">
    <template x-if="isLoading">
        <div x-transition
             class="position-absolute text-center w-100"
             data-cy="loader">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </template>
    <template x-if="!isLoading">
        <div>
            <li>
                <span x-text="getNotificationLabel()"></span>
                <button class="notification__icon"
                        title="Fermer le menu"
                        @click="closeNotificationsMenu"
                        data-test-id="notification-menu-close">
                    <span class="fr-icon-close-line fr-icon--sm" aria-hidden="true"></span>
                </button>
            </li>
            <li>
                <hr class="dropdown-divider fr-pb-0">
            </li>
            <div class="notifications__container"
                 x-show="notifications.unread_count > 0"
                 x-transition.duration.400ms>
                <template x-for="notification in notifications.unread_list">
                    <div class="notification">
                        <div x-show="shouldShowDate(notification.timestamp)">
                            <p class="notification__date fr-mb-0"
                               x-text="`le ${formatDateFrench(notification.timestamp)}`"></p>
                        </div>
                        <li class="dropdown-item"
                            x-show="notification.unread"
                            x-transition.duration.400ms>
                            <a :href="notification.action_object_url">
                                {% comment %} TODO Prénom Nom (Organisation) {% endcomment %}
                                {% comment %} TODO Vous a envoyé 1 message dans le dossier {% endcomment %}
                                <div>
                                    <span class="notification__sender" x-text="notification.actor"></span>
                                    <span class="notification__organization"
                                          x-text="notification.actor_organization"></span>
                                </div>
                                <div class="notification__verb">
                                    <span x-text="`${notification?.data?.annotations ? 'vous a' : 'vous'}`"></span>
                                    <span class="notification__verb--highlight"
                                          x-text="summarizeNotification(notification)"></span>
                                    <span>dans le dossier</span>
                                    <span class="notification__verb--highlight" x-text="notification.target"></span>
                                </div>
                            </a>
                            <button class="notification__icon"
                                    title="Marquer comme lu"
                                    @click="markNotificationAsRead(notification.id)"
                                    data-test-id="notification-mark-as-read">
                                <span class="fr-icon-close-line fr-icon--sm" aria-hidden="true"></span>
                            </button>
                        </li>
                    </div>
                </template>
            </div>
            <li x-show="notifications.unread_count == 0" x-transition.duration.400ms>
                <span class="dropdown-item-text">Vous n'avez aucune notification ☀️</span>
            </li>
            <li>
                <hr class="dropdown-divider fr-pb-0">
            </li>
            <li class="btn-container">
                <button @click="markAllNotificationsAsRead"
                        class="dropdown-item"
                        :disabled="notifications.unread_count == 0"
                        data-test-id="notification-mark-all-as-read">
                    Marquer toutes les notifications commes lues
                </button>
            </li>
        </div>
    </template>
</ul>
