{% load static %}
{% load gravatar %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/styles/menu-top.css.js' %}
{% endblock js %}
{% load projects_extra %}
{% url 'home' as home_url %}
{% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-white flex-column navigation fr-p-0{% if request.path == home_url %} fr-header position-sticky{% endif %}"
         aria-label="Main navigation">
        {% comment %} <div class="navbar-border-top navbar-shadow w-100 fr-py-2v"> {% endcomment %}
        <div class="w-100">
            <div class="d-flex align-items-center justify-content-between w-100">
                <div class="navigation__menu-top-secondary-container d-flex align-items-center fr-ml-3w">
                    <div class="navigation__menu-top-logo">{% include "header/menu-top-logo.html" %}</div>
                    {% include "header/menu-top-secondary.html" %}
                </div>
                <div class="bg-white">{% include "header/menu-top-user-tools.html" %}</div>
            </div>
        </div>
        {% if request.path == home_url %}
            <div class="fr-header__menu fr-modal w-100 z-1"
                 id="modal-header"
                 aria-labelledby="button-header">
                <div class="fr-container">
                    <button aria-controls="modal-header"
                            title="Fermer"
                            type="button"
                            id="button-2168"
                            class="fr-btn--close fr-btn">Fermer</button>
                    <div class="fr-header__menu-links"></div>
                    <nav class="fr-nav" role="navigation" aria-label="Menu principal">
                        <ul class="fr-nav__list">
                            {% include "header/fragments/submenu_home.html" %}
                        </ul>
                    </nav>
                </div>
            </div>
        {% endif %}
    </nav>
{% else %}
    <header role="banner" class="fr-header">
        <div class="fr-header__body">
            <div class="fr-container">
                <div class="fr-header__body-row">
                    {% comment %} TODO : change padding body-row from 1.5 rem to less if header is to big for users {% endcomment %}
                    <div class="fr-header__brand fr-enlarge-link">
                        <div class="fr-header__brand-top">
                            {% include "header/fragments/offline_menu_marianne.html" %}
                            <div class="fr-header__service order-2 fr-p-0">
                                <a href="{% url 'home' %}">{% include "header/menu-top-logo.html" %}</a>
                            </div>
                            <div class="fr-header__navbar">
                                <button data-fr-opened="false"
                                        aria-controls="modal-header"
                                        title="Menu"
                                        type="button"
                                        id="button-header"
                                        class="fr-btn--menu fr-btn">Menu</button>
                            </div>
                        </div>
                    </div>
                    <div class="fr-header__tools">
                        <div class="fr-header__tools-links">
                            <ul class="fr-btns-group">
                                <li>
                                    <a href="{% url 'account_login' %}"
                                       class="fr-btn--account fr-btn fr-btn--primary">Se connecter</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-header__menu fr-modal"
             id="modal-header"
             aria-labelledby="button-header">
            <div class="fr-container">
                <button aria-controls="modal-header"
                        title="Fermer"
                        type="button"
                        id="button-2168"
                        class="fr-btn--close fr-btn">Fermer</button>
                <div class="fr-header__menu-links"></div>
                <nav class="fr-nav" role="navigation" aria-label="Menu principal">
                    <ul class="fr-nav__list">
                        {% include "header/fragments/submenu_home.html" %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>
{% endif %}
