{% load django_vite %}
{% block js %}
    {% vite_asset 'js/styles/header-menu-burger.css.js' %}
{% endblock js %}
<button class="fr-btn fr-btn--tertiary fr-icon-menu-fill fr-mr-2w menu-burger__btn"
        data-fr-opened="false"
        aria-controls="fr-modal-menu">Menu</button>
<dialog aria-labelledby="fr-modal-title-menu-burger"
        role="dialog"
        id="fr-modal-menu"
        class="fr-modal fr-pr-0">
    <div class="fr-grid-row fr-grid-row--center responsive-header">
        <div class="fr-modal__body">
            <div class="fr-modal__header">
                <h1 id="fr-modal-title-menu-burger" class="fr-modal__title">
                    <span class="fr-icon-arrow-right-line fr-icon--lg"></span>Menu
                </h1>
                <button class="fr-btn--close fr-btn"
                        title="Fermer la fenêtre modale"
                        aria-controls="fr-modal-menu">Fermer</button>
            </div>
            <div class="fr-modal__content correct-margin">
                <ul class="fr-menu__list">
                    <li>
                        <a class="responsive-header__element-mobile fr-nav__link"
                           href="{% url 'account_login' %}"
                           {% if 'login' in url_name %}aria-current="page"{% endif %}>
                            <span class="align-middle">Se connecter</span>
                        </a>
                    </li>
                    {% include "header/menu-top-secondary-left.html" %}
                    <li>
                        <a href="{% url 'resources-resource-search' %}"
                           class="responsive-header__element-mobile fr-link fr-nav__link"
                           {% if url_name == 'resources-resource-search' %}aria-current="page"{% endif %}
                           data-test-id="link-ressources">
                            <span class="align-middle">Ressources</span>
                        </a>
                    </li>
                    {% include "header/menu-top-secondary-right.html" %}
                </ul>
            </div>
        </div>
    </div>
</dialog>
