{% load gravatar %}
{% load static %}
{% load guardian_tags %}
<!-- User -->
<div id="user-info" class="pe-2 ps-2 ms-2 me-2">
    {% if user.is_authenticated %}
        {% get_obj_perms request.user for request.site as "user_site_perms" %}
        <div x-data="{ open: false }"
             x-on:click.outside="open = false"
             class="dropdown">
            <a x-on:click="open = !open"
               href="#"
               class="d-flex align-items-center link-dark text-decoration-none">
                <img src="{% gravatar_url user.email 16 %}"
                     alt="{{ user.get_full_name }}"
                     class="me-2 rounded-circle"
                     style="width: 16px;
                            height: 16px" />
                <span style="color: #0063CB;" class="small d-none d-lg-none d-xl-block">{{ user.get_full_name|default:user.email }}</span>
                <button id="user-menu-button" type="button" class="border-0 btn py-0 px-1">
                    <svg data-toggle="tooltip"
                         data-placement="top"
                         title="Notifications désactivées"
                         class="align-middle bi"
                         width="20px"
                         height="20px"
                         fill="#0063CB"
                         stroke="#0063CB"
                         style="padding: 3px">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#chevron-down" />
                    </svg>
                </button>
            </a>
            <ul x-show="open"
                :class="{'show':open}"
                class="dropdown-menu text-small shadow mt-2 top-100">
                {% if is_switchtender or is_administrating_project %}
                    <li>
                        <a class="dropdown-item small " href="{% url 'projects-project-list' %}">Accueil</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                {% endif %}
                {% if "use_crm" in user_site_perms %}
                    <li>
                        <a class="dropdown-item small " href="{% url 'crm-site-dashboard' %}">CRM</a>
                    </li>
                {% endif %}
                {% if user.is_staff %}
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="small  dropdown-item" href="{% url 'admin:index' %}">Administration Reco-co</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                {% endif %}
                <li>
                    <a class="dropdown-item small " href="{% url 'account_logout' %}">Déconnexion</a>
                </li>
            </ul>
        </div>
    {% else %}
        <a href="{% url 'account_login' %}" class="btn">
            <svg class="bi me-2 align-middle" width="16" height="16">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#person-circle" />
            </svg>
            <span class="align-middle">Se connecter</span>
        </a>
    {% endif %}
</div>
