{% load static %}
{% load guardian_tags %}
{% load gravatar %}
{% load django_vite %}
{% load projects_extra %}
{% block js %}
    {% vite_asset 'js/apps/menuNotification.js' %}
{% endblock js %}
{% with request.resolver_match.url_name as url_name %}
    {% if user.is_authenticated %}
        {% get_obj_perms request.user for request.site as "user_site_perms" %}
    {% endif %}
    {% if 'moderate_projects' in user_site_perms %}
        {% get_project_moderation_count as projects_to_moderate_count %}
    {% endif %}
    <ul class="navigation__menu-top-secondary list-unstyled fr-mb-0 d-flex align-items-center header-specific-pl-15 tmp-usevar"
        data-test-id="secondary-menu"
        style="{% if not user.is_authenticated %}border-left: 0.1rem solid #d5d5d5;
               {% endif %}">
        <!-- Dashboard -->
        {% if is_switchtender or is_administrating_project %}
            <li class="navigation__item-dashboard">
                <a href="{% url 'projects-project-list' %}"
                   class="fr-link {% if url_name == 'projects-project-list-advisor' or url_name == 'projects-project-list-staff' or url_name == 'projects-project-list-map' %}active{% endif %}">
                    {% if unread_notifications_count %}<span class="has-notification">&nbsp;</span>{% endif %}
                    <span class="fr-ml-1v align-middle no-wrap">Tous les projets</span>
                </a>
            </li>
        {% endif %}
        <!-- Projects -->
        {% if request.session.projects|length > 0 %}
            <li class="navigation__item-projects">
                <div class="fr-select-group fr-my-0">
                    <label class="fr-label fr-sr-only" for="project-selector">Label pour liste déroulante</label>
                    {% comment %} TODO
                - consider this rule {% if request.session.projects|length > 0 %}
                    {% endcomment %}
                    <select class="fr-select" id="select" name="project-selector">
                        <option value="" selected>
                            <a href="{% url 'projects-project-detail' active_project.pk %}"><strong>{{ active_project.commune.name }}</strong> <span class="text-secondary small ms-2 text-break text-truncate">{{ active_project.name }}</span></strong></a>
                        </option>
                        {% for project in request.session.projects %}
                            {% comment %} TODO
                    - consider this style rule <:class ="{'inactive': '{{ project.inactive }}' === 'True'}">
                            {% endcomment %}
                            <option value="1">
                                {{ project.commune|capfirst }} {{ project.name|capfirst }}
                                {% if project.inactive is False and project.actions_open > 0 %}
                                    <div>
                                        <span class="align-middle badge bg-primary rounded-pill">{{ project.actions_open }}</span>
                                    </div>
                                {% endif %}
                            </option>
                        {% endfor %}
                        {% comment %} TODO
                        - link to create a project
                        {% endcomment %}
                        {% if not is_switchtender %}
                            <option value="4">
                                <a href="{% url 'onboarding' %}">Créer un projet</a>
                            </option>
                        {% endif %}
                    </select>
                </div>
            </li>
        {% endif %}
        {% if projects_to_moderate_count > 0 %}
            <!-- Projects moderation -->
            <li class="navigation__item-moderation d-flex">
                <a href="{% url "projects-moderation-list" %}"
                   class="{% if url_name == 'projects-moderation-list' %}active{% endif %}"><span class="fr-link underline no-wrap">Projets à examiner</span></a><span class="badge text-bg-danger no-underline">{{ projects_to_moderate_count }}</span>
            </li>
        {% endif %}
        {% comment %} surcharge pour ajouter des éléments au menu top à gauche de ressources {% endcomment %}
        {% include 'header/menu-top-secondary-left.html' %}
        <!-- Ressources -->
        <li class="navigation__item-resource"
            style="{% if url_name == 'resources-resource-search' %}activated{% endif %}">
            <a href="{% url 'resources-resource-search' %}"
               class="fr-link {% if url_name == 'resources-resource-search' %}active{% endif %}"
               data-test-id="link-ressources">
                <span class="ms-1 align-middle">Ressources</span>
            </a>
        </li>
        {% comment %} surcharge pour ajouter des éléments au menu top à droite de ressources {% endcomment %}
        {% include "header/menu-top-secondary-right.html" %}
    </ul>
{% endwith %}
