{% load gravatar %}
{% load static %}
{% load guardian_tags %}
{% load projects_extra %}
{% load sass_tags %}
{% load django_vite %}
{% block css %}
    <link href="{% sass_src 'css/header/header.scss' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% sass_src 'css/header/user-tools.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% block js %}
    {% vite_asset 'js/components/ExpandableMenuHandler.js' %}
{% endblock js %}
{% is_staff_for_current_site request.user as is_staff %}
<!-- User -->
<div class="user-tools d-flex">
    {% if user.is_authenticated %}
        {% get_obj_perms request.user for request.site as "user_site_perms" %}
        <!-- Notifications -->
        <div class="dropdown user-tools__notification-menu"
             x-data="MenuNotifications({{ unread_notifications_count }}, {% if unread_notifications|length > 0 %}{{ unread_notifications }} {% else %}[]{% endif %} )">
            <button class="fr-btn fr-btn--tertiary-no-outline fr-icon-notification-3-line"
                    id="notification-menu-button"
                    role="button"
                    data-bs-toggle="dropdown"
                    data-bs-auto-close="outside"
                    aria-expanded="false"
                    data-test-id="notification-menu-open">
                Notifications
                <span class="badge text-bg-danger"
                      x-show="notificationNumber > 0"
                      x-text="notificationNumber"
                      data-test-id="notification-badge"></span>
            </button>
            {% include "header/dropdown-menu-notifications.html" %}
        </div>
        <div x-data="ExpandableMenuHandler" @click.outside="toggle">
            <button class="fr-nav__btn user-tools__main-menu-button h-100"
                    x-ref="expandMenuButton"
                    aria-expanded="false"
                    aria-controls="user-tools-main-menu"
                    data-test-id="open-dropdown-profil-option-button">
                <span class="fr-icon-account-circle-line fr-mr-1w" aria-hidden="true"></span>
                <span class="d-none d-lg-none d-xl-block">{{ user.get_full_name|default:user.email }}</span>
            </button>
            <div class="fr-collapse fr-menu menu-modal-correct-fr-menu"
                 id="user-tools-main-menu">
                <ul class="fr-menu__list user-tools__main-menu">
                    {% if is_switchtender or is_administrating_project %}
                        <li>
                            <a class="fr-nav__link " href="{% url 'projects-project-list' %}">Accueil</a>
                        </li>
                    {% endif %}
                    {% if user.is_staff %}
                        <li>
                            <a class="fr-nav__link" href="{% url 'admin:index' %}">Administration Reco-co</a>
                        </li>
                    {% endif %}
                    <!-- Contact Book -->
                    {% if "use_addressbook" in user_site_perms %}
                        <li>
                            <a href="{% url 'addressbook-contact-list' %}"
                               class="fr-nav__link"
                               data-test-id="button-address-book"
                               {% if 'addressbook-contact' in url_name %}aria-current="page"{% endif %}>
                            Carnet de contacts <span class="badge text-bg-primary">New</span></a>
                        </li>
                    {% endif %}
                    {% if is_staff %}
                        <li>
                            <a class="fr-nav__link"
                               href="https://reco-co.gitbook.io/reco-co/pour-les-administrateurs-dun-portail"
                               data-test-id="documentation-button-staff"
                               target="_blank">Documentation</a>
                        </li>
                    {% elif is_switchtender or is_administrating_project %}
                        <li>
                            <a class="fr-nav__link"
                               href="https://reco-co.gitbook.io/reco-co/pour-les-acteurs-publics-qui-conseillent-les-collectivites"
                               data-test-id="documentation-button-advisor"
                               target="_blank">Documentation</a>
                        </li>
                    {% endif %}
                    <li>
                        <a class="fr-nav__link" href="{% url 'account_logout' %}">Déconnexion</a>
                    </li>
                </ul>
            </div>
        </div>
    {% else %}
        <a class="responsive-header__element-not-mobile"
           href="{% url 'account_login' %}">
            <svg class="bi fr-mr-2v align-middle" width="16" height="16">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#person-circle" />
            </svg>
            <span class="align-middle">Se connecter</span>
        </a>
        {% include "header/menu-burger.html" %}
    {% endif %}
</div>
