{% load static %}
{% load guardian_tags %}
{% load gravatar %}
{% load django_vite %}
{% load projects_extra %}
{% block js %}
    {% vite_asset 'js/apps/menuNotification.js' %}
{% endblock js %}
{% with request.resolver_match.url_name as url_name %}
    {% if user.is_authenticated %}
        {% get_obj_perms request.user for request.site as "user_site_perms" %}
    {% endif %}
    {% if 'moderate_projects' in user_site_perms %}
        {% get_project_moderation_count as projects_to_moderate_count %}
    {% endif %}
    <ul x-data
        class="navigation__menu-top-secondary list-unstyled fr-mb-0 d-flex align-items-center header-specific-pl-15 tmp-usevar"
        data-test-id="secondary-menu"
        style="{% if not user.is_authenticated %}border-left: 0.1rem solid #d5d5d5;
               {% endif %}">
        <!-- Dashboard -->
        {% if is_switchtender or is_administrating_project %}
            <li class="navigation__item-dashboard d-flex">
                <a href="{% url 'projects-project-list' %}"
                   class="fr-link {% if url_name == 'projects-project-list-advisor' or url_name == 'projects-project-list-staff' or url_name == 'projects-project-list-map' %}active{% endif %}">
                    <span class="fr-ml-1v align-middle no-wrap">Tous les projets</span></a>
                {% if unread_notifications_count %}
                    <span class="badge text-bg-danger no-underline">{{ unread_notifications_count }}</span>
                {% endif %}
            </li>
        {% endif %}
        <!-- Projects -->
        {% if request.session.projects|length > 0 %}
            <li class="navigation__item-projects">
                <button class="fr-select item-projects__button-open"
                        aria-expanded="false"
                        aria-controls="project_list">
                    {% if project %}
                        <span class="no-underline">{{ project.commune.name }} <span class="list-project__project-name">{{ project.name }}</span></span>
                    {% else %}
                        <span class="no-underline">Selectionnez l'un de vos projets</span>
                    {% endif %}
                </button>
                <div class="fr-collapse fr-menu" id="project_list">
                    <ul x-data="{search:''}"class="fr-menu__list list-project">
                        <li class="list-project__search-container">
                            <input type="search"
                                   class="fr-input"
                                   placeholder="Rechercher votre projet"
                                   @input.debounce.100ms="search=$event.target.value.toLowerCase()">
                        </li>
                        {% for project in request.session.projects %}
                            <li class="list-project__item"
                                x-show="'{{ project.commune }}'.toLowerCase().includes(search) || '{{ project.name }}'.toLowerCase().includes(search)">
                                <a class="fr-nav__link"
                                   href="{% url 'projects-project-detail' project.id %}">{{ project.commune|capfirst }}
                                    <span class="list-project__project-name">{{ project.name|capfirst }}</span>
                                    {% if project.inactive is False and project.actions_open > 0 %}
                                        <span class="align-middle badge bg-primary rounded-pill no-underline">{{ project.actions_open }}</span>
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                        {% if not is_switchtender %}
                            <a class="fr-btn justify-content-center w-100"
                               href="{% url 'onboarding' %}">Créer un projet</a>
                        {% endif %}
                    </ul>
                </div>
            </li>
        {% endif %}
        {% if projects_to_moderate_count > 0 %}
            <!-- Projects moderation -->
            <li class="navigation__item-moderation d-flex">
                <a href="{% url "projects-moderation-list" %}"
                   class="{% if url_name == 'projects-moderation-list' %}active{% endif %}"><span class="fr-link underline no-wrap">Projets à examiner</span></a>
                {% if projects_to_moderate_count %}
                    <span class="badge text-bg-danger no-underline">{{ projects_to_moderate_count }}</span>
                {% endif %}
            </li>
        {% endif %}
        {% comment %} surcharge pour ajouter des éléments au menu top à gauche de ressources {% endcomment %}
        {% include "header/menu-top-secondary-left.html" %}
        <!-- Ressources -->
        <li class="navigation__item-resource"
            style="{% if url_name == 'resources-resource-search' %}activated{% endif %}">
            <a href="{% url 'resources-resource-search' %}"
               class="fr-link {% if url_name == 'resources-resource-search' %}active{% endif %}"
               data-test-id="link-ressources">
                <span class="ms-1 align-middle">Ressources</span>
            </a>
        </li>
        {% comment %} surcharge pour ajouter des éléments au menu top à droite de ressources {% endcomment %}
        {% include "header/menu-top-secondary-right.html" %}
    </ul>
{% endwith %}
