.link-edit {
  color: black;
}

.edit-answer {
  color: var(--background-action-high-blue-france, #000091);
  transition-property: transform;
  transition-duration: 0.3s;
}
.answer:hover {
  .edit-answer {
    transform: translateX(5px);
  }
}

.survey-card {
  color: var(--light-text-default-grey, #3a3a3a);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0.75rem;
  border-radius: 2px;
  border: 1px solid var(--light-border-default-grey, #e5e5e5);
  background: #fff;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;

  .card-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
  .q-progress {
    height: 5px;

    span:first-of-type {
      margin-left: 0 !important;
    }

    .done {
    }

    .todo {
      background-color: #eee;
    }
  }

  h6 {
    letter-spacing: 0.1em !important;
    color: var(--light-text-default-grey, #3a3a3a);
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
  }

  .updated-by {
    color: var(
      --light-text-default-info,
      var(--background-action-high-blue-france)
    );
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
  }
}

.specific-height-100px {
  height: 100px;
}

.specific-background-5DC2B0 {
  background: #5dc2b0;
}

.specific-border-solid5pxWhite {
  border-left: 5px solid white;
  border-radius: 2px;
}

.specific-pl-20 {
  padding-left: 20px;
}

.specific-h5 {
  line-height: 120%;
  letter-spacing: 0.2em;
}
