input.searchbar-input {
  border: 1px solid var(--light-border-default-grey, #e5e5e5);
  height: 100%;
  padding: 0.3rem 0.75rem;
  padding-left: 32px;
  width: 100%;
  border-radius: 100px;
}

input.searchbar-input--with-button {
  padding-right: 48px;
}

.correct-position {
  position: absolute;
  left: 10px;
  top: 5px;
}

.correct-position::before {
  --icon-size: 1.2rem;
  color: #929292;
}

.placeholder-position {
  padding-left: 32px;
}

.searchbar-button {
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100px;
  padding: 0.25rem 0.5rem;
  min-height: auto;
}
