{% load static %}
<template x-cloak x-if="showTuto">
    <div x-ref="startTourButton"
         class="{% if type == 'searchExtRes' %}hint-button-res-ext align-items-center position-absolute t-0 l-0 fr-p-2w appear-in-with-delay
                {% elif type == 'kanbanTuto' %}hint-button-kanban align-items-center position-absolute t-0 l-0 fr-p-2w appear-in-with-delay
                {% endif %}"
         data-test-id="tutorial-project-launcher">
        <span x-text="startButtonDescription"></span>
        <div class="d-flex align-items-center fr-mb-1v fr-mt-2v">
            <div @click="hideStartModal()" class="fr-mr-2v">
                <button class="fr-btn fr-btn--secondary bg-white" type="button" data-test-id="launch-tutorial">
                    <span>Découvrir le tutoriel</span>
                </button>
            </div>
            <div @click="handleSnoozeChallenge()" class="d-flex">
                <button class="fr-btn fr-btn--secondary bg-white" type="button" data-test-id="snooze-tutorial">
                    <span>non merci</span>
                </button>
            </div>
        </div>
    </div>
</template>
