{% load static %}
{% load django_vite %}
{% load projects_extra %}
{% block js %}
    {% vite_asset 'js/apps/contactApp.js' %}
{% endblock js %}
{% if contacts.count %}
    {% is_staff_for_current_site request.user as is_staff %}
    {% is_admin_for_current_site request.user as is_admin %}
    <div x-data="ContactList" id="contact-list" class="fr-mt-3w">
        {% if user.is_anonymous %}
            <div class="flag blue">
                <span class="title text-blue text-uppercase fw-bold fr-mb-2v d-block">Contacts</span>
                <p class="content">
                    Nous avons des <strong>contacts associés</strong>
                    à cette ressource. Si vous souhaitez y accéder, veuillez <a href="{% url 'magicauth-login' %}">vous identifier</a>.
                </p>
            </div>
        {% else %}
            <h6 class="fw-bold text-uppercase d-block fr-mb-2w">👩‍💼 Contacts</h6>
            <div class="d-flex flex-wrap flex-row"
                 x-data="ContactAsk({% if is_staff or is_admin or is_administrating_project %}true{% else %}false{% endif %}, {{ contacts_to_display }})"
                 x-init="init">
                {% for contact in contacts.all %}
                    <div :class="currentHash === '#contact-{{ contact.pk }}' && 'component-focus'"
                         class="border fr-mx-1v fr-py-2v fr-px-2w fr-mb-2v specific-flex-basis-48"
                         id="contact-{{ contact.pk }}">
                        <div>
                            <span class="text-black fw-medium fr-my-1v">{{ contact.full_name }}</span>
                            <div class="text-info-custom text-grey-light d-flex flex-column">
                                <span class="fr-mr-1v  fw-bolder">
                                    {% if contact.division %}{{ contact.division }} -{% endif %}
                                {{ contact.organization.name|truncatechars:120 }}</span>
                            </div>
                        </div>
                        {% comment %} {% if user == project.owner %} canAdministrateProject {% endcomment %}
                        <template x-if="isLoaded({{ contact.id }})">
                            <div class="d-flex flex-column">
                                {% if contact.email %}
                                    <div class="text-blue fr-my-1v">
                                        <svg class="bi fr-mr-1v"
                                             width="12"
                                             height="12"
                                             fill="var(--background-action-high-blue-france)">
                                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#envelope" />
                                        </svg>
                                        <a class="text-blue text-decoration-none small"
                                           href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                                    </div>
                                {% endif %}
                                {% if contact.phone_no %}
                                    <div class="text-blue d-flex align-items-center">
                                        <svg class="bi fr-mr-2v"
                                             width="12"
                                             height="12"
                                             fill="var(--background-action-high-blue-france)">
                                            <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#telephone" />
                                        </svg>
                                        <a class="text-blue text-decoration-none small"
                                           href="tel:{{ contact.phone_no }}">{{ contact.phone_no }}</a>
                                    </div>
                                {% endif %}
                                {% if contact.mobile_no %}
                                    <div class="text-blue">
                                        <svg class="bi fr-mr-2v"
                                             width="12"
                                             height="12"
                                             fill="var(--background-action-high-blue-france)">
                                            <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#phone" />
                                        </svg>
                                        <a class="text-blue text-decoration-none small"
                                           href="tel:{{ contact.mobile_no }}">{{ contact.mobile_no }}</a>
                                    </div>
                                {% endif %}
                            </div>
                        </template>
                        <div x-show="!isLoaded({{ contact.id }})" class="fr-p-2v">
                            <button class="fr-btn w-100 justify-content-center"
                                    data-test-id="see-contact-info-button"
                                    @click="toggleUserClic({{ contact.id }},{{ resource.id }},'resources.resource')">
                                Voir les coordonnées
                            </button>
                        </div>
                        {% comment %} {% else %}
                            <div class="d-flex flex-column">
                                {% if contact.email %}
                                    <div class="text-blue fr-my-1v">
                                        <svg class="bi fr-mr-1v" width="12" height="12" fill="var(--background-action-high-blue-france)">
                                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#envelope" />
                                        </svg>
                                        <a class="text-blue text-decoration-none small" href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                                    </div>
                                {% endif %}
                                {% if contact.phone_no %}
                                    <div class="text-blue d-flex align-items-center">
                                        <svg class="bi fr-mr-2v" width="12" height="12" fill="var(--background-action-high-blue-france)">
                                            <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#telephone" />
                                        </svg>
                                        <a class="text-blue text-decoration-none small" href="tel:{{ contact.phone_no }}">{{ contact.phone_no }}</a>
                                    </div>
                                {% endif %}
                                {% if contact.mobile_no %}
                                    <div class="text-blue">
                                        <svg class="bi fr-mr-2v" width="12" height="12" fill="var(--background-action-high-blue-france)">
                                            <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#phone" />
                                        </svg>
                                        <a class="text-blue text-decoration-none small" href="tel:{{ contact.mobile_no }}">{{ contact.mobile_no }}</a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %} {% endcomment %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endif %}
