<div class="d-inline text-secondary">
    <span class="align-middle text-info-custom text-grey-light d-block fr-mb-2v">
        Cette ressource est disponible dans les départements suivants :
    </span>
    <ul class="d-flex flex-wrap list-unstyled">
        {% for department in resource.departments.all %}
            <li class="fr-mx-1v">
                - <span class="small font-marianne fw-light text-grey-light">{{ department.name }}</span>
            </li>
        {% endfor %}
    </ul>
</div>
