{% load static %}
<div class="text-justified font-marianne">
    {% include "resources/resource/fragments/title.html" %}
    {% include "resources/resource/fragments/summary.html" %}
    {% comment %} {% if resource.content_rendered %} {% endcomment %}
        {% comment %} {% if not resource.interne %}
            <div class="fr-p-3w d-flex" style="background-color:{% resource.site.color %}">
                <img src="{{ resource.site.image.url }}" alt="" class="fr-mr-2v">
                <div>
                    <span> Cette ressource provient du site {{ resource.site.name }} </span>
                    {% if resource.site.description %}
                        <p> {% resource.site.description %} </p>
                    {% endif %}
                    <a href="{{ resource.site.url }}" target="_blank" class="fr-btn fr-btn--secondary fr-btn--sm">
                        Voir la ressource sur le site de {{ resource.site.name }}
                    </a>
                </div>
            </div>
        {% endif %} {% endcomment %}
            <div class="fr-p-3w d-flex fr-mb-3w" style="background-color:cyan">
                <img src="{% static 'home/img/actors/progress.png' %}">
                <div>
                    <span><b> Cette ressource provient du site monSuperSite </b></span>
                        <p> AideTerritoires offre aux collectivité une expertise
                            sur l’ensemble des aides disponibles en ingéniérie et en financement,
                            découvrez l’accompagnement proposé par AidesTerritoires. </p>
                    <a href="www.google.com" target="_blank" class="fr-btn fr-btn--primary fr-btn--sm">
                        Voir la ressource sur le site de monSuperSite
                    </a>
                </div>
            </div>
        {% comment %} {{ resource.content_rendered|safe }} {% endcomment %}
    {% comment %} {% elif not resource.interne %}
        <img>
        <p> Malheuresement nous n’avons pas pu récupérer le contenu de la page.
            Vous pouvez cependant la consulter directement <a href="{% resource.url %}">sur le site de {% resource.site.name %}.</a>
        </p>
    {% endif %} {% endcomment %}
    <div class="fr-px-8w fr-py-2w" style="background-color:#fafafa;">
        <img style="margin: auto;display: block;" src="{% static 'home/img/actors/progress.png' %}">
        <p> Malheuresement nous n’avons pas pu récupérer le contenu de la page.
            Vous pouvez cependant la consulter directement <a href="www.google.com">sur le site de monSuperSite.</a>
        </p>
    </div>
</div>
