{% load static %}
<div class="text-justified font-marianne resource-template">
    {% include "resources/resource/fragments/title.html" %}
    {% include "resources/resource/fragments/summary.html" %}
    <div id="task-contacts">{% include "resources/resource/fragments/contact_list.html" %}</div>
    {% if resource.imported_from and resource.content %}
        <div class="fr-p-3w d-flex fr-mb-3w specific-color-background">
            <img src="{% static 'home/img/actors/progress.png' %}" alt="">
            <div class="d-flex flex-column">
                <span class="fr-m-auto"><b> Cette ressource provient d'un site externe </b></span>
                <a href="{{ resource.imported_from }}"
                   target="_blank"
                   class="fr-btn fr-btn--primary fr-btn--sm fr-m-auto non-stylish-link">Voir la ressource sur le site externe</a>
            </div>
        </div>
    {% endif %}
    {% comment %} -------- si la ressource n'a pas de contenu ---------- {% endcomment %}
    {% if not resource.content and resource.imported_from %}
        <div class="fr-px-8w fr-py-2w specific-background-grey">
            <img class="centered-item"
                 src="{% static '/home/img/home/progress.png' %}"
                 alt="">
            <p>
                Malheureusement nous n’avons pas pu récupérer le contenu de la page.
                Vous pouvez cependant la consulter directement ici :
                <a href="{{ resource.imported_from }}" target="_blank">{{ resource.imported_from }}</a>
            </p>
        </div>
    {% endif %}
    {% if resource.content %}{{ resource.content_rendered|safe }}{% endif %}
</div>
