{% load static %}
{% load wagtailcore_tags %}
{% wagtail_site as current_site %}
<footer class="col-11 fr-pb-6w">
    <div class="row fr-py-6w">
        <div class="col-6">
            <img src="{% static 'home/img/home/logo_rf.png' %}"
                 width="150px"
                 alt="Logo république française" />
        </div>
        <div class="col-6 col-md">
            <h5>{{ request.site.name }}</h5>
            <ul class="list-unstyled text-small">
                {% for menuitem in current_site.root_page.get_children.live.in_menu %}
                    <li>
                        <a class="link-secondary" href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
                    </li>
                {% endfor %}
                <li>
                    <a class="link-secondary" href="{% url 'home-contact' %}">Nous contacter</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>{{ request.site.name }}</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="link-secondary" href="{% url 'legals' %}">Mentions légales</a>
                </li>
                <li>
                    <a class="link-secondary" href="{% url 'privacy' %}">Politique de confidentialité</a>
                </li>
                <li>
                    <a class="link-secondary" href="{% url 'termsofuse' %}">Conditions d'utilisation</a>
                </li>
                <li>
                    <a class="link-secondary" href="{% url 'accessibility' %}">Accessibilité : non conforme</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Logiciel Libre</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a href="https://github.com/betagouv/recommandations-collaboratives"
                       target="_new">Code Source</a>
                </li>
                <li class="spacing">
                    Ce site est propulsé par <a href="https://recommandations-collaboratives.beta.gouv.fr/"
    target="_new">recommandations-collaboratives</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
