<meta name="description"
      content="{% block description %}{% if request.site.configuration %}{{ request.site.configuration.description }} {% else %}{{ request.site.name }} est un outil pour aider les collectivités dans leurs dossiers{% endif %}{% endblock description %}">
<meta name="robots" content="index, archive" />
<meta property="og:locale" content="fr" />
<meta property="og:site_name" content="{{ request.site.name }}" />
<meta property="og:description"
      content="{% block og_description %}{% if request.site.configuration %}{{ request.site.configuration.description }} {% else %}{{ request.site.name }} est un outil pour aider les collectivités dans leurs dossiers{% endif %}{% endblock og_description %}" />
