<meta name="description" content="{% block description %}{{ request.site.name }} est un outil pour aider les collectivités dans leurs projets{% endblock %}">
<meta name="robots" content="index, archive" />
<meta property="og:title" content="{{ request.site.name }}{% block og_title %}{% endblock %}" />
<meta property="og:locale" content="fr" />
<meta property="og:site_name" content="{{ request.site.name }}" />
<meta property="og:description" content="{% block og_description %}{{ request.site.name }} est un outil pour aider les collectivités dans leurs projets{% endblock %}" />
