{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="col-9 py-5 mx-auto">
    <h2>
        <svg class="bi me-2" width="32" height="32">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#megaphone"/>
        </svg>
        Solliciter l'équipe UrbanVitaliz
    </h2>


    <div class="bd-callout bd-callout-info mb-5">
        <strong>Comment ceci fonctionne ?</strong>

        Une fois ces quelques informations remplies, un <strong>membre de l'équipe</strong> prendra contact rapidement pour <strong>organiser un échange de vive voix</strong> (visio <em>ou</em> téléphone) afin de mieux <strong>saisir vos enjeux</strong> et <strong>démarrer votre accompagnement</strong>.
    </div>


    

	  <form id="form-projects-onboarding"
				  method="post"
				  action="{% url 'projects-onboarding' %}"
	  >

        {% csrf_token %}

        {{ form.errors }}

        <div id="form-leader" class="mb-5">

            <h3 class="mb-3">
                <svg class="bi me-2" width="28" height="28">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#person-badge"/>
                </svg>
                Le/la référent&middot;e
            </h3>


            <div class="row mb-3">
                <div class="col">
                    <div class="form-floating">
                        <input type="text" class="form-control" name="{{ form.first_name.name }}" placeholder="Camille" value="{{ form.first_name.value }}">
                        <label for="{{ form.first_name.name }}">{{ form.first_name.label }}</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="text" class="form-control" name="{{ form.last_name.name }}" placeholder="Dupont" value="{{ form.last_name.value }}">
                        <label for="{{ form.first_name.name }}">{{ form.last_name.label }}</label>
                    </div>
                </div>
            </div>

            <div class="form-floating">
                <input type="email" class="form-control" name="{{ form.email.name }}" placeholder="name@example.com" value="{{ form.email.value|default:'' }}">
                <div id="input-email-help" class="form-text">Votre courriel ne sera jamais partagé en dehors de notre équipe.</div>
                <label for="{{ form.email.name }}">{{ form.email.label }}</label>
            </div>
        </div>


        <div id="form-project" class="mb-3">

            <h3 class="mb-3">
                <svg class="bi me-2" width="28" height="28">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#cone-striped"/>
                </svg>
                Identité de la Friche
            </h3>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="{{ form.name.name }}" placeholder="Mon projet de friche" value="{{ form.name.value|default:'' }}">
                <label for="{{ form.name.name }}">{{ form.name.label }}</label>
            </div>

            <div class="form-floating mb-3">
                <textarea class="form-control" style="height: 100px;" id="input-project-description" name="{{ form.description.name }}" placeholder="Une courte description">{{ form.description.value|default:'' }}</textarea>
                <label for="input-project-description">{{ form.description.label }}</label>
            </div>

            <div class="form-floating mb-5">
                <input type="text" class="form-control" id="input-project-address" name="{{ form.location.name }}" placeholder="Adresse" value="{{ form.location.value|default:'' }}">
                <label for="input-project-address">{{ form.location.label }}</label>
                <div id="input-email-help" class="form-text">Si la friche n'a pas d'adresse exacte, utilisez le nom de la commune.</div>
            </div>

            <h3 class="mb-3">
                <svg class="bi me-2" width="28" height="28">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#life-preserver"/>
                </svg>
                Quelles difficultés rencontrez-vous ?
            </h3>

            <div class="mb-3">
                <textarea class="form-control" style="height: 100px;" id="input-project-impediments" name="{{ form.impediments.name }}" value="{{ form.impediments.value|default:'' }}" placeholder="Décrivez-nous en quelques mots ce qui vous bloque vis-à-vis de ce projet"></textarea>
                <label class="visually-hidden" for="input-project-impediments">{{ form.impediments.label }}</label>
            </div>

        </div>

		    <button type="submit" class="btn btn-primary">
			      Envoyer ma demande
		    </button>
	</form>

</div>

{% endblock %}
