{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="col-9 py-5 mx-auto">

    <h2 class="mb-3">
        <svg class="bi me-2" width="28" height="28">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#check-circle"/>
        </svg>
        Merci !
    </h2>

    <div class="bd-callout bd-callout-info">
        <p><strong>Nous avons bien reçu votre demande.</strong></p>

        <p>Votre demande est actuellement acheminée vers nos aiguilleuses et
	          aiguilleurs qui vont revenir rapidement vers vous pour vous accompagner
	          au mieux dans votre projet.
        </p>
    </div>

    <p class="small alert">
        <a href="{% url 'home' %}"  class="small">Revenir à la page d'accueil.</a>
    </p>


</div>

{% endblock %}
