{% extends "base.html" %}

{% load sass_tags %}
{% load static %}
{% load activity_tags %}
{% load humanize %}
{% load leaflet_tags %}
{% load django_vite %}

{% block js %}
{% vite_asset 'js/apps/map.js' %}
{% leaflet_js %}

{% endblock %}

{% block title %}
| Map intéractive UrbanVitaliz
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.1/dist/leaflet.css"
    integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
{% endblock %}

{% block content %}

<div x-data="Map" class="p-0">
    <div x-ref="map" id="map"></div>
</div>
{% endblock %}
