{% load static %}

<div class="d-flex align-items-center mb-4">
    {% if pinned %}
    <span>
        <svg class="bi me-1" width="15" height="15" fill="currentColor">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#pin-angle" />
        </svg>

        &nbsp;
    </span>
    {% endif %}
    <span class="crm-note-tag-title">{{ note.title }}</span>
    <span class="d-flex align-items-center" style="margin-left: 15px; font-size: 0.8rem; color: grey;">
        <svg class="bi me-1" width="15" height="15" fill="currentColor">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#person-fill" />
        </svg>
        {{note.created_by.get_full_name|default:note.created_by.email}}
    </span>
    <span class="d-flex align-items-center" style="margin-left: 15px; font-size: 0.8rem; color: grey;">
        <svg class="bi me-1" width="15" height="15" fill="currentColor">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#clock-fill" />
        </svg>
        {% if note.updated_on|date != note.created_on|date %}
        {{note.updated_on}}&nbsp;|&nbsp;{{note.created_on|date:"n"}} {{note.created_on|date:"N"}}
        {% else %}
        {{note.created_on}}
        {% endif %}
    </span>
    <span class="d-flex align-items-center"  style="margin-left: 15px; font-size: 0.8rem; color: grey;">
        <svg class="bi me-1" width="15" height="15" fill="currentColor">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#pencil-fill" />
        </svg>
        <a href="{% url update_url_name note.related.pk note.pk %}">
            éditer
        </a>
    </span>
</div>
<article>
    {{ note.content_rendered|safe }}
    <span x-ref="noteToggleButton" class="crm-note-toggle-buttonDISABLED" x-on:click="isOpen = ! isOpen" x-text="isOpen ? '[Voir moins]': '[Voir plus]'"></span>
</article>

<hr/>
