{% extends "base.html" %}

{% load sass_tags %}
{% load static %}
{% load django_vite %}

{% block js %}
{% vite_asset 'js/apps/crm.js' %}
{% endblock %}

{% block css %}
<link href="{% sass_src 'home/css/dsfr/marianne.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div x-data="Crm" class="d-flex px-0" style="font-family: 'Marianne', arial, sans-serif;">
    <aside class="w-25 crm-aside">
            {% if active_project %}
                <div x-ref="sidebar" class="d-flex flex-column justify-content-start crm-sticky">
            {% else %}
                <div x-ref="sidebar" class="d-flex flex-column justify-content-start crm-sticky no-project">
            {% endif %}
            <div class="pt-3 mb-4 px-4 crm-border-bottom">
                <h5 class="crm-user-decoration d-inline-block relative">Conseiller·es <strong>({{ project.switchtenders.all|length }})</strong></h5>
                <ul class="mb-2 px-0" class="list-unstyled">
                    {% regroup project.switchtenders.all by profile.organization as grouped_st %}

                    {% for group in grouped_st %}
                    <div class="mb-4">
                        {% if group.grouper %}
                            <a class="d-flex align-items-center"
                                href="{% url 'crm-organization-details' group.grouper.pk %}">
                                <svg class="bi me-2" width="16" height="16" fill="currentColor">
                                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#building" />
                                </svg>
                                <strong>{{ group.grouper }}</strong>
                            </a>
                        {% endif %}
                        <ul class="list-unstyled mx-4 mb-4">
                            {% for switchtender in group.list %}
                                    {% include 'crm/user_item.html' with user=switchtender %}
                            {% endfor %}
                        </ul>
                    {% empty %}
                        Pas de participant
                    </div>
                    {% endfor %}
                </ul>
            </div>
            <div class="px-4 crm-border-bottom pb-2">
                <h5 class="crm-user-decoration d-inline-block relative">Collectivité <strong>({{ project.members.all|length }})</strong></h5>
                <ul class="list-unstyled">
                    {% for member in project.members.all %}
                        {% include 'crm/user_item.html' with user=member %}
                    {% empty %}
                    <li>
                        no one
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </aside>
    <div class="w-75 d-flex flex-column justify-content-start">
        {% if active_project %}
            <div class="crm-header px-4 py-4 mb-3 d-flex justify-content-between align-items-center">
        {% else %}
            <div class="crm-header no-project px-4 py-4 d-flex justify-content-between align-items-center">
        {% endif %}
            <h3 class="d-flex mb-0 align-items-center">
                <svg class="bi me-2" width="16" height="16" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#folder-fill" />
                </svg>
                <span>{{ project.name }}</span>
            </h3>
            <a class="btn btn-primary" href="{{ project.get_absolute_url }}">
                <span>Voir le projet</span>
            </a>
        </div>
        <div x-ref="note" class="px-4 pt-4 crm-note relative" :class="noteIsOpen ? 'open' : 'closed'">
            {% if note %}
            {% include 'crm/note.html' %}
            <a class="btn btn-secondary crm-note-action-button" href="{% url 'crm-project-note-update' project.pk %}">éditer</a>
            <span x-ref="noteToggleButton" class="crm-note-toggle-button" x-on:click="noteIsOpen = ! noteIsOpen" x-text="noteIsOpen ? '[Voir moins]': '[Voir plus]'"></span>
            {% else %}<a class="btn btn-secondary" href="{% url 'crm-project-note-create' project.pk %}">créer une note</a>{% endif %}
        </div>
        <div class="px-4 pt-4 bg-light crm-timeline-min-height">
            <h4>Activité</h4>
            {% include 'crm/timeline.html' %}
        </div>
    </div>
</div>
{% endblock %}
