{% extends "base.html" %}
{% load sass_tags %}
{% load static %}
{% load activity_tags %}
{% load humanize %}
{% load gravatar %}
{% load django_vite %}
{% load guardian_tags %}
{% load projects_extra %}
{% load common_tags %}


{% block js %}
  {% vite_asset 'js/apps/crm.js' %}
{% endblock %}
{% block title %}| Tableau de bord{% endblock %}
{% block content %}

  {% get_obj_perms request.user for request.site as "user_site_perms" %}
  {% is_staff_for_current_site request.user as is_staff %}

  {% get_verbs as verbs %}

  <div x-data="Crm"
       class="d-flex px-0"
       style="font-family: 'Marianne', arial, sans-serif">
    {% include "crm/fragments/sidebar.html" with search=True back_button=True map=True tools=True %}
    <div class="w-75 d-flex flex-column justify-content-start">
      {% if active_project %}
        <div class="crm-header px-4 py-3 pt-4 mb-3">
        {% else %}
          <div class="crm-header no-project px-4 py-3 pt-4">
          {% endif %}
          <h3 class="d-flex align-items-center">
            <span class="fs-3">
              <img src="{% gravatar_url user.email 40 %}"
                   alt="{{ user.get_full_name }}"
                   class="me-2 rounded-circle align-middle"
                   style="width: 40px;
                          height: 40px" />
              <span class="align-middle">Salut, {{ request.user.first_name|default:request.user.username }} !</span>
            </span>
          </h3>
          <span class="fs-5 text-secondary">Bienvenue dans l'interface de gestion du portail {{ request.site.name }}</span>
        </div>
        <div class="d-flex flex-column">
          <div class="pt-3 px-4 pb-3">
            <h5 class="d-flex align-items-center relative pb-2 text-info-custom text-grey-dark">
              <svg class="me-2 bi align-middle" width="18" height="18">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#pencil" />
              </svg>
              <span>Gestion</span>
            </h5>
            <ul class="d-flex m-0 p-0 align-items-center list-unstyled row">
              <li class="me-2 col-2">
                {% url 'crm-user-list' as url %}
                {% include "crm/fragments/crm_icon_button.html" with link_url=url name="Utilisateur·trice·s" icon="person-circle" %}
              </li>
              <li class="me-2 col-2">
                {% url 'crm-project-list' as url %}
                {% include "crm/fragments/crm_icon_button.html" with link_url=url name="Projets" icon="folder-fill" %}
              </li>
              <li class="me-2 col-2">
                {% url 'crm-organization-list' as url %}
                {% include "crm/fragments/crm_icon_button.html" with link_url=url name="Organisations" icon="building" %}
              </li>
            </ul>
          </div>
          <div class="px-4 pb-3">
            <h5 class="d-flex align-items-center relative pb-2 text-info-custom text-grey-dark">
              <svg class="me-2 bi align-middle" width="18" height="18">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#bar-chart-fill" />
              </svg>
              <span>Métriques</span>
            </h5>
            <ul class="d-flex m-0 p-0 align-items-center list-unstyled row">
              <li class="me-2 col-2">
                {% url 'crm-project-list-by-tags' as url %}
                {% include "crm/fragments/crm_icon_button.html" with link_url=url name="Tags / Projects" icon="tag-fill" %}
              </li>
              <li class="me-2 col-2 ">
                {% url 'crm-list-tags' as url %}
                {% include "crm/fragments/crm_icon_button.html" with link_url=url name="Index des tags du crm" icon="activity" %}
              </li>
            </ul>
          </div>
          {% if is_staff or "manage_surveys" in user_site_perms %}
            <div class="pb-3 px-4">
              <h5 class="d-flex align-items-center relative pb-2 text-info-custom text-grey-dark">
                <svg class="me-2 bi align-middle" width="18" height="18">
                  <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#sliders" />
                </svg>
                <span>Configuration</span>
              </h5>
              <ul class="d-flex m-0 p-0 align-items-center list-unstyled row">
                {% if is_staff %}
                  <li class="me-2 col-2">
                    {% url 'projects-task-recommendation-list' as url %}
                    {% include "crm/fragments/crm_icon_button.html" with link_url=url name="Pré-fléchage" icon="signpost-fill" %}
                  </li>
                {% endif %}
                {% if request.site.configuration.project_survey and "manage_surveys" in user_site_perms %}
                  <li class="me-2 col-2">
                    {% url 'survey-editor-survey-details' request.site.configuration.project_survey_id as url %}
                    {% include "crm/fragments/crm_icon_button.html" with link_url=url name="Questionnaire" icon="question-circle" %}
                  </li>
                {% endif %}
              </ul>
            </div>
          {% endif %}
        </div>
        <div class="px-4 pt-4 bg-light ">
          <h3 class="mt-3">
            <svg class="bi align-middle" width="24" height="24">
              <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#activity" />
            </svg>
            <span class="align-middle">Activité du CRM</span>
          </h3>
          <ul class="list-group">
            {% for action in crm_notif_stream|slice:":30" %}
              <li class="list-group-item">
                <span class="text-secondary">{{ action.timestamp|naturalday|capfirst }}</span> -
                {% if action.target %}
                  <a href="{% url 'crm-user-details' action.actor.pk %}">{{ action.actor|capfirst }}</a>
                  <strong>{{ action.verb }}</strong>
                  <a href="{{ action.action_object.get_absolute_url }}">"{{ action.action_object }}"</a>
                  à propos de {{ action.target }}
                {% else %}
                  {% if action.action_object %}
                    <a href="{% url 'crm-user-details' action.actor.pk %}">{{ action.actor|capfirst }}</a>
                    <strong>{{ action.verb }}</strong>
                    <a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object }}</a>
                  {% else %}
                    {{ action.actor|capfirst }} <strong>{{ action.verb }}</strong>
                  {% endif %}
                {% endif %}
              </li>
            {% empty %}
              -- Pas encore d'activité de la part du staff --
            {% endfor %}
          </ul>
        </div>
        <div class="px-4 pt-1 bg-light crm-timeline-min-height">
          <h3 class="mt-3">
            <svg class="bi align-middle" width="24" height="24">
              <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#lightning-fill" />
            </svg>
            <span class="align-middle">Activité de l'ensemble des projets</span>
          </h3>
          <ul class="list-group">
            {% for action in projects_stream|slice:":200" %}
              <li class="list-group-item">
                <span class="text-secondary">{{ action.timestamp|naturalday|capfirst }}</span> -
                {% if action.target %}
                  <a href="{% url 'crm-user-details' action.actor.pk %}">{{ action.actor|capfirst }}</a>
									<strong>{{ action.verb }}</strong>
									{{ action.action_object }} (sur <a href="{{ action.target.get_absolute_url }}">{{ action.target }}</a>)
                {% else %}
                  {% if action.action_object %}
                    <a href="{% url 'crm-user-details' action.actor.pk %}">{{ action.actor|capfirst }}</a>
										<strong>{{ action.verb }}</strong>
										<a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object }}</a>
                  {% else %}
                    {{ action.actor|capfirst }} <strong>{{ action.verb }}</strong>
                  {% endif %}
                {% endif %}
              </li>
            {% empty %}
              -- Pas encore d'activité, revenez plus tard ! --
            {% endfor %}
          </ul>
          <h3 class="mt-3">
            <svg class="bi align-middle" width="24" height="24">
              <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#people" />
            </svg>
            <span class="align-middle">Connexions</span>
          </h3>
          {% activity_stream "model_actions" user_model %}
          <ul class="list-group">
            {% for action in stream|slice:":200" %}
              {% if action.verb == verbs.User.LOGIN %}
                <li class="list-group-item">
                  {{ action.timestamp|naturalday|capfirst }} - <a href="{% url 'crm-user-details' action.actor.pk %}">{{ action.actor|capfirst }}</a> {{ action.verb }}
                </li>
              {% endif %}
            {% empty %}
              -- Pas encore d'activité, revenez plus tard ! --
            {% endfor %}
          </ul>
          <h3 class="mt-3 d-inline-block">
            <svg class="bi align-middle" width="24" height="24">
              <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#journal-check" />
            </svg>
            <span class="align-middle">Mes dernières actions</span>
          </h3>
          <ul class="list-group">
            {% for task in request.user.tasks_created.all|slice:":200" %}
              <li class="list-group-item">
                <a href="{{ task.get_absolute_url }}">{{ task }}</a> ({{ task.project }})
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endblock %}
