{% extends "base.html" %}

{% load sass_tags %}
{% load static %}
{% load django_vite %}

{% block js %}
{% vite_asset 'js/apps/crm.js' %}
{% endblock %}

{% block css %}
<link href="{% sass_src 'home/css/dsfr/marianne.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div x-data="Crm" class="d-flex px-0" style="font-family: 'Marianne', arial, sans-serif;">
    <aside class="w-25 crm-aside">
            {% if active_project %}
                <div x-ref="sidebar" class="d-flex flex-column justify-content-start crm-sticky">
            {% else %}
                <div x-ref="sidebar" class="d-flex flex-column justify-content-start crm-sticky no-project">
            {% endif %}

            {% include 'crm/back_button.html' %}
            {% include 'crm/search.html' %}
            
            <div class="pt-3 crm-border-bottom pb-2 px-4">
                <h5 class="crm-project-decoration d-inline-block relative">Projets conseillés <strong>({{ crm_user.projects_switchtended_on_site.all|length }})</strong></h5>
                <ul class="list-unstyled">
                    {% for switchtending in crm_user.projects_switchtended_on_site.all %}
                    {% include 'crm/project_item.html' with project=switchtending.project %}
                    {% empty %}
                    - aucun -
                    {% endfor %}
                </ul>
            </div>

            <div class="pt-3 crm-border-bottom pb-2 px-4">
                <h5 class="crm-project-decoration d-inline-block relative">Participe aux projets <strong>({{ crm_user.projectmember_set.all|length }})</strong></h5>
                <ul class="list-unstyled">
                    {% for membership in crm_user.projectmember_set.all %}
                    {% include 'crm/project_item.html' with project=membership.project %}
                    {% empty %}
                    - aucun -
                    {% endfor %}
                </ul>
            </div>

        </div>
    </aside>
    <div class="w-75 d-flex flex-column justify-content-start">
            {% if active_project %}
                <div class="crm-header px-4 py-4 mb-3">
            {% else %}
                <div class="crm-header no-project px-4 py-4">
            {% endif %}
            <div class="d-flex justify-content-between align-items-center mb-2">
                <div class="d-flex align-items-center justify-content-center">
                    <h3 class="d-flex align-items-center mb-0">
                        <svg class="bi me-2" width="16" height="16" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#person-fill" />
                        </svg>
                        <span>{{ crm_user.get_full_name|default:crm_user.email }}</span>
                    </h3>
                        {% if crm_user.profile.phone_no %}
                            <span class="ms-2 me-2 d-block">|</span>
                            <svg class="bi" width="16" height="16" fill="currentColor">
                                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#telephone-fill" />
                            </svg>  
                            {{crm_user.profile.phone_no}}
                        {% endif %}
                        {% if crm_user.email %}
                            <span class="ms-2 me-2">|</span>
                            <svg class="bi" width="16" height="16" fill="currentColor">
                                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#envelope-fill" />
                            </svg>  
                            {{crm_user.email}}
                        {% endif %}
                        {% if crm_user.profile.organization.position %}
                            <span class="ms-2 me-2">|</span>
                            <svg class="bi" width="16" height="16" fill="currentColor">
                                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#envelope-fill" />
                            </svg>  
                            {{crm_user.profile.organization.position}}
                        {% endif %}
                </div>
                <div class="d-flex align-items-center">
                    <svg class="bi" width="16" height="16" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#bell-fill" />
                    </svg>
                    <a class="ms-2" style="font-size: 1rem;" href="{% url 'crm-user-notifications' crm_user.pk %}">Voir les notifications envoyées</a>
                </div>
            </div>
            {% if crm_user.profile.organization %}
            <a class="d-flex align-items-center"
                href="{% url 'crm-organization-details' crm_user.profile.organization.pk %}">
                <svg class="bi me-2" width="16" height="16" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#arrow-left" />
                </svg>
                <span>Revenir aux détails de l'organisation : <strong>{{crm_user.profile.organization.name}}</strong></span>
            </a>
            {% endif %}
                </div>
                <div class="px-4 pt-4 crm-notes-wrapper relative">
                    <a class="btn btn-secondary mb-4" href="{% url 'crm-user-note-create' crm_user.pk %}">créer une note</a>

                    {% for note in sticky_notes.all %}
                        {% include 'crm/note.html' with pinned=True update_url_name='crm-user-note-update' %}
                    {% endfor %}

                    {% for note in notes.all %}
                        {% include 'crm/note.html' with update_url_name='crm-user-note-update' %}
                    {% endfor %}

                </div>
        <div class="px-4 pt-4 bg-light crm-timeline-min-height">
            <h4>Activité</h4>
            {% include 'crm/timeline.html' %}
        </div>
    </div>
</div>
{% endblock %}
