{% extends "base.html" %}

{% load sass_tags %}
{% load static %}
{% load django_vite %}
{% load humanize %}
{% load training %}
{% load hijack %}

{% block js %}
{% vite_asset 'js/apps/crm.js' %}
{% endblock %}

{% block css %}
<link href="{% sass_src 'home/css/dsfr/marianne.css' %}" rel="stylesheet" type="text/css">
<style>
    html, body {
        scroll-padding-top: 240px;
    }
</style>
{% endblock %}

{% block content %}
<div x-data="Crm" class="d-flex px-0" style="font-family: 'Marianne', arial, sans-serif">
    {% include "crm/fragments/sidebar.html" with search=True back_button=True user_advised_projects=True user_projects=True %}

    <div class="w-75 d-flex flex-column justify-content-start">
        {% if active_project %}
                <div class="crm-header px-4 py-4 mb-3">
            {% else %}
                <div class="crm-header no-project px-4 py-4">
            {% endif %}
            <div class="d-flex justify-content-between align-items-center mb-2">
                <div class="d-flex align-items-start justify-content-between w-100">
                    <div class="flex-row">
                        <div class="d-flex align-items-center">
                            <h5 class="d-flex align-items-center mb-0">
                                <svg class="bi me-2" width="16" height="16" fill="currentColor">
                                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#person-fill" />
                                </svg>
                                <span>{{ crm_user.get_full_name|default:crm_user.email }}</span>
                            </h5>
                        {% if crm_user.profile.phone_no %}
                            <span class="ms-2 me-2 d-block">|</span>
                            <svg class="bi" width="16" height="16" fill="currentColor">
                                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#telephone-fill" />
                            </svg>  
                            <span>{{crm_user.profile.phone_no}}</span>
                        {% endif %}
                        {% if crm_user.email %}
                            <span class="ms-2 me-2">|</span>
                            <svg class="bi" width="16" height="16" fill="currentColor">
                                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#envelope-fill" />
                            </svg>  
                            <span>{{crm_user.email}}</span>
                        {% endif %}
                        {% if crm_user.profile.organization.position %}
                            <span class="ms-2 me-2">|</span>
                            <svg class="bi" width="16" height="16" fill="currentColor">
                                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#envelope-fill" />
                            </svg>  
                            {{crm_user.profile.organization.position}}
                            {% endif %}

                            {% if request.user|can_hijack:crm_user %}
                            <form action="{% url 'hijack:acquire' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="user_pk" value="{{ crm_user.pk }}">
                                <button class="btn btn-link" type="submit" title="Usurper l'identité">
                                    <svg class="align-middle bi" width="18px" height="18px" fill="currentColor">
                                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#incognito"/>
                                    </svg>
                                </button>
                                <input type="hidden" name="next" value="{{ home }}">
                            </form>
                            {% endif %}
                        </div>
                        <div class="flex-row">
                            {% if crm_user_is_advisor %}
                            Conseiller·ère
                            {% for dpt in crm_user.profile.departments.all %}
                            {{ dpt }} ({{ dpt.code }})
                            {% if not forloop.last %}, {% endif %}
                            {% empty %}
                            <strong>France entière</strong>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="d-flex align-items-end flex-column">
                        <div class="btn-group btn-group-sm">
                            <a href="{% url 'crm-user-update' crm_user.pk %}" class="btn btn-outline-secondary" aria-current="page">Gérer l'utilisateur·rice</a>
                        </div>
                        <div class="d-flex align-items-center">
                            <svg class="bi" width="16" height="16" fill="currentColor">
                                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#bell-fill" />
                            </svg>
                            <a class="ms-2" style="font-size: 1rem;" href="{% url 'crm-user-notifications' crm_user.pk %}">Voir les notifications envoyées</a>
                        </div>
                        <div class="d-flex align-items-center">
                            <svg class="bi" width="16" height="16" fill="currentColor">
                                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#balloon-heart" />
                            </svg>
                            <a class="ms-2" style="font-size: 1rem;" href="{% url 'crm-user-project-interest' crm_user.pk %}">Intérêts envers les projets</a>
                        </div>

                        {% get_challenges_for crm_user acquired=None as challenges %}
                        {% if challenges.count %}

                        <div class="d-flex justify-content-between align-items-end mt-2">
                            <svg class="mx-2 my-2" width="18" height="18" fill="currentColor">
                                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#trophy" />
                            </svg>

                            {% for challenge in challenges.all %}
                            {% with challenge.challenge_definition as definition %}
                            {% if challenge.acquired %}
                            <span data-toggle="tooltip" title="(ACQUIS) {{ definition.name }} - {{ challenge.acquired_on|naturalday }}" class="rounded-circle bg-light ">
                                <svg class="text-success mx-2 my-2" width="16" height="16" fill="currentColor">
                                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#{{ definition.icon_name|default:'award' }}" />
                                </svg>
                            </span>
                            {% else %}
                            <span data-toggle="tooltip" title="(OUVERT) {{ definition.name }}" class="rounded-circle bg-black">
                                <svg class="mx-2 my-2 text-white" width="16" height="16" fill="currentColor">
                                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#{{ definition.icon_name|default:'award' }}" />
                                </svg>
                            </span>
                            {% endif %}
                            {% endwith %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>

            {% if not crm_user.is_active %}
            <div class="alert alert-danger mt-4" role="alert">
                <span>Ce compte a été suspendu. Ceci signifie que la personne ne
                peut plus se connecter à {{ request.site.name }}.
                    Vous pouvez néanmoins le réactiver si vous le souhaitez.</span>
                <div class="d-flex justify-content-end mt-2">
                    <form method="POST" action="{% url 'crm-user-reactivate' crm_user.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Réactiver ce compte</a>
                    </form>
                </div>
            </div>
            {% endif %}


            {% if crm_user.profile.organization %}
            <div class="d-flex justify-content-between align-items-start">
                <a class="d-flex align-items-center"
                    href="{% url 'crm-organization-details' crm_user.profile.organization.pk %}">
                    <svg class="bi me-2" width="16" height="16" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#arrow-left" />
                    </svg>
                    <span>Revenir aux détails de l'organisation : <strong>{{crm_user.profile.organization.name}}</strong></span>
                </a>

            </div>
            {% endif %}



                </div>
                <div class="px-4 pt-4 crm-notes-wrapper relative">
                    <a class="btn btn-secondary mb-4" href="{% url 'crm-user-note-create' crm_user.pk %}">créer une note</a>

                    {% for note in sticky_notes.all %}
                        {% include 'crm/note.html' with pinned=True update_url_name='crm-user-note-update' %}
                    {% endfor %}

                    {% for note in notes.all %}
                        {% include 'crm/note.html' with update_url_name='crm-user-note-update' %}
                    {% endfor %}

                </div>
        <div class="px-4 pt-4 bg-light crm-timeline-min-height">
            <h4>Activité</h4>
            {% include 'crm/timeline.html' %}
        </div>
    </div>
</div>
{% endblock %}
