{% extends "base.html" %}

{% load sass_tags %}
{% load static %}
{% load django_vite %}

{% block js %}
{% vite_asset 'js/apps/crm.js' %}
{% endblock %}

{% block css %}
<link href="{% sass_src 'home/css/dsfr/marianne.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div x-data="Crm" class="d-flex px-0" style="font-family: 'Marianne', arial, sans-serif;">
    <aside class="w-25 crm-aside">
        <div x-ref="sidebar" class="d-flex flex-column justify-content-start crm-sticky">
            <div class="pt-3 crm-border-bottom pb-2 px-4">
                <h5 class="crm-project-decoration d-inline-block relative">Projets suivis <strong>({{ crm_user.projects_managed.all|length }})</strong></h5>
                <ul class="list-unstyled">
                    {% for project in crm_user.projects_managed.all %}
                    {% include 'crm/project_item.html' %}
                    {% empty %}
                    <li>Désolé, pas encore de projet</li>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </aside>
    <div class="w-75 d-flex flex-column justify-content-start">
        <div class="crm-header px-4 py-3">
            <h3 class="d-flex align-items-center">
                <svg class="bi me-2" width="16" height="16" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#person-fill" />
                </svg>
                <span>{{ crm_user.get_full_name}}</span>
            </h3>
            {% if crm_user.profile.organization %}
            <a class="d-flex align-items-center"
                href="{% url 'crm-organization-details' crm_user.profile.organization.pk %}">
                <svg class="bi me-2" width="16" height="16" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#arrow-left" />
                </svg>
                <span>Revenir aux détails de l'organisation : <strong>{{crm_user.profile.organization.name}}</strong></span>
            </a>
            {% endif %}
        </div>
        <div x-ref="note" class="px-4 pt-4 mt-3 crm-note relative" :class="noteIsOpen ? 'open' : 'closed'">
            {% if note %}
            {% include 'crm/note.html' %}
            <a class="btn btn-secondary crm-note-action-button" href="{% url 'crm-user-note-update' crm_user.pk %}">éditer</a>
            <span x-ref="noteToggleButton" class="crm-note-toggle-button" x-on:click="noteIsOpen = ! noteIsOpen" x-text="noteIsOpen ? '[Voir moins]': '[Voir plus]'"></span>
            {% else %}<a class="btn btn-secondary" href="{% url 'crm-user-note-create' crm_user.pk %}">créer une note</a>{% endif %}
        </div>
        <div class="px-4 pt-4 bg-light crm-timeline-min-height">
            <h4>Activité</h4>
            {% include 'crm/timeline.html' %}
        </div>
    </div>
</div>
{% endblock %}
