{# Activity notification template used in the global CRM activity stream (staff only) #}
{% load activity_tags %}
{% load humanize %}
{% load gravatar %}
<li class="d-flex fr-mx-0 fr-px-0 d-flex align-items-center fr-py-1v">
    <span class="small text-info-custom text-grey-dark fr-mr-2v text-nowrap font-small">{{ action.timestamp|naturalday|capfirst }}</span>
    <div class="activity-stream-actions-container d-flex flex-column">
        {% load i18n %}
        {% load static %}
        {% load common_tags %}
        {% get_verbs as verbs %}
        <div class="d-block font-marianne">
            <div class="d-flex align-items-start">
                <div class="font-small">
                    <span class="fw-normal">
                        <a href="{% url 'crm-user-details' action.actor.pk %}">
                            {{ action.actor.first_name|default:action.actor }}
                            {{ action.actor.last_name|default:"" }}
                        </a>
                        <span class="text-dark fw-normal font-italic font-small">{{ action.actor.profile.organization.name|default:'' }}</span>
                        <span class="d-inline-block">
                            <span class="d-inline">
                                {% if action.verb == verbs.Project.INVITATION %}
                                    {% if action.action_object.role %}
                                        <span>a invité
                                            <strong class="d-inline-block fw-bold text-dark">{{ action.action_object.email }}</strong> en tant que
                                            {% if action.action_object.role == "SWITCHTENDER" or action.action_object.role == "OBSERVER" or action.action_object.role == "ADVISOR" %}
                                                <strong class="text-dark">conseiller·e</strong> sur le project
                                            {% else %}
                                                <strong class="text-dark">demandeur</strong>
                                            {% endif %}
                                            {% if action.target.commune %}
                                                {% if action.target.get_absolute_url %}
                                                    <a class="hover-underline" href="{{ action.target.get_absolute_url }}">{{ action.target }}</a>
                                                {% else %}
                                                    <strong class="fw-normal">{{ action.target }}</strong>
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                {% else %}
                                    {% if action.verb == verbs.Document.ADDED %}
                                        a ajouté
                                        {% if action.action_object.the_link %}le lien{% endif %}
                                        {% if action.action_object.the_file %}le document{% endif %}
                                        <a class="d-inline hover-underline"
                                           href="{{ action.action_object.get_absolute_url }}">
                                            {% if action.action_object %}"{{ action.action_object }}"{% endif %}
                                        </a>
                                        dans le dossier
                                        <a class="d-inline hover-underline"
                                           href="{{ action.action_object.get_absolute_url }}">
                                            {{ action.action_object.feed_label }}
                                        </a>
                                    {% else %}
                                        {% if action.action_object.feed_label %}
                                            {% if action.verb != verbs.Document.ADDED %}{{ action.verb }}{% endif %}
                                            <a class="d-inline hover-underline"
                                               href="{{ action.action_object.get_absolute_url }}">
                                                {{ action.action_object.feed_label }}
                                            </a>
                                        {% else %}
                                            <span>{{ action.verb }}</span>
                                            {% if action.verb != verbs.Project.SUBMITTED_BY and action.verb != verbs.Survey.UPDATED %}
                                                <a class="d-inline hover-underline"
                                                   href="{{ action.action_object.get_absolute_url }}">
                                                    {% if action.verb == verbs.Conversation.PUBLIC_MESSAGE or  action.verb == verbs.Conversation.PRIVATE_MESSAGE %}
                                                        ici
                                                    {% else %}
                                                        {% if action.action_object %}"{{ action.action_object }}"{% endif %}
                                                    {% endif %}
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    {% if action.target %}
                                        {% if action.verb != verbs.Project.SUBMITTED_BY and action.verb != verbs.Project.VALIDATED_BY and action.verb != verbs.Project.LEFT_ADVISING and action.verb != verbs.Project.JOINED and action.verb != verbs.Project.BECAME_ADVISOR and action.verb != verbs.Project.BECAME_OBSERVER %}
                                            <div class="d-inline-block fr-ml-1v">
                                                {% if action.verb == verbs.Conversation.PUBLIC_MESSAGE or  action.verb == verbs.Conversation.PRIVATE_MESSAGE %}
                                                    <span>à propos de</span>
                                                {% else %}
                                                    <span>sur le dossier</span>
                                                {% endif %}
                                                {% if action.target.get_absolute_url %}
                                                    <a class="hover-underline" href="{{ action.target.get_absolute_url }}">{{ action.target }}</a>
                                                {% else %}
                                                    <strong class="fw-normal">{{ action.target }}</strong>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</li>
