<!-- component: crm_home_card
    name: string - the name of the card, shown in the top left corner
    text: string - the text content of the card
    icon: string - the icon CSS class to display (ex: "fr-icon-folder-2-line")
    currentColor: string (optional) - the icon color (ex: "#0974F6")
    link_url: string - the URL the card links to
    anchor: string (optional) - an anchor link for the card
    is_alert: boolean (optional) - if true, displays an alert badge (nb_alert) instead of the icon
    nb_alert: number (optional) - the alert count shown in the badge when is_alert is true
-->
{% load static %}
<a class="position-relative crm-home__card d-flex flex-column" href={{ link_url }}{{ anchor }}>
    <div class="d-flex align-items-center">
        {% if is_alert %}
            <span class="badge text-bg-danger no-underline fr-mr-1w">{{ nb_alert }}</span>
        {% else %}
            <span class="crm-home__card--icon {{ icon }} fr-icon--sm fr-mr-1w" style="color: {{ currentColor }}" aria-hidden="true"></span>
        {% endif %}
        <span class="crm-home__card--title d-block text-center font-very-small">{{ name }}</span>
    </div>
    <div>
        <span class="crm-home__card--text">{{ text }}</span>
    </div>
    <span class="crm-home__card--arrow position-absolute fr-icon-right-arrow" aria-hidden="true"></span>
</a>
