{% load sass_tags %}
{% block css %}
    <link href="{% sass_src 'projects/css/searchbar.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
<div class="flex-grow-1">
    <form method="post"
          action="{% url 'crm-search' %}"
          class="d-flex align-items-center justify-content-end">
        {% csrf_token %}
        <div class="d-flex align-items-center position-relative w-75">
            <input type="search"
                   name="query"
                   placeholder="Rechercher dans l'admin"
                   class="fr-pl-4w w-100 bg-white searchbar-input">
            <span class="fr-icon-search-line correct-position" aria-hidden="true"></span>
        </div>
    </form>
</div>
