{% load static %}
{% load sass_tags %}
{% load guardian_tags %}
{% load waffle_tags %}
{% load projects_extra %}
{% load django_vite %}
{% block css %}
    <link href="{% sass_src 'home/css/dsfr/marianne.css' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% block js %}
    {% vite_asset 'js/apps/crm/crmDossier.js' %}
{% endblock js %}
<div class="crm-navigation d-flex justify-content-between">
    <fieldset class="fr-segmented fr-segmented--md fr-px-3w">
        <legend class="crm-navigation__legend fr-segmented__legend">
            <span class="fr-icon-tools-line fr-mr-1w" aria-hidden="true"></span>Administration
        </legend>
        <div class="fr-segmented__elements">
            <div class="fr-segmented__element">
                <input value="overview"
                       type="radio"
                       {% if overview %}checked{% endif %}
                       aria-checked="{% if overview %}true{% else %}false{% endif %}"
                       id="segmented-control-overview"
                       name="segmented-control-project"
                       @click="window.location='#'">
                <label class="fr-label" for="segmented-control-overview">
                    <a class="stretched-link"
                       data-test-id="project-navigation-overview"
                       href="#">Dossiers</a>
                </label>
            </div>
            <div class="fr-segmented__element">
                <input value="overview"
                       type="radio"
                       {% if overview %}checked{% endif %}
                       aria-checked="{% if overview %}true{% else %}false{% endif %}"
                       id="segmented-control-overview"
                       name="segmented-control-project"
                       @click="window.location='#'">
                <label class="fr-label" for="segmented-control-overview">
                    <a class="stretched-link"
                       data-test-id="project-navigation-overview"
                       href="#">Utilisateurs & Organisations</a>
                </label>
            </div>
            <div class="fr-segmented__element">
                <input value="overview"
                       type="radio"
                       {% if overview %}checked{% endif %}
                       aria-checked="{% if overview %}true{% else %}false{% endif %}"
                       id="segmented-control-overview"
                       name="segmented-control-project"
                       @click="window.location='#'">
                <label class="fr-label" for="segmented-control-overview">
                    <a class="stretched-link"
                       data-test-id="project-navigation-overview"
                       href="#">Ressources</a>
                </label>
            </div>
            <div class="fr-segmented__element">
                <input value="overview"
                       type="radio"
                       {% if overview %}checked{% endif %}
                       aria-checked="{% if overview %}true{% else %}false{% endif %}"
                       id="segmented-control-overview"
                       name="segmented-control-project"
                       @click="window.location='#'">
                <label class="fr-label" for="segmented-control-overview">
                    <a class="stretched-link"
                       data-test-id="project-navigation-overview"
                       href="#">Statistiques</a>
                </label>
            </div>
            <div class="fr-segmented__element">
                <input value="overview"
                       type="radio"
                       {% if overview %}checked{% endif %}
                       aria-checked="{% if overview %}true{% else %}false{% endif %}"
                       id="segmented-control-overview"
                       name="segmented-control-project"
                       @click="window.location='#'">
                <label class="fr-label" for="segmented-control-overview">
                    <a class="stretched-link"
                       data-test-id="project-navigation-overview"
                       href="#">Activité</a>
                </label>
            </div>
            <div class="fr-segmented__element">
                <input value="overview"
                       type="radio"
                       {% if overview %}checked{% endif %}
                       aria-checked="{% if overview %}true{% else %}false{% endif %}"
                       id="segmented-control-overview"
                       name="segmented-control-project"
                       @click="window.location='#'">
                <label class="fr-label" for="segmented-control-overview">
                    <a class="stretched-link"
                       data-test-id="project-navigation-overview"
                       href="#">Paramètres</a>
                </label>
            </div>
        </div>
    </fieldset>
</div>
