{% load static %}
{% load leaflet_tags %}
{% load l10n %}
{% load projects_extra %}
{% load guardian_tags %}
{% get_obj_perms request.user for request.site as "user_site_perms" %}
{% is_staff_for_current_site request.user as is_staff %}
<aside class="w-25 crm-aside">
    <div x-ref="sidebar"
         class="d-flex flex-column justify-content-start crm-sticky">
        {% if back_button %}
            {% include "crm/back_button.html" %}
        {% endif %}
        <div class="fr-px-3w fr-py-2w">
            <ul class="fr-m-0 fr-p-0">
                <li class="dropdown-item border-0 d-inline-block position-relative fr-mb-1v">
                    <svg class="bi fr-mr-2v d-inline" width="16" height="16">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#person-circle" />
                    </svg>
                    <a href="{% url 'crm-user-list' %}">Utilisateur·trice·s</a>
                </li>
                <li class="dropdown-item border-0 d-inline-block position-relative fr-mb-1v">
                    <svg class="bi fr-mr-2v d-inline" width="16" height="16">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#folder-fill" />
                    </svg>
                    <a href="{% url 'crm-project-list' %}">Dossiers</a>
                </li>
                <li class="dropdown-item border-0 d-inline-block position-relative fr-mb-1v">
                    <svg class="bi fr-mr-2v d-inline" width="16" height="16">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#building" />
                    </svg>
                    <a href="{% url 'crm-organization-list' %}">Organisations</a>
                </li>
            </ul>
        </div>
        {% if search %}
            {% include "crm/search.html" %}
        {% endif %}
        {% if organization_members %}
            <div class="fr-pt-2w fr-px-3w crm-border-bottom">
                <h5 class="crm-user-decoration d-inline-block relative">
                    Participants <strong>({{ participants|length }})</strong>
                </h5>
                <ul class="list-unstyled">
                    {% for participant in participants %}
                        <li>{% include "crm/user_item.html" with user=participant %}</li>
                    {% empty %}
                        <li>Désolé, aucune personne n'est encore assignée</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if followed_projects %}
            <div class="fr-px-3w fr-mt-3w crm-border crm-border-bottom fr-pb-2v">
                <h5 class="crm-project-decoration d-inline-block">
                    Dossiers suivis <strong>({{ advised_projects|length }})</strong>
                </h5>
                <ul class="list-unstyled">
                    {% for project in advised_projects %}
                        {% include "crm/project_item.html" %}
                    {% empty %}
                        <li>Désolé, pas encore de dossier pour cette organisation</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if unfollowed_projects %}
            <div class="fr-px-3w fr-mt-3w crm-border-bottom fr-pb-2v">
                <h5 class="crm-project-decoration d-inline-block relative">
                    Dossiers régionaux non suivis <strong>({{ unadvised_projects|length }})</strong>
                </h5>
                <ul class="list-unstyled">
                    {% for project in unadvised_projects %}
                        {% include "crm/project_item.html" %}
                    {% empty %}
                        <li>Aucun dossier régionaux non suivis</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if project_advisors %}
            <div class="fr-pt-2w fr-mb-3w fr-px-3w crm-border-bottom">
                <h5 class="crm-user-decoration d-inline-block relative">
                    Conseiller·es <strong>({{ project.switchtenders.all|length }})</strong>
                </h5>
                <ul class="fr-mb-2v fr-px-0 list-unstyled">
                    {% regroup project.switchtenders.all by profile.organization as grouped_st %}
                    {% for group in grouped_st %}
                        <div class="fr-mb-3w">
                            {% if group.grouper %}
                                <a class="d-flex align-items-center"
                                   href="{% url 'crm-organization-details' group.grouper.pk %}">
                                    <svg class="bi fr-mr-2v" width="16" height="16" fill="currentColor">
                                        <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#building" />
                                    </svg>
                                    <strong>{{ group.grouper }}</strong>
                                </a>
                            {% endif %}
                            <ul class="list-unstyled fr-mx-3w fr-mb-3w">
                                {% for switchtender in group.list %}
                                    <li>{% include "crm/user_item.html" with user=switchtender %}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% empty %}
                        Pas de participant
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if project_members %}
            <div class="fr-px-3w crm-border-bottom fr-pb-2v">
                <h5 class="crm-user-decoration d-inline-block relative">
                    Demandeur et partenaires <strong>({{ project.members.all|length }})</strong>
                </h5>
                <ul class="list-unstyled">
                    {% for member in project.members.all %}
                        <li>{% include "crm/user_item.html" with user=member %}</li>
                    {% empty %}
                        {% if project_creation_request %}
                            <li>
                                <svg class="bi fr-mr-2v" width="16" height="16" fill="currentColor">
                                    <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#person-fill" />
                                </svg>
                                {{ project_creation_request.email }}
                            </li>
                        {% else %}
                            <li>Aucun demandeur ou partenaire</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if user_advised_projects %}
            <div class="fr-pt-2w crm-border-bottom fr-pb-2v fr-px-3w">
                <h5 class="crm-project-decoration d-inline-block relative">
                    Dossiers conseillés <strong>({{ crm_user.projects_switchtended_per_site.all|length }})</strong>
                </h5>
                <ul class="list-unstyled">
                    {% for switchtending in crm_user.projects_switchtended_per_site.all %}
                        {% include "crm/project_item.html" with project=switchtending.project %}
                    {% empty %}
                        - aucun -
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if user_projects %}
            <div class="fr-pt-2w crm-border-bottom fr-pb-2v fr-px-3w">
                <h5 class="crm-project-decoration d-inline-block relative">
                    Participe aux dossiers <strong>({{ crm_user.projectmember_set.all|length }})</strong>
                </h5>
                <ul class="list-unstyled">
                    {% for membership in crm_user.projectmember_set.all %}
                        {% include "crm/project_item.html" with project=membership.project %}
                    {% empty %}
                        - aucun -
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</aside>
