{% load static %}
{% load guardian_tags %}
{% get_obj_perms request.user for request.site as "user_site_perms" %}
{% get_obj_perms request.user for project as "user_project_perms" %}
<div x-data="PreviewModal()"
     class="modal fade"
     id="test-modal"
     tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <template x-if="task">
                <div>
                    <template x-if="$store.previewModal.isPaginated">
                        <div>
                            <button @click="$store.previewModal.previous()">Previous</button>
                            <button @click="$store.previewModal.next()">Next</button>
                        </div>
                    </template>
                    <pre x-text="JSON.stringify(task)"></pre>
                    <div x-effect="taskId && $store.previewModal.loadFollowups()">
                        <template x-if="followups">
                            <pre x-text="JSON.stringify(followups)"></pre>
                        </template>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>
