{% load static %}

<div class="modal fade" id="task-preview" tabindex="-1" aria-hidden="true" x-init="initPreviewModal()"
	x-data="{ get currentTask() { return this.findById(this.currentTaskId)}}">
	<div class="modal-dialog modal-xl">
		<template x-if="currentTaskId && currentTask">
			<div class="modal-content">
				<div class="modal-header">
					<h3 :text="currentTask.intent"></h3>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body p-0">
					<div class="d-flex align-items-stretch h-100">
						<template x-if="currentTask.resource_id">
							<iframe class="w-100" :src="resourcePreviewUrl(currentTask.resource_id)"></iframe>
						</template>
						<template x-if="!currentTask.resource_id">
							<div class="flex-fill p-3 overflow-auto">
								<div class="col-10 px-5 mx-auto">
									<div class="resource-details pb-3">
										<h1 x-text="currentTask.intent" class="mb-3"></h1>
									</div>
									<p class="text-justified" x-html="renderMarkdown(currentTask.content)"></p>
								</div>
							</div>
						</template>
						<div
							class="border border-top-0 border-bottom-0 border-right-0 flex-shrink-0 d-flex flex-column justify-content-between"
							style="width: 33%;">
							<div class="d-flex flex-column flex-fill overflow-hidden">
								{% include 'projects/project/fragments/status_switcher.html' %}
								<h2 class="text-secondary text-uppercase fw-bolder m-3" style="font-size: 12px;">
									Conversation
								</h2>
								<div class="flex-fill overflow-auto h-100">
									<template x-if="currentTask.resource_id">
										<div class="rounded bg-light p-2 m-3 message"
											:class="canAdministrate && currentTask.content === '' && 'border border-warning'">
											<template x-if="currentTask.content !== ''">
												<p x-html="renderMarkdown(currentTask.content)" class="mb-2"></p>
											</template>
											<template x-if="currentTask.content === ''">
												<p class="fst-italic">Aucun commentaire initial n'a été ajouté</p>
											</template>
											<div class="d-flex justify-content-between" style="font-size: 0.9em;">
												<div>
													<img class="rounded-circle d-inline-block" width="20px" height="20px"
														:src="generateGravatarUrl(currentTask.created_by)" data-bs-toggle="tooltip"
														data-bs-placement="bottom"
														:title="`${currentTask.created_by.first_name} ${currentTask.created_by.last_name}`"
														style="z-index: 1000;" tabindex="0" />
													<span class="ms-1 fst-italic"
														x-text="`${currentTask.created_by.first_name} ${currentTask.created_by.last_name}`"
														style="line-height: 20px"></span>
													<template x-if="currentTask.created_by.profile.organization">
														<span x-text="currentTask.created_by.profile.organization.name"
															class="fst-italic text-muted"></span>
													</template>
													<span class="ms-2 text-muted" x-text="`le ${formatDate(currentTask.created_on)}`"
														style="line-height: 20px"></span>
												</div>
												<template x-if="canAdministrate">
													<a class="text-muted" style="cursor: pointer;" @click="onEditContent()">Editer</a>
												</template>
											</div>
										</div>
									</template>
									<template x-if="!currentTask.resource_id">
										<div class="my-3">
											<div class="mx-3 mb-1 text-center" style="font-size: 0.8em;">
												<span class="ms-1 fst-italic" x-text="`${currentTask.created_by.first_name} ${currentTask.created_by.last_name}`"
													style="line-height: 20px"></span> a créé cette recommandation sans ressource
													<span class="ms-1 text-muted" x-text="`le ${formatDate(currentTask.created_on)}`"
																style="line-height: 20px"></span>
											</div>
										</div>
									</template>
									<template x-if="currentTaskFollowups">
										<template x-for="f in currentTaskFollowups" x-key="f.timestamp"
											x-effect="currentTaskFollowups && scrollToLastElement">
											<div>
												<template x-if="!isStatusUpdate(f)">
													<div class="rounded bg-light p-2 m-3 message"
														:class="hasNotification(f.id) && 'border border-warning'">
														<p x-html="renderMarkdown(f.comment)" class="mb-2"></p>
														<div class="d-flex justify-content-between" style="font-size: 0.9em;">
															<div>
																<img class="rounded-circle d-inline-block" width="20px" height="20px"
																	:src="generateGravatarUrl(f.who)" data-bs-toggle="tooltip" data-bs-placement="bottom"
																	:title="`${f.who.first_name} ${f.who.last_name}`" style="z-index: 1000;"
																	tabindex="0" />
																<span class="ms-1 fst-italic" x-text="`${f.who.first_name} ${f.who.last_name}`"
																	style="line-height: 20px">
																</span>
																<template x-if="f.who.profile.organization">
																	<span x-text="f.who.profile.organization.name" class="fst-italic text-muted"></span>
																</template>
																<span class="ms-2 text-muted" x-text="`le ${formatDate(f.timestamp)}`"
																	style="line-height: 20px"></span>
															</div>
															<template x-if="canManage && f.who.email === userEmail">
																<a class="text-muted" @click="onEditComment(f)">Editer</a>
															</template>
														</div>
													</div>
												</template>
												<template x-if="isStatusUpdate(f)">
													<div class="my-3" :class="hasNotification(f.id) && 'text-warning'">
														<div class="mx-3 mb-1 text-center" style="font-size: 0.8em;">
															<span class="ms-1 fst-italic" x-text="`${f.who.first_name} ${f.who.last_name}`"
																style="line-height: 20px"></span> a changé le statut de la recommandation en <span
																class="fw-bold" x-text="statusText(f.status)"></span>
																<span class="text-muted" x-text="`le ${formatDate(f.timestamp)}`"
																style="line-height: 20px"></span>
														</div>
														<template x-if="f.comment !== ''">
															<div class="rounded bg-light p-2 m-3 message">
																<p x-html="renderMarkdown(f.comment)" class="mb-2"></p>
																<div class="d-flex justify-content-between" style="font-size: 0.9em;">
																	<div>
																		<img class="rounded-circle d-inline-block" width="20px" height="20px"
																			:src="generateGravatarUrl(f.who)" data-bs-toggle="tooltip"
																			data-bs-placement="bottom" :title="`${f.who.first_name} ${f.who.last_name}`"
																			style="z-index: 1000;" tabindex="0" />
																		<span class="ms-1 fst-italic" x-text="`${f.who.first_name} ${f.who.last_name}`"
																			style="line-height: 20px"></span>
																		<template x-if="f.who.profile.organization">
																			<span x-text="f.who.profile.organization.name"
																				class="fst-italic text-muted"></span>
																		</template>
																		<span class="ms-2 text-muted" x-text="`le ${formatDate(f.timestamp)}`"
																			style="line-height: 20px"></span>
																	</div>
																	<template x-if="canManage && f.who.email === userEmail">
																		<a class="text-muted" style="cursor: pointer;" @click="onEditComment(f)">Editer</a>
																	</template>
																</div>
															</div>
														</template>
													</div>
												</template>
											</div>
										</template>
									</template>
								</div>
							</div>
							{% if can_manage and not disable_edit %}
							<div class="p-3 border-top">
								<template x-if="currentlyEditing">
									<span>Editer un commentaire</span>
								</template>
								<template x-if="!currentlyEditing">
									<span>Répondre</span>
								</template>
								<form x-ref="commentTextFormRef" class="position-relative mt-2 form d-flex flex-column align-items-end" @submit.prevent="onSubmitComment">
									<textarea x-model="commentText" id="modal-textarea" x-ref="commentTextRef" name="comment" style="min-height: 100px; border-color: #ccc;"
										class="w-100 p-2 rounded rounded-4 my-2 mb-3 border" placeholder="Votre message..."
										x-model="pendingComment"></textarea>
									<button x-bind:disabled="commentText.length == 0" type="submit" class="btn btn-primary">Envoyer</button>
								</form>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</template>
	</div>
</div>
