{% load static %}
{% load sass_tags %}
{% block css %}
    <link href="{% sass_src 'projects/css/fragments/share/invite.scss' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock css %}
<div class="modal fade"
     id="invite-member-modal"
     tabindex="-1"
     aria-labelledby="invite-member-modal-label"
     aria-hidden="true"
     x-init="initInviteMemberModal()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="fw-bold d-block fr-mb-0 h6-specific-fontsize-22">Inviter un porteur de projet</h6>
            </div>
            <div class="modal-body">
                <form class="form"
                      id="form-projects-access-add-user"
                      action="{% url 'projects-project-access-collectivity-invite' project.pk %}"
                      method="post">
                    <div class="fr-mb-2w">
                        <label class="form-label specific-fontsize-16 specific-color-666"
                               for="invite-email">Saisissez l'adresse email de la personne à inviter</label>
                        <input id="invite-email"
                               type="email"
                               name="email"
                               required
                               class="form-control"
                               placeholder="camille@ville-imaginaire.fr" />
                    </div>
                    <input type="hidden"
                           name="{{ invite_form.role.html_name }}"
                           id="role-collaborator"
                           value="COLLABORATOR">
                    {% if source %}<input type="hidden" name="source" id="source" value="{{ source }}">{% endif %}
                    <div class="fr-mb-2w">
                        <label class="form-label specific-fontsize-16 specific-color-666"
                               for="invite-message">Message d'invitation (optionnel)</label>
                        <textarea id="invite-message"
                                  rows="8"
                                  name="message"
                                  class="form-control"
                                  placeholder="J'aimerais vous inviter car..."></textarea>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="button d-inline-flex align-items-center" type="submit">Envoyer l'invitation</button>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>
