.callout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px 20px 30px;
    border-left: solid 4px #0063CB;
}

.callout .callout-title {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
}

.callout .callout-content {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}
