:root {
  --color-topic-default: #0063cb;
  --color-topic-1: #fbaff5;
  --color-topic-2: #79e7d5;
  --color-topic-3: #fcb0a2;
  --color-topic-4: #b6cffb;
  --color-topic-5: #fde39c;
}

.bg-green {
  background-color: #5bb5a7;
}

.bg-green-dark {
  background-color: #27a658;
}

.bg-grey {
  background-color: #e5e5e5;
}

/* .bg-grey-dark-light {
    background-color: #E5E5E5;
} */

.bg-grey-dark {
  background-color: #929292;
}

.bg-yellow {
  background-color: #fdcd6d;
}

.bg-grey-light {
  background-color: #f6f6f6;
}

.bg-orange {
  background-color: #fa7a35;
}

.bg-orange-light {
  background-color: #fff1e6;
}

.bg-red {
  background-color: #ffe9e9;
}

.bg-blue-light {
  background-color: #e8edff;
}

.bg-blue-light-hover:hover {
  background-color: #103a78 !important;
}

.bg-blue {
  background: #0063cb;
}

.bg-purple {
  background-color: #667dcf;
}

.fill-blue {
  fill: #0063cb;
}

.fill-grey {
  fill: #929292;
}

.hover-bg-grey:hover {
  background-color: #e5e5e5;
}
