:root {
  --underline-img: ;
  // --underline-img: linear-gradient(0deg, currentColor, currentColor);
  // --link-blank-content: ;
  --link-blank-content: '';
  // --ul-type: ;
  --ul-type: disc;
  // --ol-type: ;
  --ol-type: decimal;
  // --ul-start: ;
  --ul-start: 1rem;
  // --ol-start: ;
  --ol-start: 1.5rem;
  // --xl-block: ;
  --xl-block: 0.5rem;
  // --li-bottom: ;
  --li-bottom: 0.25rem;
  // --xl-base: ;
  --xl-base: 1em;
  // --ol-content: ;
  --ol-content: counters(li-counter, '.') '.\00a0\00a0';
  // --text-spacing: ;
  // --text-spacing: 0 0 1.5rem;
  // --title-spacing: ;
  // --title-spacing: 0 0 1.5rem;
  --display-spacing: ;
  // --display-spacing: 0 0 2rem;
  --display-spacing: ;
  // --display-spacing: 0 0 2rem;
  // --background-action-high-blue-france: var(--background-action-high-blue-france);

  // --text-active-blue-france: var(--background-action-high-blue-france);
  // --text-action-high-blue-france: var(--background-action-high-blue-france);

  // --border-action-high-blue-france: var(--background-action-high-blue-france);
  // --border-active-blue-france: var(--background-action-high-blue-france);

  --bs-link-color-rgb: 51, 91, 126;

  --variant-secondary-black: #3a3a3a;
  --background-contrast-grey: #f5f5f5;
  --light-border-default-grey: #c0c0c0;
}

/* ¯¯ *\
  FONT
\* ˍˍ */

* {
  font-family: 'Marianne';
}

.fw-700 {
  font-weight: 700;
}

.fr-italic {
  font-style: italic;
}

.fr-small,
.fr-small > * {
  font-size: 0.875rem !important;
}

.fr-font--capitalize::first-letter {
  text-transform: uppercase;
}

/* ¯¯¯¯ *\
  BUTTONS
\* ˍˍˍˍ */

a {
  text-decoration: none;

  &.btn,
  &.button,
  &.nav-link,
  &.link-secondary {
    text-decoration: none;
  }
}

/* ¯¯¯¯ *\
  INPUTS
\* ˍˍˍˍ */

.fr-input::placeholder,
.fr-textarea::placeholder {
  color: var(--text-mention-grey);
  font-style: italic;
  opacity: 1;
}

/* ¯¯¯¯ *\
  ICONS
\* ˍˍˍˍ */

.fr-icon-margin-right-sm::before {
  margin-right: 0.2rem;
}

p a {
  text-decoration: underline;
  color: #0000ee;
}

.normal-link-style {
  text-decoration: underline;
  color: #0000ee;
}

p {
  &:has(input),
  &:has(select),
  &:has(textarea) {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.fr-btn--grey {
  background-color: var(--light-background-alt-grey, #f6f6f6);
  color: var(--light-text-default-grey, #3a3a3a);
  font-size: 14px;
  font-weight: 700;
  &:not(:disabled):hover {
    background-color: var(--light-background-alt-grey-hover, #e6e6e6);
    background: var(--light-background-alt-grey-hover, #e6e6e6);
    color: var(--light-text-default-grey-hover, #3a3a3a);
  }
}

// a.fr-btn {
//   &:hover {
//     &:not(.fr-btn--primary),
//     &:not(.fr-btn--secondary),
//     &:not(.fr-btn--tertiary),
//     &:not(.fr-btn--tertiary-no-outline) {
//       color: white !important;
//     }

//     &.fr-btn--primary,
//     &.fr-btn--secondary,
//     &.fr-btn--tertiary,
//     &.fr-btn--tertiary-no-outline {
//       color: var(--text-active-blue-france) !important;
//     }
//   }
// }

.fr-btn--secondary {
  &:is(.black) {
    box-shadow: inset 0 0 0 1px var(--variant-secondary-black);
  }
  &.black {
    color: var(--variant-secondary-black);
    background-color: transparent;
  }
}

.custom-login-button {
  min-width: 300px;
  justify-content: center;
}

.custom-button {
  background: #00bbc3 !important;
  color: white !important;
  text-decoration: none;

  &:hover {
    background: #479195 !important;
    color: white !important;
  }
}

.fr-btn-custom-hover:hover {
  background-color: #8585f6 !important;
  box-shadow: 0 0 0 1px #8585f6 !important;
}

button.fr-text-inverted--grey,
a.fr-text-inverted--grey {
  &:hover {
    color: var(--text-active-blue-france) !important;
  }
}

.fr-btn--xs {
  font-size: 0.5rem;
  line-height: 1rem;
  min-height: 1.5rem;
  padding: 0.125rem 0.5rem;
}

.mt-n150px {
  margin-top: 0;
}

@media (min-width: 48em) {
  .mt-n150px {
    margin-top: -150px;
  }
}

.lineheight-1-25 {
  line-height: 1.25 !important;
}

.specific-position-rt-12px {
  top: 12px;
  right: 12px;
}

.max-height-320px {
  max-height: 320px;
  overflow: auto;
}

/* ¯¯¯ *\
  LISTS
\* ˍˍˍ */

ul.item-no-space > li {
  padding-bottom: 0px;
  &:not(:last-child) {
    margin-bottom: -1px;
  }
}

/* ¯¯¯ *\
  FORMS
\* ˍˍˍ */

form > p {
  margin-bottom: 1rem;
}
/* ¯¯¯¯¯¯¯¯¯ *\
  CONSENT MAIN
\* ˍˍˍˍˍˍˍˍˍ */

.fr-h6 {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
}

.fr-consent-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 2rem;
  text-align: center;
  --text-spacing: 0 0 1.5rem;
  --title-spacing: 0 0 0.5rem;
  // background-color: var(--background-contrast-grey);
  background-color: #f6f6f6;
  --hover: var(--background-contrast-grey-hover);
  --active: var(--background-contrast-grey-active);
}

.fr-consent-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: calc(100% - 8rem);
  padding: 1rem;
  z-index: 4000;
  overflow: auto;
  --text-spacing: 0 0 1rem;
  --title-spacing: 0 0 1rem;
  background-color: #f6f6f6;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.fr-consent-banner {
  padding: 2rem;
  bottom: 2.5rem;
  left: 2.5rem;
  max-width: 40rem;
  max-height: calc(100% - 5rem);
}

.fr-btns-group--inline-sm.fr-btns-group--right.fr-btns-group--inline-reverse {
  flex-direction: row-reverse;
  justify-content: flex-start;
  display: flex;
}

.fr-consent-banner__title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.fr-consent-banner__buttons {
  margin-top: 1.5rem;
  margin-bottom: -1rem;
}

/**
  * Consent service correspond à un bloc de finalité (titre, radios, description)
  **/
.fr-consent-service {
  position: relative;
  /**
    * Nom du service
    **/
  /**
    * Description du service
    **/
  /**
    * Bloc dépliable, contient des sous services
    **/
  /**
    * Conteneur des radio-group
    **/
  /**
    * Groupe de radios avec séparateur
    **/
}

.fr-consent-service > .fr-fieldset {
  padding: 0 0 1.25rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: initial;
}

.fr-consent-service:last-child > .fr-fieldset {
  padding: 2rem 0 1rem;
}

.fr-consent-service:last-child
  > .fr-fieldset
  .fr-consent-service
  > .fr-fieldset:last-child {
  margin-bottom: 0;
}

.fr-consent-service__title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  padding: 2rem 0 0.75rem;
  margin: 0;
}

.fr-consent-service__desc {
  font-size: 0.875rem;
  line-height: 1.5rem;
  --text-spacing: 0.75rem 0 0.75rem 0;
}

.fr-consent-service__collapse {
  margin-top: -0.25rem;
  margin-bottom: 0.75rem;
  width: 100%;
  /**
      * Bouton d'ouverture/fermeture du collapse
      **/
}

.fr-consent-service__collapse .fr-consent-service__collapse-btn {
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 0 0;
  flex-direction: row-reverse;
  overflow: initial;
  max-width: 100%;
  max-height: none;
  background: transparent;
  padding: 0;
  color: inherit;
}

.fr-consent-service__collapse .fr-consent-service__collapse-btn::before {
  content: '';
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: middle;
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url('icons/system/arrow-down-s-line.svg');
  mask-image: url('icons/system/arrow-down-s-line.svg');
  --icon-size: 1rem;
  margin-right: -0.16667rem;
  margin-left: 0.25rem;
}

.fr-consent-service__collapse
  .fr-consent-service__collapse-btn[aria-expanded='true']::before {
  content: '';
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: middle;
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url('icons/system/arrow-up-s-line.svg');
  mask-image: url('icons/system/arrow-up-s-line.svg');
  --icon-size: 1rem;
}

.fr-consent-service__collapse-btn {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  --hover-tint: transparent;
  --active-tint: transparent;
}

.fr-consent-service__collapse-btn::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: calc(100% - 1rem);
  height: calc(100% - 0.25rem);
  background-image: var(--underline-img), var(--underline-img);
  background-position:
    50% calc(50% + 0.65625em),
    50% calc(50% + 0.65625em);
  background-repeat: no-repeat, no-repeat;
  transition: background-size 0s;
  background-size:
    0 0.125em,
    100% 0.0625em;
}

.fr-consent-service__radios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fr-consent-service .fr-radio-group {
  position: relative;
}

.fr-consent-service
  .fr-radio-group:not(:last-child)
  input[type='radio']
  + label {
  margin-right: 3rem;
}

.fr-consent-service .fr-radio-group:not(:first-child)::before {
  content: '';
  display: block;
  width: 1px;
  height: 1.5rem;
  position: absolute;
  left: calc(-1.5rem - 1px);
  top: 0.75rem;
}

/**
  * fr-consent-services contient les sous services
  **/
.fr-consent-services {
  margin-top: 0.5rem;
  margin-bottom: -0.5rem;
  width: 100%;
}

.fr-consent-services .fr-consent-service,
.fr-consent-services .fr-consent-service:last-child {
  box-shadow: none;
}

.fr-consent-services .fr-consent-service > .fr-fieldset,
.fr-consent-services .fr-consent-service:last-child > .fr-fieldset {
  padding: 0;
}

.fr-consent-services .fr-consent-service:last-child > .fr-fieldset {
  margin-bottom: 1.25rem;
}

.fr-consent-services .fr-consent-service__title {
  padding-top: 0.75rem;
}

.fr-consent-services .fr-consent-service__radios {
  top: 0;
}

.fr-consent-services .fr-consent-service__desc {
  --text-spacing: 0.25rem 0 0.75rem 0;
}

.fr-consent-manager__header {
  padding-top: 0;
}

.fr-consent-manager__header .fr-consent-service__title {
  width: 100%;
  padding: 0 0 0.75rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.fr-consent-manager__header .fr-consent-service__radios {
  width: 100%;
  justify-content: flex-start;
  top: 0;
  position: initial;
}

.fr-consent-manager__buttons {
  margin-bottom: -3rem;
  margin-top: 1rem;
}

.fr-consent-manager .fr-consent-service:last-of-type {
  box-shadow: none;
}

.fr-consent-manager__header,
.fr-consent-service {
  box-shadow: inset 0 -1px 0 0 var(--border-default-grey);
  color: var(--text-default-grey);
}

.fr-consent-manager__header .fr-radio-group + .fr-radio-group::before,
.fr-consent-service .fr-radio-group + .fr-radio-group::before {
  box-shadow: inset 0 0 0 1px var(--border-default-grey);
}

/* ----------- *\
  TOGGLE SWITCH
\* ----------- */
.fr-toggle {
  padding: 0;
  .fr-toggle__label:after {
    top: 0;
  }
}

/* ¯¯¯ *\
  USER TOOLS
\* ˍˍˍ */

.fr-menu__list {
  li:last-child {
    padding-bottom: 0;
  }
}

/* -------------------- *\
  Add from 1.5.2 of DSFR
\* -------------------- */

.fr-background-default--grey {
  background-color: var(--background-default-grey) !important;
  --hover: var(--background-default-grey-hover) !important;
  --active: var(--background-default-grey-active) !important;
}

.fr-background-alt--grey {
  background-color: var(--background-alt-grey) !important;
  --hover: var(--background-alt-grey-hover) !important;
  --active: var(--background-alt-grey-active) !important;
}

.fr-text-inverted--grey {
  color: var(--text-inverted-grey) !important;
}

.fr-text-label--blue-cumulus {
  color: #3558a2 !important;
}

.col-6 {
  &.fr-select-group--error:before,
  &.fr-select-group--info:before,
  &.fr-select-group--valid:before,
  &.fr-input-group--error:before,
  &.fr-input-group--info:before,
  &.fr-input-group--valid:before {
    left: 0rem !important;
  }
}

.fr-input-group-- {
  &error .fr-error-text {
    display: block;
  }

  &valid .fr-error-text {
    display: none;
  }
}

.modal-description {
  margin: 1rem 0;
  border-left: 4px solid var(--background-action-high-blue-france);
  padding-left: 1rem;
}

.btn-outline-secondary:hover,
.btn-outline-primary:hover {
  color: inherit;
}

.fr-segmented__element input:checked + label {
  font-weight: 700;
}

.fr-segmented__legend .inline {
  display: inline;
}

/* ¯¯¯ *\
  UTILS
\* ˍˍˍ */

.no-underline {
  text-decoration: none !important;
}

.text-underline {
  text-decoration: underline !important;
}

.bg-white {
  background-color: white;
}

.text-transform-none {
  text-transform: none !important;
}

.height-fit-content {
  height: fit-content;
}

.height-fit-content {
  height: fit-content;
}

.no-wrap {
  white-space: nowrap;
}

.text-ease {
  color: var(--grey-625-425);
}

.specific-border-4pxsolid000091 {
  // border: 4px solid #000091;
  border: 4px solid var(--orange-terre-battue-850-200);
}

.specific-border-4pxsolid1e1e1e {
  border: 4px solid #1e1e1e;
}

.specific-opacity-02 {
  opacity: 0.2;
}

.cursor-pointer {
  cursor: pointer;
}

.menu-modal-correct-fr-menu {
  right: 0px;
  margin: 0;
  padding: 0;
}

.invisible-anchor-high {
  position: absolute;
  top: -130px;
}

.specific-position-absolute-centered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.specific-color-high-blue-france {
  color: var(--background-action-high-blue-france);
}

.specific-background-high-blue-france {
  background: var(--background-action-high-blue-france);
}

.text-align-center {
  text-align: center;
}

.justify-content-center {
  justify-content: center;
}

.blue-text-block {
  color: #4285f4;
  background-color: rgba(96, 162, 228, 0.1);
  border-radius: 4px;
}

.specific-color-background {
  background-color: #dffdf7;
}

.specific-background-grey {
  background-color: #fafafa;
}

.specific-flex-basis-48 {
  flex-basis: 48.8%;
}

.font-size-14px {
  font-size: 14px;
}

.font-size-14px p {
  font-size: 14px;
}

.font-size-12px {
  font-size: 12px;
}

.font-size-12px p {
  font-size: 12px;
}

.fw-400 {
  font-weight: 400;
}

.fw-400 p {
  font-weight: 400;
}

.centered-item {
  margin: auto;
  display: block;
}

.start-96 {
  left: 96% !important;
}

.repositionning {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}

.flex-auto {
  flex: 1 1 auto;
}

.border-radius-03 {
  border-radius: 0.3rem;
}

.form-mandatory-element {
  color: #e1000f;
  font-size: 16px;
  font-weight: 500;
}

.border-bottom {
  border-bottom: 1px solid var(--light-border-default-grey, #e5e5e5) !important;
}

.no-interaction-possible {
  pointer-events: none;
}

/* ¯¯¯¯ *\
  COLORS
\* ˍˍˍˍ */

.fr-color {
  color: white;
  &--success {
    background-color: var(--success-425-625-hover, #27a959);
  }
  &--warning {
    color: black;
    background-color: #ffa500;
  }

  &--error {
    background-color: #dc3444;
  }

  &--mention {
    color: var(--light-text-mention-grey, #666);

    &_button {
      color: var(--light-text-mention-grey, #666);
      border: 1px solid var(--light-text-mention-grey, #666);
      box-shadow: none;
    }
  }

  &--disabled-grey {
    color: var(--light-text-disabled-grey, #929292);
  }
}

.color-purple {
  color: #667dcf;
}

.color-purple p {
  color: #667dcf;
}

.specific-color-3a {
  color: #3a3a3a;
}

/* ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ *\
   Buttons
\* ˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍ */

.introjs-skipbutton {
  cursor: pointer !important;
}

// rewrite dsfr btn style
.fr-btn--tertiary {
  color: #3a3a3a !important;
  background: var(--light-background-alt-grey, #f6f6f6);
  &-dark-background {
    background: var(--light-background-default-grey, #fff);
  }
  &:not(:disabled):hover {
    background-color: var(--light-background-alt-grey-hover, #e6e6e6);
    background: var(--light-background-alt-grey-hover, #e6e6e6);
    color: var(--light-text-default-grey-hover, #3a3a3a);
    opacity: 0.9;
  }
}

/* ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ *\
  CRM - Custom styles
\* ˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍ */

.sticky-header {
  position: sticky;
  top: 60px;
}

/* ¯¯¯¯¯¯¯¯ *\
  Multisites
\* ˍˍˍˍˍˍˍˍ */

.blue-hero-banner {
  border-radius: 2px;
  background: var(--light-background-alt-blue-france, #f5f5fe);
}

.h1-dsfr-rework {
  font-size: 2rem !important;
  font-weight: 700 !important;
  line-height: 2.5rem !important;
}

/* ¯¯¯¯¯¯¯¯¯¯¯¯¯ *\
  Gestion z-index
\* ˍˍˍˍˍˍˍˍˍˍˍˍˍ */

.z-1002 {
  z-index: 1002 !important;
}
.z-1001 {
  z-index: 1001 !important;
}

/* ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ *\
  resize text elements
\* ˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍˍ */

.dsfr-stepper__title-resize {
  font-size: 18px !important;
}

.h2-rework {
  font-size: 28px;
}

.size-20px {
  font-size: 20px;
}

.h5-rework {
  font-size: 16px !important;
  line-height: 150% !important;
  color: #242424;
  font-weight: 500 !important;
}

.description-help-text {
  color: var(--light-text-mention-grey, #666);
  font-size: 12px !important;
  font-weight: 400;
  line-height: 150% !important; /* 18px */
}

.fr-label-rework {
  color: var(--light-text-default-grey, #3a3a3a);
  font-size: 12px;
  font-weight: 700;
  line-height: 170%; /* 20.4px */
  height: 25px;
}

.label-helptext-rework {
  color: var(--light-text-default-grey, #3a3a3a);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%; /* 18px */
}

/* ¯¯ *\
  Link
\* ˍˍ */

.non-stylish-link {
  color: white !important;
  text-decoration: none !important;
}

/* ¯¯¯¯¯ *\
  Buttons
\* ˍˍˍˍˍ */

.fr-btn-secondary-rework {
  border-radius: 1px;
  padding: 6px 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  min-height: 0;
}

/* ¯¯¯ *\
  Text
\* ˍˍˍ */

.text-light-centered {
  color: #999;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: auto;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ¯¯¯ *\
  Size
\* ˍˍˍ */

.w-49 {
  width: 49%;
}

/* ¯¯¯¯¯¯¯¯ *\
  Espacement
\* ˍˍˍˍˍˍˍˍ */

.fr-pt-05v {
  padding-top: 2px;
}

/* Conversations - delete highlight effect */
.message-item--deleting {
  position: relative;
  animation: message-delete-pulse 600ms ease-in-out 0s 1 normal forwards;
}

@keyframes message-delete-pulse {
  0% {
    background-color: rgba(220, 53, 68, 0.12); /* error red, subtle */
  }
  40% {
    background-color: rgba(220, 53, 68, 0.24);
  }
  100% {
    background: var(--light-background-alt-blue-france, #f5f5fe);
  }
}
