.flag {
  padding: 20px;
}

.flag.blue {
  background-color: #e8edff;
}

.flag.dark-blue {
  background: #0063cb;
}

.flag.grey {
  background-color: #f6f6f6;
}

.flag.red {
  background-color: #ffe9e9;
}

.flag.orange {
  background-color: #ffeeb9;
}

.flag.slim {
  padding: 10px 20px;
}

.flag.slim .title {
  font-weight: bold;
  margin-bottom: 0;
}

.flag.slim > p {
  margin-bottom: 0;
}

.flag.slim {
  margin-block-start: -15px;
}

.flag.slim + * {
  margin-block-start: 15px;
}
