.introjs-tooltip * {
  font-family: 'Marianne', arial, sans-serif;
}

.introjs-tooltip {
  min-width: 40vw;
}

.introjs-tooltip .tutorial-first-step h3 {
}

.introjs-helperLayer {
  box-shadow:
    rgb(1 99 203) 0px 0px 1px 2px,
    rgba(33, 33, 33, 0.5) 0px 0px 0px 5000px !important;
}

.introjs-button {
  border: 1px solid var(--background-action-high-blue-france);
  padding: 5px 10px !important;
  border-radius: 2px;
  font-size: 12px !important;

  text-transform: uppercase;
  font-size: 0.85rem;
  color: var(--background-action-high-blue-france);
  text-decoration: none;

  transition: all 0.25s ease;
  background: transparent;
  cursor: pointer !important;
  text-shadow: none;
  font-family: 'Marianne', arial, sans-serif;
}

.introjs-button:hover {
  background-color: #e2effc;
  border: 1px solid var(--background-action-high-blue-france);
}

.introjs-button:focus {
  border: 1px solid var(--background-action-high-blue-france);
  background-color: #e2effc;
  box-shadow: none;
  /* box-shadow: 0 0 1px 4px #e0ecf9; */
  background-color: var(--background-action-high-blue-france);
  color: white;
}

.introjs-button:focus:hover {
  background-color: #e2effc;
}

.introjs-tooltiptext {
  font-family: 'Marianne', arial, sans-serif;
  font-size: 14px;
  padding: 5px 20px;
  padding-top: 15px;
}

.introjs-bullets ul li a.active {
  background: var(--background-action-high-blue-france);
}

.introjs-tooltip-header {
  padding-bottom: 5px;
  display: block;
}

.intro-tutorial .introjs-tooltip-header {
  border-bottom: var(--background-action-high-blue-france) solid 1px;
  padding-bottom: 8px;
}

.introjs-bullets {
  padding-top: 5px;
  padding-bottom: 5px;
}
