// Functions first
@import 'bootstrap/scss/functions';

// Variable overrides second
// $primary: #900;
$enable-shadows: true;
// $prefix: "mo-";

// Required Bootstrap imports
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/root';

// Used Components
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/dropdown';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/tooltip';
@import 'bootstrap/scss/spinners';

// Replacable by DSFR
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/toasts';
@import 'bootstrap/scss/badge';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/breadcrumb';
@import 'bootstrap/scss/modal';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/button-group';

// @import 'bootstrap/scss/images';
// @import 'bootstrap/scss/transitions';
// @import 'bootstrap/scss/accordion';
// @import 'bootstrap/scss/pagination';
// @import 'bootstrap/scss/alert';
// @import 'bootstrap/scss/progress';
// @import 'bootstrap/scss/list-group';
// @import 'bootstrap/scss/close';
// @import 'bootstrap/scss/popover';
// @import 'bootstrap/scss/carousel';
// @import 'bootstrap/scss/offcanvas';
// @import 'bootstrap/scss/placeholders';

// Optional components
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/helpers';
@import 'bootstrap/scss/utilities/api';

// Specific styles
@import 'specificStyle.scss';

// DSFR custom
@import 'custom-dsfr.scss';
