.fr-icon-double-check-line::after,
.fr-icon-double-check-line::before {
  mask-image: url(../assets/check-double-line.svg);
}

.fr-icon-list-check-line::after,
.fr-icon-list-check-line::before {
  mask-image: url(../assets/list-check.svg);
}

.fr-icon-contact-book-line::after,
.fr-icon-contact-book-line::before {
  mask-image: url(../assets/contacts-book-line.svg);
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
