#notification {
  position: fixed;
  bottom: 28px;
  right: 25px;
  padding: 15px;
  z-index: 99999999;
  border-radius: 4px;
}

.toast-notification,
.info {
  background-color: white;
  color: #222;
}

.has-notification {
  position: absolute;
  top: 1px;
  left: -2px;
  z-index: -1;

  background-color: var(--background-action-high-blue-france);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 9px;
  width: 9px;
  border-radius: 50%;
  font-size: 10px;
}

.success {
  background-color: #1f8d49;
  color: white;
}

.error {
  background-color: #ce0500;
  color: white;
}
.warning {
  background-color: #d64d00;
  color: white;
}
