body {
  font-family: 'Marianne', arial, sans-serif;
}

.row.background--grey-light {
  background-color: #fafafa;
}

.banner {
  margin-top: 2.5rem;
}

.banner img {
  width: 5rem;
}

.banner h1 {
  font-weight: 400;
  margin-top: 1rem;
  font-size: 1.3rem;
}

.container__form {
  padding-top: 1.5rem;
  background-color: #fff;
  margin-bottom: 4rem;
}

.onboarding__form {
  padding: 0 1rem;
}

.g-recaptcha {
  margin-left: 0.5rem;
}

/* Onboarding summary */

.onboarding__summary .next-steps {
  font-size: 0.8rem;
  font-weight: 700;
}
.onboarding__summary .next-steps {
  font-weight: 700;
}
.onboarding__summary ol > li {
  font-weight: 300;
}

.onboarding__summary ol > li::marker {
  color: #0063cb;
}

.project-card {
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #0063cb;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
  margin: 0 0 2rem;
  position: relative;
}

.project-card > span.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  color: #0063cb;
}

.project__title > p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-bottom: 0;
}

.project__title-city {
  font-weight: 700;
  margin-right: 1rem;
}

.project__title-name {
  font-weight: 400;
  color: #666;
}

.project__info {
  display: flex;
}

.project__info > p {
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 0;
}

.project__info > p::before {
  width: 1rem;
}

.project__info > .project__info-insee {
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    width: 70%;
  }
  .banner h1 {
    font-size: 2rem;
  }

  .container__form {
    padding: 3rem 2rem 1rem;
  }

  /* Onboarding summary */

  .project__title {
    display: flex;
  }
}
