.text-grey {
  color: #999999;
}

.text-red {
  color: #b34000;
}

.text-red-light {
  color: #e1000f;
}

.text-green {
  color: #27a658;
}

.text-new-project {
  background-color: #fdcd6d;
  padding: 0px 3px;
  color: #222;
}

.text-blue {
  color: #0063cb !important;
}

.text-black {
  color: #161616;
}

.text-black-secondary {
  color: #3a3a3a;
}

.text-grey-light {
  color: #929292;
}

.text-grey-dark {
  color: #666666;
}

.text-orange {
  color: #fa7a35;
}
