.timeline-blur {
    position: relative;
}

.timeline-blur:before {
    content: '';
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 10;

    background: linear-gradient(to top, #fff, #fff9d400 100%);
}

.timeline-button {
    /* transform: translate3d(0,-50px,0); */
    z-index: 20;
}
