{% comment %}

TipTap Editor Component

Parameters:
- is_wide (boolean)
- initial_content: string
- can_attach_contact (boolean)
- input_name (string)
- input_required (boolean)
- tools_disabled (list of tool names: <title>)

{% endcomment %}

{% load static %}
{% load sass_tags %}

{% block css %}
    <link href="{% sass_src 'css/tools/editor.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}

<div class="w-100"
     {% if initial_content_escapejs %}
     x-data='editor("{{ initial_content|escapejs }}")'
     {% else  %}
     x-data='editor("{{ initial_content }}")'
     {% endif %}
     @set-contact="handleSetContact($event.detail)"
     @set-comment.window="setMarkdownContent(event)"
     x-ref="editor"
     data-test-id="tiptap-editor">
    <template x-if="isLoaded()">
        <div class="tiptap-menu">
            {% if not "title" in tools_disabled  %}
            <button @click.stop.prevent="toggleHeading({ level: 3 })"
                    :class="{ 'is-active': isActive('heading', { level: 3 }, updatedAt) }">
                <span class="specific-fontweight-500">Titre</span>
            </button>
            {% endif %}
            <button @click.stop.prevent="toggleBold()"
                    :class="{ 'is-active' : isActive('bold', updatedAt) }">
                <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#type-bold" />
                </svg>
            </button>
            <button @click.stop.prevent="toggleItalic()"
                    :class="{ 'is-active' : isActive('italic', updatedAt) }">
                <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#type-italic" />
                </svg>
            </button>
            <button @click.stop.prevent="toggleBulletList()"
                    :class="{ 'is-active' : isActive('bulletList', updatedAt) }">
                <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#list-ul" />
                </svg>
            </button>
            <button @click.stop.prevent="setLink()"
                    :class="{ 'is-active' : isActive('link', updatedAt) }">
                <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#link" />
                </svg>
            </button>
            <button class="unset-link"
                    @click.stop.prevent="unsetLink()"
                    x-bind:disabled="!isActive('link', updatedAt)">
                <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#link" />
                </svg>
            </button>
        </div>
    </template>
    <div class="position-relative">
        <div class="tiptap-editor {% if wide %}is-wide{% endif %}"
             data-test-id="tiptap-editor-content"
             x-ref="element"
             @click.stop
             id="comment-text-ref"></div>

        <div x-cloak
             class="d-flex justify-content-between">

            {% if can_attach_contact %}
                <div x-cloak x-data='SearchContact()'>
                    <template x-if="!contact">
                        <button @click="openModalSearchContact"
                                data-test-id="button-add-contact"
                                class="fr-btn fr-btn--tertiary fr-btn--sm justify-content-center fr-text--sm">
                            Ajouter un contact
                        </button>
                    </template>
                    <template x-if="contact">
                        <span x-text="contact.first_name"></span>
                    </template>
                    {% include "tools/contacts/search_contact_modal.html" %}
                    {% include "tools/contacts/create_contact_modal.html" %}
                    <input type="hidden"
                           {% if model %}
                           x-model="{{ model }}.contact"
                           x-modelable="contact"
                           {% else %}
                           x-model="contact"
                           {% endif %}
                           >

                </div>
            {% endif %}
        </div>

        {% if errors %}
            {% for error in errors %}<div class="text-danger text-start fr-mb-2v">{{ error }}</div>{% endfor %}
        {% endif %}

        <textarea class="position-absolute top-0 opacity-0 specific-height-0"
                  {% if model %}
                  x-model="{{ model }}.text"
                  x-modelable="markdownContent"
                  {% else %}
                  x-model="markdownContent"
                  {% endif  %}

                  name="{{input_name|default:"content"}}"
                  {% if input_required %} required {% endif %}>
        </textarea>

    </div>
</div>
