{% comment %}

TipTap Editor Component

Parameters:
- is_wide (boolean)
- initial_content: string
- can_attach_contact (boolean)
- can_add_reco (boolean)
- next_url_add_reco (string)
- input_name (string)
- input_required (boolean)
- input_file_name (string)
- input_file_required (boolean)
- tools_disabled (list of tool names: <title>)
- placeholder (string)
- is_action_pusher (boolean)
- can_compress_editor (boolean)
{% endcomment %}
{% load static %}
{% load sass_tags %}
{% block css %}
    <link href="{% sass_src 'css/tools/editor.scss' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% sass_src 'css/tools/contact/contact-card.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
<div class="w-100 position-relative editor-container"
     {% if initial_content_escapejs %} x-data='editor("{{ initial_content|escapejs }}", "{{ placeholder }}", "{{ is_action_pusher }}" == "True" )' {% elif initial_content_js %} x-data='editor({{ initial_content }}, "{{ placeholder }}", "{{ is_action_pusher }}" == "True")' {% else %} x-data='editor("{{ initial_content }}", "{{ placeholder }}", "{{ is_action_pusher }}" == "True")' {% endif %}
     @reset-contact="handleResetContact()"
     @set-comment.window="setMarkdownContent(event)"
     @modal-response="closeSearchContactModal($event)"
     x-ref="editor"
     data-test-id="tiptap-editor">
    <template x-if="isLoaded()">
        <div class="tiptap-menu-custom">
            {% if not "title" in tools_disabled %}
                <button @click.stop.prevent="toggleHeading({ level: 3 })"
                        title="Titre"
                        class="fr-btn fr-btn--sm fr-icon-h-1"
                        :class="{ 'fr-btn--secondary': isActive('heading', { level: 3 }, updatedAt), 'fr-btn--tertiary': !isActive('heading', { level: 3 }, updatedAt), }">
                    Titre
                </button>
            {% endif %}
            <button @click.stop.prevent="toggleBold()"
                    title="Gras"
                    class="fr-btn fr-btn--sm fr-icon-bold"
                    :class="{ 'fr-btn--secondary': isActive('bold', updatedAt), 'fr-btn--tertiary': !isActive('bold', updatedAt), }">
                Gras
            </button>
            <button @click.stop.prevent="toggleItalic()"
                    title="Italique"
                    class="fr-btn fr-btn--sm fr-icon-italic"
                    :class="{ 'fr-btn--secondary': isActive('italic', updatedAt), 'fr-btn--tertiary': !isActive('italic', updatedAt), }">
                Italique
            </button>
            <button @click.stop.prevent="toggleBulletList()"
                    title="Liste"
                    class="fr-btn fr-btn--sm fr-icon-list-unordered"
                    :class="{ 'fr-btn--secondary': isActive('bulletList', updatedAt), 'fr-btn--tertiary': !isActive('bulletList', updatedAt), }">
                Liste
            </button>
            <button @click.stop.prevent="setLink()"
                    title="Attacher un lien"
                    class="fr-btn fr-btn--sm fr-icon-link"
                    :class="{ 'fr-btn--secondary': isActive('link', updatedAt), 'fr-btn--tertiary': !isActive('link', updatedAt), }">
                Attacher un lien
            </button>
            <button @click.stop.prevent="unsetLink()"
                    title="Détacher un lien"
                    class="fr-btn fr-btn--sm fr-icon-link-unlink text-white"
                    x-bind:disabled="!isActive('link', updatedAt)">Détacher un lien</button>
        </div>
    </template>
    <div class="position-relative">
        {% comment %} {% if can_compress_editor %}
            <div class="button-attachment-container">
                <button class="fr-btn fr-btn--sm fr-icon-attachment-2" type="button" @click.stop="onClickHandleAttachment">Rédiger avec une pièce jointe</button>
            </div>
        {% endif %} {% endcomment %}
        <div class="tiptap-editor {% if wide %}is-wide{% endif %}"
             data-test-id="tiptap-editor-content"
             x-ref="element"
             @click.stop="isEditorFocused = true"
             id="comment-text-ref"></div>
        <textarea class="position-absolute top-0 opacity-0 specific-height-0"
                  {% if model %} x-model="{{ model }}.text" x-modelable="markdownContent" {% else %} x-model="markdownContent" {% endif  %}
                  name="{{input_name|default:"content"}}"
                  {% if input_required %} required {% endif %}></textarea>
        <div class="module__container">
            <div class="info-module__container fr-mb-2v">
                {% if can_attach_files or add_file_input %}
                    <input x-ref="fileUploadInput"
                           {% if model %} x-model="{{ model }}.the_file" x-modelable="currentFile" {% else %} x-model="currentFile" {% endif %}
                           type="file"
                           id="file-upload"
                           name="{{ input_file_name|default:"the_file" }}"
                           @change='handleFileUpload'
                           multiple
                           accept="text/plain, image/png, image/jpg, image/gif, image/jpeg, image/pjpeg, application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document application/vnd.oasis.opendocument.text, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.oasis.opendocument.spreadsheet, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation, application/vnd.oasis.opendocument.presentation"
                           {% if input_file_required %}required{% endif %}
                           class="d-none file-upload-input">
                    {% comment %} <template x-if="{% if model %}{{ model }}.the_file{% else %} currentFile{% endif %}"> {% endcomment %}
                    {% comment %} <template x-if="selectedFile">
                        <div class="d-flex align-items-center file__card fr-p-3v bg-white position-relative">
                            <span class="fr-icon-file-add-line fr-btn--icon-left fr-icon-sm"></span>
                            <span x-text="selectedFile.name" class="file-upload-text"></span>
                            <button @click.prevent="handleResetFile" class="fr-btn fr-btn--tertiary fr-btn--sm justify-content-center fr-text--sm close-contact-button-style position-absolute top-0 end-0">
                                <span class="fr-icon-close-line" aria-hidden="true"></span>
                            </button>
                        </div>
                    </template> {% endcomment %}
                {% endif %}
                {% comment %} {% if can_attach_contact %}
                    <template x-if="selectedContact">
                        <div class="contact-card__container">
                            <div class="border position-relative" x-data="{contact:selectedContact,isOpenDeleteContact:null}">
                                {% include "tools/contacts/contact_card_light.html" %}
                                <button @click.prevent="handleResetContact" data-test-id="button-remove-contact" class="fr-btn fr-btn--tertiary fr-btn--sm justify-content-center fr-text--sm close-contact-button-style position-absolute top-0 end-0">
                                    <span class="fr-icon-close-line" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </template>
                {% endif %} {% endcomment %}
            </div>
            <div class="button-module__container">
                <!-- File module -->
                {% if can_attach_files %}
                    <!-- Action file -->
                    <button class="fr-btn fr-btn--sm fr-btn--tertiary fr-btn--tertiary-dark-background fr-icon-file-add-line fr-btn--icon-left file-upload-wrapper"
                            type="button"
                            @click="$refs.fileUploadInput.click(); isEditorFocused = true;">
                        <span class="file-upload-text">Ajouter un fichier</span>
                    </button>
                    {% if document_form.the_file.errors %}
                        <div class="fr-mb-3w">
                            {% for error in document_form.the_file.errors %}
                                <div class="text-danger text-start fr-mb-2v">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
                <!-- Recommendation module -->
                {% if can_add_reco %}
                    {% comment %} <a data-test-id="create-task-button" :href="`{% url 'projects-create-task' %}?project_id={{ project.pk }}{% if next_url_add_reco %}&next={% url next_url_add_reco project.pk %}{% endif %}&content=${encodeURIComponent(markdownContent || '')}`" class="fr-btn fr-btn--tertiary fr-btn--tertiary-dark-background fr-btn--sm justify-content-center fr-text--sm button-add-reco">
                        <span class="fr-icon-list-check-line fr-icon--sm"></span>
                        Créer une recommandation
                    </a> {% endcomment %}
                    <button data-test-id="create-task-button"
                            @click.prevent="goToCreateRecommendation(`{% url 'projects-create-task' %}?project_id={{ project.pk }}{% if next_url_add_reco %}&next={% url next_url_add_reco project.pk %}{% endif %}&content=${encodeURIComponent(markdownContent || '')}`)"
                            class="fr-btn fr-btn--tertiary fr-btn--tertiary-dark-background fr-btn--sm justify-content-center fr-text--sm button-add-reco">
                        <span class="fr-icon-list-check-line fr-icon--sm"></span>
                        Créer une recommandation
                    </button>
                {% endif %}
                <!-- Contact module -->
                {% if can_attach_contact %}
                    <div x-cloak>
                        <button @click.prevent="openModalSearchContact; isEditorFocused = true;"
                                data-test-id="button-add-contact-in-editor"
                                class="fr-btn fr-btn--tertiary fr-btn--tertiary-dark-background fr-btn--sm fr-icon-contact-book-line fr-btn--icon-left justify-content-center fr-text--sm button-add-contact">
                            Ajouter un contact
                        </button>
                        {% include "tools/contacts/search_contact_modal.html" %}
                        <input type="hidden"
                               {% if model %} x-model="{{ model }}.contact" x-modelable="selectedContact" {% else %} x-model="selectedContact" {% endif %}>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if errors %}
            {% for error in errors %}<div class="text-danger text-start fr-mb-2v">{{ error }}</div>{% endfor %}
        {% endif %}
        <!-- Slot pour le bouton d'envoi -->
        {% if show_send_button %}
            <div class="d-flex justify-content-end">
                <div class="d-flex gap-2 send-message">
                    <button data-test-id="send-message-conversation"
                            :disabled="!isFormValid"
                            form="{{ form_id|default:'conversation-form' }}"
                            class="fr-btn fr-btn--sm"
                            type="submit"
                            x-text="isEditorInEditMode ? 'Modifier' : 'Envoyer'"></button>
                </div>
            </div>
        {% endif %}
    </div>
</div>
