{% extends "base.html" %}

{% load sass_tags %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block css %}
<link href="{% sass_src 'home/css/dsfr/dsfr.css' %}" rel="stylesheet" type="text/css">
<link href="{% sass_src 'home/css/dsfr/custom-dsfr.scss' %}" rel="stylesheet" type="text/css">
<link href="{% sass_src 'home/css/auth/auth.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="fr-container fr-py-6w max-width-800" style="font-family: 'Marianne', arial, sans-serif;">
    <h1 class="fr-mb-6w">
        <svg class="bi me-2" width="28" height="28">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#file-lock2-fill" />
        </svg>
        {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
    </h1>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
    <form class="fr-form-group" method="POST" action="{{ action_url }}">
        {% csrf_token %}
        <fieldset class="fr-fieldset">
            <div class="fr-fieldset__content">
                {{ form.as_p }}
                <div class="fr-input-group fr-mt-4v">
                    <button class="fr-btn custom-login-button" type="submit">
                        Modifier le mot de passe
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
    {% endif %}
</div>  
{% endblock %}
