{% extends "base.html" %}

{% load sass_tags %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block css %}
    <link href="{% sass_src 'home/css/dsfr/dsfr.css' %}" rel="stylesheet" type="text/css">
    <link href="{% sass_src 'home/css/dsfr/custom-dsfr.scss' %}" rel="stylesheet" type="text/css">
    <link href="{% sass_src 'home/css/auth/auth.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="fr-container fr-py-6w max-width-800" style="font-family: 'Marianne', arial, sans-serif;">
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <h1 class="fr-mb-6w">
        <svg class="bi me-2" width="28" height="28">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#mailbox2" />
        </svg>
        {% trans "Password Reset" %}
    </h1>
    <p>Nous vous avons envoyé un email. Si vous ne l'avez pas reçu regardez dans vos spams. <br/>Sinon <strong>contactez-nous</strong> si vous ne l'avez pas reçu dans les quelques minutes.</p>
</div>
{% endblock %}
