{% extends "base.html" %}

{% load sass_tags %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block css %}
    <link href="{% sass_src 'home/css/dsfr/dsfr.css' %}" rel="stylesheet" type="text/css">
    <link href="{% sass_src 'home/css/dsfr/custom-dsfr.scss' %}" rel="stylesheet" type="text/css">
    <link href="{% sass_src 'home/css/auth/auth.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="fr-container fr-py-6w" style="font-family: 'Marianne', arial, sans-serif;">
    <h1 class="fr-mb-6w">
        <svg class="bi me-2" width="28" height="28">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#bag-check-fill" />
        </svg>
        {% trans "Change Password" %}
    </h1>
    <p>{% trans 'Your password is now changed.' %}</p>
</div>
    
{% endblock %}
