{% load static %}
{% load gravatar %}
{% load humanize %}



<div class="action-list-item accordion-item pt-2 pb-2">
    <div id="action-{{ task.id }}-header" class="accordion-header d-flex">
        <form method="POST" action="{% url 'projects-toggle-done-task' task.id %}">
            {% csrf_token %}
            {% if task.done %}
            <button title="Remettre l'action en cours" data-bs-toggle="tooltip" type="submit" class="ms-2 btn btn-text align-middle" style="color: #ccc">
                <svg class="align-middle bi" width="28" height="28" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#check-square"/>
                </svg>
            </button>
            {% else %}
            <button title="Marquer l'action comme terminée" data-bs-toggle="tooltip" type="submit" class="ms-2 btn btn-text align-middle" style="color: #ccc">
                <svg class="align-middle bi" width="28" height="28" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#square"/>
                </svg>

            </button>
            {% endif %}

        </form>

        <div class="d-flex justify-content-between w-100">
            <div class="align-middle flex-grow-1">
                <button class="align-middle justify-content-between d-flex text-left btn btn-text collapsed fs-5 w-100" data-bs-toggle="collapse" data-bs-target="#action-{{ task.id }}-content" aria-expanded="false" aria-controls="action-{{ task.id }}-content">
                    {% if task.resource %}
                    <!-- Icon -->
                    <svg class="bi me-2 rounded-circle resource-icon bg-color-{{ task.resource.category.color|default:"darkgrey" }}" style="width:30px; height: 30px;" >
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#{{ task.resource.category.icon|default:"key" }}"/>
                    </svg>
                    {% elif task.contact %}
                    <svg class="align-middle bi me-2 rounded-circle" width="30px" height="30px" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#people"/>
                    </svg>
                    {% endif %}
                    <div class="flex-grow-1 d-flex justify-content-between align-middle">
                        <span>
                            {% if task.resource %}
                            {{ task.resource.title|capfirst }}
                            {% else %}
                            {{ task.intent|capfirst }}
                            {% endif %}
                        </span>
                        <span class="toggle align-middle">
                            <svg class="bi" width="24px" height="24px">
                                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#chevron-down"/>
                            </svg>
                        </span>
                    </div>
                </button>
            </div>

            <div class="align-middle align-items-center d-flex justify-self-end me-3">
                <span class="align-self-center badge rounded-pill bg-info">
                    <svg class="align-middle bi me-1" width="14" height="14" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#chat"/>
                    </svg>
                    <span class="align-middle small">1</span>
                </span>
            </div>
        </div>
    </div>
    <div id="action-{{ task.id }}-content" class="accordion-collapse collapse">
        <div class="accordion-body">
            {% if user.is_staff %}
            <p>
                (<a class="" href="{% url 'projects-update-task' task.id %}">éditer</a>)
            </p>
            {% endif %}

            {% if task.resource %}
            {{ task.resource.summary }} [<a href="{% url 'resources-resource-detail' task.resource.id %}">Lire la ressource</a>]
            {% endif %}
            <div class="d-flex mb-2 mt-2">
                <!-- Image -->
                <img
                    src="{% gravatar_url task.created_by.email 40 %}"
                    alt="{{ task.created_by.get_full_name }}"
                    class="me-3 rounded-circle"
                    style="width: 40px; height: 40px;"
                />
                <div class="w-100">
                    <h5 class="fw-bold">
                        {{ task.created_by.get_full_name }}
                        <small class="text-muted">{{ task.created_on|naturalday }}</small>
                    </h5>
                    <p>
                        {{ task.content_rendered|safe }}
                    </p>
                </div>
            </div>

            {% if task.contact %}
            <div class="d-flex w-100 mb-3">
                {% include "addressbook/widgets/card_contact_horizontal.html" with contact=task.contact %}
            </div>
            {% endif %}

            <div class="text-secondary small mt-1">
                <svg class="bi me-1" width="16" height="16" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#envelope"/>
                </svg>
                <a class="text-reset" href="{% url 'home-contact' %}?next={{ request.get_full_path }}&subject={{ project.name|truncatechars:10 }} : Action '{{ task.intent|truncatewords:10 }}'">J'ai une question/un problème sur cette action</a>
            </div>
        </div>
    </div>
</div>
