{% load static %}

{% load activity_tags %}
{% load humanize %}

{% block content %}

<div class="row">

    <div class="col-8">
        <h3 class="mt-3">
            <svg class="bi align-middle" width="24" height="24">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#bar-chart-line-fill"/>
            </svg>
            <span class="align-middle">Activité</span>
        </h3>
        {% activity_stream "target" project %}
        <ul class="list-group">
            {% for action in stream|slice:":20" %}
            <li class="list-group-item">

                <span class="text-secondary">{{ action.timestamp|naturalday|capfirst }}</span> -
                {% if action.target %}
                {{ action.actor|capfirst }} <strong>{{ action.verb }}</strong> {{ action.action_object }} (sur <a href="{{ action.target.get_absolute_url }}">{{ action.target }}</a>)
                {% else %}
                {% if action.action_object %}
                {{ action.actor|capfirst }} <strong>{{ action.verb }}</strong> <a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object }}</a>
                {% else %}
                <a href="{{ action.actor.get_absolute_url }}">{{ action.actor|capfirst }}</a> <strong>{{ action.verb }}</strong>
                {% endif %}
                {% endif %}

            </li>
            {% empty %}
            -- Pas encore d'activité, revenez plus tard ! --
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}
