{% load static %}
{% load humanize %}
{% load gravatar %}

<div class="row">
    <div class="col col-xl-8 col-lg-10">
        {% if user.is_staff %}
        <p>
            <span class="badge bg-warning">Beta feature</span> <a href="{% url 'projects-project-tasks-suggest' project.pk %}">Accès aux suggestions de Recommandations</a>
        </p>
        {% endif %}

        <!-- Actions
             <div class="w-100">
             <h2 class="mb-3 d-inline-block">
             <svg class="bi align-middle me-1" width="28" height="28" fill="currentColor">
             <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#card-checklist"/>
             </svg>
             <span class="align-middle">Actions à mener</span>
             </h2>
             {% if user.is_staff %}
             <a class="btn btn-light mb-1 d-inline-block float-end"  href="{% url 'projects-create-task' project.id %}">
             <svg class="bi me-1" width="16" height="16" fill="currentColor">
             <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#plus-circle"/>
             </svg>
             Ajouter une action
             </a>
             {% endif %}
             </div>

             <p class="mb-3 text-secondary">
             Les <strong><em>Actions</em></strong> vous sont proposées par l'équipe d'accompagnement pour baliser votre parcours et avancer méthodiquement.
             <br/>
             </p>

        -->



        <h2 class="mt-1 mb-4 text-secondary text-uppercase fw-bolder" style="font-size: 12px;">
            <span class="align-middle">Mes actions en cours</span>
        </h2>

        {% if project.tasks.open.count %}

        <div  id="task-list">
		        {% for task in project.tasks.open %}
            {% include 'projects/project/fragments/action_list_item.html' %}
		        {% endfor %}
        </div>
        {% else %}
        <!-- Empty -->
        <div class="bg-light p-4 rounded-2">
            <h3 class="fw-light">Vous n'avez pas d'actions en cours</h3>
            {% if project.tasks.proposed.count == 0 %}
            <p class="fst-italic fw-light">
                Des actions vous seront proposées par notre équipe dès que possible.
            </p>
            <p class="fst-italic fw-light">
                Vous pouvez accélerer les recommandations <span class="fw-bolder">en complétant le questionnaire d'exploration</span>.
            </p>
            <a href="{% url 'survey-project-session' project.id %}" class="btn btn-primary">Compléter le questionnaire d'exploration</a>
            {% else %}
            <p class="fst-italic fw-light">
                Nos aiguilleuses vous <span class="fw-bolder">recommandent des actions</span>, n'hésitez pas à les consulter et vous les approprier ! Toutes les propositions d'actions se trouvent sur <strong>la colonne de droite</strong>.
            </p>
            {% endif %}
        </div>
        {% endif %}


        {% if project.tasks.done_or_already_done.count %}

        <h2 class="mt-5 mb-4 text-secondary text-uppercase fw-bolder" style="font-size: 12px;">
            <span class="align-middle">Actions terminées</span>
            &nbsp;
            <span class="align-middle badge rounded-pill bg-secondary">{{ project.tasks.done_or_already_done.count }}</span>
        </h2>

        <div class="accordion" id="task-list">
		        {% for task in project.tasks.done_or_already_done %}
            {% include 'projects/project/fragments/action_list_item.html' with hide_details=True %}
		        {% endfor %}
        </div>
        {% endif %}

        {% if project.tasks.refused.count %}

        <h2 class="mt-5 mb-4 text-secondary text-uppercase fw-bolder" style="font-size: 12px;">
            <span class="align-middle">Actions refusées</span>
            &nbsp;
            <span class="align-middle badge rounded-pill bg-secondary">{{ project.tasks.refused.count }}</span>
        </h2>

        <div class="accordion" id="task-list">
		        {% for task in project.tasks.refused %}
            {% include 'projects/project/fragments/action_list_item.html' %}
		        {% endfor %}
        </div>
        {% endif %}

    </div>

</div>
