{% load gravatar %}

<div class="d-flex align-items-start justify-content-between mb-2">
    {% with advisor.switchtender as user %}
    <div class="d-flex flex-column">
        <span class="me-2 d-flex align-items-center">
            <img class="rounded-circle me-2" src="{% gravatar_url user.email size=24 %}" alt="{{user}}">
            {% if user.get_full_name %}
                <strong class="text-nowrap text-capitalize">
                    {{ user.get_full_name }}
                </strong>
            {% else %}
            <strong class="text-nowrap">
                {{ user.email }}
            </strong>
            {% endif %}
        </span>
        <span style="color: #666666; font-style: italic; font-weight: 300;">{{user.profile.organization.name}}</span>
    </div>
    <div class="d-flex align-items-center">
        {% if advisor.is_observer %}
        <span class="small text-info">OBSERVATEUR</span>
        {% else %}
        <span class="small text-danger">CONSEILLER</span>
        {% endif %}
    </div>
    {% endwith %}
</div>
