<div class="col-12" x-data="citySearch()" 
    x-init="{% if form.postcode.value and form.insee.value %}getPostcode({{form.postcode.value}},{{form.insee.value}}) {% endif %}">
    <div class="row g-3">
        <div class="col-auto">
            <div class="mb-3">
                <label class="text-info-custom text-grey-dark" for="input-project-address">{{ form.postcode.label }}</label>
                <input :disabled="isLoading" @change.debounce="fetchCities()" x-model="postal" type="text" class="py-4 placeholder-grey form-control {% if form.postcode.errors %}is-invalid{% endif %}" id="input-project-address" name="{{ form.postcode.name }}" placeholder="Code Postal" value="{{ form.postcode.value|default:'' }}" required>

                {% for error in form.postcode.errors %}
                <div class="text-danger text-end">{{ error }}</div>
                {% endfor %}
            </div>
        </div>

        <div class="mb-3 col-auto">
                <label class="text-info-custom text-grey-dark" for="input-project-address">Commune</label>
                <select style="padding: 12px 10px; border-radius: 0.25rem;min-width: 170px;padding-right: 30px;" x-ref="insee" name="insee" class="form-select" :disabled="cities && !cities.length">
                    <template x-if="cities && cities.length == 0 && postal">
                        <option selected>Aucune commune trouvée, vérifiez le code postal ?</option>
                    </template>
                    
                    <template x-if="cities">
                        <template
                            x-for="city in cities"
                            :key="city.insee"
                        >
                            <option :value="city.insee" x-text="city.name"></option>
                        </template>
                    </template>
                </select>
        </div>
    </div>
</div>
