{% load static %}

<div>
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h6>Fichiers partagés</h6>
    {% url 'projects-conversation-upload-file' project.pk as upload_action %}
    {% include 'projects/project/fragments/file_upload_button.html' with type='project' action=upload_action %}
  </div>

  <div class="d-flex flex-column">
    {% for document in project.documents.all|slice:"4" %}
    {% include 'projects/project/fragments/file_list_item.html' %}
    {% endfor %}
    <div class="collapse" id="fileList-collapse">
      {% for document in project.documents.all|slice:"4:" %}
      {% include 'projects/project/fragments/file_list_item.html' %}
      {% endfor %}
    </div>
    <div class="d-flex justify-content-center mt-2">
      <a data-bs-toggle="collapse" data-bs-target="#fileList-collapse" style="font-size: 0.9em;">Voir tous les fichiers</a>
    </div>
  </div>
</div>
