{% load static %}
{% load gravatar %}
{% load guardian_tags %}
{% get_obj_perms request.user for request.site as "user_site_perms" %}
{% get_obj_perms request.user for project as "user_project_perms" %}
<div class="{% if not is_advisor_note %} pe-4{% endif %} pt-4 {% if full_width %}w-100{% else %}w-50{% endif %} h-100">
    <div class="d-flex align-items-center justify-content-between"
         style="margin-bottom: 6px">
        <h6 style="font-size: 14px;" class="text-uppercase fw-bold m-0 p-0">
            {% if onboarding_information %}
                {% if title %}
                    {{ title }}
                {% else %}
                    Compléments
                {% endif %}
            {% else %}
                {{ title }}
            {% endif %}
        </h6>
        {% if is_advisor_note %}
            <span class="ms-2 me-4 text-danger tiny d-flex align-items-center"
                  href="{% url "projects-project-topics" project.id %}#advisor-note">
                <svg class="bi ms-2 " width="10" height="10" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#lock" />
                </svg>
                <span>Non visible par la collectivité</span>
            </span>
        {% endif %}
        {% if "use_advisor_note" in user_project_perms and is_editable %}
            <a class="ms-2 tiny d-flex align-items-center"
               href="{% url "projects-project-topics" project.id %}#advisor-note">
                <span>Éditer</span>
                <svg class="bi ms-2 " width="10" height="10" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#pencil-fill" />
                </svg>
            </a>
        {% endif %}
    </div>
    <div class="project-card-details h-100 p-4 d-flex flex-column justify-content-between">
        <article class="overflow-hidden">
            {% include 'projects/project/fragments/information_card_description.html' %}
        </article>
        <footer class="d-flex mt-4 justify-content-between {% if full_width %}align-items-center{% else %}flex-column{% endif %}">
            {% include 'user/user_card.html' with user=card_user %}
            <div class=" {% if is_editable %}mt-0{% else %}mt-2{% endif %}">
                <span style="color:#929292;
                             text-align: right;
                             font-weight: 300;
                             font-size: 14px;
                             text-align: right"
                      class="font-italic d-flex">{{ updated_on }}</span>
            </div>
        </footer>
    </div>
</div>
