{% load gravatar %}

<div class="pe-4 pt-4 {% if full_width %}w-100{% else %}w-50{% endif %}">
    <h6 style="font-size: 14px;" class="text-uppercase fw-bold">{%if title%} {{title}} {% else %} Demande initiale {% endif %}</h6>
    <div class="project-card-details p-4">
        <article>
            {% for title, content in onboarding_response.items %}   
                {% if content %}
                <div class="d-flex flex-column">
                    <span>{{ title }}</span>
                    <p>{{ content}} </p>
                </div>
                {% endif %}
            {% endfor%}
        </article>
        <footer class="d-flex mt-4 justify-content-between {% if full_width %}align-items-center{% else %}flex-column{% endif %} overflow-hidden">
            <div class="d-flex align-items-center">
                <span class="me-2 d-flex align-items-center">
                    <img class="rounded-circle me-2" src="{% gravatar_url project.owner.email size=24 %}"
                        alt="{{action.actor}}">
                    {% if card_user.first_name %}
                    <strong class="text-nowrap">
                        {{ card_user.first_name }}
                        {{ card_user.last_name }}
                    </strong>
                    {% else %}
                    <strong class="text-nowrap">
                        {{ project.first_name }}
                        {{ project.last_name }}
                    </strong>
                    {% endif %}
                </span>
                <span class="text-nowrap" style="color:#929292">{% if org_name %} {{ org_name|truncatechars:15 }} {% else %} {{ project.org_name|truncatechars:15 }} {% endif %}</span>
            </div>
            {% if can_administrate and is_editable %}
            <a href="{% url "projects-project-synopsis" project.id %}">éditer</a>
            {% endif %}
            <div class="mt-2">
                <span style="color:#929292; text-align: right; font-weight: 300; font-size: 14px; text-align: right;"
                    class="font-italic d-flex">{{ updated_on }}</span>
            </div>
        </footer>
    </div>
</div>
