{% load static %}
{% load humanize %}
{% load gravatar %}

<div class="row">

    <div class="col-8">
        {% regroup project.notes.public by created_on.date as notes_by_day %}

        <div class="message-window">
            <ul class="list-group">
                {% for date, notes in notes_by_day|slice:":20" %}
                <li class="list-group-item border-0">
                    <div class="small my-2 text-center w-100 text-secondary">{{ date|naturalday|capfirst }}</div>
                    {% for note in notes %}
                    <div class="bg-light p-3 text-secondary">
                        {{ note.content_rendered|safe }}
                        {% if note.created_by %}
                        <div>
                        <span class="align-items-center link-dark text-decoration-none">
                            <img
                                src="{% gravatar_url action.actor.email 32 %}"
                                alt="{{ action.actor.get_full_name }}"
                                class="me-1 rounded-circle"
                                style="width: 16px; height: 16px;"
                            />
                        </span>
                        <span class="align-middle small">
                            {{ note.created_by.get_full_name|capfirst|default:note.created_by }}
                        </span>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="message-form">
            <form class="form border p-3 d-flex align-items-end flex-column"
                  method="POST"
                  action="{% url 'projects-create-note' project.pk %}">
                {% csrf_token %}

                <textarea class="flex-grow-1 border-0 form-control {% if private_note_form.content.errors %}is-invalid{% endif %}" style="height: 100px;" id="input-project-content" name="{{ private_note_form.content.name }}" value="{{ private_note_form.content.value|default:'' }}" placeholder="Écrivez une communication interne. Seuls les aiguilleurs pourront la voir."></textarea>
                <label class="visually-hidden" for="input-project-content">{{ private_note_form.content.label }}</label>

                {% for error in private_note_form.content.errors %}
                <div class="text-danger text-end">{{ error }}</div>
                {% endfor %}

                <button class="btn mt-2 btn-primary flex-align-end" type="submit">Envoyer</button>
            </form>

        </div>
    </div>
</div>

