<aside>
    <div class="project-sidebar d-flex flex-column py-4 px-3">
        <h6 style="font-size: 14px; font-weight: 700;" class="text-uppercase">Etes-vous disponible pour ce projet ?</h6>
        <a class="button green my-2" href="#">Conseiller le projet</a>
        <p class="text-secondary">En vous déclarant conseiller.e, vous indiquez aux autres participants du projet que vous êtes un interlocuteur disponible. Vous pouvez émettre des recommandations directement sur UrbanVitaliz.</p>
        <a class="button my-2" href="#">Observer le projet</a>
        <p class="text-secondary">En tant qu’observateur, vous recevez des notifications email quand le projet évolue et pouvez le consulter en intégralité, mais vous ne pouvez pas intervenir (ni conversations ni recommandations).</p>
        <a class="button red my-2" href="#">Refuser le projet</a>
    </div>

    <div class="project-sidebar d-flex flex-column py-4 px-3 mt-4">
        <h6 style="font-size: 14px; font-weight: 700;" class="text-uppercase">Vous êtes conseiller sur ce projet</h6>
        <p class="text-secondary">En tant que conseiller d’une collectivité, vous avez accès à toutes les informations et communications avec la collectivité. Vous serez aussi amenés à aiguiller la collectivté avec des recommandations d’actions ou de contacts à prendre pour avancer leurs projets.</p>
        <a class="button my-2" href="#">Observer le projet</a>
        <a class="button red my-2" href="#">Refuser le projet</a>
    </div>

    <div class="project-sidebar d-flex flex-column py-4 px-3 mt-4">
        <h6 style="font-size: 14px; font-weight: 700;" class="text-uppercase">Vous êtes observateur sur ce projet</h6>
        <p class="text-secondary">En tant qu’observateur vous pouvez voir toutes les informations et communication entre la collectivité et l’équipe de conseil, mais vous n’aurez pas la possibilité d’agir sur les projets de la collectivité</p>
        <a class="button green my-2" href="#">Conseiller le projet</a>
        <a class="button red my-2" href="#">Refuser le projet</a>
    </div>
</aside>
