{% load static %}
{% load django_vite %}
{{ project.name|json_script:"nameProject" }}
{{ project.status|json_script:"status" }}
{{ project.location|json_script:"location" }}
{{ project.commune.name|json_script:"nameCommune" }}
{{ project.commune.postal|json_script:"postal" }}
{{ project.commune.insee|json_script:"insee" }}
{{ project.commune.latitude|json_script:"latitude" }}
{{ project.commune.longitude|json_script:"longitude" }}
{% block js %}
    {% vite_asset 'js/apps/projectLocation.js' %}
    <script>
        const projectOptions = {
            name: JSON.parse(document.getElementById('nameProject').textContent),
            status: JSON.parse(document.getElementById('status').textContent),
            location: JSON.parse(document.getElementById('location').textContent),
            commune: {
                name: JSON.parse(document.getElementById('nameCommune').textContent),
                postal: JSON.parse(document.getElementById('postal').textContent),
                insee: JSON.parse(document.getElementById('insee').textContent),
                longitude: JSON.parse(document.getElementById('longitude').textContent),
                latitude: JSON.parse(document.getElementById('latitude').textContent),
            }
        }
    </script>
{% endblock %}
{% block content %}
    <div x-data='ProjectLocation(projectOptions)'>
        <div class="mb-2" data-test-id="project-map-static">{% include 'projects/project/fragments/project_map.html' %}</div>
        {% include 'projects/project/fragments/project_location_details.html' %}
    </div>
{% endblock %}
