{% load static %}
{% load gravatar %}


{% if project.owner %}
    <div class="d-flex flex-column align-items-start mb-2">
        <span class="me-2 d-flex align-items-center w-100 justify-content-between">
            <div class="d-flex align-items-center">
                <img class="rounded-circle me-2" src="{% gravatar_url project.owner.email size=24 %}" alt="{{action.actor}}">
                <strong class="text-nowrap text-capitalize">
                    {{ project.owner.first_name|default:"??" }}
                    {{ project.owner.last_name|default:"(A renseigner)" }}
                </strong>
            </div>
            {% if request.user.is_staff %}
            <a class="small" href="{% url 'crm-user-details' project.owner.pk %}">
                <svg class="bi me-1" width="16" height="16" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#activity" />
                </svg>
            </a>
            {% endif %}
        </span>
        <span style="color: #666666; font-style: italic; font-weight: 300;">
            {% if project.owner.profile.organization.name %}
                {{project.owner.profile.organization.name}}
            {% else %}
                {{project.org_name}}
            {% endif %}
        </span>
    </div>
{% else %}
    <div class="d-flex flex-column align-items-start mb-2">
        <span class="me-2 d-flex align-items-center">
            <img class="rounded-circle me-2" src="{% gravatar_url project.owner.email size=24 %}" alt="{{action.actor}}">
            <strong class="text-nowrap text-capitalize">
                {{ project.first_name }}
                {{ project.last_name }}
            </strong>
        </span>
        <span style="color: #666666; font-style: italic; font-weight: 300;">{{project.org_name}}</span>
    </div>
{% endif %}
