{% load static %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/apps/projectLocation.js' %}
{% endblock %}
{% block content %}
    {% if project %}
        <div x-data='ProjectLocation(
                "{{project.name}}",
                "{{project.status}}",
                "{{project.commune.name}}",
                "{{project.commune.postal}}",
                "{{project.commune.longitude}}",
                "{{project.commune.latitude}}"
            )'>
            {% include 'projects/project/fragments/project_location_map.html' %}
        </div>
    {% endif %}
{% endblock %}