{% load static %}
<div x-data="StatusSwitcher($refs.commentTextRef, $refs.commentTextFormRef)">
    <div @issue-followup="handleIssueFollowup($event)">
        <div class="d-flex flex-column">
            <h2 class="text-secondary text-uppercase fw-bolder m-3"
                style="font-size: 12px">État d'avancement actuel</h2>
            <span class="status-switcher-item mx-3"
                  style="background-color: #14A2F1;
                         color: white;cursor: pointer;"
                  @click="handleStatusWrapper"
                  x-text="statusText(currentTask.status)"></span>
            <div class="d-flex align-items-center justify-content-center">
                <span class="py-2 tiny fw-bold text-center text-decoration-underline"
                      @click="handleStatusWrapper"
                      style="color: #335B7E; !important; cursor: pointer;"
                      class="m-3" x-text="openStatusWrapper ? 'Fermer' : 'Modifier le statut'">
                </span>
            </div>
        </div>
        <template x-if="openStatusWrapper">
            <ul class="d-flex align-items-center status-switcher list-unstyled mt-0 m-3">
                <li x-bind:style="activeStatus(currentTask, STATUSES.PROPOSED) && { pointerEvents: 'none' }">
                    <a @click="handleStatusClick(currentTask, STATUSES.PROPOSED)"
                       :class="activeStatus(currentTask, STATUSES.PROPOSED)">
                        Nouveau
                    </a>
                </li>
                <li x-bind:style="activeStatus(currentTask, STATUSES.INPROGRESS) && { pointerEvents: 'none' }">
                    <a @click="handleStatusClick(currentTask, STATUSES.INPROGRESS)"
                       :class="activeStatus(currentTask, STATUSES.INPROGRESS)">
                    En cours</a>
                </li>
                <li x-bind:style="activeStatus(currentTask, STATUSES.BLOCKED) && { pointerEvents: 'none' }">
                    <a @click="handleStatusClick(currentTask, STATUSES.BLOCKED)"
                       :class="activeStatus(currentTask, STATUSES.BLOCKED)">
                        En Attente
                    </a>
                </li>
                <li x-bind:style="activeStatus(currentTask, STATUSES.DONE) && { pointerEvents: 'none' }">
                    <a @click="handleStatusWithCommentClick(currentTask, STATUSES.DONE)"
                       :class="activeStatus(currentTask, STATUSES.DONE) || activeStatus(currentTask, STATUSES.ALREADY_DONE)">
                        Fait
                    </a>
                </li>
                <li x-bind:style="activeStatus(currentTask, STATUSES.NOT_INTERESTED) && { pointerEvents: 'none' }">
                    <a @click="handleStatusWithCommentClick(currentTask, STATUSES.NOT_INTERESTED)"
                       :class="activeStatus(currentTask, STATUSES.NOT_INTERESTED)">
                        Non applicable
                    </a>
                </li>
            </ul>
        </template>
    </div>
</div>
