{% load gravatar %}
{% load static %}

<div class="d-flex flex-column align-items-start mb-2">
        <!-- member -->
    {% if member %}
            {% if member.first_name %}
                <div class="w-100 d-flex align-items-center justify-content-between">
                    <span class="me-2 d-flex align-items-center">
                        <img class="rounded-circle me-2" src="{% gravatar_url member.email size=24 %}" alt="{{action.actor}}">
                        <strong class="text-nowrap text-capitalize">
                            {{ member.first_name }}
                            {{ member.last_name }}
                        </strong>
                    </span>
                    {% if request.user.is_staff %}
                    <a class="small" href="{% url 'crm-user-details' member.pk %}">
                        <svg class="bi me-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#activity" />
                        </svg>
                    </a>
                    {% endif %}
                </div>
            {% else %}
                    <span class="me-2"><strong>{{member}}</strong></span>
            {% endif %}
            <span style="color: #666666; font-style: italic; font-weight: 300;">{{member.profile.organization.name}}</span>
    {% endif %}
</div>
