{% extends "base.html" %}

{% block content %}

<div class="col-11 py-5 mx-auto">

    <h1>Questionnaire</h1>

    {% if session.answers.count %}

    {% if session.next_question %}
    <p>
        Vous avez déjà commencé à répondre aux questions. <a href="{% url 'survey-session-start' session.id  %}">Continuer</a> ?
    </p>
    {% else %}
    <p>
        Wahooo, vous avez <strong>tout fini</strong>!
    </p>
    {% endif %}


    <div class="row row-cols-2 row-cols-md-3 g-4">
        {% for question_set in session.survey.question_sets.all %}
        <div class="col">
            <div class="card text-white" style="background: #5DC2B0;">
                <div class="card-body mt-2 mb-2 ms-2">
                    <div style="border-left: 5px solid white; border-radius: 2px; padding-left: 20px;">
                        <h5 class="card-title text-uppercase mb-0" style="line-height: 120%; letter-spacing: 0.2em;">{{ question_set.heading }}</h5>
                        <progress class="mb-0" max="100" value="33"></progress>
                        <h6>33%</h6>
                        <p class="card-text">
                            <ul class="list-unstyled">
                                {% for question in question_set.questions.all %}
                                <li>{{ question.text }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    C'est la première fois que vous venez ! 
    <a href="{% url 'survey-session-start' session.id %}">
        Commençons !
    </a>
    {% endif %}


</div>

{% endblock %}
