.crm-home {
  &__title {
    margin-bottom: 10px;
  }
  &__subtitle {
    color: var(--light-text-mention-grey, #666);
    font-size: 12px;
    font-weight: 700;
    line-height: 22px; /* 183.333% */
    text-transform: uppercase;
  }
  &__section {
    width: 70%;
  }
  &__card {
    border-radius: 2px;
    border: 1px solid var(--light-border-default-grey, #E5E5E5);
    background: var(--light-background-default-grey, #FFF);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.10);
    display: flex;
    width: 320px;
    padding: 12px;
    align-items: flex-start;
    &--icon {
      fill:"#0974F6";
      width: 16px;
      height: 16px;
    }
    &--title {
        color: var(--light-text-default-grey, #3A3A3A);
        font-size: 14px;
        font-weight: 700;
        line-height: 24px; /* 171.429% */
    }
    &--arrow {
        width: 20px;
        height: 20px;
        right: 12px;
        top: 12px;
    }
    &--text {
        display: block;
        color: var(--light-text-mention-grey, #666);
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
  }

  &__sidebar {
    width: 30%
  }
}
