.crm-results {
  &__container {
    padding: 0 1.25rem;
  }
  &__title {
    color: var(--light-text-default-grey, #3a3a3a);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 150%; /* 36px */
  }

  &__filter-legend {
    color: var(--light-text-active-grey, #161616);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 20px;
    align-items: center;
    margin-bottom: 0;
    margin-right: 10px;
  }

  &__filter-element input + label {
    font-size: 0.75rem;
    padding: 0.4rem 0.5rem;
    min-height: 1.5rem;
  }

  &__group-title {
    color: var(--light-text-disabled-grey, #929292);
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
  }
}
