.project-list-crm {
  .project-list-crm__filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .multi-select {
    &__container {
      border-radius: 99px;
      height: 2.25rem;
      width: 100%;
      padding: 0 3px;
    }
    &__selected-item {
      display: flex;
      padding: 0 var(--gap-x-small, 4px);
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      height: 1.5rem;
      margin: 5px 2px;
    }
    &__input {
      border-radius: 99px 0 0 99px;
    }
  }
}
