.project-crm {
  &-left-col {
    width: 30%;
  }
  &-left-col {
    width: 70%;
    border-top: 1px solid var(--light-border-default-grey, #e5e5e5);
    border-left: 1px solid var(--light-border-default-grey, #e5e5e5);
    background: #fafafa;
  }
}
