.crm-project-card {

    &__name {
        color: var(--light-text-title-blue-france, #000091);
        font-size: 14px;
        font-weight: 700;
        line-height: 150%; /* 21px */
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
    }
    &__name-inactive {
        color: var(--light-text-disabled-grey, #929292);
        font-size: 14px;
        font-weight: 700;
        line-height: 150%; /* 21px */
    }

    &__org {
        color: var(--light-text-title-grey, #161616);
        font-size: 12px;
        font-weight: 400;
        line-height: 150%; /* 18px */
    }
    &__org-inactive {
        color: var(--light-text-disabled-grey, #929292);
        font-size: 12px;
        font-weight: 400;
        line-height: 150%; /* 18px */
    }
}
