.crm {
  .project-table {
    font-size: 12px;
    white-space: nowrap;
    line-height: 24px; /* 200% */
    table-layout: fixed;

    &__thead {
      font-weight: 700;
      color: var(--light-text-default-grey, #3a3a3a);
      text-transform: uppercase;
      border-bottom: 2px solid var(--text-title, #161616);
      background: #fff;
    }
    th,
    td {
      padding: 0.375rem 0.5rem;
    }
    .column {
      &--large {
        width: 22%;
        max-width: 22%;
      }
      &--medium {
        width: 15%;
        max-width: 15%;
      }
      &--small {
        width: 8%;
        max-width: 8%;
      }
    }
    .fr-link {
      font-size: 0.75rem;
    }
    th:not(:first-child),
    td:not(:first-child) {
      border-left: 1px solid var(--border-default-grey, #e5e5e5);
    }
    tr {
      background: #fff;
      &:nth-child(even) {
        background-color: #f8f8f8;
      }
    }
    &__project-name {
      font-weight: 700;
      text-decoration: underline;
    }
    &__project-org-name {
      font-weight: 400;
      text-decoration: underline;
    }
    &__status {
      .fr-badge {
        font-size: 10px;
        font-weight: 700;
        line-height: 20px; /* 200% */
        letter-spacing: 0.4px;
        text-transform: uppercase;
        padding: 0rem 0.25rem;
      }
    }
  }
}
