{% load static %}
<div class="d-flex justify-content-between mt-3 mb-2">
    <div class="d-inline-flex overflow-hidden">
        <div x-on:click="handleStatusFilterClick('all')"
             class="border rounded bg-white px-2 py-2 d-flex align-items-center board-status-filter-button"
             :class="currentStatus === 'all' ? 'active' : '' ">
            <i style="background-color:#222" class="status-color-indicator me-2"></i>
            <h3 class="title-info m-0 p-0">Toutes</h3>
        </div>
        <template x-for="board in boards">
            <div x-on:click='handleStatusFilterClick(board.status)'
                 class="ms-2 border rounded bg-white px-2 py-2 d-flex align-items-center board-status-filter-button"
                 :class="currentStatus === board.status ? 'active' : '' ">
                <i :style="`background-color: ${board.color}`"
                   class="status-color-indicator me-2"></i>
                <h3 x-text="board.title" class="title-info m-0 p-0"></h3>
            </div>
        </template>
    </div>
    <div class="d-flex">
        {% if not disable_add_recommendation %}
            <a class="button filled"
               href="{% url 'projects-project-create-action' project.id %}">
                <svg class="bi me-1" width="16" height="16" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#journal-plus" />
                </svg>
                Ajouter une recommandation
            </a>
        </div>
    {% endif %}
</div>
