<template x-for="topic in $store.tasksData.topics">
    <div>
        <div class="d-flex align-items-center text-info-custom mt-2 mb-4">
            <span class="topic-indicator bg-green me-2"></span>
            <h5 x-text="topic" class="fw-medium text-gray-800 mb-0"></h5>
        </div>
        <template x-for="(task, i) in filterTaskByTopic(topic)" :key="task.id">
            <div class="task-animation-appear-in position-relative my-4"
                 :style="`z-index:${10000-i}`">
                {% include 'projects/project/fragments/tasks_inline/task_item.html' %}
            </div>
        </template>
    </div>
</template>
<div x-show="column(board.status).length == '0'">
    <div class="border rounded mb-3 px-3 d-flex pt-3 pb-3 justify-content-between align-items-start task-item">
        <p class="text-info-custom font-small text-grey-dark my-0"
           x-text="filterIsDraft == true ? 'Aucune recommandation en brouillon' : 'Aucune recommandation dans cette catégorie'">
        </p>
    </div>
</div>
