{% load static %}
{% load gravatar %}
{% load guardian_tags %}
{% get_obj_perms request.user for request.site as "user_site_perms" %}
{% get_obj_perms request.user for project as "user_project_perms" %}
<div x-data="Task(task)"
     :class="`border${getTaskColor(task)}`"
     class="rounded mb-3 px-3 d-flex pt-3 pb-3 justify-content-between align-items-start task-item">
    <div x-show="task.isLoading"
         class="ms-2 item-loader z-index-1"
         style="width: 24px;
                height: 24px">
        <div class="spinner-border spinner-border spinner-border-sm text-primary"
             role="status"></div>
    </div>
    <div class="d-flex flex-column flex-grow-1 ease-transition"
         :style="task.isLoading && 'opacity:0.3';">
        <template x-if="!task.visited && task.public">
            <div class="card-top-information left-0">
                <span class="bg-blue text-white" x-text="!$store.djangoData.isAdvisor ? 'Nouveau' : 'Non lue par la collectivité' "></span>
            </div>
        </template>
        <template x-if="!task.public">
            <div class="card-top-information left-0">
                <span :class="`bg${getTaskColor(task)}`" class="text-dark">Brouillon</span>
            </div>
        </template>
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <div class="d-flex w-100 align-items-center">
                    <span class="mt-0 pt-0mb-0 fw-bold title-info text-dark cursor-pointer hover-border-bottom"
                          @click="handleOpenPreviewModal()"
                          x-text="task.intent"></span>
                </div>
            </div>
            {% if "manage_tasks" in user_project_perms and not disable_edit %}
                {% include 'projects/project/fragments/task/task_actions.html' %}
            {% endif %}
        </div>
        <article class="mt-1 mb-2">
            <template x-if="task.resource_id && task.resource && task.resource.subtitle">
                <div x-html="truncate(renderMarkdown(task.resource.subtitle),500)"
                     class="text-info-custom fw-light font-small text-dark m-0 p-0"></div>
            </template>
            <template x-if="!task.resource_id && task.content">
                <div x-html="truncate(renderMarkdown(task.content),500)"
                     class="text-info-custom fw-light font-small text-dark mb-2 p-0"></div>
            </template>
        </article>
        <template x-if="task.resource">
            <article class="mb-3">{% include 'projects/project/fragments/task/task_comment.html' %}</article>
        </template>
        <footer class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                {% include 'projects/project/fragments/tasks_inline_kanban/tasks_status_buttons.html' %}
                <div class="text-grey-dark d-flex align-items-center tiny me-3 responsive-flex-column">
                    <svg class="align-middle bi me-1"
                         width="18px"
                         height="15px"
                         fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#chat-square" />
                    </svg>
                    <span class="tiny hover-underline cursor-pointer"
                          @click="handleOpenPreviewModal()"
                          x-text="task.resource_id ? getTaskMessageCountLabel(task.comments_count + 1) : getTaskMessageCountLabel(task.comments_count)"></span>
                </div>
            </div>
            <div class="tiny d-flex align-items-center">
                <span class="text-muted me-1"
                      x-text="`Émis le ${formatDate(task.created_on)}`"
                      style="line-height: 20px"></span>
                {% include 'projects/project/fragments/task/task_user_card.html' %}
            </div>
        </footer>
    </div>
</div>
