<template x-for="(task, i) in column(board.status)" :key="task.id">
    <div class="task-animation-appear-in">
        {% include 'projects/project/fragments/tasks_inline/task_item.html' %}
    </div>
</template>

<div x-show="column(board.status).length == '0'">
    <div class="flag bg-white d-flex rounded align-items-center justify-content-start">
        <p class="text-info-custom font-small text-grey-dark my-0 ">Aucune recommandation dans cette catégorie pour l'instant</p>
    </div>
</div>
