.specific-background-1e1e1e {
  background: #1e1e1e;
}

.specific-border-radius {
  border-radius: 0px 0px 4px 4px;
}

.specific-box-shadow {
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.25);
}

.specific-span-underline {
  text-decoration: underline;
}

.specific-width-40pct {
  width: 40%;
}

.specific-text-color-white {
  color: white;
}
