{% load gravatar %}
{% load static %}
{% load humanize %}


<div class="d-flex flex-column">
    <div>
        <h6 class="title-info text-grey-dark">Nouvelles activités</h6>
    </div>
    <div class="p-0 h-100 d-inline-flex flex-column justify-content-between align-items-center">
        <article class="overflow-hidden timeline-blur">
            
        </article>
        <a class="button filled grey small timeline-button inherit fw-bold" href="">Voir toute les activités</a>
    </div>
</div>
