{% load static %}
{% load sass_tags %}
{% load django_vite %}

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% vite_hmr_client %}
        {% vite_asset 'js/main.js' %}
        
        {% if not debug %}
        <script>
         !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
         posthog.init('phc_Cxb0L6gYS0hOwMrwMq37TuhpRxcZtWIEX7YJlr6B052',{api_host:'https://app.posthog.com'
                      {% if request.user.is_authenticated %},
             loaded: function(posthog) {
             posthog.identify(
                 '{{ request.user.username }}', // distinct_id, required
                 { }, // $set, optional
                 {% if request.user.is_staff %}
                 { staff: 'true' } // $set_once, optional
                 {% endif %}
             );
             }
                 {% endif %}
             }
         );


        </script>
        {% endif %}


        {% include 'seo.html' %}

        <!-- Bootstrap core CSS -->
        {% if debug %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
        {% else %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        {% endif %}
        <link href="{% sass_src 'css/base.scss' %}" rel="stylesheet" type="text/css">
        <link href="{% sass_src 'css/menu-top.scss' %}" rel="stylesheet" type="text/css">
        <link href="{% sass_src 'css/markdownx.scss' %}" rel="stylesheet" type="text/css">

        <!-- Extra CSS -->
        {% block css %}
        {% endblock %}

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="{% static 'img/favicons/apple-touch-icon.png' %}" sizes="180x180">
        <link rel="icon" href="{% static 'img/favicons/favicon-32x32.png' %}" sizes="32x32" type="image/png">
        <link rel="icon" href="{% static 'img/favicons/favicon-16x16.png' %}" sizes="16x16" type="image/png">
        <link rel="icon" href="{% static 'img/favicons/favicon.ico' %}">

    </head>
    <body class="bg-light">

        <h1 class="visually-hidden">{{ site.name }}</h1>

        {% include "header/menu-top.html" %}

        <main style="padding-top: 150px;">
            <div id="notification" x-data="Notification" x-show="isOpen">
                <span x-text="message"></span>
            </div>
            {% if messages %}
            <div id="notification-container" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                {% for message in messages %}
                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}bg-success text-white{% endif %} {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}bg-error text-white{% endif %}">
                        {% if "email" in message.tags %}
                        <strong class="me-auto">
                            <svg class="bi me-1" width="16" height="16" fill="currentColor">
                                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#envelope"/>
                            </svg>&nbsp;
                            <span class="align-middle">Courriel envoyé !</span>
                        </strong>
                        {% elif "auth" in message.tags %}
                        <strong class="me-auto">
                            <svg class="bi me-1" width="16" height="16" fill="currentColor">
                                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#lock"/>
                            </svg>&nbsp;
                            <span class="align-middle">Gestion des droits</span>
                        </strong>
                        {% else %}
                        <strong class="me-auto">Notification</strong>
                        {% endif %}
                        <small></small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{ message|capfirst }}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <!--             <div class="b-page-divider"></div> -->

            <div class="container-fluid bg-white">
                <div class="row">
                    {% block content %}
			              {% endblock %}
                </div>

                <div class="row justify-content-center">
                    {% include 'footer.html' %}
                </div>
            </div>

        </main>


        {% if not debug %}
        <script
            src="https://browser.sentry-cdn.com/6.19.4/bundle.min.js"
            integrity="sha384-l+UQ7KbPIcq6l4DoWCwMvaOJ0pdJ+oTVGD6GyROFzSriOH1F1f6dl90fOgcigkMX"
            crossorigin="anonymous"
        ></script>
        <script type="text/javascript">
         Sentry.init({
             dsn: "https://94ca61f214804521ab3f4b80600dc837@o1107121.ingest.sentry.io/6133993",
         });
        </script>
        {% endif %}

        <!-- Polyfill for older browsers -->
        <script src="https://polyfill.io/v3/polyfill.min.js?features=Element.prototype.classList%2Cdefault%2CqueueMicrotask%2CArray.prototype.forEach%2CElement.prototype.closest"></script>

        {% if debug %}
        <script src="{% static 'js/jquery-3.6.0.slim.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.js" crossorigin="anonymous"></script>
        {% else %}
        <script src="{% static 'js/jquery-3.6.0.slim.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js" integrity="sha256-0H3Nuz3aug3afVbUlsu12Puxva3CP4EhJtPExqs54Vg=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
        {% endif %}

        <script src="{% static 'js/text.js' %}"></script>
        <script src="{% static 'js/tooltip.js' %}"></script>


        <!-- bs5 notifications  -->
        <script type="text/javascript">
         $('document').ready(function() {
             $('.toast').toast('show');
         });

        </script>


        {% block js %}
        {% endblock %}
    </body>
</html>
