{% load static %}
<footer class="col-11 py-5">
    <hr />
    <div class="row py-5">

        <div class="col-6">
            <img src="{% static 'home/img/home/logo_rf.png' %}" width="150px" alt="Logo république française">
        </div>
        <div class="col-6 col-md">
            <h5>UrbanVitaliz</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="link-secondary" href="{% url 'whoweare' %}">Qui sommes-nous ?</a>
                </li>
                <li>
                    <a class="link-secondary" href="{% url 'followus' %}">Suivre le projet</a>
                </li>
                <li>
                    <a class="link-secondary" href="https://betagouv.github.io/urbanvitaliz/recrutement/">Recrutement</a>
                </li>

                <li>
                    <a class="link-secondary" href="https://drive.google.com/file/d/1kHMZWR4aT6q_DHZ8hT3LlK2kFTVyYfCI/view?usp=sharing" target="_new">Plaquette de présentation</a>
                </li>
                <li>
                    <a class="link-secondary" href="{% url 'home-contact' %}">Nous contacter</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>UrbanVitaliz</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="link-secondary" href="{% url 'legals' %}">Mentions légales</a>
                </li>
                <li>
                    <a class="link-secondary" href="{% url 'privacy' %}">Politique de confidentialité</a>
                </li>
                <li>
                    <a class="link-secondary" href="{% url 'termsofuse' %}">Conditions d'utilisons</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Ressources</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="link-secondary" href="{% url 'statistics' %}">Statistiques d'impact</a>
                </li>
            </ul>
            <h5>Logiciel Libre</h5>
            <ul class="list-unstyled text-small">
                <a href="https://github.com/betagouv/recoco-portails" target="_new">Code Source</a>
            </ul>
        </div>
    </div>
</footer>
