[class*='l-stack'] > * {
	--current-gap-size: var(--gap, 8px);
	/* top and bottom margins in horizontal-tb writing mode */
	margin-block: 0;
	inline-size: 100%;
}

[class*='l-stack'] {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}


.l-stack\:lg {
	--current-gap-size: 12px;
}

.l-stack.auto > * {
	inline-size: auto;
}

[class*='l-stack']:only-child {
	/* ↓ `height` in horizontal-tb writing mode */
	block-size: 100%;
	/* ↓ `width` in horizontal-tb writing mode */
	inline-size: 100%;
}

[class*='l-stack'].recursive * + * {
	margin-block-start: var(--current-gap-size);
}

[class*='l-stack'] > * + * {
	margin-block-start: var(--current-gap-size);
}
