{% extends "projects/project/detail.html" %}
{% load static %}
{% load humanize %}
{% load gravatar %}
{% load sass_tags %}
{% load django_vite %}
{% load guardian_tags %}
{% block title %}
    Recommandations - {{ block.super }}
{% endblock title %}
{% block og_title %}
    Recommandations - {{ block.super }}
{% endblock og_title %}
{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/js-md5@0.7.3/src/md5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    {% vite_asset 'js/apps/actionsEmbed.js' %}
{% endblock js %}
{% block css %}
    <link href="{% sass_src 'projects/css/board.scss' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock css %}
{% block project_detail %}
    {% get_obj_perms request.user for request.site as "user_site_perms" %}
    {% get_obj_perms request.user for project as "user_project_perms" %}
    <div class="col-12 mx-auto">
        <div class="row">
            <div class="col">
                {{ can_administrate|json_script:"canAdministrate" }}
                {{ user_project_perms|json_script:"userProjectPerms" }}
                {{ is_switchtender|json_script:"isSwitchtender" }}
                {{ user.email|json_script:"userEmail" }}
                {% if is_switchtender and project.tasks.all.count == 0 %}
                    <div data-test-id="no-tasks-banner" class="bg-light p-4 rounded-2">
                        <h3 class="fw-light">Pas encore de recommandations au porteur de projet ?</h3>
                        <p class="fst-italic fw-light">
                            Soyez la première personne à proposer des recommandations ou des ressources au porteur de projet !
                        </p>
                    </div>
                {% elif not is_switchtender and project.tasks.public.count == 0 %}
                    <div class="bg-light p-4 rounded-2">
                        <h3 class="fw-light">Vous n'avez pas de recommandations en cours</h3>
                        <p class="fst-italic fw-light">Des recommandations vous seront proposées par notre équipe dès que possible.</p>
                    </div>
                {% else %}
                    {% include "projects/project/fragments/tasks_inline_kanban/tasks_inline_kanban.html" with embed_view=True %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock project_detail %}
