{% extends "projects/project/detail.html" %}
{% load static %}
{% load humanize %}
{% load gravatar %}
{% load sass_tags %}
{% load django_vite %}
{% load guardian_tags %}
{% load projects_extra %}
{% block title %}
    Recommandations - {{ block.super }}
{% endblock title %}
{% block og_title %}
    Recommandations - {{ block.super }}
{% endblock og_title %}
{% block js %}
    {% comment %} TODO import in node_modules {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/js-md5@0.7.3/src/md5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    {% vite_asset 'js/store/showRole.js' %}
{% endblock js %}
{% block css %}
    <link href="{% sass_src 'projects/css/board.scss' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock css %}
{% block project_detail %}
    {% get_obj_perms request.user for request.site as "user_site_perms" %}
    {% get_obj_perms request.user for project as "user_project_perms" %}
    {% get_advising_position request.user project request.site as position %}
    {% include "projects/project/navigation.html" with recommandations=True %}
    {% if project.inactive_since != None %}
        <div class="specific-border-4pxsolid1e1e1e">
            {% include "projects/project/fragments/project_banner/paused_project_banner.html" %}
            <div>
            {% elif project.status == 'DRAFT' %}
                <div class="specific-border-4pxsolid000091">
                    {% include "projects/project/fragments/project_banner/non_published_project_banner.html" %}
                {% elif not advising and is_regional_actor and not is_staff %}
                    <div x-data
                         x-init="$nextTick(() => $store.showRole.init())"
                         class="specific-border-4pxsolid000091">
                        {% include "projects/project/fragments/project_banner/join_project_banner.html" %}
                        <div>
                        {% endif %}
                        {{ can_administrate|json_script:"canAdministrate" }}
                        {{ user_project_perms|json_script:"userProjectPerms" }}
                        {{ is_switchtender|json_script:"isSwitchtender" }}
                        {{ user.email|json_script:"userEmail" }}
                        {{ position.is_observer|json_script:"isObserverOnProject" }}
                        {{ position.is_advisor|json_script:"isAdvisorOnProject" }}
                        {% if is_switchtender and project.tasks.all.count == 0 %}
                            <div data-test-id="no-tasks-banner" class="bg-light fr-p-3w rounded-2">
                                <h3 class="fw-light">Pas encore de recommandations au porteur de projet ?</h3>
                                <p class="fst-italic fw-light fr-mb-2w">
                                    Soyez la première personne à proposer des recommandations ou des ressources au porteur de projet !
                                </p>
                                {% if advising or is_staff %}
                                    <a data-test-id="submit-task-button"
                                       href="{% url 'projects-create-task' %}?project_id={{ project.id }}"
                                       class="fr-btn">Émettre une recommandation</a>
                                    <a href="{% url 'projects-project-detail-knowledge' project.id %}"
                                       class="fr-btn fr-btn--secondary">Consulter les détails du projet</a>
                                    <p class="fr-mt-2w">
                                        <span class="badge bg-warning">Beta feature</span> <a href="{% url 'projects-project-tasks-suggest' project.pk %}">Examiner les recommandation suggérées automatiquement pour ce projet</a>
                                    </p>
                                {% else %}
                                    <button class="fr-btn"
                                            data-bs-toggle="dropdown"
                                            data-bs-auto-close="outside"
                                            aria-expanded="false"
                                            aria-controls="select-observer-or-advisor">
                                        Rejoindre ce projet pour l'aiguiller
                                    </button>
                                {% endif %}
                            </div>
                        {% elif not is_switchtender and project.tasks.public.count == 0 %}
                            <div class="bg-light fr-p-3w rounded-2">
                                <h3 class="fw-light">Vous n'avez pas de recommandations en cours</h3>
                                <p class="fst-italic fw-light">Des recommandations vous seront proposées par notre équipe dès que possible.</p>
                                <p class="fst-italic fw-light">
                                    Vous pouvez accélerer les recommandations <span class="fw-bolder">en complétant le questionnaire d'exploration</span>.
                                </p>
                                <a href="{% url 'survey-project-session' project.id %}" class="fr-btn">Compléter le questionnaire d'exploration</a>
                            </div>
                        {% else %}
                            {% include "projects/project/fragments/tasks_inline_kanban/tasks_inline_kanban.html" %}
                        {% endif %}
                        {% if project.inactive_since != None %}
                        </div>
                    </div>
                {% elif project.status == 'DRAFT' %}
                </div>
            {% elif not advising and is_regional_actor and not is_staff %}
            </div>
        </div>
    {% endif %}
{% endblock project_detail %}
