{% extends "base.html" %}
{% load static %}
{% block content %}
    {% comment %} TODO remove this unused template ? {% endcomment %}
    <div class="col-11 col-lg-9 fr-py-6w fr-mx-auto font-marianne">
        <nav class="fr-mb-3w fr-pb-1v">
            <ol class="list-unstyled d-flex align-items-center">
                <li>
                    <a class="small text-decoration-underline text-grey"
                       href="{% url 'home' %}">Accueil</a>
                </li>
                <svg class="bi fr-mx-2v" width="15" height="15">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#chevron-right" />
                </svg>
                <li>
                    <span class="small text-dark">Soliciter {{ request.site.name }}</span>
                </li>
            </ol>
        </nav>
        <h2>Votre demande à bien été prise en compte !</h2>
        <p class="text-info-custom">
            Vous recevrez un courriel de confirmation d’ici peu !
            <br />
            🎉 Notre équipe va valider votre demande et prendre
            contact pour convenir d’un échange.
        </p>
        <div class="flag orange fr-mb-3w d-flex align-items-center justify-content-start">
            <span class="title-info text-orange text-uppercase fr-my-0 fr-mr-2w">Attention</span>
            <p class="text-info-custom text-orange fr-my-0">
                Il se peut que certains fournisseurs de mails bloquent nos email,
                n’hésitez pas à vérifier vos <strong>SPAM</strong>
            </p>
        </div>
        <div class="bg-light d-flex flex-column justify-content-center align-items-center fr-py-3w rounded">
            <h4 class="fr-pt-2v">Prochaine étape : Remplissez le parcours d’état des lieux</h4>
            <p class="fr-m-0 text-info-custom fw-normal fr-pb-2w">
                Pour faire le point sur votre avancement et recevoir des conseils pertinents.
            </p>
            <a data-test-id="link-fill-survey"
               class="button filled fr-pb-2v"
               href="#">Compléter l'état des lieux</a>
        </div>
    </div>
{% endblock content %}
