{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load django_vite %}
{% block title %}
    État des lieux du dossier {{ project.name }} {{ block.super }}
{% endblock title %}
{% block og_title %}
    État des lieux du dossier {{ project.name }} {{ block.super }}
{% endblock og_title %}
{% block js %}
    {% vite_asset 'js/styles/resources.css.js' %}
    {% vite_asset 'js/styles/resource-card.css.js' %}
    {% vite_asset 'js/styles/projects-project.css.js' %}
    {% vite_asset 'css/projectDetails.css' %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            activateTab();

            window.addEventListener('hashchange', function() {
                activateTab()
            });
        })
        // TODO dead code ?
        // Change hash for page-reload
        const navTab = document.querySelector('.nav-tabs button')
        navTab?.addEventListener('shown.bs.tab', function(e) {
            window.location.hash = $(e.target).data("bs-target");
            window.scrollBy(0, 0);
        });


        function activateTab(){
            var url = document.location.toString();
            if (url.match('#')) {
                let hash = url.split('#')[1]
                $('#' + hash + "-tab").get(0).click();
            }
        };

    </script>
{% endblock js %}
{% block content %}
    <div class="col-12 fr-p-3w fr-mx-auto">
        <h1 class=" align-items-center">
            <svg class="bi" width="40" height="40" fill="currentColor">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#building" />
            </svg>
            {{ project.name|title }}
        </h1>
        {% if can_manage %}
            <div class="row">
                <div class="bd-callout">
                    Ceci est une prévisualisation de ce que verront les personnes disposant du lien de partage.
                    <br>
                    <strong>Lien de partage :</strong> <a target="_new"
    href="{{ request.scheme }}://{{ request.get_host }}{% url 'projects-project-sharing-link' project.ro_key %}">{{ request.scheme }}://{{ request.get_host }}{% url 'projects-project-sharing-link' project.ro_key %}</a>
                </div>
            </div>
        {% endif %}
        <div class="row">{% include "projects/project/fragments/survey_grid.html" %}</div>
    </div>
{% endblock content %}
