{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load django_vite %}
{% load projects_extra %}
{% block js %}
    {% vite_asset 'js/styles/resources.css.js' %}
    {% vite_asset 'js/styles/resource-card.css.js' %}
    {% vite_asset 'js/styles/projects-project.css.js' %}
{% endblock js %}
{% block title %}
    {{ project.name }}
{% endblock title %}
<!-- djlint:off -->
{% block og_title %}{{ project.name }}{% endblock og_title %}
<!-- djlint:on -->
{% block content %}
    {% is_staff_for_current_site request.user as is_staff %}
    <div class="col-12 fr-p-0 fr-mx-auto">
        {% block banner %}
        {% endblock banner %}
        {% with request.resolver_match.url_name as url_name %}
            {% block project_detail %}
            {% endblock project_detail %}
        {% endwith %}
    </div>
{% endblock content %}
