{% extends "projects/project/detail.html" %}
{% load humanize %}
{% load static %}
{% load common_tags %}
{% load survey %}
{% load gravatar %}
{% load guardian_tags %}
{% load projects_extra %}
{% block title %}
    Fichiers et liens - {{ block.super }}
{% endblock title %}
{% block og_title %}
    Fichiers et liens - {{ block.super }}
{% endblock og_title %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/apps/documents.js' %}
{% endblock js %}
{% block project_detail %}
    {% get_obj_perms request.user for request.site as "user_site_perms" %}
    {% get_obj_perms request.user for project as "user_project_perms" %}
    {% include "projects/project/navigation.html" with files_links=True %}
    {% if project.inactive_since != None %}
        <div class="specific-border-4pxsolid1e1e1e">
            {% include "projects/project/fragments/project_banner/paused_project_banner.html" %}
            <div>
    {% elif project.status == 'REJECTED' %}
        <div class="specific-border-4pxsolid1e1e1e">
            {% include "projects/project/fragments/project_banner/deleted_project_banner.html" %}
            <div class="no-interaction-possible">
    {% elif project.status == 'DRAFT' %}
        <div class="specific-border-4pxsolid000091">
            {% include "projects/project/fragments/project_banner/non_published_project_banner.html" %}
    {% endif %}
                <div class="fr-p-3w">
                    <div class="row">
                        <div class="col-8">
                            <div class="d-flex align-items-center justify-content-between fr-mb-3w">
                                <h6 class="text-uppercase small fr-mb-0">
                                    {% with all_files.count as files_count %}
                                        {% if files_count > 0 %}{{ files_count }}{% endif %}
                                        fichier{{ files_count|pluralize }} partagé{{ files_count|pluralize }}
                                    {% endwith %}
                                </h6>
                                {% if "manage_documents" in user_project_perms %}
                                    {% url 'projects-documents-upload-document' project.pk as upload_action %}
                                    {% include "projects/project/fragments/files_links/file_upload_button.html" with type="project" action=upload_action small=True %}
                                {% endif %}
                            </div>
                            {% include "projects/project/fragments/files_links/file_list.html" with files=all_files files_from_edl=answers_with_files.all %}
                            {% for answer in answers_with_files.all %}
                                {% if answer.attachment %}
                                    <div class="fr-mb-2w">
                                        <div class="rounded border fr-py-2v fr-px-2w fr-mb-2v d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <a class="d-flex align-items-center text-decoration-none"
                                                   href="{{ answer.attachment.url }}"
                                                   target="_new"
                                                   download>
                                                    <span class="fr-icon-file-line fr-icon--sm fr-mr-2v" aria-hidden="true"></span>
                                                    <span class="text-info-custom text-black fr-ml-2v name"
                                                          data-cy="attachment-filename">{{ answer.attachment|filename|truncatechars:30 }}</span>
                                                    {% if answer.attachment.size %}
                                                        <span class="text-info-custom text-black fr-ml-2v">({{ answer.attachment.size|filesizeformat }})</span>
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                {% if "use_surveys" in user_project_perms %}
                                                    <a class="fr-btn fr-btn--tertiary-no-outline fr-icon-download-line"
                                                       href="{{ answer.attachment.url }}"
                                                       data-test-id="download-attachment"
                                                       target="_new"
                                                       download></a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="fr-pl-3w fr-ml-3w d-flex align-items-center">
                                            {% include "user/user_card.html" with user=answer.updated_by %}
                                            <span class="fr-ml-3w tiny d-flex align-items-center">
                                                <span class="fr-icon--sm fr-icon-calendar-event-line fr-mr-1v"
                                                      aria-hidden="true"></span>
                                            {{ answer.updated_on|naturalday }}</span>
                                            <span class="fr-ml-3w tiny d-flex align-items-center">Fichier récupéré de l'état des lieux</span>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-4">
                            <div class="d-flex align-items-center justify-content-between fr-mb-3w">
                                <h6 class="text-uppercase small fr-mb-0">Liens épinglés</h6>
                                {% if "manage_documents" in user_project_perms %}
                                    {% url 'projects-documents-upload-document' project.pk as upload_action %}
                                    {% include "projects/project/fragments/files_links/link_upload_button.html" with type="project" action=upload_action %}
                                {% endif %}
                            </div>
                            <!-- Liens épinglés -->
                            {% include "projects/project/fragments/files_links/link_list.html" with is_pinned=True %}
                            <!-- Fichiers épinglés -->
                            <div class="d-flex align-items-center justify-content-between fr-mb-2v fr-mt-3w fr-pt-2v">
                                <h6 class="text-uppercase small fr-mb-0">Fichiers épinglés</h6>
                            </div>
                            {% include "projects/project/fragments/files_links/file_list.html" with search=False files=pinned_files is_pinned=True %}
                        </div>
                    </div>
                </div>
    {% if project.inactive_since != None %}
            </div>
        </div>
    {% elif project.status == 'REJECTED' or project.deleted != null %}
            </div>
        </div>
    {% elif project.status == 'DRAFT' %}
        </div>
    {% endif %}
{% endblock project_detail %}
