{% extends "projects/project/detail.html" %}
{% load humanize %}
{% load static %}
{% load gravatar %}
{% load activity_tags %}
{% block project_detail %}
    {% activity_stream "target" project %}
    <div class="w-100 h-100">
        <div class="d-flex">
            <a href="{% url 'projects-project-detail' project.id %}"
               class="button grey filled fr-my-2v fr-mb-3w a-style">
                <svg class="bi fr-mr-2v" width="16" height="16" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#arrow-return-left" />
                </svg>
                <span>revenir au dossier</span>
            </a>
        </div>
        <div class="d-flex align-items-center justify-content-between fr-mb-1v">
            <h6 class="text-uppercase fw-bold fr-m-0 fr-p-0 h6-specific-fontsize-14">Activité du dossier</h6>
        </div>
        <div class="project-card-details h-100 fr-p-2w d-flex flex-column justify-content-between"
             data-test-id="project-activity-tracking-staff">
            <article class="overflow-hidden">
                {% regroup stream by timestamp.date as stream_by_day %}
                <ul class="list-group fr-m-0 fr-p-0 activity-stream-container">
                    {% for date, actions in stream_by_day %}
                        <li class="{% if cropped %}mb-0 {% endif %} list-group-item border-0 d-flex flex-column fr-mb-2w fr-mx-0 fr-px-0">
                            <span class="small text-info-custom text-grey-dark fr-mb-2v fr-pl-2v">{{ date|naturalday|capfirst }}</span>
                            <div class="activity-stream-actions-container d-flex flex-column">
                                {% for action in actions %}
                                    {% display_action action %}
                                {% endfor %}
                            </div>
                        </li>
                    {% empty %}
                        <span class="text-custom-info text-grey-dark fw-light">Vous trouverez ici l'activité de vos dossiers suivis</span>
                    {% endfor %}
                </ul>
            </article>
        </div>
    </div>
{% endblock project_detail %}
