{% extends "projects/project/detail.html" %}
{% load humanize %}
{% load static %}
{% load training %}
{% load guardian_tags %}
{% load django_vite %}
{% block css %}
    {% vite_asset 'css/projectDetails.css' %}
{% endblock css %}
{% block js %}
    {% vite_asset 'js/store/showRole.js' %}
{% endblock js %}
{% block title %}
    État des lieux - {{ block.super }}
{% endblock title %}
{% block og_title %}
    État des lieux - {{ block.super }}
{% endblock og_title %}
{% block project_detail %}
    {% challenge_for request.user "project-knowledge-reader" as challenge %}
    {% if challenge and not challenge.acquired_on %}
        {% challenge_acquire challenge %}
    {% endif %}
    {% get_obj_perms request.user for request.site as "user_site_perms" %}
    {% get_obj_perms request.user for project as "user_project_perms" %}
    <style type="text/css">
	@media print
    {
        main {
            padding-top: 0 !important;
        }

        .project-navigation {
            display: none !important;
        }

        .knowledge-title {
            margin-top: 0 !important;
        }
        .masonry-wrapper{
            display: flex !important;
            flex-direction: column !important;
            width: 100% !important;
            max-width: 100%;
            flex-wrap: nowrap;
            height: auto !important;
        }
        .masonry-wrapper .masonry-item{
            display: block !important;
            position: relative !important;
            top: 0 !important;
            left: 0 !important;
            width: 100% !important;
            max-width: 100% !important;
            height: auto !important;
        }

        .navbar {
            display: none !important;
        }
        footer {
            display: none !important;
        }

        #overview-step-5 {
            display: none !important;
        }
	}
    </style>
    <div x-data x-init="$nextTick(() => $store.showRole.init())" class="col-12">
        {% include "projects/project/navigation.html" with state_of_play=True %}
        {% include "projects/project/fragments/project_banner/banner_wrapper.html" with part='open' %}
        {% include "projects/project/fragments/survey_grid.html" %}
        {% include "projects/project/fragments/project_banner/banner_wrapper.html" with part='close' %}
    </div>
{% endblock project_detail %}
