{% extends "projects/project/list.html" %}
{% load static %}
{% load humanize %}
{% load notifications_tags %}
{% load gravatar %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/styles/projects-board.css.js' %}
    {% vite_asset 'js/apps/boardProjects.js' %}
    {% vite_asset 'js/apps/tutorial.js' %}
    {% vite_asset 'js/styles/kanban.css.js' %}
    {% vite_asset 'js/styles/segmented_ctrl.css.js' %}
{% endblock js %}
{% block title %}
    Tableau de bord administrateur {{ block.super }}
{% endblock title %}
{% block og_title %}
    Tableau de bord administrateur {{ block.super }}
{% endblock og_title %}
{% block project_list_content %}
    {{ departments|json_script:"departmentsArray" }}
    {{ regions|json_script:"regionsArray" }}
    <div x-data="KanbanProjects({{ request.site.id }}, departmentsArray, regionsArray )"
         @selected-departments="saveSelectedDepartment($event)">
        <div x-show="isBusy"
             x-transition
             class="position-absolute text-center w-100"
             data-cy="loader">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="kanban-header topbar d-flex justify-content-between align-items-center fr-p-2v">
            {% include "projects/project/fragments/tasks_inline_kanban/tasks_inline_kanban_filters.html" %}
            <div class="kanban-header__toolbar">{% include "projects/project/fragments/list-toolbars.html" %}</div>
        </div>
        <template x-if="isViewInitialized && boards.every(b => b.projects.length === 0)">
            <div class="fr-notice fr-notice--info fr-my-8w">
                <div class="fr-container">
                    <div class="fr-notice__body">
                        <p>
                            <span class="fr-notice__title">Aucun dossier correspondant aux critères de recherche selectionnés</span>
                            <span class="fr-notice__desc">Essayez de modifier vos critères pour obtenir un résultat</span>
                        </p>
                        <button title="Masquer le message"
                                onclick="const notice = this.parentNode.parentNode.parentNode; notice.parentNode.removeChild(notice)"
                                class="fr-btn--close fr-btn">Masquer le message</button>
                    </div>
                </div>
            </div>
        </template>
        <template x-if="isViewInitialized && boards.some(b => b.projects.length > 0)">
            <div x-cloak class="d-flex">
                <div class="flex-grow-1 kanban-container">
                    <div class="fr-py-3w md-py-8">
                        <div class="d-flex fr-pb-2v">
                            <template x-for="(board, index) in boards" :key="board.code">
                                <div class="fr-px-2v flex-shrink-0 kanban-column-container">
                                    <div class="rounded border-4 kanban-column"
                                         :class="board.color_class"
                                         :data-test-id="`board-targetable-${index}`">
                                        <div class="d-flex justify-content-between justify-items-center fr-px-2v fr-py-2v sticky top-0">
                                            <h5 x-text="board.title" class="font-medium text-gray-800 fr-mb-0"></h5>
                                        </div>
                                        <div class="kanban-column__content">
                                            <div class="fr-px-2v fr-py-1v fr-pb-1v h-100 d-flex flex-column">
                                                <template x-if="column(board.code).length === 0">
                                                    <div class="drag-targetable fr-py-2v h-100"
                                                         @dragover="onDragOver(event, null)"
                                                         @drop="onDrop(event, board.code, null)"
                                                         @dragenter="onDragEnter(event)"
                                                         @dragleave="onDragLeave(event)"
                                                         @dragstart="onDragStart(event, t.uuid)"
                                                         @dragend="onDragEnd(event)"
                                                         data-test-id="drag-target"></div>
                                                </template>
                                                <!-- Task Template -->
                                                <template x-for="(t, taskIndex) in column(board.code)" :key="t.id">
                                                    <div :id="t.id"
                                                         class="drag-targetable kanban-card-container"
                                                         data-cy="card-project"
                                                         @dragover="onDragOver(event)"
                                                         @drop="onDrop(event, board.code, t.uuid)"
                                                         @dragenter="onDragEnter(event)"
                                                         @dragleave="onDragLeave(event)"
                                                         @dragstart="onDragStart(event, t.uuid)"
                                                         @dragend="onDragEnd(event)">
                                                        <a :href="makeProjectURL('{% url 'projects-project-detail' 0 %}', t.id)">
                                                            <div class="kanban-card rounded fr-p-4v w-100 position-relative"
                                                                 :class="{'kanban-card__border--is-switchtender': t.is_switchtender, 'kanban-card__border--is-observer': t.is_observer}"
                                                                 draggable="true"
                                                                 :data-test-id="`item-draggable-${taskIndex}`">
                                                                <template x-if="t.inactive_since !== null">
                                                                    <div class="kanban-card__state-container">
                                                                        <div class="left-0">
                                                                            <div class="kanban-card__state--pause">En pause</div>
                                                                        </div>
                                                                    </div>
                                                                </template>
                                                                <template x-if="t.notifications.count > 0">
                                                                    <span class="kanban-card__notification-container position-absolute top-25 start-100 badge bg-danger"><span x-text="t.notifications.count"></span> <span class="visually-hidden">nouvelle activité</span></span>
                                                                </template>
                                                                <div class="kanban-card__project-container fr-mb-2v">
                                                                    <span class="kanban-card__project-name project-link"
                                                                          x-text="truncate(t.name)"></span>
                                                                    <template x-if="t.owner?.profile?.organization">
                                                                        <span class="kanban-card__project-organization"
                                                                              x-text="t.owner.profile.organization.name"></span>
                                                                    </template>
                                                                </div>
                                                                <template x-if="t.origin">
                                                                    <div class="kanban-card__project-push-by-container"
                                                                         data-cy="kanban-project-shared-by-origin"
                                                                         x-show="t.origin && {{ site_config.site_id }} !== t.origin?.site">
                                                                        <img x-show="t.origin.siteInfo.configuration.logo_small"
                                                                             :src="t.origin.siteInfo.configuration.logo_small"
                                                                             width="16px"
                                                                             height="auto"
                                                                             :alt="`Logo ${t.origin.siteInfo.name}`" />
                                                                        <span x-show="!t.origin.siteInfo.configuration.logo_small"
                                                                              class="fr-icon--sm fr-icon-window-line"
                                                                              aria-hidden="true"></span>
                                                                        <span class="not-a-link kanban">dossier envoyé par</span>
                                                                        <span x-text="t.origin.siteInfo.name"></span>
                                                                    </div>
                                                                </template>
                                                                <template x-for="portal in t.publishTo">
                                                                    <template x-if="portal.site !== {{ site_config.site_id }}">
                                                                        <div class="kanban-card__project-push-by-container"
                                                                             data-cy="kanban-project-shared-with">
                                                                            <img x-show="portal.siteInfo.configuration.logo_small"
                                                                                 :src="portal.siteInfo.configuration.logo_small"
                                                                                 width="16px"
                                                                                 height="auto"
                                                                                 :alt="`Logo ${portal.siteInfo.name}`" />
                                                                            <span x-show="!portal.siteInfo.configuration.logo_small"
                                                                                  class="fr-icon--sm fr-icon-window-line"
                                                                                  aria-hidden="true"></span>
                                                                            <span class="not-a-link kanban">dossier envoyé sur</span>
                                                                            <span x-text="portal.siteInfo.name"></span>
                                                                        </div>
                                                                    </template>
                                                                </template>
                                                                <template x-if="t.commune">
                                                                    <div class="kanban-card__commune-container text-ellipsis"
                                                                         :title="`${t.commune.name} (${t.commune.postal})`">
                                                                        <span class="kanban-card__commune fr-icon--sm fr-icon-map-pin-2-line not-a-link"></span>
                                                                        <span class="kanban-card__commune-name" x-text="t.commune.name"></span>
                                                                        <span class="kanban-card__commune-postal" x-text="`(${t.commune.postal})`"></span>
                                                                    </div>
                                                                </template>
                                                                <div class="d-flex justify-content-between">
                                                                    <div class="kanban-card__project-date-container text-secondary">
                                                                        <span class="fr-icon--sm fr-icon-calendar-event-line"></span>
                                                                        <span x-text="`Déposé le ${formatDateDisplay(t.created_on)}`"
                                                                              class="kanban-card__project-date align-middle not-a-link"></span>
                                                                    </div>
                                                                </div>
                                                                <template x-if="t.tags.length > 0">
                                                                    <div class="kanban-card__tags-container d-flex">
                                                                        <span class="fr-icon-tag-line fr-icon--sm not-a-link" aria-hidden="true"></span>
                                                                        <div class="d-flex flex-wrap align-items-center limit-height">
                                                                            <template x-for="tag in t.tags">
                                                                                <div @click.prevent="onTagClick(tag)" class="fr-mr-1v">
                                                                                    <p class="fake-a-link fr-mb-0">
                                                                                        #<span x-text="tag"></span>
                                                                                    </p>
                                                                                </div>
                                                                            </template>
                                                                        </div>
                                                                    </div>
                                                                </template>
                                                                <div class="d-flex justify-content-end fr-mr-1v">
                                                                    <template x-for="switchtender in t.switchtenders">
                                                                        <div class="got-my-style">
                                                                            {% include "projects/project/fragments/advisor_gravatar_list_item.html" with wide_margin=True transparent_background=True %}
                                                                        </div>
                                                                    </template>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </template>
                                                <template x-if="column(board.code).length > 0">
                                                    <div class="drag-targetable fr-py-2v flex-grow-1"
                                                         @dragover="onDragOver(event, null)"
                                                         @drop="onDrop(event, board.code, null)"
                                                         @dragenter="onDragEnter(event)"
                                                         @dragleave="onDragLeave(event)"
                                                         @dragstart="onDragStart(event, t.uuid)"
                                                         @dragend="onDragEnd(event)"
                                                         data-test-id="drag-target"></div>
                                                </template>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
{% endblock project_list_content %}
