{% load sass_tags %}
{% block css %}
    <link href="{% sass_src 'projects/css/onboarding_tutorial.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% block content %}
<div class="onboarding-tutorial">
    <button data-fr-opened="false" aria-controls="modal-onboarding-tutorial" type="button" class="onboarding-tutorial__button">
        <span class="fr-icon-information-line" aria-hidden="true"></span>
    </button>
    <dialog id="modal-onboarding-tutorial" class="fr-modal onboarding-tutorial__dialog" aria-labelledby="modal-action-title">
        <div class="onboarding-tutorial__modal">
            <div class="">
                <div class="">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button aria-controls="modal-onboarding-tutorial" title="Fermer" type="button" class="fr-btn--close fr-btn">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h2 id="modal-onboarding-tutorial-title" class="fr-modal__title">
                                <span class="fr-icon-arrow-right-line fr-icon--lg" aria-hidden="true"></span>
                                Titre de la modale
                            </h2>
                            <p><!-- contenu de la modale --></p>
                        </div>
                        <!-- Zone d'action de la modale -->
                        <div class="fr-modal__footer">
                            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                                <li>
                                    <button type="button" class="fr-btn fr-icon-checkbox-circle-line fr-btn--icon-left">Libellé bouton</button>
                                </li>
                                <li>
                                    <button type="button" class="fr-btn fr-icon-checkbox-circle-line fr-btn--icon-left fr-btn--secondary">Libellé bouton</button>
                                <li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
{% endblock content %}
