{% extends "base.html" %}
{% load django_vite %}
{% load static %}
{% comment %} TODO delete this unused template {% endcomment %}
{% block title %}
    Tableau de bord conseillers {{ block.super }}
{% endblock title %}
{% block og_title %}
    Tableau de bord conseillers {{ block.super }}
{% endblock og_title %}
{% block js %}
    {% vite_asset 'js/apps/advisorDashboard.js' %}
{% endblock js %}
{% block content %}
    <div class="col-12 fr-p-3w fr-mx-auto font-marianne">
        <div x-data="PersonalAdvisorDashboard({{ request.site.id }})"
             x-init='getData("{{ request.user }}");'
             @selected-departments="regionsFilterResponse($event)">
            {% include "projects/project/fragments/personal_dashboard/personal_dashboard_header.html" %}
            <div class="d-flex align-items-start fr-pt-3w">
                <div class="personal-dashboard-container-inner fr-px-2w fr-pt-2w w-75">
                    {% include "projects/project/fragments/personal_dashboard/personal_dashboard_map.html" %}
                    {% include "projects/project/fragments/personal_dashboard/personal_dashboard_project_list.html" %}
                </div>
                <div class="w-25 fr-px-2w">
                    {% include "projects/project/fragments/personal_dashboard/personal_dashboard_activity.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
