{% load static %}
{% load django_vite %}
{{ project.name|json_script:"nameProject" }}
{{ project.status|json_script:"status" }}
{{ project.location|json_script:"location" }}
{{ project.location_x|json_script:"location_x" }}
{{ project.location_y|json_script:"location_y" }}
{{ project.commune.name|json_script:"nameCommune" }}
{{ project.commune.postal|json_script:"postal" }}
{{ project.commune.insee|json_script:"insee" }}
{{ project.commune.latitude|json_script:"latitude" }}
{{ project.commune.longitude|json_script:"longitude" }}
{% block css %}
    <link rel="stylesheet"
          href="http://ignf.github.io/geoportal-extensions/leaflet-latest/dist/GpPluginLeaflet.css" />
{% endblock %}
{% block content %}
    <div x-data='ResourceIGN(projectOptions)'
         data-test-id="project-overview-map"
         class="location-overview">
        <div x-cloak
             x-ref="map-static"
             id="map-static"
             data-test-id="map-static"
             class="project-map h-100 w-100"></div>
        {% include 'projects/project/fragments/geolocation/location_overview_footer.html' %}
    </div>
{% endblock %}
{% block js %}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <script src="http://ignf.github.io/geoportal-extensions/leaflet-latest/dist/GpPluginLeaflet.js"></script>
    <script>
        const projectOptions = {
            name: JSON.parse(document.getElementById('nameProject').textContent),
            status: JSON.parse(document.getElementById('status').textContent),
            location: JSON.parse(document.getElementById('location').textContent),
            location_x: JSON.parse(document.getElementById('location_x').textContent),
            location_y: JSON.parse(document.getElementById('location_y').textContent),
            commune: {
                name: JSON.parse(document.getElementById('nameCommune').textContent),
                postal: JSON.parse(document.getElementById('postal').textContent),
                insee: JSON.parse(document.getElementById('insee').textContent),
                longitude: JSON.parse(document.getElementById('longitude').textContent),
                latitude: JSON.parse(document.getElementById('latitude').textContent),
            }
        }


        // Documentation : https://geoservices.ign.fr/documentation/services/utilisation-web/extension-pour-leaflet
        // Création de la carte
        const map  = L.map('map-static', {
            dragging: true,
            touchZoom: true,
            doubleClickZoom: true,
            scrollWheelZoom: true,
            boxZoom: true,
            keyboard: true,
            zoomControl: true,
            crs : L.geoportalCRS.EPSG2154
        });

        // Création de la couche
        const layerTuiles = L.geoportalLayer.WMTS({
            layer  : `ORTHOIMAGERY.ORTHOPHOTOS`
        }) ;

        layerTuiles.addTo(map); // ou map.addLayer(lyr);

        map.setView(new L.LatLng(1.20,46.5), 12);

    </script>
    {% vite_asset 'js/apps/mapIGN.js' %}
{% endblock %}
