{% load static %}
{% load sass_tags %}
{% load crm_tags %}
<div x-data="Note"
     x-ref="note"
     class="relative crm-note"
     :class="isOpen ? 'open' : 'closed'"
     id="note-{{ note.pk }}">
    <div class="d-flex align-items-center justify-content-between fr-mb-2v">
        <div class="d-flex justify-content-center align-items-center">
            {% if pinned %}
                <span>
                    <svg class="bi fr-mr-1v" width="15" height="15" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#pin-angle" />
                    </svg>
                    &nbsp;
                </span>
            {% endif %}
            <span class="crm-note-tag-title d-flex flex-wrap">
                {% if note.kind == 0 %}
                    <svg class="bi fr-mr-1v" width="18" height="18" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#telephone-outbound" />
                    </svg>
                {% else %}
                    {% if note.kind == 1 %}
                        <svg class="bi fr-mr-1v" width="18" height="18" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#envelope-paper-heart" />
                        </svg>
                    {% else %}
                        {% if note.kind == 2 %}
                            <svg class="bi fr-mr-1v" width="18" height="18" fill="currentColor">
                                <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#person-workspace" />
                            </svg>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if note.title %}{{ note.title }}{% endif %}
            </span>
            {% if get_user_profile and note.related and note.content_type == user_ct %}
                <div class="d-flex justify-content-center align-items-center fr-mr-2w border border-dark rounded bg-white fr-ml-1w fr-mb-0 fr-px-2v fr-py-1v fr-text--sm">
                    <svg class="bi fr-mr-2v" width="18" height="18" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#person-circle" />
                    </svg>
                    <a href="{% url 'crm-user-details' note.related.pk %}"
                       class="no-wrap{% if not note.related.is_active %}text-decoration-line-through{% endif %}">Liée à {{ note.related.first_name }} {{ note.related.last_name }}</a>
                </div>
            {% endif %}
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <span class="d-flex align-items-center {% if note.title %} fr-ml-2w {% else %} fr-ml-0{% endif %} specific-fontsize-08 specific-color-grey">
                <svg class="bi fr-mr-1v" width="15" height="15" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#person-fill" />
                </svg>
                {{ note.created_by.get_full_name|default:note.created_by.email }}
            </span>
            <span class="d-flex align-items-center specific-fontsize-08 specific-color-grey specific-ml-15px">
                <svg class="bi fr-mr-1v" width="15" height="15" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#clock-fill" />
                </svg>
                {% if note.updated_on|date != note.created_on|date %}
                    {{ note.updated_on }}&nbsp;|&nbsp;{{ note.created_on|date:"n" }} {{ note.created_on|date:"N" }}
                {% else %}
                    {{ note.created_on }}
                {% endif %}
            </span>
            {% get_note_update_url note as update_url %}
            {% if update_url %}
                <span class="d-flex align-items-center position-relative specific-fontsize-08 specific-color-grey specific-ml-15px">
                    <svg class="bi fr-mr-1v" width="15" height="15" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#pencil-fill" />
                    </svg>
                    <a href="{{ update_url }}">éditer</a>
                </span>
            {% endif %}
        </div>
    </div>
    <div class="d-flex fr-mb-2v">
        {% for tag in note.tags.all %}<span class="fr-mx-1v badge rounded-pill bg-dark">{{ tag }}</span>{% endfor %}
    </div>
    <article>
        {{ note.content_rendered|safe }}
        <span x-ref="noteToggleButton"
              class="crm-note-toggle-button"
              x-on:click="isOpen = ! isOpen"
              x-text="isOpen ? '[Voir moins]': '[Voir plus]'"></span>
    </article>
</div>
