{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
    Modifier la note - CRM
{% endblock title %}
{% block og_title %}
    Modifier la note - CRM
{% endblock og_title %}
{% block content %}
    <div class="col-12 fr-p-3w fr-mx-auto">
        <section>
            <form method="post">
                {% csrf_token %}
                <h2 class="fr-mb-3w d-flex align-items-center">
                    <svg class="bi fr-mr-2v" width="20" height="20" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#activity" />
                    </svg>
                    <span>CRM</span>
                </h2>
                <h4>
                    <svg class="bi " width="32" height="32" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#pencil-square" />
                    </svg>
                    &nbsp;
                    Modification d'une note
                    <strong>
                        {% if note.related.name %}
                            {{ note.related.name }}
                        {% elif note.related.get_full_name %}
                            {{ note.related.get_full_name }}
                        {% endif %}
                    </strong>
                </h4>
                <p>
                    {{ form.kind.label }}
                    {{ form.kind.errors }}
                    {{ form.kind }}
                </p>
                <p>
                    {{ form.title.label }}
                    {{ form.title.errors }}
                    {{ form.title }}
                </p>
                <div class="d-flex">
                    {% include "tools/editor.html" with input_name=form.content.name initial_content=form.content.value|default:'' input_required=True initial_content_escapejs=True %}
                </div>
                <p>
                    {{ form.tags.label }}
                    {{ form.tags.errors }}
                    {{ form.tags }}
                </p>
                <p>
                    {{ form.sticky.label }}
                    {{ form.sticky.errors }}
                    {{ form.sticky }}
                </p>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </form>
            {{ form.media }}
        </section>
    </div>
{% endblock content %}
