{% load static %}
{% load crm_tags %}
<div x-data="Note"
     x-ref="note"
     class="project-crm__note {% if pinned %}project-crm__note--pinned{% endif %}"
     :class="isOpen ? 'open' : 'closed'"
     id="note-{{ note.pk }}">
    <!-- Header - Title -->
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex justify-content-center align-items-center">
            {% if pinned %}
                <span class="project-crm__note-pin-icon fr-icon fr-icon-pushpin-line fr-icon--sm fr-mr-1v"></span>
            {% endif %}
            <span class="project-crm__note-title">
                {% if note.title %}{{ note.title }}{% endif %}
                <span class="fr-ml-1v">
                    {% if note.kind == 0 %}
                        (rendez-vous téléphonique)
                    {% elif note.kind == 1 %}
                        (email)
                    {% elif note.kind == 2 %}
                        (test utilisateur)
                    {% endif %}
                </span>
            </span>
            {% if get_user_profile and note.related and note.content_type == user_ct %}
                <div class="d-flex justify-content-center align-items-center fr-mr-2w border border-dark rounded bg-white fr-ml-1w fr-mb-0 fr-px-2v fr-py-1v fr-text--sm">
                    <svg class="bi fr-mr-2v" width="18" height="18" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#person-circle" />
                    </svg>
                    <a href="{% url 'crm-user-details' note.related.pk %}"
                       class="no-wrap{% if not note.related.is_active %}text-decoration-line-through{% endif %}">Liée à {{ note.related.first_name }} {{ note.related.last_name }}</a>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- Tags -->
    <div class="project-crm__note-container-tags" data-cy="container-tags">
        <span class="fr-icon-tag-line fr-icon--sm fr-mr-1v" aria-hidden="true"></span>
        {% for tag in note.tags.all %}<span class="project-crm__note-tag fr-mr-1v">#{{ tag }}</span>{% endfor %}
    </div>
    <!-- Content -->
    <article class="project-crm__note-content">
        {{ note.content_rendered|safe }}
        <span x-ref="noteToggleButton"
              class="crm-note-toggle-button"
              x-on:click="isOpen = ! isOpen"
              x-text="isOpen ? '[Voir moins]': '[Voir plus]'"></span>
    </article>
    <!-- Footer - Posted info  -->
    <div class="d-flex justify-content-center align-items-center">
        <span class="d-flex align-items-center specific-fontsize-08 specific-color-grey">
            <svg class="bi fr-mr-1v" width="15" height="15" fill="currentColor">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#person-fill" />
            </svg>
            {{ note.created_by.get_full_name|default:note.created_by.email }}
        </span>
        <span class="d-flex align-items-center specific-fontsize-08 specific-color-grey specific-ml-15px">
            <svg class="bi fr-mr-1v" width="15" height="15" fill="currentColor">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#clock-fill" />
            </svg>
            {% if note.updated_on|date != note.created_on|date %}
                {{ note.updated_on }}&nbsp;|&nbsp;{{ note.created_on|date:"n" }} {{ note.created_on|date:"N" }}
            {% else %}
                {{ note.created_on }}
            {% endif %}
        </span>
        {% get_note_update_url note as update_url %}
        {% if update_url %}
            <span class="d-flex align-items-center position-relative specific-fontsize-08 specific-color-grey specific-ml-15px">
                <svg class="bi fr-mr-1v" width="15" height="15" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#pencil-fill" />
                </svg>
                <a href="{{ update_url }}">éditer</a>
            </span>
        {% endif %}
    </div>
</div>
