{% extends "base.html" %}
{% load static %}
{% load django_vite %}
{% load humanize %}
{% load training %}
{% block title %}
    Fusionner des organisations - CRM
{% endblock title %}
{% block og_title %}
    Fusionner des organisations - CRM
{% endblock og_title %}
{% block js %}
    {% vite_asset 'js/apps/crm.js' %}
{% endblock js %}
{% block content %}
    {% include "crm/fragments/navigation.html" with organizations=True %}
    <div x-data="{ breadcrumbs: { links: [{url: '{% url 'crm-site-dashboard' %}', title: 'Admin'}, {url: '{% url 'crm-organization-list' %}', title: 'Organisations'}], current: 'Fusionner des organisations' } }"
         class="fr-p-0">{% include "tools/breadcrumb.html" %}</div>
    <div x-data="Crm" class="d-flex fr-px-0">
        <div class="w-100 d-flex flex-column justify-content-start fr-px-5w fr-pb-5w">
            <form x-data="{name: '{{ organizations.0.name|escapejs }}'}"
                  method="post"
                  action="{% url 'crm-organization-merge' %}">
                {% csrf_token %}
                <h1 class="fr-h2 fr-mb-2w">Fusionner des organisations</h1>
                <p class="fr-text--lg fr-mb-4w">
                    Vous êtes sur le point de fusionner les organisations suivantes :
                    {% for organization in organizations %}{{ organization }}{% if not forloop.last %}, {% endif %}{% endfor %}.
                </p>
                {# Nom de la nouvelle organisation (redesign à venir) #}
                <div class="fr-mb-3w">
                    <div class="input-group">
                        <label for="{{ merge_form.name.name }}" class="col-sm-2 col-form-label">Nouveau nom</label>
                        <div class="col-sm-5">
                            <input type="text"
                                   class="form-control"
                                   id="{{ merge_form.name.name }}"
                                   name="{{ merge_form.name.name }}"
                                   x-model="name"
                                   value="{{ merge_form.name.value|default:organizations.0.name }}">
                        </div>
                    </div>
                    <div class="small text-secondary fr-mt-1v">
                        Suggestions :
                        {% for organization in organizations %}
                            <button @click="name = '{{ organization.name|escapejs }}'"
                                    type="button"
                                    class="btn btn-outline-info btn-sm">{{ organization.name }}</button>
                        {% endfor %}
                    </div>
                </div>
                <select multiple hidden name="{{ merge_form.org_ids.name }}">
                    {% for organization in organizations %}
                        <option value="{{ organization.id }}" selected>{{ organization.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-danger">Oui, fusionner ces organisations</button>
                <a href="{% url 'crm-organization-list' %}"
                   class="btn btn-outline-secondary">Non, annuler la fusion</a>
            </form>
        </div>
    </div>
{% endblock content %}
