{% extends "base.html" %}
{% load sass_tags %}
{% load static %}
{% load django_vite %}
{% load humanize %}
{% load training %}
{% load hijack %}
{% block title %}
    Dossiers - CRM
{% endblock title %}
{% block og_title %}
    Dossiers - CRM
{% endblock og_title %}
{% block js %}
    {% vite_asset 'js/apps/crm.js' %}
    {% vite_asset 'js/apps/CRM/projectListCrm.js' %}
{% endblock js %}
{% block css %}
    <link href="{% sass_src 'home/css/dsfr/marianne.css' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% block content %}
    <div x-data="Crm" class="d-flex fr-px-0 crm">
        {% include "crm/fragments/sidebar.html" with search=True back_button=True user_advised_projects=False user_projects=False %}
        <div x-data="ProjectListCrm"
             class="w-75 d-flex flex-column justify-content-start">
            <div class="crm-header fr-px-3w fr-py-3w fr-mb-2w">
                <div class="d-flex justify-content-between align-items-center fr-mb-2v">
                    <h3>Gestion des dossiers {{ request.site.name }}</h3>
                </div>
            </div>
            <div class="fr-px-3w fr-pt-3w fr-mb-2w">
                {% with projects.form as form %}
                    <form x-data=""
                          class="row g-3"
                          method="get"
                          action="{% url 'crm-project-list' %}">
                        {{ form.non_field_errors }}
                        <div class="col-md-6">
                            <div class="input-group fr-mb-2w">
                                <input type="text"
                                       class="form-control"
                                       name="{{ form.query.name }}"
                                       id="{{ form.query.id }}"
                                       placeholder="Nom du dossier"
                                       aria-label="Recherche"
                                       value="{{ form.query.value|default:"" }}"
                                       aria-describedby="button-search">
                                <button class="btn btn-outline-secondary" type="submit" id="button-search">Rechercher</button>
                            </div>
                            <div class="form-check form-switch fr-mb-2w">
                                <input @click="$event.target.form.submit();"
                                       class="form-check-input"
                                       type="checkbox"
                                       id="{{ form.inactive.name }}"
                                       name="{{ form.inactive.name }}"
                                       {% if form.inactive.value == True %}checked{% endif %}>
                                <label class="form-check-label" for="{{ form.inactive.name }}">Uniquement les dossiers rejetés</label>
                            </div>
                            <hr />
                            <div>
                                <label for="{{ form.ordering.name }}" class="form-label fr-mr-2v">Trier par :</label>
                                <select class="form-control"
                                        name="{{ form.ordering.name }}"
                                        id="{{ form.ordering.name }}">
                                    {% for choice in form.ordering.field.choices %}
                                        <option @click="$event.target.form.submit();"
                                                value="{{ choice.0 }}"
                                                {% if choice.0 == form.ordering.value.0 %}selected{% endif %}>
                                            {{ choice.1 }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                {% endwith %}
            </div>
            <div x-show="projects" x-transition.opacity.duration.500ms>
                <span x-text="projectsCountLabel()"></span>
            </div>
            <div class="fr-mb-2w table-responsive">
                <table class="project-table">
                    <caption x-show="projects"
                             x-transition.opacity.duration.500ms
                             class="fr-ml-2v"> <span x-text="projectsCountLabel()"></span></caption>
                    <thead class="project-table__thead">
                        <tr>
                            <th scope="col">Nom du dossier</th>
                            <th scope="col">Organisation</th>
                            <th scope="col">Localisation</th>
                            <th scope="col">Date de dépôt</th>
                            <th scope="col">Statut</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template x-for="project in projects">
                            <tr>
                                <td>
                                    <a class="fr-link project-table__project-name"
                                       :href="'{% url 'crm-project-details' 0 %}'.replace('0', project.id)"
                                       x-text="project.name"></a>
                                </td>
                                <td>
                                    <template x-if="project?.owner?.profile?.organization">
                                        <a class="fr-link project-table__project-org-name"
                                           :href="'{% url 'crm-organization-details' 0 %}'.replace('0', project.owner.profile.organization.id)"
                                           x-text="project.owner.profile.organization.name"></a>
                                    </template>
                                    <template x-if="!project?.owner?.profile?.organization">
                                        <span class="project-table__project-org-name" x-text="project.org_name"></span>
                                    </template>
                                </td>
                                <td x-text="`${project?.commune?.name} (${project?.commune?.postal})`"></td>
                                <td x-text="new Date(project?.created_on).toLocaleDateString('fr-FR')"></td>
                                <td class="project-table__status">
                                    <span x-text="projectStatusLabel(project.status)"
                                          class="fr-badge fr-badge--no-icon"
                                          :class="projectStatusColor(project.status)"></span>
                                </td>
                                <td>
                                    <!-- inclure dans les statistiques -->
                                    {% comment %} {% if project.exclude_stats %}
                                        <svg data-bs-toggle="tooltip" data-bs-title="Exclu des statistiques" class="align-middle bi" width="12px" height="12px" fill="currentColor">
                                            <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#clipboard-x" />
                                        </svg>
                                    {% else %}
                                        <svg data-bs-toggle="tooltip" data-bs-title="Inclu dans les statistiques" class="align-middle bi" width="12px" height="12px" fill="currentColor">
                                            <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#clipboard-data-fill" />
                                        </svg>
                                    {% endif %}
                                    <!-- activer/couper les notifs -->
                                    {% if project.muted %}
                                        <svg data-bs-toggle="tooltip" data-bs-title="Notifications désactivées" class="align-middle bi" width="12px" height="12px" fill="currentColor">
                                            <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#bell-slash" />
                                        </svg>
                                    {% else %}
                                        <svg data-bs-toggle="tooltip" data-bs-title="Notifications actives" class="align-middle bi" width="12px" height="12px" fill="currentColor">
                                            <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#bell-fill" />
                                        </svg>
                                    {% endif %} {% endcomment %}
                                    <!-- editer -->
                                    <a class="fr-button fr-icon-pencil-line"
                                       :href="'{% url 'crm-project-update' 0 %}'.replace('0', project.id)">Éditer</a>
                                    <!-- DELETE -->
                                </td>
                            </tr>
                        </template>
                        <template x-if="projects == null">
                            <tr>
                                <td colspan="5">-- Aucun résultat --</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
