{% extends "base.html" %}
{% load sass_tags %}
{% load static %}
{% load django_vite %}
{% load humanize %}
{% load training %}
{% load hijack %}
{% block title %}
    Dossiers - CRM
{% endblock title %}
{% block og_title %}
    Dossiers - CRM
{% endblock og_title %}
{% block js %}
    {% vite_asset 'js/apps/crm.js' %}
    {% vite_asset 'js/apps/CRM/projectListCrm.js' %}
{% endblock js %}
{% block css %}
    <link href="{% sass_src 'home/css/dsfr/marianne.css' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% block content %}
    {% include "crm/fragments/navigation.html" %}
    <div x-data="{ breadcrumbs: { links: [{url: '{% url 'crm-site-dashboard' %}', title: 'CRM'}], current: 'Dossiers' } }">
        {% include "tools/breadcrumb.html" %}
    </div>
    {{ departments|json_script:"departmentsArray" }}
    {{ regions|json_script:"regionsArray" }}
    <span x-text="departmentsArray.textContent"></span>
    <span x-text="regionsArray.textContent"></span>
    <div x-data="Crm({{ request.site.id }})" class="d-flex fr-px-0 crm">
        <div x-data="ProjectListCrm(departmentsArray, regionsArray)"
             @selected-departments="saveSelectedDepartment($event)"
             @multi-select-change="saveSelectedStatus($event)"
             class="w-100 d-flex flex-column justify-content-start project-list-crm">
            <div class="crm-header fr-px-3w fr-py-3w fr-mb-2w">
                <div class="d-flex justify-content-between align-items-center fr-mb-2v">
                    <h3>Gestion des dossiers {{ request.site.name }}</h3>
                </div>
            </div>
            <div class="project-list-crm__filters fr-px-5v fr-py-5v">
                <div class="d-flex align-items-center" x-transition.opacity.duration.500ms>
                    <span class="project-list-crm__projects-count-label"
                          x-show="dataLoaded"
                          x-text="projectsCountLabel()"></span>
                    <span class="project-list-crm__projects-count-label" x-show="!dataLoaded">Chargement</span>
                </div>
                <div class="w-100 position-relative">
                    {% include "projects/project/fragments/search_bar.html" with action_search="onSearch" x_model="backendSearch.searchText" placeholder="Rechercher" %}
                </div>
                {% include "projects/project/fragments/departments_selector.html" with label="Projets de mon territoire" label_filter="Localisation :" filter_by_regions=True zone_objects="regions" select_all=True %}
                <div class="d-flex align-items-center w-100">
                    <label class="filter__label">Statut:</label>
                    {% include "tools/multi_select.html" %}
                </div>
                {% comment %} TODO Add CSV download button with backend functionnality {% endcomment %}
                {% comment %} <button class="fr-btn fr-btn--sm no-wrap" title="Télécharger en CSV">🚧Télécharger en CSV</button> {% endcomment %}
            </div>
            <div class="fr-mb-2w table-responsive fr-px-5v fr-pb-5v">
                {% csrf_token %}
                <table class="project-table">
                    <caption x-show="projects"
                             x-transition.opacity.duration.500ms
                             class="fr-ml-2v"> <span x-text="projectsCountLabel()"></span></caption>
                    <thead class="project-table__thead">
                        <tr>
                            <th scope="col" class="column column--large">Nom du dossier</th>
                            <th scope="col" class="column column--large">Organisation</th>
                            <th scope="col" class="column column--large">Localisation</th>
                            <th scope="col" class="column column--small">Date de dépôt</th>
                            <th scope="col" class="column column--small">Statut</th>
                            <th scope="col" class="column column--small">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template x-for="(project, index) in projectsToDisplay" :key="project.id">
                            <tr>
                                <td>
                                    <span x-show="displayProjectIndex"
                                          x-text="index + 1 + (pagination.currentPage - 1) * pagination.limit"></span>
                                    <a class="fr-link project-table__project-name"
                                       :href="'{% url 'crm-project-details' 0 %}'.replace('0', project.id)"
                                       x-text="project.name"></a>
                                </td>
                                <td>
                                    <template x-if="project?.owner?.profile?.organization">
                                        <a class="fr-link project-table__project-org-name"
                                           :href="'{% url 'crm-organization-details' 0 %}'.replace('0', project.owner.profile.organization.id)"
                                           x-text="project.owner.profile.organization.name"></a>
                                    </template>
                                    <template x-if="!project?.owner?.profile?.organization">
                                        <span class="project-table__project-org-name" x-text="project.org_name"></span>
                                    </template>
                                </td>
                                <td x-text="`${project?.commune?.name} (${project?.commune?.postal})`"></td>
                                <td x-text="new Date(project?.created_on).toLocaleDateString('fr-FR')"></td>
                                <td class="project-table__status">
                                    <span x-text="projectStatusLabel(project.status)"
                                          class="fr-badge fr-badge--no-icon"
                                          :class="projectStatusColor(project.status)"></span>
                                </td>
                                <td>
                                    <!-- inclure dans les statistiques -->
                                    <template x-if="project.exclude_stats">
                                        <button @click="updateProject(project, '{% url 'crm-project-update' 0 %}'.replace('0', project.id), { statistics: true, notifications: !project.muted })"
                                                data-bs-toggle="tooltip"
                                                data-bs-title="Inclure dans les statistiques"
                                                data-bs-placement="top"
                                                :id="'include-stats-' + project.id"
                                                class="fr-btn fr-btn--sm fr-icon-line-chart-off-line fr-btn--tertiary-no-outline position-relative"
                                                title="Inclure dans les statistiques">
                                            Inclure dans les statistiques
                                        </button>
                                    </template>
                                    <template x-if="!project.exclude_stats">
                                        <button @click="updateProject(project, '{% url 'crm-project-update' 0 %}'.replace('0', project.id), { statistics: false, notifications: !project.muted })"
                                                data-bs-toggle="tooltip"
                                                data-bs-title="Exclure des statistiques"
                                                data-bs-placement="top"
                                                :id="'exclude-stats-' + project.id"
                                                class="fr-btn fr-btn--sm fr-icon-line-chart-on-line fr-btn--tertiary-no-outline position-relative"
                                                title="Exclure des statistiques">Exclure des statistiques</button>
                                    </template>
                                    <!-- activer/couper les notifs -->
                                    <template x-if="project.muted">
                                        <button @click="updateProject(project, '{% url 'crm-project-update' 0 %}'.replace('0', project.id), { statistics: !project.exclude_stats, notifications: true })"
                                                data-bs-toggle="tooltip"
                                                data-bs-title="Activer les notifications"
                                                data-bs-placement="top"
                                                class="fr-btn fr-btn--sm fr-icon-notification-off-line fr-btn--tertiary-no-outline position-relative"
                                                title="Activer les notifications">Activer les notifications</button>
                                    </template>
                                    <template x-if="!project.muted">
                                        <button @click="updateProject(project, '{% url 'crm-project-update' 0 %}'.replace('0', project.id), { statistics: !project.exclude_stats, notifications: false })"
                                                data-bs-toggle="tooltip"
                                                data-bs-title="Désactiver les notifications"
                                                data-bs-placement="top"
                                                class="fr-btn fr-btn--sm fr-icon-notification-on-line fr-btn--tertiary-no-outline position-relative"
                                                title="Désactiver les notifications">
                                            Désactiver les notifications
                                        </button>
                                    </template>
                                    <!-- editer -->
                                    <button class="fr-btn fr-btn--sm fr-icon-pencil-line fr-btn--tertiary-no-outline position-relative"
                                            title="Éditer le dossier">
                                        <a :href="'{% url 'crm-project-update' 0 %}'.replace('0', project.id)"
                                           class="stretched-link">Éditer</a>
                                    </button>
                                    <!-- DELETE -->
                                    <button class="fr-btn fr-btn--sm fr-icon-delete-line fr-btn--tertiary-no-outline position-relative"
                                            title="Supprimer le dossier">
                                        <a :href="'{% url 'crm-project-delete' 0 %}'.replace('0', project.id)"
                                           class="stretched-link">Supprimer</a>
                                    </button>
                                </td>
                            </tr>
                        </template>
                        <template x-if="projects == null">
                            <tr>
                                <td colspan="5">-- Aucun résultat --</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
                <template x-if="projectsToDisplay.length > 0">
                    {% include "tools/pagination.html" with page=pagination.page total_pages=pagination.total %}
                </template>
            </div>
        </div>
    </div>
{% endblock content %}
