{% extends "base.html" %}
{% load static %}
{% load django_vite %}
{% block title %}
    {{ project.name }} - CRM
{% endblock title %}
{% block og_title %}
    {{ project.name }} - CRM
{% endblock og_title %}
{% block js %}
    {% vite_asset 'js/styles/project-crm.css.js' %}
    {% vite_asset 'js/apps/crm.js' %}
{% endblock js %}
{% comment %} TODO remove crm.css file {% endcomment %}
{% block content %}
    <!-- CRM Navbar -->
    {% include "crm/fragments/navigation.html" with projects=True %}
    <!-- Breadcrumb -->
    <div x-data="{ breadcrumbs: { links: [{url: '{% url 'crm-site-dashboard' %}', title: 'Admin'}, {url: '{% url 'crm-project-list' %}', title: 'Dossiers'}], current: '{{ project.name }}' } }"
         class="fr-p-0">{% include "tools/breadcrumb.html" %}</div>
    <div x-data="Crm" class="project-crm d-flex">
        {% comment %} TODO  {% endcomment %}
        <!-- Left column -->
        <div class="project-crm-left-col">
            <!-- Project info -->
            <div class="d-flex flex-column fr-p-5v">
                <!-- Name -->
                <h1 class="project-crm__project-name fr-mb-0">{{ project.name }}</h1>
                <!-- Organization -->
                <h2 class="project-crm__project-org fr-mb-3v">{{ project.owner.profile.organization.name }}</h2>
                <!-- Commune -->
                <span class="project-crm__project-information fr-icon-target-line fr-icon--sm fr-mb-1v">{{ project.commune.name }}</span>
                <!-- Region -->
                <span class="project-crm__project-information fr-icon-target-line fr-icon--sm fr-mb-1v">Région {{ project.commune.department.region }}</span>
                <!-- Updated at -->
                <span class="project-crm__project-information fr-icon-calendar-line fr-icon--sm fr-mb-1v">Mis à jour le {{ project.updated_on|date:"j F Y" }}</span>
                <!-- Created at -->
                <span class="project-crm__project-information fr-icon-calendar-line fr-icon--sm fr-mb-1v">Déposé le {{ project.created_on|date:"j F Y" }}</span>
                <!-- Number of message in conv -->
                <span class="project-crm__project-information fr-icon-chat-2-line fr-icon--sm fr-mb-1v">{{ conversation_stats.messages_count|length }} message{{ conversation_stats.messages_count|length|pluralize:"s" }}</span>
                <!-- Number of participants in conv -->
                <span class="project-crm__project-information fr-icon-user-line fr-icon--sm fr-mb-1v">{{ conversation_stats.participants_count }} participant{{ conversation_stats.participants_count|pluralize:"s" }}</span>
                <!-- Number of reco in conv -->
                <span class="project-crm__project-information fr-icon-list-check-line fr-icon--sm fr-mb-1v">{{ conversation_stats.recommendations_count }} recommandation{{ conversation_stats.recommendations_count|pluralize:"s" }}</span>
                <!-- Number of files -->
                <span class="project-crm__project-information fr-icon-file-download-line fr-icon--sm fr-mb-1v">{{ conversation_stats.documents_count }} document{{ conversation_stats.documents_count|pluralize:"s" }}</span>
                <!-- Tags -->
                <span class="project-crm__project-information fr-icon-tag-line fr-icon--sm fr-mb-1v">
                    {% for tag in project.tags.all %}<span class="project-crm__project-information">#{{ tag }}</span>{% endfor %}
                </span>
                <!-- Next email reminder -->
                <span class="project-crm__project-information fr-icon-mail fr-icon--sm">
                    {% with project.next_reminder as next_reminder %}
                        {% if next_reminder %}
                            Prochaine rappel le {{ next_reminder }}
                        {% else %}
                            Aucun rappel programmé
                        {% endif %}
                    {% endwith %}
                </span>
            </div>
            {% comment %} TODO  {% endcomment %}
            <!-- Client team -->
            <div class="fr-px-3w crm-border-bottom fr-pb-2v">
                <h5 class="crm-user-decoration d-inline-block relative">
                    Demandeur et partenaires <strong>({{ project.members.all|length }})</strong>
                </h5>
                <ul class="list-unstyled">
                    {% for member in project.members.all %}
                        <li>{% include "crm/user_item.html" with user=member %}</li>
                    {% empty %}
                        {% if project_creation_request %}
                            <li>
                                <svg class="bi fr-mr-2v" width="16" height="16" fill="currentColor">
                                    <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#person-fill" />
                                </svg>
                                {{ project_creation_request.email }}
                            </li>
                        {% else %}
                            <li>Aucun demandeur ou partenaire</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% comment %} TODO  {% endcomment %}
            <!-- Advisor team -->
            <div class="fr-pt-2w fr-mb-3w fr-px-3w crm-border-bottom">
                <h5 class="crm-user-decoration d-inline-block relative">
                    Conseiller·es <strong>({{ project.switchtenders.all|length }})</strong>
                </h5>
                <ul class="fr-mb-2v fr-px-0 list-unstyled">
                    {% regroup project.switchtenders.all by profile.organization as grouped_st %}
                    {% for group in grouped_st %}
                        <div class="fr-mb-3w">
                            {% if group.grouper %}
                                <a class="d-flex align-items-center"
                                   href="{% url 'crm-organization-details' group.grouper.pk %}">
                                    <svg class="bi fr-mr-2v" width="16" height="16" fill="currentColor">
                                        <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#building" />
                                    </svg>
                                    <strong>{{ group.grouper }}</strong>
                                </a>
                            {% endif %}
                            <ul class="list-unstyled fr-mx-3w fr-mb-3w">
                                {% for switchtender in group.list %}
                                    <li>{% include "crm/user_item.html" with user=switchtender %}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% empty %}
                        Pas de participant
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% comment %} TODO  {% endcomment %}
        <!-- Right column -->
        <div class="project-crm-right-col">
            <!-- Banner project status -->
            {% include "crm/fragments/banner_project_status.html" with project=project %}
            <!-- Banner multiportail project -->
            {% include "crm/fragments/banner_project_multiportal.html" with project=project %}
            <!-- Impact tags checkbox list -->
            <section class="d-flex align-items-center small">
                <fieldset class="fr-fieldset fr-mx-0 fr-px-0"
                          id="checkboxes-inline"
                          aria-labelledby="checkboxes-inline-legend">
                    <legend class="project-crm__section-title fr-mb-1w"
                            id="checkboxes-inline-legend">Suivi de l'impact</legend>
                    <div class="crm-group-checkbox">
                        {% with project.crm_annotations.tags.names as active_tags %}
                            {% for crm_tag in site_config.crm_available_tags.all %}
                                <form class="fr-mr-2v"
                                      action="{% url 'crm-project-toggle-annotation' project.pk %}"
                                      method="post">
                                    {% csrf_token %}
                                    <input class="button"
                                           hidden
                                           name="tag"
                                           value="{{ crm_tag.name }}"
                                           id="id_tag_{{ crm_tag.name|slugify }}" />
                                    <div class="crm-form-check form-check form-check-inline">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               name="checkbox-{{ crm_tag.name|slugify }}"
                                               onchange="document.getElementById('checkbox-{{ crm_tag.name|slugify }}').closest('form').submit()"
                                               id="checkbox-{{ crm_tag.name|slugify }}"
                                               {% if crm_tag.name in active_tags %}checked{% endif %}>
                                        <label class="form-check-label" for="checkbox-{{ crm_tag.name|slugify }}">{{ crm_tag.name| capfirst }}</label>
                                    </div>
                                </form>
                            {% endfor %}
                        {% endwith %}
                    </div>
                </fieldset>
            </section>
            {% comment %} TODO  {% endcomment %}
            <!-- Create new note btn -->
            <section class="w-100">
                <div class="project-crm__section-title-container">
                    <h3 class="project-crm__section-title">Notes</h3>
                    <a class="fr-btn fr-btn--primary fr-btn--sm"
                       href="{% url 'crm-project-note-create' project.pk %}">Ajouter une note</a>
                </div>
                <!-- Empty state -->
                {% if not notes.all and not sticky_notes.all %}
                    {% include "crm/fragments/notes/empty_state.html" %}
                {% endif %}
                <!-- Pinned notes -->
                {% for note in sticky_notes.all %}
                    {% include "crm/note.html" with pinned=True get_user_profile=True %}
                {% endfor %}
                <!-- Notes list -->
                {% for note in notes.all %}
                    {% include "crm/note.html" with get_user_profile=True %}
                {% endfor %}
            </section>
            {% comment %} TODO  {% endcomment %}
            <!-- Activity timeline -->
            <section class="w-100">
                <h3 class="project-crm__section-title">Activité du dossier</h3>
                {% include "crm/timeline.html" %}
            </section>
        </div>
        {% comment %} {% include "crm/fragments/sidebar.html" with search=True back_button=True project_advisors=True project_members=True %}
        <div class="w-75 d-flex flex-column justify-content-start">
            <div class="crm-header fr-px-3w fr-py-3w d-flex justify-content-between align-items-center{% if active_project %}fr-mb-2w {% endif %}">
                <div>
                    <h3 class="d-flex fr-mb-0 align-items-center">
                        <svg class="bi fr-mr-2v" width="16" height="16" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#folder-fill" />
                        </svg>
                        <span>{{ project.name }}</span>
                    </h3>
                    <div class="fr-mt-1v d-flex flex-wrap small">
                        {% for tag in project.tags.all %}<span class="crm-project-tag fr-mx-1v">#{{ tag }}</span>{% endfor %}
                    </div>
                    <hr />
                </div>
                <div>
                    <a class="btn btn-primary" href="{{ project.get_absolute_url }}">
                        <span>Voir le dossier</span>
                    </a>
                    <a href="{% url 'crm-project-update' project.pk %}" class="btn btn-outline-secondary" aria-current="page">Gérer le dossier</a>
                </div>
            </div>
        </div> {% endcomment %}
    </div>
{% endblock content %}
