{% extends "base.html" %}
{% load sass_tags %}
{% load static %}
{% load django_vite %}
{% load humanize %}
{% load training %}
{% block title %}
    Supprimer {{ project.name }} - CRM
{% endblock title %}
{% block og_title %}
    Supprimer {{ project.name }} - CRM
{% endblock og_title %}
{% block js %}
    {% vite_asset 'js/apps/crm.js' %}
{% endblock js %}
{% block css %}
    <link href="{% sass_src 'home/css/dsfr/marianne.css' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% block content %}
    <div x-data="Crm" class="d-flex fr-px-0">
        {% include "crm/fragments/sidebar.html" with search=True back_button=True user_advised_projects=False user_projects=False %}
        <div class="w-75 d-flex flex-column justify-content-start">
            <div class="crm-header fr-px-3w fr-py-3w fr-mb-2w">
                <div class="d-flex justify-content-between align-items-center fr-mb-2v">
                    <h3>Gérer le dossier « {{ project.name }} »</h3>
                </div>
            </div>
            <div class="fr-m-3w">
                <p class="fw-bolder">Vous êtes sur le point de supprimer le dossier « {{ project.name }} » ({{ project.commune }})</p>
                <p>
                    Ceci signifie que :
                    <ul>
                        <li>
                            Ce dossier ne pourra <strong>plus</strong> être vu sur aucun portail, dont {{ request.site.name }}
                        </li>
                        <li>Il sera possible de réactiver le dossier si nécessaire</li>
                    </ul>
                </p>
                <div class="fr-mt-3w">
                    <form method="post" action="{% url 'crm-project-delete' project.pk %}">
                        {% csrf_token %}
                        <button type="submit"
                                href="{% url 'crm-project-delete' project.pk %}"
                                class="btn btn-danger">Oui, supprimer ce dossier</button>
                        <a href="{% url 'crm-project-list' %}" class="btn btn-outline-secondary">Non, annuler la suppression</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
