{% extends "base.html" %}
{% load django_vite %}
{% load static %}
{% load humanize %}
{% load crm_tags %}
{% block title %}Recommandations sans ressource - CRM{% endblock %}
{% block js %}
    {% vite_asset 'js/apps/crm.js' %}
{% endblock %}
{% block content %}
    <div x-data="Crm" class="d-flex fr-px-0" style="">
        {% include "crm/fragments/sidebar.html" with back_button=True map=True tools=True search=True %}
        <div class="w-75 d-flex flex-column justify-content-start">
            <div class="d-flex justify-content-between align-items-center fr-px-2w fr-pt-2w">
                <h2>Recommandations sans ressource ({{ recommendations.count }})</h2>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Projet</th>
                        <th>Date</th>
                        <th>Créé par</th>
                        <th>Recommandation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reco in recommendations %}
                        <tr>
                            <td>
                                {{ reco.project }}<a href="{% url 'projects-project-detail'  reco.project.pk %}"
   target="_new">[&nearr;]</a>
                            </td>
                            <td>{{ reco.created_on }}</td>
                            <td>{{ reco.created_by }}</td>
                            <td>
                                <a href="{{ reco.get_absolute_url }}"><strong>{{ reco.intent|default:"Sans nom" }}</strong></a>
                                <br />
                                <blockquote class="blockquote">
                                    {{ reco.content_rendered|striptags|truncatewords:50 }}
                                </blockquote>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
