{% extends "base.html" %}
{% load static %}
{% load django_vite %}
{% load humanize %}
{% load training %}
{% load hijack %}
{% block title %}
    Ressources - CRM
{% endblock title %}
{% block og_title %}
    Ressources - CRM
{% endblock og_title %}
{% block js %}
    {% vite_asset 'js/apps/crm.js' %}
    {% vite_asset 'js/apps/CRM/resourceListCrm.js' %}
{% endblock js %}
{% block content %}
    {% include "crm/fragments/navigation.html" with resources=True %}
    <div x-data="{ breadcrumbs: { links: [{url: '{% url 'crm-site-dashboard' %}', title: 'Admin'}], current: 'Ressources' } }"
         class="fr-p-0">{% include "tools/breadcrumb.html" %}</div>
    {{ departments|json_script:"departmentsArray" }}
    {{ regions|json_script:"regionsArray" }}
    {{ categories|json_script:"categoriesArray" }}
    <span x-text="departmentsArray.textContent"></span>
    <span x-text="regionsArray.textContent"></span>
    <div x-data="Crm({{ request.site.id }})" class="d-flex fr-px-0 crm">
        <div x-data="ResourceListCrm(departmentsArray, regionsArray, categoriesArray)"
             @selected-departments="saveSelectedDepartment($event)"
             @multi-select-change="saveSelectedStatus($event)"
             class="w-100 d-flex flex-column justify-content-start resource-list-crm">
            <div class="resource-list-crm__filters fr-px-5v fr-pb-5v">
                <div class="d-flex align-items-center" x-transition.opacity.duration.500ms>
                    <span class="resource-list-crm__resources-count-label"
                          x-show="dataLoaded"
                          x-text="resourcesCountLabel()"></span>
                    <span class="resource-list-crm__resources-count-label" x-show="!dataLoaded">Chargement</span>
                </div>
                <div class="w-100 position-relative">
                    {% include "projects/project/fragments/search_bar.html" with action_search="onSearch" x_model="backendSearch.searchText" placeholder="Rechercher parmi les dossiers" %}
                </div>
                {% include "projects/project/fragments/departments_selector.html" with label="Projets de mon territoire" label_filter="Localisation :" filter_by_regions=True zone_objects="regions" select_all=True %}
                <div class="d-flex align-items-center w-100">
                    <label class="filter__label" for="category-select">Catégorie:</label>
                    <select id="category-select"
                            class="fr-select"
                            x-model="backendSearch.searchCategory"
                            @change="saveSelectedCategory()">
                        <option value="">Toutes les catégories</option>
                        <template x-for="cat in categories" :key="cat.id">
                            <option :value="cat.id" x-text="cat.name"></option>
                        </template>
                    </select>
                </div>
                <div class="d-flex align-items-center w-100">
                    <label class="filter__label">Statut:</label>
                    {% include "tools/multi_select.html" %}
                </div>
                {% comment %} TODO Add CSV download button with backend functionnality {% endcomment %}
                {% comment %} <button class="fr-btn fr-btn--sm no-wrap" title="Télécharger en CSV">🚧Télécharger en CSV</button> {% endcomment %}
            </div>
            <div class="fr-mb-2w table-responsive fr-px-5v fr-pb-5v">
                {% csrf_token %}
                <table class="resource-table">
                    <caption x-show="resources"
                             x-transition.opacity.duration.500ms
                             class="fr-ml-2v"> <span x-text="resourcesCountLabel()" data-test-id="resources-count-label"></span></caption>
                    <thead class="resource-table__thead">
                        <tr>
                            <th scope="col" class="column column--large">Nom de la ressource</th>
                            <th scope="col" class="column column--large">Structure</th>
                            <th scope="col" class="column column--small">Départements</th>
                            <th scope="col" class="column column--small">Catégorie</th>
                            <th scope="col" class="column column--small">Date d'expiration</th>
                            <th scope="col" class="column column--small">Statut</th>
                            {% comment %} <th scope="col" class="column column--small">Nb d'utilisation</th> {% endcomment %}
                            <th scope="col" class="column column--small">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template x-for="(resource, index) in resourcesToDisplay" :key="resource.id">
                            <tr>
                                <!-- Title -->
                                <td>
                                    <span x-show="displayResourceIndex"
                                          x-text="index + 1 + (pagination.currentPage - 1) * pagination.limit"></span>
                                    <a class="fr-link project-table__project-name"
                                       :href="'{% url 'resources-resource-detail' 0 %}'.replace('0', resource.id)"
                                       x-text="resource.title"></a>
                                </td>
                                <!-- Support organization -->
                                <td>
                                    <span class="resource-table__resource-org-name"
                                          x-text="resource.support_orga ?? 'Non renseigné'"></span>
                                </td>
                                <!-- Departments -->
                                <td :title="resourceDepartmentsLabel(resource).fullLabel"
                                    x-text="resourceDepartmentsLabel(resource).shortLabel"></td>
                                <!-- Category -->
                                <td x-text="resource.category?.name ?? 'Non renseigné'"></td>
                                <!-- Expiration date -->
                                <td :class="isResourceExpired(resource) ? 'text-danger fw-bold' : ''"
                                    :title="isResourceExpired(resource) ? 'Cette ressource a expiré' : ''">
                                    <span x-text="new Date(resource?.expires_on).toLocaleDateString('fr-FR')"></span>
                                    <span x-text="isResourceExpired(resource) ? ' - Expirée' : ''"></span>
                                </td>
                                <!-- Status -->
                                <td class="resource-table__status">
                                    <span x-text="resourceStatusLabel(resource.status)"
                                          class="fr-badge fr-badge--no-icon"
                                          x-tooltip="resourceTooltip(resource)"
                                          :class="resourceStatusColor(resource.status)"></span>
                                </td>
                                {% comment %} <!-- Number of uses -->
                                <td class="resource-table__status">--</td> {% endcomment %}
                                <!-- Actions -->
                                <td>
                                    <!-- Go to resource page -->
                                    <button class="fr-btn fr-btn--sm fr-icon-eye-line fr-btn--tertiary-no-outline position-relative"
                                            title="Accéder à la page de la ressource">
                                        <a :href="'{% url 'resources-resource-detail' 0 %}'.replace('0', resource.id)"
                                           class="stretched-link">Accéder à la page de la ressource</a>
                                    </button>
                                    <!-- Edit -->
                                    <button class="fr-btn fr-btn--sm fr-icon-pencil-line fr-btn--tertiary-no-outline position-relative"
                                            title="Éditer la ressource">
                                        <a :href="'{% url 'resources-resource-update' 0 %}'.replace('0', resource.id)"
                                           class="stretched-link">Éditer</a>
                                    </button>
                                    <!-- Duplicate -->
                                    <button class="fr-btn fr-btn--sm fr-icon-pencil-line fr-btn--tertiary-no-outline position-relative"
                                            title="Dupliquer la ressource">
                                        <a :href="'{% url 'resources-resource-update' 0 %}'.replace('0', resource.id)"
                                           class="stretched-link">Dupliquer</a>
                                    </button>
                                    <!-- Delete -->
                                    <button class="fr-btn fr-btn--sm fr-icon-delete-line fr-btn--tertiary-no-outline position-relative"
                                            title="Supprimer la ressource">
                                        <a :href="'{% url 'resources-resource-delete' 0 %}'.replace('0', resource.id)"
                                           class="stretched-link">Supprimer</a>
                                    </button>
                                </td>
                            </tr>
                        </template>
                        <template x-if="resources == null">
                            <tr>
                                <td colspan="5">-- Aucun résultat --</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
                <template x-if="resourcesToDisplay.length > 0">
                    {% include "tools/pagination.html" with page=pagination.page total_pages=pagination.total %}
                </template>
            </div>
        </div>
    </div>
{% endblock content %}
