{% extends "base.html" %}
{% load static %}
{% load activity_tags %}
{% load humanize %}
{% load gravatar %}
{% load django_vite %}
{% load guardian_tags %}
{% load projects_extra %}
{% load common_tags %}
{% block js %}
    {% vite_asset 'js/apps/crm.js' %}
    {% vite_asset 'js/styles/crm_dashboard.css.js' %}
{% endblock js %}
{% block title %}
    CRM
{% endblock title %}
{% block og_title %}
    CRM
{% endblock og_title %}
{% block content %}
    {% get_obj_perms request.user for request.site as "user_site_perms" %}
    {% is_staff_for_current_site request.user as is_staff %}
    {% get_verbs as verbs %}
    {% if 'moderate_projects' in user_site_perms %}
        {% get_project_moderation_count as projects_to_moderate_count %}
        {% get_advisor_access_requests_count as advisor_access_requests_count %}
    {% endif %}
    {% include "crm/fragments/navigation.html" with dashboard=True %}
    <div x-data="{ breadcrumbs: { links: [{url: '{% url 'crm-site-dashboard' %}', title: 'Admin'}], current: 'Accueil' } }"
         class="fr-p-0">{% include "tools/breadcrumb.html" %}
    </div>
    <div class="crm-home fr-p-5v">
        <div class="crm-header">
            <h3 class="crm-header__title">
                Bienvenue sur l’Administration
            </h3>
        </div>
        <div x-data="Crm" class="fr-px-0 d-flex flex-column">
            <div class="fr-pb-4w">
                <h4 class="crm-home__subtitle fr-mb-1v">Activité de l'ensemble des dossiers</h4>
                {% include "crm/timeline.html" with actions=site_action_stream|slice:":3" %}
                <div>
                    <a class="button filled grey small inherit fw-bold fr-mt-1w"
                       href="{% url 'projects-activity-feed' %}">Voir plus d'activité</a>
                </div>
            </div>
            <div class="crm-home__section d-flex flex-column justify-content-start">
                <div class="d-flex flex-column">
                    {% if projects_to_moderate_count or advisor_access_requests_count %}
                        <div class="fr-pb-4w">
                            <h4 class="crm-home__subtitle fr-mb-1v">
                                Alertes
                            </h4>
                            <div class="gap-4 d-flex flex-wrap">
                                <div class="crm-home__card-container">
                                    {% url "projects-moderation-list" as url %}
                                    {% with text="Nouveaux dossiers ou demandes d’accès conseiller à modérer" %}
                                    {% include "crm/fragments/crm_home_card.html" with link_url=url anchor=advisor_access_requests_count|yesno:"?view=advisor,?view=projects" name="Nouvelles demandes à modérer" icon="fr-icon-error-warning-line" text=text is_alert=True nb_alert=projects_to_moderate_count|add:advisor_access_requests_count %}
                                    {% endwith %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="fr-pb-4w">
                        <h4 class="crm-home__subtitle fr-mb-1v">
                            Tâches récurrentes
                        </h4>
                        <div class="gap-4 d-flex flex-wrap">
                            <div class="crm-home__card-container">
                                {% url 'crm-list-projects-low-reach' as url %}
                                {% with text="Rappelez les demandeurs qui n’ont pas lu les recommandations ou donné de nouvelles" %}
                                    {% include "crm/fragments/crm_home_card.html" with link_url=url name="Dossiers à relancer" icon="fr-icon-phone-line" text=text %}
                                {% endwith %}
                            </div>
                            <div class="crm-home__card-container">
                                {% url 'crm-reco-without-resources' as url %}
                                {% with text="Transformez les recommandations de texte libre en ressources réutilisables" %}
                                    {% include "crm/fragments/crm_home_card.html" with link_url=url name="Recommandations sans ressource" icon="fr-icon-book" text=text %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                    <div class="fr-pb-4w">
                        <h4 class="crm-home__subtitle fr-mb-1v">
                            Données
                        </h4>
                        <div class="gap-4 d-flex flex-wrap">
                            <div class="crm-home__card-container">
                                {% url 'crm-user-list' as url %}
                                {% with text="Gestion de vos utilisateurs, suivi de leur activité" %}
                                    {% include "crm/fragments/crm_home_card.html" with link_url=url name="Utilisateurs" icon="fr-icon-group" text=text %}
                                {% endwith %}
                            </div>
                            <div class="crm-home__card-container">
                                {% url 'crm-project-list' as url %}
                                {% with text="Gestion de vos dossiers, suivi de leur activité" %}
                                    {% include "crm/fragments/crm_home_card.html" with link_url=url name="Dossiers" icon="fr-icon-file" %}
                                {% endwith %}
                            </div>
                            <div class="crm-home__card-container">
                                {% url 'crm-organization-list' as url %}
                                {% with text="Gestion de vos organisations, suivi d’activité et possibilité de les fusionner" %}
                                    {% include "crm/fragments/crm_home_card.html" with link_url=url name="Organisations" icon="fr-icon-building-line" text=text %}
                                {% endwith %}
                            </div>
                            <div class="crm-home__card-container">
                                {% url 'crm-project-list-by-tags' as url %}
                                {% with text="Usage des tags et sur quels dossiers ils sont employés" %}
                                    {% include "crm/fragments/crm_home_card.html" with link_url=url name="Tags sur les dossiers" icon="fr-icon-tag-line" text=text %}
                                {% endwith %}
                            </div>
                            <div class="crm-home__card-container">
                                {% url 'crm-list-tags' as url %}
                                {% with text="Usage des tags employés dans les notes du CRM" %}
                                    {% include "crm/fragments/crm_home_card.html" with link_url=url name="Tags des notes CRM" icon="fr-icon-tag-line" %}
                                {% endwith %}
                            </div>
                            <div class="crm-home__card-container">
                                {% url 'crm-list-topics' as url %}
                                {% with text="Usage des thématiques employées sur les dossiers et sur les recommandations" %}
                                    {% include "crm/fragments/crm_home_card.html" with link_url=url name="Thématiques des dossiers et recos" icon="fr-icon-books" text=text %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                    {% if is_staff or "manage_surveys" in user_site_perms or perms.wagtailadmin.access_admin %}
                        <div class="fr-pb-4w">
                            <h4 class="crm-home__subtitle fr-mb-1v">
                                Configuration du portail
                            </h4>
                            <div class="gap-4 d-flex flex-wrap">
                                {% if "manage_configuration" in user_site_perms %}
                                    <div class="crm-home__card-container">
                                        {% url 'crm-site-configuration' as url %}
                                        {% with text="Infos légales, email de contact, logos utilisés, tags d’impact etc" %}
                                            {% include "crm/fragments/crm_home_card.html" with link_url=url name="Paramètres du portail" icon="fr-icon-settings" text=text %}
                                        {% endwith %}
                                    </div>
                                {% endif %}
                                {% if perms.wagtailadmin.access_admin %}
                                    <div class="crm-home__card-container">
                                        {% url 'wagtailadmin_home' as url %}
                                        {% with text="Création et modification des pages-vitrines (cas d’usage, actualités etc.)" %}
                                            {% include "crm/fragments/crm_home_card.html" with link_url=url name="CMS Pages-vitrines" icon="fr-icon-article" text=text %}
                                        {% endwith %}
                                    </div>
                                {% endif %}
                                <div class="crm-home__card-container">
                                    {% url 'projects-task-recommendation-list' as url %}
                                    {% with text="Scénarios qui permettent de suggérer aux conseillers des ressources à recommander" %}
                                        {% include "crm/fragments/crm_home_card.html" with link_url=url name="Pré-fléchage de ressources" icon="fr-icon-swap-lines" text=text %}
                                    {% endwith %}
                                </div>
                                {% if request.site.configuration.project_survey and "manage_surveys" in user_site_perms %}
                                    <div class="crm-home__card-container">
                                        {% url 'survey-editor-survey-details' request.site.configuration.project_survey_id as url %}
                                        {% with text="Gestion des questions, choix de réponses et réponses affichées du questionnaire initial" %}
                                            {% include "crm/fragments/crm_home_card.html" with link_url=url name="Questionnaire d’état des lieux" icon="fr-icon-questionnaire" text=text %}
                                        {% endwith %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    {% if is_staff %}
                        <div class="fr-pb-4w">
                            <h4 class="crm-home__subtitle fr-mb-1v">
                                Sécurité de votre compte
                            </h4>
                            <div class="gap-4 d-flex flex-wrap">
                                <div class="crm-home__card-container">
                                    {% url 'account_email' as email_url_ %}
                                    {% with text="Confirmez que vous avez accès à votre adresse email" %}
                                        {% include "crm/fragments/crm_home_card.html" with link_url=email_url_ name="Vérification de l'adresse email" icon="fr-icon-mail-line" text=text %}
                                    {% endwith %}
                                </div>
                                <div class="crm-home__card-container">
                                    {% url 'mfa_index' as mfa_url_ %}
                                    {% with text="Gérez la double authentification pour protéger l’accès à votre compte" %}
                                        {% include "crm/fragments/crm_home_card.html" with link_url=mfa_url_ name="Double authentification" icon="fr-icon-fingerprint" text=text %}
                                    {% endwith %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <h3 class="fr-mt-2w">
                    <span class="align-middle">Connexions</span>
                </h3>
                {% activity_stream "model_actions" user_model %}
                <ul class="list-group">
                    {% for action in stream|slice:":200" %}
                        {% if action.verb == verbs.User.LOGIN %}
                            <li class="list-group-item">
                                <span class="text-info-custom text-grey-dark fr-mr-2v text-nowrap font-small">{{ action.timestamp|naturalday|capfirst }}</span>
                                <a class="font-small"
                                href="{% url 'crm-user-details' action.actor.pk %}">{{ action.actor.first_name|default:action.actor }}
                                {{ action.actor.last_name|default:"" }}</a>
                                <span class="font-small">{{ action.verb }}</span>
                            </li>
                        {% endif %}
                    {% empty %}
                        -- Pas encore d'activité, revenez plus tard ! --
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
