{% extends "base.html" %}
{% load sass_tags %}
{% load static %}
{% load django_vite %}
{% load humanize %}
{% load training %}
{% load hijack %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block title %}
    Configuration du Site - CRM
{% endblock title %}
{% block og_title %}
    Configuration du Site - CRM
{% endblock og_title %}
{% block js %}
    {% vite_asset 'js/apps/crm.js' %}
{% endblock js %}
{% block css %}
    <link href="{% sass_src 'home/css/dsfr/marianne.css' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% block content %}
    {% include "crm/fragments/navigation.html" with site_configuration=True %}
    <div x-data="{ breadcrumbs: { links: [{url: '{% url 'crm-site-dashboard' %}', title: 'CRM'}], current: 'Paramètres du site' } }"
         class="fr-p-0">{% include "tools/breadcrumb.html" %}</div>
    <div x-data="Crm" class="d-flex fr-px-0">
        <div class="w-100 d-flex flex-column justify-content-start">
            <div class="crm-header fr-px-3w fr-py-3w fr-mb-2w">
                <form method="post" enctype="multipart/form-data" class="fr-form">
                    {% csrf_token %}
                    {% crispy form "dsrc_crispy_forms_no_js" %}
                    <button class="fr-btn" type="submit">Sauvegarder</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
