{% extends "base.html" %}
{% load django_vite %}

{% load static %}
{% load humanize %}
{% load crm_tags %}

{% block js %}
{% vite_asset 'js/apps/crm.js' %}

<script src="{% static "/js/d3.min.js" %}"></script>
<script src="{% static "/js/nv.d3.min.js" %}"></script>


<!-- Charts -->
<script type="text/javascript">

 nv.addGraph(function() {
     var chart = nv.models.discreteBarChart()
                   .x(function(d) { return d.label })    //Specify the data accessors.
                   .y(function(d) { return d.value })
                   .staggerLabels(false)    //Too many bars and not enough room? Try staggering labels.
                   .tooltips(false)        //Don't show tooltips
                   .showValues(true)       //...instead, show the bar value right on top of each bar.
                   .transitionDuration(350)
                   .valueFormat(d3.format('d'))
                   .margin({left: 100, bottom:150})
     ;

     chart.xAxis.rotateLabels(-45);

     d3.select('#chart-new svg')
       .datum(newFrichesData())
       .call(chart);

     nv.utils.windowResize(chart.update);

     return chart;
 });

 //Each bar represents a single discrete quantity.
 function newFrichesData() {
     return  [
         {
             key: "Utilisation des tags",
             values: [
                 {% for tag in tags.all %}
                 {% if forloop.counter < 15 %}
                 {
                     "label" : "{{ tag.name }}",
                     "value" : {{ tag.project__count }}
                 } ,
                 {% endif %}
                 {% endfor %}
             ]
         }
     ]

 }
</script>


{% endblock %}

{% block content %}

<div x-data="Crm" class="d-flex px-0" style="font-family: 'Marianne', arial, sans-serif;">
        {% include "crm/fragments/sidebar.html" with back_button=True map=True tools=True search=True %}
    <div class="w-75 d-flex flex-column justify-content-start">

        <div class="d-flex justify-content-between align-items-center px-4 pt-4">
            <h2>Relation Projets-Tags</h2>

            <a href="{% url 'crm-project-list-by-tags-csv' %}" class="btn btn-primary">Export CSV</a>
        </div>

        <div id="chart-new">
            <svg class="w-100" style=" min-height: 300px"> </svg>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tag</th>
                    <th>Utilisation</th>
                    <th>Projets</th>
                </tr>
            </thead>

            <tbody>
                {% for tag in tags %}
                <tr>
                    <td>{{ tag.name }}</td>
                    <td>{{ tag.project__count }}</td>
                    <td>
                        {% projects_for_tag tag.name as projects %}
                        {% for project in projects.all %}
                        <a href="{% url 'crm-project-details' project.pk %}">{{ project }}</a>
                        {% endfor %}
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
