{% extends "base.html" %}
{% load django_vite %}
{% load static %}
{% block title %}
    Usage des thématiques - CRM
{% endblock title %}
{% block og_title %}
    Usage des thématiques - CRM
{% endblock og_title %}
{% block js %}
    {% vite_asset 'js/apps/crm.js' %}
    {% vite_asset 'js/apps/tagCloud.js' %}
{% endblock js %}
{% block content %}
    {{ topics_wc|json_script:"topicsArray" }}
    <div x-data="Crm" class="d-flex fr-px-0">
        {% include "crm/fragments/sidebar.html" with back_button=True map=True tools=True search=True %}
        <div class="w-75 d-flex flex-column justify-content-start">
            {% url 'crm-search' as crmSearchUrl %}
            <div class="d-flex flex-column font-marianne fr-pt-3w fr-px-3w ">
                <h2>
                    <svg class="bi align-middle" width="25" height="25" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#tags" />
                    </svg>
                    &nbsp;
                    <span>Index des thématiques (dossiers et recommandations)</span>
                </h2>
                <div>
                    <a href="{% url 'crm-list-topics-as-csv' %}">Télécharger en CSV</a>
                </div>
                <div id="wordCloud"
                     class="fr-mb-3w fr-pt-3w fr-mx-auto fw-bold"
                     x-data="WordCloud(topicsArray, '{{ crmSearchUrl }}')"></div>
            </div>
            <div class="fr-tabs">
                <ul class="fr-tabs__list"
                    role="tablist"
                    aria-label="Tableau index des thématiques">
                    <li role="presentation">
                        <button id="tabpanel-byprojects"
                                class="fr-tabs__tab fr-icon-checkbox-line fr-tabs__tab--icon-left"
                                tabindex="0"
                                role="tab"
                                aria-selected="true"
                                aria-controls="tabpanel-byprojects-panel">Thématique par dossiers</button>
                    </li>
                    <li role="presentation">
                        <button id="tabpanel-bytasks"
                                class="fr-tabs__tab fr-icon-checkbox-line fr-tabs__tab--icon-left"
                                tabindex="-1"
                                role="tab"
                                aria-selected="false"
                                aria-controls="tabpanel-bytasks-panel">Thématique par recommandations</button>
                    </li>
                </ul>
                <div id="tabpanel-byprojects-panel"
                     class="fr-tabs__panel fr-tabs__panel--selected"
                     role="tabpanel"
                     aria-labelledby="tabpanel-byprojects"
                     tabindex="0">
                    <section class="w-100 d-flex flex-column justify-content-center font-marianne">
                        <div class="d-flex justify-content-center">
                            <table class="w-100 fr-my-auto table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Occurences</th>
                                        <th scope="col">Dossiers</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, value in topics.items %}
                                        {% if value.1 > 0 %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'crm-search' %}?query={{ key }}">{{ key }}</a>
                                                </td>
                                                <td>{{ value.1 }}</td>
                                                <td>
                                                    {% for project in value.3 %}
                                                        <a href="{% url 'projects-project-detail-overview' project.pk %}">{{ project.commune }} - {{ project.name }}</a>
                                                        {% if not forloop.last %}<br />{% endif %}
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
                <div id="tabpanel-bytasks-panel"
                     class="fr-tabs__panel"
                     role="tabpanel"
                     aria-labelledby="tabpanel-bytasks"
                     tabindex="0">
                    <section class="w-100 d-flex flex-column justify-content-center font-marianne">
                        <div class="d-flex justify-content-center">
                            <table class="w-100 fr-my-auto table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Occurences</th>
                                        <th scope="col">Recommandations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, value in topics.items %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'crm-search' %}?query={{ key }}">{{ key }}</a>
                                            </td>
                                            <td>{{ value.2 }}</td>
                                            <td>
                                                {% for task in value.4 %}
                                                    <a href="{% url 'projects-project-detail-overview' task.project.pk %}#action-{{ task.pk }}">{{ task.project.commune }} - {{ task.project.name }} / {{ task }} </a>
                                                    {% if not forloop.last %}<br />{% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
