{% extends "base.html" %}
{% load static %}
{% load django_vite %}
{% load humanize %}
{% load phone_filters %}
{% load hijack %}
{% block title %}
    {% if crm_user.get_full_name %}
        {{ crm_user.get_full_name }}
    {% else %}
        Utilisateur
    {% endif %}
    - CRM
{% endblock title %}
{% block og_title %}
    {% if crm_user.get_full_name %}
        {{ crm_user.get_full_name }}
    {% else %}
        Utilisateur
    {% endif %}
    - CRM
{% endblock og_title %}
{% block js %}
    {% vite_asset 'js/styles/user-crm.css.js' %}
    {% vite_asset 'js/styles/project-card-crm.css.js' %}
    {% vite_asset 'js/apps/crm.js' %}
{% endblock js %}
{% block content %}
    <!-- CRM Navbar -->
    {% include "crm/fragments/navigation.html" with users=True %}
    <!-- Breadcrumb -->
    <div x-data="{ breadcrumbs: { links: [{url: '{% url 'crm-site-dashboard' %}', title: 'CRM'}, {url: '{% url 'crm-user-list' %}', title: 'Utilisateurs'}], current: `{{ crm_user.get_full_name|default:crm_user.email }}` } }"
         class="fr-p-0">{% include "tools/breadcrumb.html" %}</div>
    <div x-data="Crm" class="user-crm d-flex">
        <!-- Left column -->
        <div class="user-crm-left-col position-relative">
            <div class="user-crm__actions-btn fr-p-2w d-flex align-items-center gap-1">
                {% if request.user|can_hijack:crm_user %}
                    <form action="{% url 'hijack:acquire' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="user_pk" value="{{ crm_user.pk }}">
                        <input type="hidden" name="next" value="{{ home }}">
                        <button class="fr-btn fr-btn--tertiary fr-btn--sm user-crm__actions-btn--style fr-icon-hat-and-glasses"
                                type="submit"
                                title="Usurper l'identité"></button>
                    </form>
                {% endif %}
                <a class="fr-btn fr-btn--tertiary fr-btn--sm user-crm__actions-btn--style fr-icon-pencil-line"
                   href="{% url 'crm-user-update' crm_user.pk %}"></a>
            </div>
            <!-- User info -->
            <div class="d-flex flex-column fr-p-5v">
                <!-- Badges -->
                 {% if crm_user.is_staff or crm_user_is_advisor %}
                    <div class="d-flex flex-wrap gap-1 fr-mb-2v">
                        {% if crm_user.is_staff %}
                            <span class="user-crm__badges">⭐️ Staff</span>
                        {% endif %}
                        {% if crm_user_is_advisor %}
                            <span class="user-crm__badges user-crm__badges--advisor">Conseiller</span>
                        {% endif %}
                    </div>
                {% endif %}
                <!-- Name -->
                <h1 class="user-crm__user-name fr-mb-0">{{ crm_user.get_full_name|default:crm_user.email }}</h1>
                <!-- Position -->
                {% if crm_user.profile.organization_position %}
                    <h2 class="user-crm__user-org fr-mb-3v">{{ crm_user.profile.organization_position }}</h2>
                {% else %}
                    <div class="fr-mb-3v"></div>
                {% endif %}
                <!-- Organization -->
                {% if crm_user.profile.organization %}
                    <span class="user-crm__user-information fr-icon-people fr-icon--sm {% if crm_user_is_advisor %}fr-mb-1v{% else %}fr-mb-3v{% endif %}">{{ crm_user.profile.organization.name }}</span>
                {% endif %}
                <!-- Departments (if advisor) -->
                {% if crm_user_is_advisor %}
                    <span class="user-crm__user-information fr-icon-target-line fr-icon--sm fr-mb-3v">Départements :
                        {% for dpt in crm_user.profile.departments.all %}
                            {{ dpt.code }}{% if not forloop.last %},{% endif %}
                        {% empty %}
                            France entière
                        {% endfor %}
                    </span>
                {% endif %}
                <!-- Email -->
                {% if crm_user.email %}
                    <span class="user-crm__user-information--link fr-icon-link fr-icon--sm {% if crm_user.profile.phone_no %}fr-mb-1v{% else %}fr-mb-3v{% endif %}"><a href="mailto:{{ crm_user.email }}">{{ crm_user.email }}</a>
                    </span>
                {% endif %}
                <!-- Phone -->
                {% if crm_user.profile.phone_no %}
                    <span class="user-crm__user-information--link fr-icon-phone-line fr-icon--sm fr-mb-3v">
                        <a href="tel:{{ crm_user.profile.phone_no }}">{{ crm_user.profile.phone_no|format_phone }}</a>
                    </span>
                {% endif %}
                <!-- Last activity -->
                {% if crm_user.profile.previous_activity_at %}
                    <span class="user-crm__user-information fr-icon-calendar-line fr-icon--sm fr-mb-1v">dernière activité il y a {{ crm_user.profile.previous_activity_at|timesince }}</span>
                {% endif %}
                <!-- Last login -->
                {% if crm_user.last_login %}
                    <span class="user-crm__user-information fr-icon-calendar-line fr-icon--sm fr-mb-1v">dernière connexion il y a {{ crm_user.last_login|timesince }}</span>
                {% endif %}
                <!-- Next reminders -->
                <span class="user-crm__user-information fr-icon-mail fr-icon--sm">prochain rappel</span>
            </div>
            <!-- Dossiers conseillés -->
            {% if crm_user_is_advisor %}
                <div>
                    <div class="user-crm__section-title-container fr-px-3w fr-py-2w">
                        <span class="user-crm__section-title">Dossiers conseillés</span>
                    </div>
                    {% for st in crm_user.projects_switchtended_per_site.all %}
                        <div class="user-crm__section-container fr-px-3w fr-py-2w">
                            {% include "crm/fragments/project/project_card.html" with project=st.project %}
                        </div>
                    {% empty %}
                        <div class="fr-px-3w fr-py-2w">
                            <span class="fr-text--sm text-muted">Aucun dossier conseillé</span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <!-- Autre dossiers -->
            {% with crm_user.projectmember_set.all as memberships %}
                {% if memberships %}
                    <div>
                        <div class="user-crm__section-title-container fr-px-3w fr-py-2w">
                            <span class="user-crm__section-title">Autre dossiers</span>
                        </div>
                        {% for membership in memberships %}
                            <div class="user-crm__section-container fr-px-3w fr-py-2w">
                                {% include "crm/fragments/project/project_card.html" with project=membership.project %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
        <!-- Right column -->
        <div class="user-crm-right-col">
            <!-- Banner account status -->
            {% if not crm_user.is_active %}
                {% if crm_user.profile.disabled %}
                    <div class="d-flex justify-content-between align-items-center fr-alert fr-alert--info fr-mb-2w fr-px-3w fr-py-2w">
                        <span>Cet utilisateur a été désactivé.</span>
                        <form method="post" action="{% url 'crm-user-reactivate' crm_user.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="fr-btn fr-btn--sm">Réactiver le compte utilisateur</button>
                        </form>
                    </div>
                {% elif crm_user.profile.deleted %}
                    <div class="fr-alert fr-alert--error fr-mb-2w">
                        <p>Ce compte a été supprimé. La personne ne peut plus se connecter à {{ request.site.name }}.</p>
                    </div>
                {% else %}
                    <div class="fr-alert fr-alert--warning fr-mb-2w">
                        <p>Ce compte est inactif.</p>
                    </div>
                {% endif %}
            {% endif %}
            <!-- Notes section -->
            {% if not crm_user.profile.deleted %}
                <section class="w-100">
                    <div class="user-crm__section-title-container no-border">
                        <h3 class="user-crm__section-title">Notes</h3>
                        <a class="fr-btn fr-btn--primary fr-btn--sm"
                           href="{% url 'crm-user-note-create' crm_user.pk %}">Ajouter une note</a>
                    </div>
                    <!-- Empty state -->
                    {% if not notes.all and not sticky_notes.all %}
                        <div class="fr-p-3w text-center text-muted">
                            <p class="fr-text--sm">Aucune note pour cet utilisateur</p>
                        </div>
                    {% endif %}
                    <!-- Pinned notes -->
                    {% for note in sticky_notes.all %}
                        {% include "crm/note.html" with pinned=True %}
                    {% endfor %}
                    <!-- Notes list -->
                    {% for note in notes.all %}
                        {% include "crm/note.html" %}
                    {% endfor %}
                </section>
            {% endif %}
            <!-- Activity timeline -->
            <section class="w-100">
                <h3 class="user-crm__section-title">Activité de l'utilisateur</h3>
                {% include "crm/timeline.html" %}
            </section>
        </div>
    </div>
{% endblock content %}
