{% extends "dsrc_dj/core/pages/dsrc_page_center.html" %}
{% load static %}
{% block title %}| Solliciter l'équipe {{ request.site.name }}{% endblock %}
{% block og_title %}| Solliciter l'équipe {{ request.site.name }}{% endblock %}
{% block page_title %}Solliciter {{ request.site }}{% endblock %}
{% block lead %}
    Les informations démandées ci-dessous nous permettent de traiter votre demande dans les meilleures conditions.
{% endblock %}
{% block form %}
    {% include 'dsrc_dj/core/compositions/navs/dsrc_stepper.html' %}
    <hr />
    <div>{% include 'dsrc_dj/core/compositions/forms/dsrc_form_base.html' %}</div>
{% endblock %}
