{% extends "base.html" %}

{% load static %}

{% block title %} | Solliciter l'équipe {{ request.site.name }}{% endblock %}

{% block og_title %} | Solliciter l'équipe {{ request.site.name }}{% endblock %}

{% block js %}
<script>
    function citySearch() {
        return {
            // other default properties
            isLoading: false,
            postal: null,
            cities: null,
            getPostcode(postcode, insee) {
                this.postal = postcode;
                this.fetchCities(insee)
            },
            fetchCities(currentInsee = null) {
                if (this.postal == "")
                    return

                this.isLoading = true;
                fetch(`{% url 'communes-list' %}?postal=${this.postal}`)
                    .then(res => res.json())
                    .then(data => {
                        this.isLoading = false;
                        this.cities = data;
                    }).finally(() => {
                        if (currentInsee) this.$refs.insee.value = currentInsee;
                    });
            }
        }
    }
</script>

{% endblock %}

{% block content %}

<div class="col-11 col-lg-9 py-5 mx-auto font-marianne">
    <nav class="mb-4 pb-1">
        <ol class="list-unstyled d-flex align-items-center">
            <li>
                <a class="small text-decoration-underline text-grey" href="{% url 'home' %}">Accueil</a>
            </li>
            <svg class="bi mx-2" width="15" height="15">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#chevron-right" />
            </svg>
            <li>
                <span class="small text-dark">
                    Soliciter {{request.site.name}}
                </span>
            </li>
        </ol>
    </nav>

    <h2>
        Solliciter {{ request.site.name }}
    </h2>

    {% include "onboarding/onboarding_service_message.html" %}

    <div class="flag grey mb-4 d-flex align-items-center justify-content-start">
        <span class="title-info text-grey text-uppercase my-0 me-3">Attention</span>
        <p class="text-info-custom text-grey-dark my-0 ">Pour toute <strong>autre demande</strong> qu'un dépôt de dossier, merci de <a
            class="text-grey-dark text-decoration-underline" href="{% url 'home-contact' %}?next=/&subject=Prise de contact">nous contacter par email</a>.</p>
    </div>

    <form id="form-projects-onboarding" method="post" action="{% url 'projects-onboarding' %}"
        class="{% if form.errors %}was-validated{% endif %}">

        {% csrf_token %}

        {% if form.errors %}
        <div class="border border-danger rounded mb-3 pt-3 text-danger">
            {{ form.errors }}
        </div>
        {% endif %}

        <div id="form-leader" class="mb-5">
            <h3 class="mb-3 title-info">Qui êtes-vous ?</h3>

            <div class="row mb-3">
                <div class="col">
                    <div class="">
                        <label class="text-info-custom text-grey-dark" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                        {% if user.is_authenticated %}
                        <input type="text" disabled class="py-4 placeholder-grey form-control {% if form.first_name.errors %}is-invalid{% endif %}"
                            id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.name }}"
                            placeholder="Camille" value="{{ user.first_name }}" required>
                        {% else %}
                        <input type="text" class="py-4 placeholder-grey form-control {% if form.first_name.errors %}is-invalid{% endif %}"
                            id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.name }}"
                            placeholder="Camille" value="{{ form.first_name.value }}" required>
                        {% endif %}
                        
                        {% for error in form.first_name.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col">
                    <div class="">
                        <label class="text-info-custom text-grey-dark" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                        {% if user.is_authenticated %}
                        <input type="text" disabled class="py-4 placeholder-grey form-control {% if form.last_name.errors %}is-invalid{% endif %}"
                            id="{{ form.last_name.id_for_label }}" name="{{ form.last_name.name }}" placeholder="Dupont"
                            value="{{ user.last_name }}" required>
                        {% else %}
                        <input type="text" class="py-4 placeholder-grey form-control {% if form.last_name.errors %}is-invalid{% endif %}"
                            id="{{ form.last_name.id_for_label }}" name="{{ form.last_name.name }}" placeholder="Dupont"
                            value="{{ form.last_name.value }}" required>
                        {% endif %}
                        {% for error in form.last_name.errors %}
                        <div class="text-danger text-end">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="">
                        <label class="text-info-custom text-grey-dark" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                        {% if user.is_authenticated %}
                        <input type="email" disabled class="py-4 placeholder-grey form-control {% if form.email.errors %}is-invalid{% endif %}"
                            id="{{ form.email.id_for_label }}" name="{{ form.email.name }}"
                            placeholder="nom@organisme.fr" value="{{ form.email.value|default:user.email }}" required>
                        {% else %}
                        <input type="email" class="py-4 placeholder-grey form-control {% if form.email.errors %}is-invalid{% endif %}"
                            id="{{ form.email.id_for_label }}" name="{{ form.email.name }}"
                            placeholder="nom@organisme.fr" value="{{ form.email.value|default:'' }}" required>
                        {% endif %}
                        <div class="mt-2 flag grey mb-4 d-flex align-items-center justify-content-start">
                            <p class="text-info-custom font-small text-grey-dark my-0 ">Votre courriel ne sera jamais partagé en dehors de notre équipe.</p>
                        </div>
                        {% for error in form.email.errors %}
                        <div class="text-danger text-end">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col">
                    <div class="">
                        <label class="text-info-custom text-grey-dark" for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                        {% if user.is_authenticated %}
                        <input type="tel" disabled class="py-4 placeholder-grey form-control {% if form.phone.errors %}is-invalid{% endif %}"
                            id="{{ form.phone.id_for_label }}" name="{{ form.phone.name }}"
                            value="{{ user.profile.phone_no }}" placeholder="">
                        {% else %}
                        <input type="tel" class="py-4 placeholder-grey form-control {% if form.phone.errors %}is-invalid{% endif %}"
                            id="{{ form.phone.id_for_label }}" name="{{ form.phone.name }}"
                            value="{{ form.phone.value }}" placeholder="">
                        {% endif %}
                        <div class="mt-2 flag grey mb-4 d-flex align-items-center justify-content-start">
                            <p class="text-info-custom font-small text-grey-dark my-0 ">Optionnel mais recommandé.</p>
                        </div>
                        {% for error in form.phone.errors %}
                        <div class="text-danger text-end">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="">
                <label class="text-info-custom text-grey-dark" for="{{ form.org_name.id_for_label }}">{{ form.org_name.label }}</label>
                {% if user.is_authenticated %}
                    <input disabled type="text" class="py-4 placeholder-grey form-control {% if form.org_name.errors %}is-invalid{% endif %}"
                    id="{{ form.org_name.id_for_label }}" name="{{ form.org_name.name }}" placeholder="Mon organisation"
                    value="{{ user.profile.organization.name }}" required>
                {% else %}
                    <input type="text" class="py-4 placeholder-grey form-control {% if form.org_name.errors %}is-invalid{% endif %}"
                    id="{{ form.org_name.id_for_label }}" name="{{ form.org_name.name }}" placeholder="Mon organisation"
                    value="{{ form.org_name.value|default:'' }}" required>
                {% endif %}
                {% for error in form.org_name.errors %}
                <div class="text-danger text-end">{{ error }}</div>
                {% endfor %}
            </div>
        </div>


        <div id="form-project" class="mb-3">

            <h3 class="mb-3 title-info">De quel projet parle-t-on ?</h3>

            <div class="mb-3">
                <label class="text-info-custom text-grey-dark" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                <input type="text" id="{{ form.name.id_for_label }}"
                    class="py-4 placeholder-grey form-control {% if form.name.errors %}is-invalid{% endif %}" name="{{ form.name.name }}"
                    maxlength="35" placeholder="Mon nom de dossier" value="{{ form.name.value|default:'' }}" required>
                    <div class="mt-2 flag grey mb-4 d-flex align-items-center justify-content-start">
                                <p class="text-info-custom font-small text-grey-dark my-0 ">Limité à 35 caractères</p>
                    </div>
                {% for error in form.name.errors %}
                <div class="text-danger text-end">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label class="text-info-custom text-grey-dark" for="input-project-address">Adresse</label>
                        <input type="text" class="py-4 placeholder-grey form-control {% if form.location.errors %}is-invalid{% endif %}"
                            id="input-project-address" name="{{ form.location.name }}" placeholder="Adresse"
                            value="{{ form.location.value|default:'' }}" required>
                            <div class="mt-2 flag grey mb-4 d-flex align-items-center justify-content-start">
                                <p class="text-info-custom font-small text-grey-dark my-0 ">Si le projet n'a pas d'adresse exacte, donnez-nous une indication proche.</p>
                            </div>
                        {% for error in form.location.errors %}
                        <div class="text-danger text-end">{{ error }}</div>
                        {% endfor %}
                    </div>

                </div>

                {% include "projects/project/fragments/city_select.html" %}

            </div>

            <div class="mb-3">
                <label class="text-info-custom text-grey-dark" for="input-project-description">Contexte du projet</label>
                <textarea maxlength="500" class="placeholder-grey form-control {% if form.description.errors %}is-invalid{% endif %}"
                    style="height: 100px;" id="input-project-description" name="{{ form.description.name }}"
                    placeholder="">{{ form.description.value|default:'' }}</textarea>
                
                    <div class="mt-2 flag grey mb-4 d-flex align-items-center justify-content-start">
                        <p class="text-info-custom font-small text-grey-dark my-0 ">Dites-nous quelques mots sur le contexte si vous le souhaitez.</p>
                    </div>

                {% for error in form.description.errors %}
                <div class="text-danger text-end">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="mt-5 onboarding-response-form">
                {{ form.response }}
            </div>

        </div>

        {{ form.captcha }}
        {% for error in form.captcha.errors %}
        <div class="text-danger text-start mb-2">{{ error }}</div>
        {% endfor %}

        <button type="submit" class="button filled mt-4">
            Envoyer ma demande
        </button>
    </form>

</div>

{% endblock %}
