{% extends "base.html" %}

{% load static %}

{% block title %} | Solliciter l'équipe UrbanVitaliz{% endblock %}

{% block og_title %} | Solliciter l'équipe UrbanVitaliz{% endblock %}

{% block js %}
<script>
 function citySearch() {
     return {
         // other default properties
         isLoading: false,
         postal: null,
         cities: null,
         fetchCities() {
             if (this.postal == "")
                 return

             this.isLoading = true;
             fetch(`{% url 'communes-list' %}?postal=${this.postal}`)
                 .then(res => res.json())
                 .then(data => {
                     this.isLoading = false;
                     this.cities = data;
                 });
         }
     }
 }
</script>

{% endblock %}


{% block content %}

<div class="col-11 col-lg-9 py-5 mx-auto">
    <h2>
        <svg class="bi me-2" width="32" height="32">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#megaphone"/>
        </svg>
        Solliciter l'équipe UrbanVitaliz
    </h2>

    <div class="bd-callout bd-callout-info mb-5">
        <p class="mt-3">
            <svg class="bi me-1" width="16" height="16">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#patch-exclamation"/>
            </svg>
            <span class=" align-middle">
                Pour toute <strong>autre demande</strong> qu'une friche à réhabiliter, merci de <a href="{% url 'home-contact' %}?next=/&subject=Prise de contact">nous contacter par email</a>.
            </span>
        </p>
    </div>


	  <form id="form-projects-onboarding"
				  method="post"
				  action="{% url 'projects-onboarding' %}"
          class="{% if form.errors %}was-validated{% endif %}"
	  >

        {% csrf_token %}

        {{ form.errors }}

        {{ form }}

        <button type="submit" class="btn btn-primary">
			      Envoyer ma demande
		    </button>
	  </form>

</div>

{% endblock %}
