{% extends "base.html" %}
{% load django_vite %}
{% load static %}
{% load sass_tags %}
{% load crispy_forms_tags %}
{% block js %}
  {% vite_asset 'js/apps/onboarding.js' %}
{% endblock js %}
{% block css %}
  <link href="{% static '@gouvfr/dsfr/dist/dsfr.min.css' %}"
        rel="stylesheet"
        type="text/css">
  <link href="{% sass_src 'home/css/dsfr/custom-dsfr.scss' %}"
        rel="stylesheet"
        type="text/css">
        <style>
          label[for="id_captcha"] {
            display: none;
          }
          .g-recaptcha {
            margin-left: 0.5rem;
          }
        </style>
{% endblock css %}
{% block title %}
  | Solliciter l'équipe {{ request.site.name }}
{% endblock title %}
{% block og_title %}
  | Solliciter l'équipe {{ request.site.name }}
{% endblock og_title %}
{% block page_title %}
  Solliciter {{ request.site }}
{% endblock page_title %}
{% block tagline %}
  Ces informations nous permettent de traiter votre demande dans les meilleures conditions.
{% endblock tagline %}
{% block content %}
  <div class="container">
    <div class="banner mt-6 mb-6 text-center">
      <img src="{% static 'urbanvitaliz.fr/home/img/home/logo-urbanvitaliz.svg' %}"
           width="10%"
           height="auto"
           alt="Logo d'UrbanVitaliz" />
      <h1>
        <strong>Déposer votre projet</strong> UrbanVitaliz
      </h1>
    </div>
    <div class="fr-stepper mb-3">
      <h2 class="fr-stepper__title">
        Identifiez-vous
        <span class="fr-stepper__state">Étape 1 sur 2</span>
      </h2>
      <div class="fr-stepper__steps" data-fr-current-step="1" data-fr-steps="2"></div>
      <p class="fr-stepper__details">
        <span class="fr-text--bold">Étape suivante :</span> Localisez votre projet
      </p>
    </div>
    <div class="container__form d-flex justify-content-center"
         x-data="AjvValidationSchema('schemaOnboardingStep1SignupFormValidator')">
      <div class="onboarding__form"
           x-data="DsrcFormValidator('{{ form.helper.form_id }}', schemaValidator)"
           x-init="init">
        <form id="{{ form.helper.form_id }}" method="post">
          <input type="hidden"
           name="js_enabled"
           id="{{ form.helper.form_id }}_js_enabled"
           value="false">
          <fieldset class="fr-fieldset">
            <legend class="fr-fieldset__legend--regular fr-fieldset__legend">
              <h6>Créez votre compte</h6>
            </legend>
            {% csrf_token %}
            {{ form.first_name|as_crispy_field }}
            {{ form.last_name|as_crispy_field }}
            <div class="fr-fieldset__element">
              {% include "tools/organization_search.html" with name=form.org_name.name label=form.org_name.label value=form.org_name.value id_for_label=form.org_name.id_for_label errors=form.org_name.errors dsfr=True %}
            </div>
            {{ form.role|as_crispy_field }}
            {{ form.email|as_crispy_field }}
            {{ form.phone|as_crispy_field }}
            {{ form.password|as_crispy_field }}
            {{ form.captcha }}
          </fieldset>
          {% include "dsrc/core/blocks/buttons/button_group.html" %}
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
