{% extends "base.html" %}
{% load django_vite %}
{% load sass_tags %}
{% load crispy_forms_tags %}
{% block js %}
    {% vite_asset 'js/apps/onboarding.js' %}
{% endblock js %}
{% block css %}
    <link href="{% sass_src 'home/css/dsfr/custom-dsfr.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% block title %}
    | Solliciter l'équipe {{ request.site.name }}
{% endblock title %}
{% block og_title %}
    | Solliciter l'équipe {{ request.site.name }}
{% endblock og_title %}
{% block page_title %}
    Solliciter {{ request.site }}
{% endblock page_title %}
{% block tagline %}
    Ces informations nous permettent de traiter votre demande dans les meilleures conditions.
{% endblock tagline %}
{% block content %}
    <div class="container onboarding__summary">
        <div class="banner  text-center">
            {% if site_config.email_logo %}
                <img src="{{ site_config.email_logo.url }}"
                     width="10%"
                     height="auto"
                     alt="Logo {{ request.site.name }}" />
            {% endif %}
            <h1>
                <strong>Nous avons bien reçu votre demande</strong>
            </h1>
        </div>
        <div class="container__form">
            <div class="project-card">
                <div class="project-card__content">
                    <div class="project__title">
                        {% if project.commune %}
                            <p class="project__title-city">{{ project.commune.name }}</p>
                        {% else %}
                            <p class="project__title-city">Pas encore de commune associée</p>
                        {% endif %}
                        <p class="project__title-name">{{ project.name }}</p>
                    </div>
                    <div class="project__info">
                        {% if project.commune %}
                            <p class="project__info-insee fr-icon-map-pin-2-line">INSEE: {{ project.commune.insee }}</p>
                        {% endif %}
                        <p class="project__info-date fr-icon-calendar-event-line">déposé aujourd'hui</p>
                    </div>
                </div>
            </div>
            <p class="text-uppercase next-steps">Prochaines étapes</p>
            <ol class="fr-ml-3w fr-mb-3w">
                <li>Répondez aux questions suivantes pour accélérer l'étude de votre demande.</li>
                <li>Nos conseillers vous recontacteront pour affiner votre besoin sous quelques semaines.</li>
                <li>Vous recevrez ensuite nos recommandations et pourrez poser d’autres questions.</li>
            </ol>
            <ul class="fr-btns-group">
                <li>
                    <a class="fr-btn fr-btn--primary" href="{{ next_url }}">Remplir l'état des lieux</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}
