.markdownx {
    display: flex;

    textarea {
        min-height: 300px;
        flex-grow: 1;
    }

    .markdownx-preview {
        margin-left: 20px;
        width: 50%;
        overflow-wrap: break-word;

        border: 1px solid #eee;
        padding: 10px;
    }
}
