.navigation {
  --padding-navigation: 6px;
  --padding-y-navigation: 1rem 0;
  border-bottom: solid 1px #ccc;
  &__menu-top-logo {
    padding: var(--padding-y-navigation);
  }
  &__menu-top-secondary-container {
    height: 64px;
  }
  &__menu-top-secondary {
    margin-block-start: 0;
    margin-block-end: 0;
    height: 100%;
    li {
      margin-right: 1rem;
      white-space: nowrap;
      &:not(:last-child) {
        --padding-y-item: 0.5rem;
        --padding-x-item: 1rem;
        padding: var(--padding-y-item) var(--padding-x-item)
          var(--padding-y-item) 0;
        border-right: 1px solid #ccc;
      }
      span {
        text-decoration: underline;
      }
      a.active {
        span {
          text-decoration: none;
          color: #3a3a3a;
        }
      }
    }
    &:first-child {
      margin-left: 15px;
    }
    .navigation__item-dashboard,
    .navigation__item-moderation,
    .navigation__item-resource,
    .navigation__item {
      padding: var(--padding-y-navigation);
    }

    .navigation__item-dashboard,
    .navigation__item-moderation {
      .badge {
        margin-left: 0.5rem;
        line-height: 1rem;
      }
    }

    li.navigation__item-projects {
      width: 337px;
      --padding-y-item: 0.3rem;
      --ul-type: none;
      .item-projects__button-open {
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 2rem;
        padding: 0.25rem 1.5rem 0.25rem 0.5rem;
      }

      .list-project {
        max-height: 70vh;
        overflow-y: auto;
        & > li {
          border: none;
          --padding-y-item: none;
          --padding-x-item: none;
          padding: 0;
          margin: 0;
        }
        a {
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &__header {
          &-text {
            color: var(--light-text-mention-grey, #666);
            padding: 0.3rem 1rem;
            font-size: 14px;
            font-style: italic;
            font-weight: 400;
            line-height: 150%;
          }
        }

        &__item {
          &:nth-child(2) > .fr-nav__link {
            box-shadow: none;
          }
        }

        &__project-name {
          color: #666666;
          text-decoration: none;
        }
      }
      li.list-project__search-container {
        padding: 0.5rem;
      }
    }
  }
}

.navbar > .navbar-collapse {
  & > * {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
}

.project-card-top-information.inactive span {
  padding: 0.25rem 0.5rem;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 2px;
}

.project-card-top-information.inactive span {
  background-color: #e5e5e5;
  color: #222;
}

// Collapse secondary navigation

.collapse {
  display: none;
}

.collapse.show {
  display: block;
}

.logo-rf,
.logo-cerema {
  display: none;
}

@media (max-width: 1350px) {
  .offcanvas-collapse .nav-item-admin span {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .offcanvas-collapse .nav-item-admin span {
    display: inline-block;
  }

  .offcanvas-collapse .main-menu .dropdown-toggle {
    visibility: hidden;
  }

  .offcanvas-collapse {
    position: fixed;
    top: 250px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

@media (min-width: 690px) {
  .collapse:not(.show) {
    display: block;
  }

  .logo-rf,
  .logo-cerema {
    display: block;
  }
}
