.login-page {
  &__proconnect {
    background: #fafafa;
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
  }
  &__title {
    color: var(--light-neutral-grey-50, #161616);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
  }
  &__subcontainer {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  &__separator {
    padding-bottom: 1px;
    background-color: #ccc;
  }
}
