.specific-hr {
  height: 1px;
  margin-top: 45px;
  background-color: grey !important;
  background-image: none;
}

.specific-hr2 {
  height: 1px;
  margin-bottom: 20px;
  background-color: grey !important;
  background-image: none;
}
