.specific-height-1px {
  height: 1px;
}

.specific-mt-45px {
  margin-top: 45px;
}

.specific-mb-20px {
  margin-bottom: 20px;
}

.specific-backgroundcolor-grey {
  background-color: grey !important;
}

.specific-backgroundimage-none {
  background-image: none;
}
