.login-page__proconnect {
  background: #fafafa;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch; }

.login-page__title {
  color: var(--light-neutral-grey-50, #161616);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase; }

.login-page__subcontainer {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.login-page__separator {
  padding-bottom: 1px;
  background-color: #ccc; }
