{% load static %}

<!-- Index of tasks kanban app -->
<div x-data="KanbanTasks({{ project.id }})" x-init="initTooltips(); loadCanAdministrate(); loadUserProjectPerms(); loadIsSwitchtender(); loadUserId(); processUrl();"
class="row">
    <template x-for="board in boards">
        <div class="col px-2">
            <div class="medium-border-radius drop-column bg-grey-light">
                <div class="d-flex align-items-center justify-content-between px-2 pt-2 pb-0">
                    <div class="d-flex align-items-center">
                        <span :class="board.color_class" class="status-color-indicator me-2"></span>
                        <h5 x-text="board.title" class="fs-6 fw-normal text-gray-800 mb-0"></h5>
                    </div>
                </div>

                <div style="height: 80vh; overflow-y: auto; position: relative;" class="px-2 pt-2 mt-2 pb-1 overflow-auto">
                    <template x-if="column(board.status).length === 0">
                        <div class="drag-targetable py-3" @dragover="onDragOver(event, null)"
                            @drop="onDrop(event, board.status, null)" @dragenter="onDragEnter(event)"
                            @dragleave="onDragLeave(event)">
                            <div class="drag-placeholder rounded d-flex align-items-center justify-content-center text-uppercase"
                                style="height: 100px; font-size: 0.8em;">
                                Glissez et déposez une carte ici
                            </div>
                        </div>
                    </template>
                    <template x-for="(t, i) in column(board.status)" :key="t.id">
                        {% include 'projects/project/fragments/tasks_kanban/task_item.html' %}
                    </template>
                </div>
            </div>
        </div>
    </template>
</div>
