{% load static %}
{% load guardian_tags %}

{% get_obj_perms request.user for request.site as "user_site_perms" %}
{% get_obj_perms request.user for project as "user_project_perms" %}

	<div x-data="Task(t)" :id="t.uuid" class="drag-targetable py-1" @dragover="onDragOver(event)"
		@drop="onDrop(event, board.status, t.uuid)" @dragenter="onDragEnter(event)" @dragleave="onDragLeave(event)">
		<div class="medium-border-radius bg-white border-grey position-relative" :draggable="true" @dragstart="onDragStart(event, t.uuid)"
			@dragend="onDragEnd(event)">
			<template x-if="currentTask.notifications.count > 0">
				<span class="position-absolute translate-middle top-0 start-100 badge rounded-circle bg-danger fw-bold"
					style="font-size: 0.7em;" x-text="currentTask.notifications.count"></span>
			</template>
			<div class="p-2">
				<div class="d-flex flex-row">
					<!-- <div class="mt-1 d-flex flex-column justify-content-between">
						{% if "use_tasks" in user_project_perms and not disable_edit %}
							<div>
								<template x-if="i > 0">
									<a class="d-block p-1" @click="$store.tasksData.moveAbove(t, column(board.status)[i - 1])" style="cursor: pointer;">
										<svg class="aling-middle bi ms-1" width="12px" height="12px" fill="currentColor">
											<use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#arrow-up" />
										</svg>
									</a>
								</template>
								<template x-if="i < column(board.status).length - 1">
									<a class="d-block p-1" @click="$store.tasksData.moveBelow(t, column(board.status)[i + 1])" style="cursor: pointer;">
										<svg class="aling-middle bi ms-1" width="12px" height="12px" fill="currentColor">
											<use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#arrow-down" />
										</svg>
									</a>
								</template>
							</div>
						{% endif %}
					</div> -->
					<div class="flex-fill mt-1 ms-2" @click="handleOpenPreviewModal()" style="cursor: pointer; font-size: 0.9em;">
						<h6 class="mb-0 fw-bold" x-text="currentTask.intent"></h6>
						
						<div class="pt-2 my-2" :class="canAdministrate && currentTask.content === '' && 'border border-warning'">
							<div class="d-flex flex-column">
								<span class="align-middle text-grey-dark tiny" x-text="`le ${formatDate(currentTask.created_on)}`" style="line-height: 20px"></span>
								<div class="tiny">
									<span class="text-grey-dark">par </span>
									<img class="rounded-circle d-inline-block" width="20px" height="20px"
									:src="gravatar_url(currentTask.created_by.email, 25)" data-bs-toggle="tooltip" data-bs-placement="bottom"
										:title="`${currentTask.created_by.first_name} ${currentTask.created_by.last_name}`" style="z-index: 1000;" tabindex="0" />
									<span :class="!currentTask.created_by.is_active && 'inative-status'" class="ms-1 fst-italic" x-text="`${currentTask.created_by.first_name} ${currentTask.created_by.last_name}`"
									style="line-height: 20px"></span>
									<template x-if="currentTask.created_by.profile.organization_position">
										<span x-text="currentTask.created_by.profile.organization_position" class="fst-italic text-muted"></span>
									</template>
								</div>
								<div class="text-grey-dark d-flex align-items-center tiny me-3 responsive-flex-column mt-1">
									<svg class="align-middle bi me-1"
										width="18px"
										height="15px"
										fill="currentColor">
										<use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#chat-square" />
									</svg>
									<span class="tiny" x-text="currentTask.resource_id ? currentTask.comments_count + 1  + ' messages' : currentTask.comments_count + ' messages'"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- <div class="border-top p-2 d-flex justify-content-between" style="font-size: 0.8em">
				<div class="d-flex align-items-center">
					<div class="text-primary position-relative" @click="onPreviewClick(currentTask.id)" style="cursor: pointer;">
						<svg class="bi ms-1" width="16px" height="16px" fill="currentColor">
							<use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#chat" />
						</svg>
						<span x-text="currentTask.resource_id ? currentTask.comments_count + 1  : currentTask.comments_count"></span>
					</div>
				</div>

				<div class="d-flex align-items-center"
					x-data="{ hasReminders: currentTask.reminders.length > 0, reminder: currentTask.reminders[0] }">
					<div class="me-2" :class="hasReminders ? 'text-primary' : 'text-muted'" :style="isOldReminder(currentTask.reminders[0]) ? 'color:#6c757d !important;' : ''" data-bs-toggle="tooltip"
						data-bs-placement="bottom" :title="reminderTooltip(t)" @click="onReminderClick(currentTask.id)"
						style="cursor: pointer;">
						<svg class="aling-middle bi ms-1" width="16px" height="16px" fill="currentColor">
							<use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#alarm" />
						</svg>
					</div>
					{% if "manage_tasks" in user_project_perms and not disable_edit %}
					<div class="dropdown">
						<a :id=`task-${currentTask.id}-edit-button` class="btn btn-sm btn-info dropdown-toggle" style="font-size: 0.8em;" href="#" role="button"
							id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
							Éditer
						</a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<li><a :id=`task-${currentTask.id}-update-button` class="dropdown-item" :href="editTaskUrl(currentTask.id)">Modifier</a></li>
							<template x-if="currentTask.content !== '' && !currentTask.public">
								<li><a class="dropdown-item" style="cursor: pointer;" @click="onSetTaskPublic(currentTask.id, true)">Publier</a>
								</li>
							</template>
							<template x-if="currentTask.public">
								<li><a class="dropdown-item" style="cursor: pointer;" @click="onSetTaskPublic(currentTask.id, false)">Passer en
										brouillon</a></li>
							</template>
							<li>
								<form method="POST" :action="deleteTaskReminderUrl(currentTask.id)">
									{% csrf_token %}
									<button class="dropdown-item">Supprimer le rappel</button>
								</form>
							</li>
							
							<li>
								<a :id=`task-${t.id}-delete-button` class="dropdown-item text-danger" style="cursor: pointer;" @click="handleOpenDeleteModal()">Supprimer</a>
							</li>
						</ul>
					</div>
					{% endif %}
				</div>
			</div> -->
		</div>
	</div>
