{% extends "base.html" %}

{% load static %}
{% load sass_tags %}

{% block js %}
<script src="{% static 'projects/js/access_update.js' %}"></script>
{% endblock %}

{% block content %}

<div class="col-9 py-5 mx-auto">
    <h2 class="mb-3">
        <span class="align-middle">Options de partage</span>
    </h2>


    <div class="row">
        <section class="mt-5 col-7">
            <div>
                <h3 class="fs-5">Lien public vers le projet</h3>
                <p>Partagez ce lien pour donner accès en lecture seule à la page Connaissance du site</p>
                <div x-data="access_update_app('{{ request.scheme }}://{{ request.get_host  }}{% url 'projects-project-sharing-link' project.ro_key %}')" class="input-group input-group-lg">
                    <input type="text" readonly class="form-control fst-italic" :value="url" x-ref="input" @focus="selectText()" />
                    <button class="btn btn-outline-primary" @click="clipboardCopy()" x-ref="button">
                        <svg class="bi align-baseline" width="16" height="16" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#clipboard" x-show="!isCopied" />
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#clipboard-check" x-show="isCopied" />
                        </svg>
                    </button> 
                </div>

            </div>

            <div>
                <h5 class="mt-4 fs-6">{{ project.members.all|length }} Collaborat{{ project.members.all|length|pluralize:"eur,eurs" }}</h5>
                <ul class="list-group">
                    {% for membership in project.projectmember_set.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="align-middle">
                            {{ membership.member.get_full_name|default:membership.member }}
                        </div>
                        <div>
                            {% if membership.is_owner is False %}
                            <form id="form-projects-access-remove-user" action="{% url 'projects-access-delete' project.pk email %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-outline-danger btn-sm">Supprimer</button>
                            </form>
                            {% else %}
                            <div class="fst-italic my-1">Usager principal</div>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <h5 class="mt-4 fs-6">{{ project.switchtenders.all|length }} Aiguilleur·se{{ project.switchtenders|length|pluralize:"·s" }}</h5>
                <ul class="list-group">
                    {% for switchtender in project.switchtenders.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="align-middle">
                            {{ switchtender.get_full_name }}
                        </div>
                        <div>
                            <div class="fst-italic my-1">Aiguilleur·se</div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <h5 class="mt-4 fs-6">
                    <svg class="align-middle bi" width="14px" height="14px" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#hourglass-split"/>
                    </svg>

                    <span>
                        {{ pending_invites|length }} Invitation{{ pending_invites|length|pluralize }}
                    </span>
                </h5>

                <ul class="list-group">
                    {% for invite in pending_invites %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="align-middle">
                            {{ invite.email }} - <em>invité·e par {{ invite.inviter }}</em>
                        </div>
                        <div>
                            <div class="fst-italic my-1">{{ invite.get_role_display }}</div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="mt-5 col-5 bg-light rounded p-3">
            <h3 class="fs-5">Partagez le dossier</h3>
            <p class="mb-4">
                Profil collaborateur : similaire aux droits du demandeur initial, pour travailler à plusieurs au sein de la collectivité par exemple.
                <br />
                Profil aiguilleur : acteur invité à conseiller le dossier aux côté des aiguilleurs déjà présents
            </p>
            <form class="form" id="form-projects-access-add-user" action="." method="post">
                <div class="mb-3">
                    <label class="form-label fw-bolder" for="invite-email">Email de votre collaborateur·trice</label>
                    <input id="invite-email" type="text" name="email" required class="form-control {% if form.email.errors %}is-invalid{% endif %}" placeholder="camille@region-hdf.fr" value="{{ form.email.value|default:'' }}"/>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bolder" for="invite-role">Type d'invitation</label>

                    <div class="position-relative bg-white border rounded p-3 mb-2">
                        <input name="{{ form.role.html_name }}" type="radio" id="role-switchtender" value="SWITCHTENDER" style="transform: scale(1.2);">
                        <label for="role-switchtender" class="position-absolute w-100 h-100 top-0 left-0"><span class="visually-hidden">Aiguilleur·se</span></label>
                        <span class="ms-1">Aiguilleur·se</span>
                    </div>

                    <div class="position-relative bg-white border rounded p-3 mb-2">
                        <input name="{{ form.role.html_name }}" type="radio" id="role-collaborator" value="COLLABORATOR" style="transform: scale(1.2);">
                        <label for="role-collaborator" class="position-absolute w-100 h-100 top-0 left-0"><span class="visually-hidden">Collaborateur·rice</span></label>
                        <span class="ms-1">Collaborateur·rice</span>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bolder" for="invite-message">Message d'invitation (optionnel)</label>
                    <textarea id="invite-message" rows="8" name="message" class="form-control {% if form.message.errors %}is-invalid{% endif %}" placeholder="J'aimerais vous inviter car...">{{ form.message.value|default:'' }}</textarea>
                </div>

                <button class="btn btn-primary" type="submit">
                    Envoyer l'invitation
                </button>

                {% csrf_token %}
                {{ form.media }}
            </form>
        </section>
    </div>
</div>
{% endblock %}
