{% extends "projects/project/detail.html" %}
{% load static %}
{% load sass_tags %}
{% load django_vite %}
{% block js %}
    <script src="{% static 'projects/js/access_update.js' %}"></script>
    {% vite_asset 'js/apps/projectAdministration.js' %}
{% endblock %}
{% block project_detail %}
    {% include 'projects/project/navigation.html' with administration_panel=True %}
    <div class="row">
        <div class="col-12">
            <h6 class="text-uppercase fw-bold d-block mb-3 font-small">informations générales</h6>
            <form method="post"
                  action="{% url 'projects-project-administration' project.pk %}"
                  class="{% if project_form.errors %}was-validated{% endif %}">
                {% csrf_token %}
                {% if project_form.errors %}
                    <div class="border border-danger rounded mb-3 pt-3 text-danger">{{ project_form.errors }}</div>
                {% endif %}
                <div class="row mb-3">
                    <div class="col">
                        <label class="mb-2 text-info-custom text-grey-dark"
                               for="{{ project_form.name.id_for_label }}">
                            {{ project_form.name.label }}
                        </label>
                        <input type="text"
                               class="py-3 placeholder-grey form-control {% if project_form.name.errors %}is-invalid{% endif %}"
                               id="{{ project_form.name.id_for_label }}"
                               name="{{ project_form.name.name }}"
                               placeholder="Nom du projet"
                               value="{{ project_form.name.value }}"
                               required/>
                        {% for error in project_form.name.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="mb-2 text-info-custom text-grey-dark"
                               for="input-project-address">Adresse</label>
                        <input type="text"
                               class="py-3 placeholder-grey form-control {% if project_form.location.errors %}is-invalid{% endif %}"
                               id="input-project-address"
                               name="{{ project_form.location.name }}"
                               placeholder="Adresse"
                               value="{{ project_form.location.value|default:'' }}"
                               required/>
                        {% for error in project_form.location.errors %}<div class="text-danger text-end">{{ error }}</div>{% endfor %}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="text-info-custom text-grey-dark"
                               for="input-project-description">Contexte du projet</label>
                        <textarea maxlength="500" class="placeholder-grey form-control {% if project_form.description.errors %}is-invalid{% endif %}" style="height: 100px;" id="input-project-description" name="{{ project_form.description.name }}" placeholder="">{{ project_form.description.value|default:'' }}</textarea>
                        {% for error in project_form.description.errors %}<div class="text-danger text-end">{{ error }}</div>{% endfor %}
                    </div>
                </div>
                <div class="row mb-3"
                     x-data="CitySearch()"
                     x-init="{% if project_form.postcode.value and project_form.insee.value %}getPostcode({{ project_form.postcode.value }},{{ project_form.insee.value }}){% elif project_form.postcode.value %} setPostcode({{ project_form.postcode.value }}){% endif %}">
                    <div class="col-auto">
                        <div class="mb-3">
                            <label class="text-info-custom text-grey-dark" for="input-project-address">{{ project_form.postcode.label }}</label>
                            <input :disabled="isLoading"
                                   @change.debounce="fetchCities()"
                                   x-model="postal"
                                   type="text"
                                   class="py-4 placeholder-grey form-control {% if project_form.postcode.errors %}is-invalid{% endif %}"
                                   id="input-project-address"
                                   name="{{ project_form.postcode.name }}"
                                   placeholder="Code Postal"
                                   required/>
                            {% for error in project_form.postcode.errors %}<div class="text-danger text-end">{{ error }}</div>{% endfor %}
                        </div>
                    </div>
                    <div class="mb-3 col-auto">
                        <label class="text-info-custom text-grey-dark" for="input-project-address">Commune</label>
                        <select style="padding: 12px 10px;
                                       border-radius: 0.25rem"
                                x-ref="insee"
                                name="insee"
                                class="form-select"
                                x-bind:disabled="!cities">
                            <template x-if="cities && cities.length == 0 && postal">
                                <option selected>
                                    Aucune commune trouvée, vérifiez le code postal ?
                                </option>
                            </template>
                            <template x-if="cities">
                                <template x-for="city in cities" :key="city.insee">
                                    <option :value="city.insee" x-text="city.name">
                                    </option>
                                </template>
                            </template>
                        </select>
                    </div>
                </div>
                <button type="submit" class="button filled">Modifier les informations du projet</button>
            </form>
        </div>
        <hr class="mt-4"/>
        <div x-data="ProjectShare" class="row mt-2">
            <h6 class="text-uppercase fw-bold d-block mb-3 font-small">Gestion des utilisateurs</h6>
            <div class="col">
                <p class="text-info-custom mb-2">Équipe de suvi</p>
                <a style="cursor: pointer"
                   @click="openInviteSwitchtenderModal"
                   data-toggle="modal"
                   data-target="#InviteSwitchtenderModal"
                   class="{% if project.status == 'DRAFT' %} disabled{% endif %} button d-inline-flex justify-content-center w-100 mb-4">
                    {% if project.status == 'DRAFT' %}
                        <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#lock-fill" />
                        </svg>
                        &nbsp;
                    {% endif %}
                    <span>Inviter un conseiller</span>
                </a>
                <ul class="d-flex flex-column list-unstyled mb-0">
                    {% for advisor in project.switchtenders_on_site.all %}
                        <li class="d-flex align-items-center">
                            {% include 'projects/project/fragments/advisor_item.html' with advisor=advisor %}
                            {% if request.user == advisor.switchtender %}
                                <form id="projects-project-switchtender-leave"
                                      action="{% url 'projects-project-switchtender-leave' project.pk %}"
                                      method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-outline-danger btn-sm">
                                        <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                                            <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#x" />
                                        </svg>
                                    </button>
                                </form>
                            {% else %}
                                <form id="form-projects-access-remove-user"
                                      action="{% url 'projects-project-access-advisor-delete' project.pk advisor.switchtender.email %}"
                                      method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-outline-danger btn-sm">
                                        <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                                            <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#x" />
                                        </svg>
                                    </button>
                                </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <hr class="my-4"/>
                <p class="text-info-custom mb-4 mt-1">Invitations conseiller·e·s</p>
                <ul class="list-group">
                    {% for invite in pending_invites %}
                        {% if invite.role == "SWITCHTENDER" %}
                            <li class="d-flex justify-content-between align-items-start mb-1">
                                {% include 'projects/project/fragments/user_invited.html' with user_invited=invite %}
                                <div class="d-flex align-items-center">
                                    <form action="{% url 'projects-project-access-advisor-resend-invite' project.pk invite.pk %}" method="post">
                                        {% csrf_token %}
                                        <button class="btn btn-outline-primary btn-sm">
                                            <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                                                <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#mailbox" />
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col">
                <p class="text-info-custom mb-2">Membres de la collectivité</p>
                <a style="cursor: pointer"
                   @click="openInviteMemberModal"
                   data-toggle="modal"
                   data-target="#InviteMemberModal"
                   class="{% if project.status == 'DRAFT' %} disabled{% endif %} button d-inline-flex justify-content-center w-100 mb-4">
                    {% if project.status == 'DRAFT' %}
                        <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#lock-fill" />
                        </svg>
                    {% endif %}
                    <span>Inviter un membre de la collectivité</span>
                </a>
                <ul class="flex-column list-unstyled mb-0">
                    {% for member in project.members.all %}
                        {% if forloop.counter0 == 0 %}
                            <li class="d-flex align-items-start justify-content-between">
                                {% include 'projects/project/fragments/project_owner.html' with project=project %}
                                <span class="ms-1 text-lowercase"
                                      style="color: #666666;
                                             font-style: italic;
                                             font-weight: 300">Référent du projet</span>
                            </li>
                        {% else %}
                            <li class="d-flex align-items-start justify-content-between">
                                {% include 'projects/project/fragments/user.html' with member=member project=project %}
                                <div class="d-flex align-items-center">
                                    <!-- <form action="" method="post" class="me-2">
                                        {% csrf_token %}
                                        <button class="button small">Faire devenir référent</button>
                                    </form> -->
                                    <form id="form-projects-access-remove-user"
                                          action="{% url 'projects-project-access-collectivity-delete' project.pk member.email %}"
                                          method="post">
                                        {% csrf_token %}
                                        <button class="btn btn-outline-danger btn-sm">
                                            <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                                                <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#x" />
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <hr class="my-4"/>
                <p class="text-info-custom mb-4 mt-1">Invitations participant·e·s</p>
                <ul class="list-group">
                    {% for invite in pending_invites %}
                        {% if invite.role == "COLLABORATOR" %}
                            <li class="d-flex justify-content-between align-items-start mb-1">
                                {% include 'projects/project/fragments/user_invited.html' with user_invited=invite %}
                                <div class="d-flex align-items-center">
                                    <form action="{% url 'projects-project-access-collectivity-resend-invite' project.pk invite.pk %}" method="post">
                                        {% csrf_token %}
                                        <button class="btn btn-outline-primary btn-sm">
                                            <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                                                <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#mailbox" />
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% include "projects/project/fragments/share/invite_member.html" with source="admin" %}
            {% include "projects/project/fragments/share/invite_switchtender.html" with source="admin" %}
        </div>
    </div>
{% endblock %}
