{% extends "base.html" %}

{% load humanize %}
{% load static %}

{% load sass_tags %}

{% block css %}
<link href="{% sass_src 'resources/resources.scss' %}" rel="stylesheet" type="text/css">
<link href="{% sass_src 'resources/resource_card.scss' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block js %}
<script type="text/javascript">
 function textFoldToggle(id) {
     var excerpt = document.getElementById("excerpt-" + id);
     var moreText = document.getElementById("more-" + id);
     var btnText = document.getElementById("foldBtn-" + id);

     if (moreText.style.display === "inline") {
         excerpt.style.display = "inline";
         btnText.innerHTML = "[Lire tout]";
         moreText.style.display = "none";
     } else {
         excerpt.style.display = "none";
         btnText.innerHTML = "[Réduire]";
         moreText.style.display = "inline";
     }
 }
</script>

<script type="text/javascript">
$(document).ready(function(){
    var url = document.location.toString();
    if (url.match('#')) {
        activateTab(url.split('#')[1]);
    }
});

function activateTab(tab){
    $('#' + tab + '-tab').get(0).click();
};

</script>
{% endblock %}


{% block content %}

<div class="col-11 py-5 mx-auto">

    <h1 class=" align-items-center">
        <svg class="bi" width="40" height="40" fill="currentColor">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#building"/>
        </svg>
        {{ project.name|title }}
    </h1>

    <div class="row">
        <div class="col-md-9">

            <span class="align-items-center link-dark text-decoration-none">
                <svg class="bi" width="16" height="16" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#person-fill"/>
                </svg>

                <strong>Référent&middot;e : {{ project.first_name }} {{ project.last_name }}</strong>
                {% if project.org_name %}
                <span class="text-secondary">({{ project.org_name|title }})</span>
                {% endif %}
            </span>
            <div>
                <!-- Email -->
                <svg class="bi" width="16" height="16" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#envelope"/>
                </svg>
                <a class="d-inline" href="mailto:{{ project.email }}"  data-bs-toggle="tooltip" title="Envoyer un courriel">{{ project.email }}</a>

                <!-- Phone -->
                {% if project.phone %}
                &nbsp;&nbsp;
                <svg class="bi" width="16" height="16" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#telephone"/>
                </svg>
                <a class="d-inline" href="tel:{{ project.phone }}"  data-bs-toggle="tooltip" title="Appeler">
                    {{ project.phone }}
                    <span class="visually-hidden">Téléphoner</span>
                </a>
                {% endif %}
            </div>


            <div class="col-lg-10 py-3 px-0">
                <p class="lead">{{ project.description|linebreaks|default:'Aucune description.' }}</p>

                <!--<p>Le site est situé sur la commune d'<a href="#">Attignéville (88015), rue des Viviers</a>. Il concerne la parcelle cadastrale numéro <a href="#">A59</a>.</p> -->

                <p>
                    <svg class="bi" width="16" height="16" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#geo-alt"/>
                    </svg>
                    Le site est situé à <a href="https://nominatim.openstreetmap.org/ui/search.html?q={{ project.location|urlencode }}" target="_new" >{{ project.location }}</a>
                    {% if project.commune %}
                    ({{ project.commune.postal }}, {{ project.commune.department }} - {{ project.commune.department.region }})
                    {% endif %}
                    .
                </p>
            </div>

        </div>
        <div id="project-sidebar" class="col-md-3 border-start h-100">
            <p class="small text-secondary d-inline">
                <svg class="bi" width="16" height="16" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#clock-history"/>
                </svg>
                &nbsp;
                Fiche crée <em>{{ project.created_on|naturalday }}</em> et modifiée <em>{{ project.updated_on|naturaltime }}</em>.
            </p>

            <div class="d-grid gap-2 mt-3">
                {% if user.is_staff or can_administrate %}
                <span class="d-inline-block"> 
                    <a href="{% url 'projects-access-update' project.id %}" class="btn btn-light w-100 btn-sm">
                        <svg class="bi" width="16" height="16" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#lock"/>
                        </svg>
                        &nbsp;
                        Gérer les accès
                    </a>
                </span>
                {% endif %}
                {% if user.is_staff %}
                <span class="d-inline-block"> 
                    <a href="{% url 'projects-project-update' project.id %}" class="btn btn-light w-100 btn-sm">
                        <svg class="bi" width="16" height="16" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#pencil"/>
                        </svg>
                        &nbsp;
                        Éditer
                    </a>
                </span>
                <span class="d-inline-block"> 
                    <form method="POST" action="{% url 'projects-push-resource' project.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-light w-100 btn-sm" role="submit">
                            <svg class="bi" width="16" height="16" fill="currentColor">
                                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#layer-forward"/>
                            </svg>
                            &nbsp;
                            Pousser une ressource
                        </button>
                    </form>
                </span>
                <span class="d-inline-block">
                    <a class="btn btn-light w-100 btn-sm"  href="{% url 'projects-create-task' project.id %}">
                        <svg class="bi me-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#journal-plus"/>
                        </svg>
                        Ajouter une action
                    </a>
                </span>
                {% endif %}
            </div>


            <!--
                 <p>
                 <span class="align-items-center link-dark text-decoration-none">
                 <img src="https://github.com/salomeDeschenes.png" alt="" width="32" height="32" class="rounded-circle me-2">
                 <strong>Salomé D.</strong>
                 </span> est votre <strong>accompagnatrice</strong> UrbanVitaliz sur ce projet. N'hésitez pas à <strong>prendre rendez-vous</strong> pour lui <strong>poser vos questions</strong> et faire avancer votre projet.

                 </p>

                 <button type="button" class="btn btn-primary mr-3" data-toggle="modal" data-target="#exampleModal">
                 <svg class="bi" width="16" height="16" fill="currentColor">
                 <use xlink:href="node_modules/bootstrap-icons/bootstrap-icons.svg#telephone"/>
                 </svg>
                 Prendre rendez-vous
                 </button>

                 ou <a href="#">poser une question</a>.
                 </button>

            -->

        </div>
    </div>


    <div id="project-sections" class="row">
        <ul class="nav nav-tabs" id="project-tabs" role="tablist">
            <!-- main sheet -->
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="sheet-tab" data-bs-toggle="tab" data-bs-target="#sheet" type="button" role="tab" aria-controls="sheet" aria-selected="true">
                    <svg class="bi align-middle me-1" width="16" height="16">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#folder"/>
                    </svg>
                    <span class="align-middle">
                        Dossier
                    </span>
                </button>
            </li>

            <!-- exploration/survey -->
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="exploration-tab" data-bs-toggle="tab" data-bs-target="#exploration" type="button" role="tab" aria-controls="exploration" aria-selected="false">
                    <svg class="bi align-middle me-1" width="16" height="16">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#search"/>
                    </svg>
                    <span class="align-middle">Exploration</span>
                    {% if project.survey_session %}
                    <span class="badge rounded-pill bg-primary text-white">{{ project.survey_session.completion }}%</span>
                    {% endif %}
                </button>
            </li>


            <!-- actions -->
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="actions-tab" data-bs-toggle="tab" data-bs-target="#actions" type="button" role="tab" aria-controls="actions" aria-selected="false">
                    <span class="position-relative">
                        <svg class="bi align-middle me-1" width="16" height="16">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#card-checklist"/>
                        </svg>
                        {% if project.tasks.proposed.count %}
                        <span class="position-absolute top-0 start-50 p-1 bg-danger  rounded-circle">
                            <span class="visually-hidden">Nouvelles recommandations</span>
                        </span>
                        {% endif %}
                    </span>
                    <span class="align-middle position-relative">
                        Actions
                        {% if project.tasks.open.count > 0 %}
                        <span class="badge rounded-pill bg-primary text-white">{{ project.tasks.open.count }}</span>
                        {% endif %}
                    </span>
                </button>
            </li>
        </ul>


        <div class="tab-content" id="project-tabs-content">
            <div class="tab-pane fade show active pt-4" id="sheet" role="tabpanel" aria-labelledby="sheet">

                {% if request.GET.first_time %}

                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <h4 class="alert-heading">
                        <svg class="bi align-middle" width="40" height="40" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#check"/>
                        </svg>
                        Merci !
                    </h4>
                    <p class="mb-0"><strong>Nous avons bien reçu votre demande et allons vous contacter.</strong></p>
                    <p class="mb-0">Marquez cette page, elle vous permettra de suivre l'avancement de vos démarches et d'échanger avec l'équipe d'accompagnement.</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}


                {% if not project.tasks.count %}
                <div class="border  p-5 align-items-center">
                    <div class="w-100">
                        <p class="text-center">
                            <img src="https://github.com/salomeDeschenes.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Salomé" alt="Salomé" width="32" height="32" class="rounded-circle me-2">
                            <svg class="bi align-middle" width="40" height="40" fill="currentColor">
                                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#eyeglasses"/>
                            </svg>
                            <img src="https://github.com/anoukjn.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Anouk" alt="Anouk" width="32" height="32" class="rounded-circle ms-2">
                            <br/>

                            <h4 class="mt-1 text-center">
                                UrbanVitaliz diagnostique en ce moment votre dossier !
                            </h4>
                        </p>

                        <p class="text-center">
                            L'équipe d'aiguillage vous proposera des <strong><em>Actions</em></strong> à prendre dès l'étude terminée.

                            <br/><span class="text-secondary small">Vous serez alors prévenu.e par courriel.</span>
                        </p>
                    </div>
                </div>

                {% if not project.survey_session %}
                <div class="bd-callout bd-callout-warning text-white mb-5 position-relative" style="border-radius: 10px; background: #5DC2B0;">
                    <div class="d-flex justify-content-between w-100">
                        <h4 class="text-left flex-grow">
                            <img src="{% static 'projects/img/analyzing.gif' %}" width="50px">&nbsp;
                            Accélérez votre diagnostic !
                        </h4>

                        <a href="{% url 'survey-project-session' project.id %}" class="text-white fw-bolder text-decoration-none stretched-link">
                            <span class="align-middle">Démarrer</span><span class="fs-2 align-middle"> &#8594;</span>
                        </a>
                    </div>
                    <div class="w-100">

                        <p class="text-left fw-normal fs-5 m-0 p-0">
                            Nos aiguilleuses ont des <span class="fw-bolder">questions pour vous</span>.
                            <br/>
                            <span class="small">
                                En répondant à celles-ci, nous pourrons <span class="fw-bolder">mieux cibler votre besoin</span> dès le premier entretien.
                            </span>
                            <br/>
                        </p>
                        <div class="d-flex">
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}


                

                <!--
                     <iframe width="250"
                     height="250"
                     frameborder="0"
                     scrolling="no"
                     marginheight="0"
                     marginwidth="0"
                     src="http://www.openstreetmap.org/export/embed.html?bbox=79.84942674636841%2C6.899900944350287%2C79.85650777816772%2C6.90436374803887&amp;layers=ND"
                     style="border: 1px solid black">
                     </iframe>
                -->

                <!-- Devenir
                     <h2 class="py-3">
                     <svg class="bi" width="32" height="32" fill="currentColor">
                     <use xlink:href="node_modules/bootstrap-icons/bootstrap-icons.svg#lightbulb"/>
                     </svg>

                     Devenir du site
                     </h2>

                     <p>Besoin d'inspiration ?</p>

                     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                     <div class="modal-dialog modal-dialog-centered" role="document">
                     <div class="modal-content">
                     <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">Success!</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                     </div>
                     <div class="modal-body">
                     If you're seeing this modal after clicking the button on the page, Bootstrap's CSS and JS are both working properly.
                     </div>
                     <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                     <button type="button" class="btn btn-primary">Save changes</button>
                     </div>
                     </div>
                     </div>
                     </div>
                -->

                {% if project.survey_session.answers.count > 0  or project.tasks.count %}
                <div class="bd-callout bd-callout-info position-relative mb-5">
                    <h4 class="mb-3">👋 Rebonjour !</h4>
                    {% if project.survey_session and project.survey_session.completion != 100 %}
                    <p>
                        N'hésitez pas à continuer l'<strong>exploration de votre site</strong> en cliquant sur l'onglet "<strong>Exploration</strong>".
                    </p>
                    {% endif %}

                    {% if project.tasks.open.count %}
                    <p>
                        Des <strong>recommandations d'actions</strong> de nos aiguilleuses vous attendent ! Cliquez sur l'onglet "<strong>Actions</strong>" pour y accéder.
                    </p>
                    {% endif %}

                </div>
                {% endif %}

                {% if project.survey_session and project.survey_session.answers.count == 0 %}

                <div class="bd-callout bd-callout-warning text-white position-relative mb-5" style="border-radius: 10px; background: #5DC2B0;">
                    <div class="d-flex justify-content-between w-100">
                        <h4 class="text-left flex-grow m-0 p-0">
                            <img src="{% static 'projects/img/analyzing.gif' %}" width="50px">
                            &nbsp;
                            Nous avons des questions pour vous
                        </h4>

                        <a href="{% url 'survey-project-session' project.id %}" class="text-white fw-bolder text-decoration-none stretched-link">
                            <span class="align-middle">Répondre</span><span class="fs-2 align-middle"> &#8594;</span>
                        </a>
                    </div>
                </div>
                {% endif %}


                <!-- Notes de suivi -->
                <div class="w-100">
                    <h2 class="mb-3 d-inline-block">
                        <svg class="bi" width="28" height="28" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#pen"/>
                        </svg>
                        Notes de suivi
                    </h2>
                    {% if user.is_staff %}
                    <a class="btn btn-light mb-1 d-inline-block float-end"  href="{% url 'projects-create-note' project.id %}">
                        <svg class="bi me-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#plus-circle"/>
                        </svg>
                        Ajouter une note
                    </a>
                    {% endif %}
                </div>

                {% if user.is_staff %}
                {% include "projects/project/fragments/note_list.html" with notes=project.notes.all %}
                {% else %}
                {% include "projects/project/fragments/note_list.html" with notes=project.notes.public %}
                {% endif %}

            </div>
            <!-- TAB: exploration -->
            <div class="tab-pane fade pt-4" id="exploration" role="tabpanel" aria-labelledby="exploration">
                {% include "projects/project/fragments/exploration.html" with session=project.survey_session %}
            </div>

            <!-- TAB: actions -->
            <div class="tab-pane fade pt-4" id="actions" role="tabpanel" aria-labelledby="actions">

                {% include "projects/project/fragments/actions.html" %}

                <!-- 
                     <h4>Ressources connexes</h4>
                     <div class="text-secondary">
                     {% for bookmark in project.bookmarks.all %}
                     <ul>
                     <li><a href="{% url "resources-resource-detail" bookmark.resource.id %}">{{ bookmark.resource.title }}</a>
                     {% if bookmark.comments %}
                     <q>{{ bookmark.comments }}</q>
                     {% endif %}
                     <br/>
                     <span class="small text-secondary">{% if bookmark.created_by %}(via {{ bookmark.created_by.get_full_name|default:bookmark.created_by }}){% endif %}</span>
                     </li>
                     </ul>
                     {% empty %}
                     <div class="mb-3 mt-3">
                     <svg class="bi me-1" width="20" height="20" fill="currentColor">
                     <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#lightbulb"/>
                     </svg>
                     Pour vous aider dans vos démarches, n'hésitez pas à <a href="{% url 'resources-resource-search' %}">identifier des ressources et les mettre en favoris</a>.
                     </div>
                     {% endfor %}
                     </div>
                -->
            </div>

        </div>
    </div>
</div>
<section>

</section>

{% endblock %}

