{% extends "base.html" %}

{% load humanize %}
{% load static %}

{% load sass_tags %}

{% block css %}
<link href="{% sass_src 'resources/resources.scss' %}" rel="stylesheet" type="text/css">
<link href="{% sass_src 'resources/resource_card.scss' %}" rel="stylesheet" type="text/css">
<link href="{% sass_src 'projects/css/project.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function(){
    activateTab();

    window.addEventListener('hashchange', function() {
        activateTab()
    });
});

// Change hash for page-reload
$('.nav-tabs button').on('shown.bs.tab', function (e) {

    window.location.hash = $(e.target).data("bs-target");
    window.scrollBy(0, 0);
})

function activateTab(){
    var url = document.location.toString();
    if (url.match('#')) {
        let hash = url.split('#')[1]
        $('#' + hash + "-tab").get(0).click();
    }
};

</script>
{% endblock %}


{% block content %}

<div class="col-11 py-5 mx-auto">

    <h1 class=" align-items-center">
        <svg class="bi" width="40" height="40" fill="currentColor">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#building"/>
        </svg>
        {{ project.name|title }}
    </h1>

    {% if can_administrate %}
    <div class="row">
        <div class="bd-callout">
            Ceci est une prévisualisation de ce que verront les personnes disposant du lien de partage.
            <br>
            <strong>Lien de partage :</strong> <a target="_new" href="{{ request.scheme }}://{{ request.get_host  }}{% url 'projects-project-sharing-link' project.ro_key %}">{{ request.scheme }}://{{ request.get_host  }}{% url 'projects-project-sharing-link' project.ro_key %}</a>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-9">
            {% include "projects/project/fragments/summary.html" %}
        </div>
        {% if project.survey_session %}
        <div>
            {% include "projects/project/fragments/exploration.html" with session=project.survey_session %}
        </div>
        {% endif %}

        <div class="tab-content" id="project-tabs-content">
            <div class="tab-pane  show active pt-4" id="sheet" role="tabpanel" aria-labelledby="sheet">

                <!-- Notes de suivi -->
                <div class="w-100">
                    <h2 class="mb-3 d-inline-block">
                        <svg class="bi" width="28" height="28" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#pen"/>
                        </svg>
                        Notes de suivi
                    </h2>
                    {% if user.is_staff %}
                    <a class="btn btn-light mb-1 d-inline-block float-end"  href="{% url 'projects-create-note' project.id %}">
                        <svg class="bi me-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#plus-circle"/>
                        </svg>
                        Ajouter une note
                    </a>
                    {% endif %}
                </div>

                {% if user.is_staff %}
                {% include "projects/project/fragments/note_list.html" with notes=project.notes.all %}
                {% else %}
                {% include "projects/project/fragments/note_list.html" with notes=project.notes.public %}
                {% endif %}

            </div>
            <!-- TAB: exploration -->
            <div class="tab-pane pt-4" id="exploration" role="tabpanel" aria-labelledby="exploration">
                {% include "projects/project/fragments/exploration.html" with session=project.survey_session %}
            </div>

            <!-- TAB: actions -->
            <div class="tab-pane pt-4" id="actions" role="tabpanel" aria-labelledby="actions">

                {% include "projects/project/fragments/actions.html" %}

                <!-- 
                     <h4>Ressources connexes</h4>
                     <div class="text-secondary">
                     {% for bookmark in project.bookmarks.all %}
                     <ul>
                     <li><a href="{% url "resources-resource-detail" bookmark.resource.id %}">{{ bookmark.resource.title }}</a>
                     {% if bookmark.comments %}
                     <q>{{ bookmark.comments }}</q>
                     {% endif %}
                     <br/>
                     <span class="small text-secondary">{% if bookmark.created_by %}(via {{ bookmark.created_by.get_full_name|default:bookmark.created_by }}){% endif %}</span>
                     </li>
                     </ul>
                     {% empty %}
                     <div class="mb-3 mt-3">
                     <svg class="bi me-1" width="20" height="20" fill="currentColor">
                     <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#lightbulb"/>
                     </svg>
                     Pour vous aider dans vos démarches, n'hésitez pas à <a href="{% url 'resources-resource-search' %}">identifier des ressources et les mettre en favoris</a>.
                     </div>
                     {% endfor %}
                     </div>
                -->
            </div>

        </div>
    </div>
</div>
<section>

</section>

{% endblock %}

