{% extends "base.html" %}

{% load humanize %}
{% load static %}

{% load sass_tags %}

{% block css %}
<link href="{% sass_src 'resources/resources.scss' %}" rel="stylesheet" type="text/css">
<link href="{% sass_src 'resources/resource_card.scss' %}" rel="stylesheet" type="text/css">
<link href="{% sass_src 'projects/css/project.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>


<script type="text/javascript">
 $(document).ready(function(){
     activateTab();

     window.addEventListener('hashchange', function() {
         activateTab()
         window.dispatchEvent(new Event('resize'));
     });

     window.dispatchEvent(new Event('resize'));

     $(function () {
         $('[data-toggle="tooltip"]').tooltip()
     })
 });

 // Change hash for page-reload
 $('.nav-tabs button').on('shown.bs.tab', function (e) {

     window.location.hash = $(e.target).data("bs-target");
     window.scrollBy(0, 0);
 })

 function activateTab(){
     var url = document.location.toString();
     if (url.match('#')) {
         let hash = url.split('#')[1]
         $('#' + hash + "-tab").get(0).click();
     }
     else {
         {% if is_switchtender %}
         $("#sheet-tab").get(0).click();
         {% else %}
         $("#actions-tab").get(0).click();
         {% endif%}
     };
 };


</script>
{% endblock %}


{% block content %}

<div class="col-10 py-5 mx-auto">

    <h1 class="fw-bold">
        <svg class="bi align-middle" width="40" height="40" fill="currentColor">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#building"/>
        </svg>
        <span class="align-middle">
            {{ project.name|title }} &nbsp;{% if project.muted %} <svg data-toggle="tooltip" data-placement="top" title="Notifications désactivées" class="align-middle bi bg-warning p-2 rounded-circle" width="40px" height="40px" fill="currentColor">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#volume-mute"/> {% endif %}
            </svg>
        </span>
    </h1>

    <div class="row">
        <div class="col-md-9">
            {% include "projects/project/fragments/summary.html" %}
        </div>
        {% include "projects/project/fragments/sidebar.html" %}
    </div>

    <div class="row">
        {% if project.status == "DRAFT" %}
        <div class="border mb-4 p-4 align-items-center">
            <div class="w-100">
                <p class="text-center d-flex justify-content-center flex-column">
                    <span class="mb-2">
                        <svg class="align-middle bi" width="28px" height="28px" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#hourglass-split"/>
                        </svg>
                    </span>

                    <span class="align-middle fs-4">Un peu de patience, on vérifie que vous n'êtes pas un pirate du web ;)</span>
                    <br/>
                    <span class="align-middle text-secondary">Dès que l'équipe UrbanVitaliz aura validé votre dossier, vous pourrez faire plus de choses sur votre dossier ! Par exemple, le partager à des collaborateur·rice·s.</span>

                </p>
            </div>
        </div>
        {% endif %}
    </div>

    <div id="project-sections" class="row">
        <ul class="nav nav-tabs" id="project-tabs" role="tablist">
            <!-- exploration/survey -->
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if is_switchtender == False %}active{% endif %}" id="exploration-tab" data-bs-toggle="tab" data-bs-target="#exploration" type="button" role="tab" aria-controls="exploration" aria-selected="{% if is_switchtender %}false{% else %}true{% endif %}">
                    <svg class="bi align-middle me-1" width="16" height="16">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#search"/>
                    </svg>
                    <span class="align-middle">Connaissance du site</span>
                    <span class="badge rounded-pill bg-primary text-white">{{ project.survey_session.completion|default:"0" }}%</span>
                </button>
            </li>


            <!-- actions -->
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="actions-tab" data-bs-toggle="tab" data-bs-target="#actions" type="button" role="tab" aria-controls="actions" aria-selected="false">
                    <span class="position-relative">
                        <svg class="bi align-middle me-1" width="16" height="16">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#card-checklist"/>
                        </svg>
                        {% if project.tasks.proposed.count %}
                        <span class="position-absolute top-0 start-50 p-1 bg-danger  rounded-circle">
                            <span class="visually-hidden">Nouvelles recommandations</span>
                        </span>
                        {% endif %}
                    </span>
                    <span class="align-middle position-relative">
                        Actions
                        {% if project.tasks.open.count > 0 %}
                        <span class="badge rounded-pill bg-primary text-white">{{ project.tasks.open.count }}</span>
                        {% endif %}
                    </span>
                </button>
            </li>

            <!-- main sheet -->
            <li class="nav-item {% if is_switchtender %}active{% endif %}" role="presentation">
                <button class="nav-link" id="sheet-tab" data-bs-toggle="tab" data-bs-target="#sheet" type="button" role="tab" aria-controls="sheet" aria-selected="{% if is_switchtender %}true{% else %}false{% endif %}">
                    <svg class="bi align-middle me-1" width="16" height="16">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#chat-dots"/>
                    </svg>
                    <span class="align-middle">
                        Conversations
                    </span>
                </button>
            </li>


            <!-- Follow up -->
            {% if is_switchtender %}
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="activity-tab" data-bs-toggle="tab" data-bs-target="#activity" type="button" role="tab" aria-controls="activity" aria-selected="false">
                    <svg class="bi align-middle me-1" width="16" height="16">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#list-stars"/>
                    </svg>
                    <span class="align-middle">Suivi Interne</span>
                </button>
            </li>
            {% endif %}
        </ul>


        <div class="tab-content" id="project-tabs-content">
            <!-- TAB: exploration -->
            <div class="tab-pane show {% if not is_switchtender %}active{% endif %}" pt-4" id="exploration" role="tabpanel" aria-labelledby="exploration">
                {% include "projects/project/fragments/exploration.html" with session=project.survey_session %}
            </div>

            <!-- TAB: actions -->
            <div class="tab-pane pt-4" id="actions" role="tabpanel" aria-labelledby="actions">
                {% include "projects/project/fragments/reminder_modal.html" %}
                {% include "projects/project/fragments/actions.html" %}

                <!--
                     <h4>Ressources connexes</h4>
                     <div class="text-secondary">
                     {% for bookmark in project.bookmarks.all %}
                     <ul>
                     <li><a href="{% url "resources-resource-detail" bookmark.resource.id %}">{{ bookmark.resource.title }}</a>
                     {% if bookmark.comments %}
                     <q>{{ bookmark.comments }}</q>
                     {% endif %}
                     <br/>
                     <span class="small text-secondary">{% if bookmark.created_by %}(via {{ bookmark.created_by.get_full_name|default:bookmark.created_by }}){% endif %}</span>
                     </li>
                     </ul>
                     {% empty %}
                     <div class="mb-3 mt-3">
                     <svg class="bi me-1" width="20" height="20" fill="currentColor">
                     <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#lightbulb"/>
                     </svg>
                     Pour vous aider dans vos démarches, n'hésitez pas à <a href="{% url 'resources-resource-search' %}">identifier des ressources et les mettre en favoris</a>.
                     </div>
                     {% endfor %}
                     </div>
                -->
            </div>

            <div class="tab-pane {% if is_switchtender %}active{% endif %} pt-4" id="sheet" role="tabpanel" aria-labelledby="sheet">

                <!--
                     {% if request.GET.first_time %}

                     <div class="alert alert-success alert-dismissible fade show" role="alert">
                     <h4 class="alert-heading">
                     <svg class="bi align-middle" width="40" height="40" fill="currentColor">
                     <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#check"/>
                     </svg>
                     Merci !
                     </h4>
                     <p class="mb-0"><strong>Nous avons bien reçu votre demande et allons vous contacter.</strong></p>
                     <p class="mb-0">Marquez cette page, elle vous permettra de suivre l'avancement de vos démarches et d'échanger avec l'équipe d'accompagnement.</p>
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                     </div>
                     {% endif %}
                -->

                <!--
                     {% if not project.tasks.count %}
                     <div class="border  p-5 align-items-center">
                     <div class="w-100">
                     <p class="text-center">
                     <img src="https://github.com/salomeDeschenes.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Salomé" alt="Salomé" width="32" height="32" class="rounded-circle me-2">
                     <svg class="bi align-middle" width="40" height="40" fill="currentColor">
                     <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#eyeglasses"/>
                     </svg>
                     <img src="https://github.com/anoukjn.png" data-bs-toggle="tooltip" data-bs-placement="top" title="Anouk" alt="Anouk" width="32" height="32" class="rounded-circle ms-2">
                     <br/>

                     <h4 class="mt-1 text-center">
                     UrbanVitaliz diagnostique en ce moment votre dossier !
                     </h4>
                     </p>

                     <p class="text-center">
                     L'équipe d'aiguillage vous proposera des <strong><em>Actions</em></strong> à prendre dès l'étude terminée.

                     <br/><span class="text-secondary small">Vous serez alors prévenu.e par courriel.</span>
                     </p>
                     </div>
                     </div>

                     {% if not project.survey_session %}
                     <div class="bd-callout bd-callout-warning text-white mb-5 position-relative" style="border-radius: 10px; background: #5DC2B0;">
                     <div class="d-flex justify-content-between w-100">
                     <h4 class="text-left flex-grow">
                     <img src="{% static 'projects/img/analyzing.gif' %}" width="50px">&nbsp;
                     Accélérez votre diagnostic !
                     </h4>

                     <a href="{% url 'survey-project-session' project.id %}" class="text-white fw-bolder text-decoration-none stretched-link">
                     <span class="align-middle">Démarrer</span><span class="fs-2 align-middle"> &#8594;</span>
                     </a>
                     </div>
                     <div class="w-100">

                     <p class="text-left fw-normal fs-5 m-0 p-0">
                     Nos aiguilleuses ont des <span class="fw-bolder">questions pour vous</span>.
                     <br/>
                     <span class="small">
                     En répondant à celles-ci, nous pourrons <span class="fw-bolder">mieux cibler votre besoin</span> dès le premier entretien.
                     </span>
                     <br/>
                     </p>
                     <div class="d-flex">
                     </div>
                     </div>
                     </div>
                     {% endif %}
                     {% endif %}

                -->

                <div>
                    {% include "projects/project/fragments/note_list.html" %}
                </div>

            </div>


            <!-- TAB: activity -->
            {% if is_switchtender %}
            <div class="tab-pane pt-4" id="activity" role="tabpanel" aria-labelledby="activity">
                {% include "projects/project/fragments/activity.html"  %}
            </div>
            {% endif %}

        </div>
    </div>
</div>
<section>

</section>

{% endblock %}

