{% extends "projects/project/detail.html" %}

{% load humanize %}
{% load static %}
{% load survey %}
{% load activity_tags %}
{% load gravatar %}

{% load sass_tags %}

{% block title %}
{{ block.super }} > Suivi Interne
{% endblock %}


{% block project_detail %}

<div class="col-12 mx-auto">
    {% include 'projects/project/navigation.html' with internal_followup=True %}
    <div class="row">
    <div class="col-8">
        {% activity_stream "target" project %}
        {% regroup stream by timestamp.date as stream_by_day %}

        {% if can_administrate %}
        <form class="form border p-3 d-flex align-items-end flex-column"
              method="POST"
              action="{% url 'projects-create-note' project.pk %}">
            {% csrf_token %}

            <textarea class="flex-grow-1 border-0 form-control {% if private_note_form.content.errors %}is-invalid{% endif %}" style="height: 100px;" id="input-project-content" name="{{ private_note_form.content.name }}" value="{{ private_note_form.content.value|default:'' }}" placeholder="Écrivez une communication interne. Seuls les conseillers locaux pourront la voir."></textarea>
            <label class="visually-hidden" for="input-project-content">{{ private_note_form.content.label }}</label>

            {% for error in private_note_form.content.errors %}
            <div class="text-danger text-end">{{ error }}</div>
            {% endfor %}

            <button class="btn mt-2 btn-primary flex-align-end" type="submit">Envoyer</button>
        </form>
        {% endif %}

        <ul class="list-group">
            {% for date, actions in stream_by_day|slice:":20" %}
            <li class="list-group-item border-0">

                <span class="small text-secondary">{{ date|naturalday|capfirst }}</span>

                {% for action in actions %}
                <div class="my-3 mb-4 py-1 border-start border-4 ps-3">

                    {% if action.verb == 'a rédigé une note interne' %}
                    <div class="p-2 mb-2 bg-light">
                        {{ action.action_object.content_rendered|safe }}
                        <div class="d-flex align-items-center justify-content-between mt-3">
                            <div class="d-flex align-items-center">
                                <p class="mb-0 me-1 small text-secondary">{{action.actor.get_full_name|capfirst|default:action.actor}}</p>
                                <p class="mb-0 small text-secondary">- {{action.action_object.updated_on}}</p>
                            </div>
                            {% if can_administrate %}
                            <br/>
                            <span class="ms-2">
                                <a class="d-flex align-items-center" href="{% url 'projects-update-note' action.action_object.pk %}"> 
                                    <svg class="align-middle bi me-1" width="15px" height="15px" fill="currentColor">
                                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#pencil-fill" />
                                    </svg>
                                    éditer
                                </a>
                            </span>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}

                    {% if action.target %}
                    <span class="align-items-center link-dark text-decoration-none">
                        <img
                            src="{% gravatar_url action.actor.email 32 %}"
                            alt="{{ action.actor.get_full_name }}"
                            class="me-1 rounded-circle"
                            style="width: 16px; height: 16px;"
                        />
                    </span>
                    <span class="align-middle small">
                        {{ action.actor.get_full_name|capfirst|default:action.actor }} <strong>{{ action.verb }}</strong> {{ action.action_object }}
                    </span>
                    {% else %}
                    {% if action.action_object %}
                    {{ action.actor|capfirst }} <strong>{{ action.verb }}</strong> <a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object }}</a>
                    {% else %}
                    <a href="{{ action.actor.get_absolute_url }}">{{ action.actor|capfirst }}</a> <strong>{{ action.verb }}</strong>
                    {% endif %}
                    {% endif %}
                </div>
                {% endfor %}

            </li>
            {% empty %}
            -- Pas encore d'activité, revenez plus tard ! --
            {% endfor %}
        </ul>
    </div>

    <div class="col-4">
        <h5>Équipe de suivi</h5>

        {% include "projects/project/fragments/switchtender-list.html" with switchtenders=project.switchtenders.all %}
    </div>

</div>
</div>

{% endblock %}
