{% extends "projects/project/detail.html" %}

{% load humanize %}
{% load static %}
{% load survey %}
{% load activity_tags %}
{% load gravatar %}
{% load guardian_tags %}

{% load sass_tags %}

{% block title %}
{{ block.super }} > Suivi Interne
{% endblock %}


{% block project_detail %}

{% get_obj_perms request.user for request.site as "user_site_perms" %}
{% get_obj_perms request.user for project as "user_project_perms" %}

<div class="col-12 mx-auto">
    {% include 'projects/project/navigation.html' with internal_followup=True %}
    <div class="row">
    <div class="col-8">
        {% activity_stream "target" project %}
        {% regroup stream by timestamp.date as stream_by_day %}

        {% if "use_private_notes" in user_project_perms %}
        <form class="form d-flex align-items-end flex-column"
              method="POST"
              action="{% url 'projects-create-note' project.pk %}">
            {% csrf_token %}

            {% include 'tools/editor.html' with input_name=private_note_form.content.name input_value=private_note_form.content.value|default:'' input_required=True %}
            <label class="visually-hidden" for="input-project-content">{{ private_note_form.content.label }}</label>

            {% for error in private_note_form.content.errors %}
            <div class="text-danger text-end">{{ error }}</div>
            {% endfor %}

            <button class="btn mt-2 btn-primary flex-align-end" type="submit">Envoyer</button>
        </form>
        {% endif %}

        {% include 'projects/project/fragments/timeline/activity_stream.html' with limit=100 %}
    </div>

    <div class="col-4">
        <h5>Équipe de suivi</h5>

        {% include "projects/project/fragments/switchtender-list.html" with switchtenders=project.switchtenders.all %}
    </div>

</div>
</div>

{% endblock %}
