{% extends "base.html" %}

{% load static %}
{% load humanize %}
{% load notifications_tags %}
{% load gravatar %}

{% block js %}
<script src="{% static 'projects/js/kanban.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/js-md5@0.7.3/src/md5.min.js"></script>

<script type="text/javascript">
 const project_url_tmpl = "{% url 'projects-project-detail' 0 %}";
 function makeProjectURL(id) {
     return project_url_tmpl.replace('0', id);
 }

 function gravatar_url(email, size=50, name="Inconnu") {
     if (name.trim() == '') name = "Inconnu";

     hash = md5(email);
     encoded_fallback_uri = encodeURIComponent(`https://ui-avatars.com/api/${name}/${size}`);

     return `https://www.gravatar.com/avatar/${hash}?s=${size}&d=${encoded_fallback_uri}`
 }
</script>

<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
{% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}


{% endblock %}

{% block css %}
<style>
 [x-cloak] {
		 display: none;
 }

 .bg-stickynote {
     background-color: #FEFF9C !important;
 }

</style>

{% endblock %}


{% block content %}

<div class="col-11 py-5 mx-auto">

    <div class="row">
	      <div x-data="kanban_app()" x-init="getTasks()" x-cloak class="d-flex flex-column border p-0 m-0">
            <div class="topbar d-flex justify-content-between bg-light border-bottom p-2">
                <span class="fs-5 flex-grow-1">
                    {% if project_moderator %}
                    <svg class="align-middle bi" width="24px" height="24px" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#binoculars"/>
                    </svg>

                    <span class="align-middle">
                        {% if draft_projects.count %}
                        <a href="#draft-projects">{{ draft_projects.count }} projet{{ draft_projects|pluralize }}</a> en attente d'acceptation
                        {% endif %}
                    </span>

                    -
                    {% endif %}

                    {% notifications_unread as unread_count %}
                    {% if unread_count %}

                    <div class="d-inline">
                        <svg class="align-middle text-danger bi" width="16px" height="16px" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#bell-fill"/>
                        </svg>
                        {% live_notify_badge badge_class="live_notify_badge badge bg-secondary" %}
                    </div>
                    {% endif %}
                </span>

                <div x-show="isBusy" x-transition class="mx-5 justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>

                <select x-model="selectedDepartment" style="width: 250px" class="form-select me-2" aria-label="sélection du département">
                    <option selected value="">Toute la France</option>
                    <template x-for="department in departments" :key="department.code">
                        <option :value="department.code" x-text="department.name"></option>
                    </template>
                </select>

                <div class="btn-group" role="group" aria-label="Admin actions">
                    <a class="btn btn-outline-secondary btn-sm" href="{% url 'projects-onboarding' %}" role="button">
                        <svg class="bi me-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#plus-circle"/>
                        </svg>
                        <span class="align-middle">
                            Ajouter un projet
                        </span>
                    </a>
                    <a class="btn btn-outline-secondary btn-sm" href="{% url 'projects-project-list-export-csv' %}" role="button">
                        <svg class="bi me-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#filetype-csv"/>
                        </svg>
                        <span class="align-middle">
                            Export CSV
                        </span>
                    </a>
                </div>
            </div>
		        <div class="d-flex">
				        <!-- Main Page -->
					      <div class="flex-grow-1" style="overflow-x: auto; overflow-y: hidden; height: 70vh">

						        <!-- Kanban column -->
						        <div class="py-4 md-py-8">
							          <div class="d-flex pb-2">

								            <template x-for="board in boards" :key="board.code">
									              <div class="px-2 flex-shrink-0" style="min-width: 220px; max-width: 15vw;">
										                <div class="pb-4 rounded  border-top border-4" :class="board.color_class"
											                   style="min-height: 100px">
											                  <div class="d-flex justify-content-between justify-items-center px-2 py-2 bg-light sticky top-0">
												                    <h5 x-text="board.title" class="font-medium text-gray-800"></h3>
											                  </div>

                                        <div style="height: 60vh; overflow-x: hidden; overflow-y: auto;">
											                      <div class="px-3 bg-light shadow-sm">
												                        <div
													                          @dragover="onDragOver(event)"
													                          @drop="onDrop(event, board.code)"
													                          @dragenter="onDragEnter(event)"
													                          @dragleave="onDragLeave(event)"
													                          class="pt-2 pb-4 rounded"
												                        >
                                                    <!-- Task Template -->
													                          <template x-for="(t, taskIndex) in filteredTasks().filter(t => t.boardCode === board.code)" :key="taskIndex">


																                        <div :id="t.uuid"
																	                           class="rounded shadow mb-3 p-2 w-100 position-relative"
                                                             :class="{'bg-stickynote': t.is_switchtender}"
																	                           draggable="true"
																	                           @dragstart="onDragStart(event, t.uuid)"
																                        >
                                                            <template x-if="t.notifications.count > 0">
                                                                <span class="position-absolute top-25 start-100 translate-middle badge rounded-pill bg-info" :class="{'bg-danger': t.notifications.has_collaborator_activity == true}"><span x-text="t.notifications.count"></span> <span class="visually-hidden">nouvelle activité</span></span>
                                                            </template>

																	                          <div class="fw-semibold">
                                                                <a :href="makeProjectURL(t.id)" x-text="t.name"></a>
                                                            </div>
                                                            <template x-if="t.commune">
                                                                <div class="fw-bold text-uppercase small">
                                                                    <span x-text="t.commune.name"></span>
                                                                    <span x-text="`(${t.commune.postal})`"></span>
                                                                </div>
                                                            </template>
                                                            <div x-text="t.organization" class="small"></div>
                                                            <div class="d-flex flex-column justify-content-between">
                                                                <div class="small fst-italic text-secondary">
                                                                    <span x-text="`Déposé le ${t.created_on.toLocaleDateString('fr-FR')}`" class="align-middle">
                                                                    </span>
                                                                </div>

                                                                <div class="d-flex justify-content-end">
                                                                    <template x-for="switchtender in t.switchtenders">
                                                                        <div>
                                                                            <img class="align-middle  rounded-circle d-inline-block" width="25px" :src="gravatar_url(switchtender.email, 25, switchtender.first_name + ' ' + switchtender.last_name)" data-bs-toggle="tooltip" data-bs-placement="bottom" :title="`${switchtender.first_name} ${switchtender.last_name}`" style="z-index: 1000;" tabindex="0">
                                                                        </div>
                                                                    </template>
                                                                </div>
                                                            </div>

														                            </div>

													                          </template>
												                        </div>
											                      </div>
                                        </div>
										                </div>
									              </div>
								            </template>

							          </div>
						            <!-- /Kanban Board -->
					          </div>
				            <!-- /Main Page -->

			          </div>

		        </div>

            {% if unread_count %}
            <div class="col-12 bg-light p-2 border-top">
                <h4>
                    <svg class="align-middle bi" width="20px" height="20px" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#bell"/>
                    </svg>
                    <span class="align-middle">
                        Notifications
                    </span>
                </h4>
                <ul class="w-100 list-unstyled">
                    {% for notification in request.user.notifications.unread.all %}
                    <li class="d-flex flex-columns my-3">
                        <div class="align-middle mx-2 flex-shrink">
                            <img class="rounded-circle" src="{% gravatar_url notification.actor.email size=24 %}" alt="{{notification.actor}}">
                        </div>
                        <div class=" flex-row flex-grow-1">
                            <div class="flex-grow w-100 flex-grow-1">
                                <span class="actor">
                                    {{ notification.actor.first_name|default:notification.actor.email }}
                                    {{ notification.actor.last_name|default:"" }}
                                </span>
                                <span class="verb">
                                    <strong>{{ notification.verb }}</strong> sur
                                </span>
                                <span class="target">
                                    <a href="{{ notification.target.get_absolute_url }}">{{ notification.target }}</a>
                                </span>
                                <span class="ms-1 small text-secondary">il y a {{ notification.timestamp|timesince }}</span>
                            </div>

                            {% if notification.action_object.resource %}
                            <div class="border p-2 rounded bg-white w-100">
                                {{ notification.action_object.resource.title }}
                            </div>
                            {% endif %}

                            {% if notification.action_object.comment %}
                            <div class="border p-2 rounded bg-white w-100">
                                "{{ notification.action_object.comment }}" à propos de <a href=" {{ notification.action_object.task.get_absolute_url }}">{{ notification.action_object.task }}</a>
                            </div>
                            {% endif %}
                        </div>

                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        {% if project_moderator %}
        <!-- Draft Projects -->
        <div class="row mx-auto mt-4">
            <div class="col-12 mx-auto">
	              <h3 id="draft-projects">Projets en attente d'acceptation</h3>

	              <table class="table table-striped">
		                <thead>
			                  <tr>
				                    <th>Date de création</th>
				                    <th>Nom</th>
                            <th>Actions</th>
			                  </tr>
		                </thead>
		                <tbody>
			                  {% for project in draft_projects %}
			                  <tr>
				                    <td>
                                {{ project.created_on }}
                                <br/>
                                <span class="text-secondary small">({{ project.created_on|naturaltime }})</span>
                            </td>
				                    <td>
					                      <a href="{% url 'projects-project-detail' project.id %}">
						                        {{ project.name|capfirst }}
					                      </a>
                                <br/>
                                <span class="text-secondary">{{ project.location }}</span>
                                {% if project.commune %}
                                <br/>
                                <span class="text-secondary small">{{ project.commune.postal }}, {{ project.commune.name }}</span>
                                <br/>
                                <span class="text-secondary small">INSEE: {{ project.commune.insee }}</span>
                                {% endif %}
				                    </td>
                            <td>
                                <div class="btn-group" role="group" aria-label="actions">
                                    <form method="POST" action="{% url "projects-project-accept" project.id %}">
                                        {% csrf_token %}
                                        <button class="btn btn-primary btn-sm">
                                            <svg class="bi" width="16" height="16" fill="currentColor">
                                                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#check2-circle"/>
                                            </svg>
                                            Accepter
                                        </button>
                                    </form>

                                    {% if user.is_staff %}
                                    &nbsp;
                                    <form method="POST" action="{% url "projects-project-delete" project.id %}">
                                        {% csrf_token %}
                                        <button class="btn btn-secondary btn-sm">
                                            <svg class="bi" width="16" height="16" fill="currentColor">
                                                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#x-circle"/>
                                            </svg>
                                            Supprimer
                                        </button>
                                    </form>
                                    {% endif %}
                                </div>
                            </td>
			                  </tr>
			                  {% empty %}
			                  <tr>
				                    <td colspan="5">Rien à faire ici.</td>
			                  </tr>
			                  {% endfor %}
		                </tbody>
	              </table>

            </div>
        </div>
    </div>
    {% endif %}




</div>
{% endblock %}
