{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="col-11 py-5 mx-auto">
	  <h2>Liste des projets</h2>

    <!-- Staff actions -->
    <a class="btn btn-secondary btn-sm" href="{% url 'projects-onboarding' %}" role="button">
        <svg class="bi" width="16" height="16" fill="currentColor">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#plus-circle"/>
        </svg>
        &nbsp;
        Ajouter un projet
    </a>


    <section>

	      <table class="table table-striped">
		        <thead>
			          <tr>
				            <th>Date de création</th>
				            <th>Nom</th>
				            <th>Localisation</th>
				            <th>Actions</th>
				            <th>Notes</th>
                    <th>Etat</th>
                    <th>Actions</th>
			          </tr>
		        </thead>
		        <tbody>
			          {% for project in projects %}
			          <tr>
				            <td>{{ project.created_on }}</td>
				            <td>
					              <a href="{% url 'projects-project-detail' project.id %}">
						                {{ project.name }}
					              </a>
				            </td>
				            <td>{{ project.location }}</td>
				            <td>{{ project.tasks.count }}</td>
				            <td>{{ project.notes.count }}</td>
                    <td>
                        {% if project.is_draft %}
                        Nouveau
                        {% else %}
                        Validé
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="actions">
                            {% if project.is_draft %}
                            <form method="POST" action="{% url "projects-project-accept" project.id %}">
                                {% csrf_token %}
                                <button class="btn btn-primary btn-sm">
                                    <svg class="bi" width="16" height="16" fill="currentColor">
                                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#check2-circle"/>
                                    </svg>
                                    Accepter
                                </button>
                            </form>
                            {% endif %}

                            <form method="POST" action="{% url "projects-project-delete" project.id %}">
                                {% csrf_token %}
                                <button class="btn btn-secondary btn-sm">
                                    <svg class="bi" width="16" height="16" fill="currentColor">
                                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#x-circle"/>
                                    </svg>
                                    Supprimer
                                </button>
                            </form>
                        </div>
                    </td>
			          </tr>
			          {% empty %}
			          <tr>
				            <td colspan="5">Rien à faire ici.</td>
			          </tr>
			          {% endfor %}
		        </tbody>
	      </table>

    </section>
</div>
{% endblock %}
