{% load static %}
{% load sass_tags %}

{% block css %}
<link href="{% sass_src 'home/css/dsfr/marianne.css' %}" rel="stylesheet" type="text/css">
<link href="{% sass_src 'projects/css/project_navigation.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

<ul class="project-navigation d-flex align-items-center"
    style="font-family: 'Marianne', arial, sans-serif; padding: 0;">
    <li>
        <a class="{% if overview %} active {% endif %}" href="{% url 'projects-project-detail-overview' project.pk %}">
            Présentation
        </a>
    </li>
    <li>
        <a class="text-nowrap {% if state_of_play %} active {% endif %}" href="{% url 'projects-project-detail-knowledge' project.pk %}">
            État des lieux
        </a>
    </li>
    <li>
        <a class="{% if project.status == 'DRAFT' %} disabled {% endif %} {% if recommandations %} active {% endif %} align-items-center" href="{% url 'projects-project-detail-actions' project.pk %}">
            {% if active_project_action_notification_count %}
                {% if project.tasks.proposed.count %}
                <span class="position-absolute  bg-info badge rounded-circle m-0" style="font-size: 8px;  top:5px; left:10px; width: 15px; height:15px"">
                    {{ project.tasks.open.count }}
                    <span class="visually-hidden">Action en cours</span>
                </span>
                {% endif %}
                {% if active_project_action_notification_count %}
                <span class="position-absolute bg-danger badge rounded-circle m-0"
                    style="font-size: 8px; top:5px; right:5px">
                    <svg class="align-middle bi" width="12px" height="12px" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#bell" />
                    </svg>
                    <span class="visually-hidden">{{ active_project_action_notification_count }} Notifications des
                        recommandations</span>
                </span>
                {% endif %}
            {% endif %}
            {% if project.status == 'DRAFT' %}
            <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#lock-fill" />
            </svg>&nbsp;
            {% endif %}
            <span>Recommandations</span>
        </a>
    </li>
    <li>
        <a class="{% if project.status == 'DRAFT' %} disabled {% endif %} {% if conversation %} active {% endif %} align-items-center" href="{% url 'projects-project-detail-conversations' project.pk %}">
            {% if active_project_conversations_notification_count %}
            <span class="position-absolute bg-danger badge rounded-circle m-0"
                style="font-size: 8px; top:5px; right:5px">
                <svg class="align-middle bi" width="12px" height="12px" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#bell" />
                </svg>
                <span class="visually-hidden">{{ active_project_conversations_notification_count }} Notifications des
                    conversations</span>
            </span>
            {% endif %}
            {% if project.status == 'DRAFT' %}
            <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#lock-fill" />
            </svg>&nbsp;
            {% endif %}
            <span class="">Conversation</span>
        </a>
    </li>
    <li>
        <a class="{% if project.status == 'DRAFT' %} disabled {% endif %} {% if files_links %} active {% endif %} align-items-center" href="{% url 'projects-project-detail-files-links' project.pk %}">
            {% if project.status == 'DRAFT' %}
            <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#lock-fill" />
            </svg>&nbsp;
            {% endif %}
            <span class="">Fichiers et liens</span>
        </a>
    </li>
    {% if active_project_can_administrate %}
    <li>
        <a class="{% if internal_followup %} active {% endif %} {% if not active_project_can_administrate %} disabled {% endif %}align-items-center" href="{% url 'projects-project-detail-internal-followup' project.pk %}">
            {% if not active_project_can_administrate %}
            <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#lock-fill" />
            </svg>&nbsp;
            {% endif %}
            <span class="text-nowrap">Espace conseiller</span>
        </a>
    </li>
    {% endif %}
</ul>
