{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="col-9 py-5 mx-auto">

		<h1>{{ project.name }}</h1>

    <h2>Ajouter une note</h2>

    <section>

	      <form id="form-projects-add-note"
				      method="post"
				      action="."
				      class="form">

		        {% csrf_token %}

            {{ form.as_p }}

		        <button type="submit" class="btn btn-primary">
			          Enregistrer
		        </button>
	      </form>

        {{ form.media }}

    </section>

{% endblock %}



