{% extends "base.html" %}

{% block content %}

<div class="col-9 py-5 mx-auto">

    <h2>Ajouter une note</h2>
    
	  <section>

	<h3>Contexte</h3>

	<table class="table table-bordered">
		<tr>
			<th>Nom</th>
			<td>{{ project.name }}</td>
		</tr>
		<tr>
			<th>Localisation</th>
			<td>{{ project.location }}</td>
		</tr>
		<tr>
			<th>Date de création</th>
			<td>{{ project.created_on }}</td>
		</tr>
	</table>

</section>

<section>

	<form id="form-projects-add-note"
				method="post"
				action="."
				class="form">

		{% csrf_token %}

		{{ form.as_p }}

		<button type="submit" class="btn btn-primary">
			Enregistrer
		</button>
	</form>

</section>

{% endblock %}



