{% extends "projects/project/detail.html" %}

{% load humanize %}
{% load static %}
{% load gravatar %}


{% block title %}
{{ block.super }} > Connaissance
{% endblock %}


{% block project_detail %}

<div class="col-12">
    <div class="row">
        {% if not is_switchtender %}
        {% if can_manage_draft and session and session.next_question and session.completion < 80 %} <div
            class="col box-heading d-flex justify-content-between mb-4 mt-4">

            <div class="flex-grow-1">

                <h3>Complétez l'exploration du site !</h3>
                {% if session.completion > 0 %}
                🔎 Zoomer sur les bonnes questions à se poser pour démarrer
                <br />
                🚀 Obtenir des recommandations plus efficaces !
                {% else %}
                🔎 Laissez-vous guider vers <strong>les bonnes questions à se poser pour démarrer</strong> un projet de
                revitalisation.
                <br />
                🚀 En prime, <strong>UrbanVitaliz sera plus efficace</strong> pour vous conseiller !
                {% endif %}
            </div>
            <div class="flex-shrink-1">
                {% if session.completion > 0 %}
                <a href="{% url 'survey-session-start' session.id %}" class="btn btn-primary fw-bold p-2 m-4">
                    <span class="align-middle">Continuer le parcours</span><span class="align-middle"> &#8594;</span>
                </a>
                {% else %}
                <a href="{% url 'survey-project-session' project.id %}" class="btn btn-primary fw-bold p-2 m-4">
                    <span class="align-middle">Démarrer le parcours</span><span class="align-middle"> &#8594;</span>
                </a>
                {% endif %}
            </div>
    </div>
    {% else %}
    <div class="col"></div>
    {% endif %}
    {% else %}
    <div class="col"></div>
    {% endif %}
</div>

{% include 'projects/project/navigation.html' with overview=True %}
<div class="row">
    <div class="col-8">
        {% if project.synopsis %}
            <div class="pe-4">
                <h6 style="font-size: 14px;" class="text-uppercase fw-bold">Reformulation du besoin </h6>
                <div class="project-card-details p-3">
                    <article>
                        {{project.synopsis}}
                    </article>
                    <footer class="d-flex mt-4 justify-content-between items-center">
                        <div class="d-flex align-items-center">
                            <span class="me-2 d-flex align-items-center">
                                <img class="rounded-circle me-2" src="{% gravatar_url project.owner.email size=24 %}" alt="{{action.actor}}">
                                <strong>
                                    {{project.synopsis_by.first_name}}
                                    {{project.synopsis_by.last_name}}
                                </strong>
                            </span>
                            <span style="color:#929292">{{project.org_name}}</span>
                        </div>
                        {% if can_administrate %}
                        <a  href="{% url "projects-project-synopsis" project.id %}">éditer</a>
                        {% endif %}
                        <div>
                            <span style="color:#929292; text-align: right; font-weight: 300; font-size: 14px; text-align: right;"
                                class="font-italic d-flex">{{project.synopsis_on}}</span>
                        </div>
                    </footer>
            </div>
        </div>
        {% else %}
            <div class="project-card-details py-4 d-flex flex-column align-items-center justify-content-center">
                <span style="color:#929292; font-size: 14px;" class="text-uppercase">Aucune reformulation n'a été faite pour le moment</span>
                {% if can_administrate %}
                    <a class="button mt-3" href="{% url "projects-project-synopsis" project.id %}">Reformuler le besoin de la collectivité</a>
                {% endif %}
            </div>
        {%endif %}
        <div class="mt-4 pt-4">
            <div class="d-flex w-full">
                <div class="pe-4 w-50">
                    <h6 style="font-size: 14px;" class="text-uppercase fw-bold">Contexte</h6>
                    <div class="project-card-details p-3">
                        <article>
                            {{ project.description }}
                        </article>
                        <footer class="d-flex flex-column mt-4 justify-content-between items-center">
                            <div class="d-flex align-items-center justify-content-start">
                                <span class="me-2 d-flex align-items-center justify-content-center">
                                    <img class="rounded-circle me-2" src="{% gravatar_url project.owner.email size=24 %}" alt="{{action.actor}}">
                                    <strong>
                                        {{ project.first_name }}
                                        {{ project.last_name }}
                                    </strong>
                                </span>
                                <span style="color:#929292">{{project.org_name}}</span>
                            </div>
                            <div class="ms-4 ps-2">
                                <span style="color:#929292; text-align: right; font-weight: 300; font-size: 14px;"
                                    class="font-italic d-flex">{{project.updated_on}}</span>
                            </div>
                        </footer>
                    </div>
                </div>
        
                {% if onboarding_response %}
                    {% for title, content in onboarding_response.items %}
                    {% if content %}
                    <div class="pe-4 w-50">
                        <h6 style="font-size: 14px;" class="text-uppercase fw-bold">{{ title }}</h6>
                        <div class="project-card-details p-3">
                            <article>
                                {{ content }}
                            </article>
                            <footer class="d-flex flex-column mt-4 justify-content-between items-center">
                                <div class="d-flex align-items-center justify-content-start">
                                    <span class="me-2 d-flex align-items-center justify-content-center">
                                        <img class="rounded-circle me-2" src="{% gravatar_url project.owner.email size=24 %}" alt="{{action.actor}}">
                                        <strong>
                                            {{project.first_name}}
                                            {{project.last_name}}
                                        </strong>
                                    </span>
                                    <span style="color:#929292">{{project.org_name}}</span>
                                </div>
                                <div class="ms-4 ps-2">
                                    <span style="color:#929292; text-align: right; font-weight: 300; font-size: 14px;"
                                        class="font-italic d-flex">{{project.updated_on}}</span>
                                </div>
                            </footer>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                {% elif project.impediments %}
                <div class="pe-4 w-50">
                    <h6 style="font-size: 14px;" class="text-uppercase fw-bold">Contexte</h6>
                    <div class="project-card-details p-3">
                        <article>
                            {{project.description}}
                        </article>
                        <footer class="d-flex mt-4 justify-content-between items-center">
                            <div class="d-flex align-items-center">
                                <span class="me-2 d-flex align-items-center justify-content-center">
                                    <img class="rounded-circle me-2" src="{% gravatar_url project.owner.email size=24 %}" alt="{{action.actor}}">
                                    <strong>
                                        {{project.first_name}}
                                        {{project.last_name}}
                                    </strong>
                                </span>
                                <span style="color:#929292">{{project.org_name}}</span>
                            </div>
                            <div>
                                <span style="color:#929292; text-align: right; font-weight: 300; font-size: 14px;text-align: right;"
                                    class="font-italic d-flex">{{project.updated_on}}</span>
                            </div>
                        </footer>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-4">
        <!-- {% include "projects/project/fragments/sidebar.html" with disable_can_share=True disable_add_recommendation=True disable_add_recommendation=True %} -->
        <h6 style="font-size: 14px;" class="text-uppercase fw-bold d-block mb-3">Informations générales</h6>
        <div class="d-flex flex-column">
            <span style="font-size: 16px; color:#666666; font-weight: 300;" class="d-block mb-2">Référent collectivité</span>
            <div class="d-flex align-items-center mb-2">
                {% if project.owner %}
                {% if project.owner.first_name %}
                <span class="me-2 d-flex align-items-center">
                    <img class="rounded-circle me-2" src="{% gravatar_url project.owner.email size=24 %}" alt="{{action.actor}}">
                    <strong>
                        {{ project.owner.first_name }}
                        {{ project.owner.last_name }}
                    </strong>
                </span>
                {% endif %}
                <span style="color: #666666; font-style: italic; font-weight: 300;">{{project.owner.profile.organization.name}}</span>
            </div>
            <a class="d-flex align-items-center mb-1" style="font-size: 14px; color: #0063CB; text-decoration: none;"
                href="mailto:({project.owner.email})">
                <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#link-45deg" />
                </svg>&nbsp;
                {{ project.owner.email }}
            </a>
            {% if project.owner.profile.phone_no %}
            <span style="font-size: 14px; color: #0063CB;" class="d-flex align-items-center">
                <svg class="bi align-middle" width="15" height="15" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#telephone" />
                </svg>&nbsp;
                {{project.owner.profile.phone_no}}</span>
            {% endif %}
            {% endif %}
        </div>
        <div class="my-4">
            <span style="font-size: 16px; color:#666666;font-weight: 300;" class="d-block mb-3">Participants</span>
            <a class="button" href="{% url 'projects-access-update' project.id %}">Inviter un
                participant</a>
            <ul class="d-flex flex-column list-unstyled mt-3">
                {% for member in project.members.all %}
                <li class="d-flex align-items-center mb-2">
                    {% if member.first_name %}
                    <span class="me-2 d-flex align-items-center">
                        <img class="rounded-circle me-2" src="{% gravatar_url project.owner.email size=24 %}" alt="{{action.actor}}">
                        {{ member.first_name }}
                        {{ member.last_name }}
                    </span>
                    {% else %}
                    <span class="me-2">{{member}}</span>
                    {% endif %}
                    <span style="color: #666666; font-style: italic; font-weight: 300;">{{member.profile.organization.name}}</span>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
</div>

</div>
{% endblock %}
