{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% load sass_tags %}

{% block css %}
    <link href="{% sass_src 'projects/css/project.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="col-11 py-5 mx-auto">

    <section>
        <form method="post">
            {% csrf_token %}
            <h2 class="mb-4 d-flex align-items-center">
                <span style="font-weight: 300;">
                    Projet 
                    <strong style="font-weight: 500;">
                        {{project.name}}
                    </strong>
                </span>
            </h2>
            <h4 class="d-block mb-3">
                <svg class="bi " width="32" height="32" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#pencil-square" />
                </svg>&nbsp;
                Reformulation du besoin
            </h4>
            <div class="">

                <form action="" method="post">
                    {% csrf_token %}
                    <div class="d-flex">
                        {% include 'tools/editor.html' with input_name=form.advisors_note.name input_value=form.advisors_note.value|default:'' escapejs=True%}
                    </div>
                    <p class="d-flex flex-column">
                        {{ form.tags.errors }}
                        {{form.tags }}
                        <span>{{form.tags.help_text }}</span>
                    </p>

                    {{ topic_formset.as_p }}
                    <button type="submit" class="btn btn-primary">
                        Enregistrer
                    </button>
                </form>

            <!-- {{ form.as_p }} -->
            </div>
            
        </form>

        {{ form.media }}

    </section>

</div>

{% endblock %}
