{% extends "base.html" %}

{% load static %}
{% load sass_tags %}


{% block css %}
<link href="{% sass_src 'resources/resources.scss' %}" rel="stylesheet" type="text/css">
<link href="{% sass_src 'projects/css/push.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/minisearch@4.0.3/dist/umd/index.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/underscore@1.13.2/underscore-umd-min.js"></script>
<script src="{% static 'projects/js/action_pusher.js' %}"></script>

{% endblock %}


{% block content %}

<div class="col-11 py-5 mx-auto">

    <h1 class=" align-items-center">
        <svg class="bi" width="40" height="40" fill="currentColor">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#card-checklist"/>
        </svg>
        Mettre à jour une action
    </h1>

    <section>

        <div x-data="action_pusher_app()" x-init="update_recommendation({{ task.pk }}, '{{ task.intent|escapejs }}', '{{ task.content|escapejs }}', {{ task.resource_id|default:'null' }})" x-cloak>

	          <form id="form-projects-update-task"
				          method="post"
				          action="."
				          class="form">

		            {% csrf_token %}

                {% include 'projects/project/fragments/action_pusher/type.html' with disable_multi=True %}

                {% include 'projects/project/fragments/action_pusher/resource_search.html' %}

                {% include 'projects/project/fragments/action_pusher/details_form.html' with disable_draft=task.public %}

                <input type="hidden" name="public" x-model="public">

                {{ form.media }}
	          </form>

        </div>

        <hr/>
        <div class="d-flex justify-content-end">
            <form id="form-project-delete-task" method="POST" action="{% url 'projects-delete-task' task.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                    <svg class="bi " width="16" height="16" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#trash"/>
                    </svg>
			              Supprimer
		            </button>
            </form>
        </div>


    </section>

</div>

{% endblock %}


