{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% load sass_tags %}

{% block css %}
<link href="{% sass_src 'resources/resources.scss' %}" rel="stylesheet" type="text/css">
<link href="{% sass_src 'projects/css/push.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/minisearch@4.0.3/dist/umd/index.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/underscore@1.13.2/underscore-umd-min.js"></script>
<script src="{% static 'projects/js/action_pusher.js' %}"></script>




{% endblock %}


{% block content %}

<div class="col-9 py-5 mx-auto">

    <!-- Breadcrumb -->
    <h2>
        <svg class="bi me-1 " width="32" height="32" fill="currentColor">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#layer-forward"/>
        </svg>
        Ajouter une recommandation
    </h2>

    <div class="p-3 my-4 bg-light rounded">
        <h4 class="fs-6">Proposer une nouvelle action à effectuer</h4>
        <p class="mb-0">Pour ajouter une nouvelle action à effectuer à votre interlocuteurs, vous pouvez leur pousser une ressource existante dans notre base de connaissances, ou leur proposer une action libre.</p>
    </div>


    <div x-data="action_pusher_app()" x-init="create_recommendation()" x-cloak>
        <form class="form" method="POST" action=".">
            {% csrf_token %}

            {% include 'projects/project/fragments/action_pusher/type.html' %}

            {% include 'projects/project/fragments/action_pusher/resource_search.html' %}

            {% include 'projects/project/fragments/action_pusher/details_form.html' %}

            <input type="hidden" name="public" x-model="public">
        </form>
    </div>

</div>
{% endblock %}
