{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load sass_tags %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/styles/pages-showcase-list.css.js' %}
{% endblock js %}
{% block content %}
    <h1 class="fr-mt-2w fr-ml-2v">{{ page.title }}</h1>
    <div class="showcase-gallery">
        {% for showcase_page in page.get_children.live.specific %}
            <div class="fr-card fr-enlarge-link fr-card--horizontal fr-m-2v">
                <div class="fr-card__body">
                    <div class="fr-card__content">
                        <h2 class="fr-card__title">
                            <a href="{{ showcase_page.url }}">{{ showcase_page.title }}</a>
                        </h2>
                        {% for block in showcase_page.heading %}
                            {% if block.value.text %}<p class="fr-card__desc">{{ block.value.text }}</p>{% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="fr-card__header">
                    <div class="fr-card__img">
                        {% for block in showcase_page.heading %}
                            {% image block.value.bg_image fill-1200x800 as bg_image %}
                            <img class="fr-responsive-img" src="{{ bg_image.url }}" alt="">
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
