{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load sass_tags %}
{% block css %}
    <link href="{% sass_src 'home/css/home/home.scss' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% sass_src 'home/css/dsfr/dsfr.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% sass_src 'home/css/dsfr/custom-dsfr.scss' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% sass_src 'home/css/cms/page-text.css' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% block title %}
    {{ page.title }}
{% endblock title %}
{% block content %}
    <div class="col-8 fr-mt-3w fr-py-2w g-0 fr-mx-auto font-marianne"
         id="simple-text">
        {% for block in page.body %}
            {% if block.block_type == 'table' %}
                <div class="fr-table--md fr-table fr-table">
                    <div class="fr-table__wrapper">
                        <div class="fr-table__container">
                            <div class="fr-table__content">{% include_block block %}</div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>{{ block.value|richtext }}</p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}
