{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load sass_tags %}
{% block css %}
    <link href="{% sass_src 'home/css/home/home.scss' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% sass_src 'home/css/cms/page-text.css' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% block title %}
    {{ page.title }}
{% endblock title %}
{% block og_title %}
    {{ page.title }}
{% endblock og_title %}
{% block content %}
    <div class="col-8 fr-mt-3w fr-py-2w g-0 fr-mx-auto font-marianne"
         id="simple-text">
        <p>{{ page.body|richtext }}</p>
    </div>
{% endblock content %}
