{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load sass_tags %}
{% block css %}
    <link href="{% sass_src 'home/css/home/home.scss' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% sass_src 'home/css/dsfr/dsfr.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% sass_src 'home/css/dsfr/custom-dsfr.scss' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% sass_src 'home/css/cms/page-text.css' %}"
          rel="stylesheet"
          type="text/css">
{% endblock %}
{% block title %}{{ page.title }}{% endblock %}
{% block og_title %}{{ page.title }}{% endblock %}
{% block content %}
    <div class="col-8 mt-4 py-3 g-0 mx-auto font-marianne" id="simple-text">
        <p>{{ page.body|richtext }}</p>
    </div>
{% endblock %}
