{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load sass_tags %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/styles/resources.css.js' %}
    {% vite_asset 'js/styles/resource-card.css.js' %}
    {% vite_asset 'js/styles/projects-project.css.js' %}
{% endblock js %}
{% block content %}
    <div class="col-12 fr-p-3w fr-mx-auto">
        <h2 class="fr-mb-3w">
            <span class="align-middle">Mise à jour de votre avancement</span>
        </h2>
        <div class="d-flex flex-column fr-p-3w bg-light rounded rounded-4 fr-mb-3w">
            <p class="fs-3 ">
                <svg class="align-middle bi"
                     width="24px"
                     height="24px"
                     fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#exclamation-diamond" />
                </svg>
                <span class="align-middle">
                    Désolé, mais vous avez soit déjà utilisé ce lien pour nous faire part de votre avancement
                    ou celui-ci n'est pas valide.
                </span>
            </p>
            <p>
                Vous pouvez nous <a class=" text-reset"
    href="{% url 'home-contact' %}?next=/&subject=Problème de lien">contacter en cas de problème</a>
            </p>
        </div>
    </div>
{% endblock content %}
