{% load humanize %}
{% load static %}
{% load gravatar %}
{% load activity_tags %}
{% activity_stream "target" project %}
<div class="fr-pt-3w fr-pr-3w w-100 h-100 fr-mb-6w"
     data-test-id="project-activity-tracking-observer">
    <div class="d-flex align-items-center justify-content-between fr-mb-2v">
        <h6 class="text-uppercase fw-bold fr-m-0 fr-p-0 h6-specific-fontsize-14">Activité du dossier</h6>
    </div>
    <div class="fr-p-0 h-100 w-100 d-inline-flex flex-column justify-content-between align-items-center">
        <article class="overflow-hidden timeline-blur w-100">
            {% regroup stream by timestamp.date as stream_by_day %}
            <ul class="list-group fr-m-0 fr-p-0 activity-stream-container">
                {% for date, actions in stream_by_day|slice:":1" %}
                    <li class="{% if cropped %}mb-0 {% endif %} list-group-item border-0 d-flex flex-column fr-mb-2w fr-mx-0 fr-px-0">
                        <span class="small text-info-custom text-grey-dark fr-mb-2v">{{ date|naturalday|capfirst }}</span>
                        <div class="activity-stream-actions-container d-flex flex-column">
                            {% for action in actions|slice:":6" %}
                                {% display_action action %}
                            {% endfor %}
                        </div>
                    </li>
                {% empty %}
                    <span class="text-custom-info text-grey-dark fw-light fr-mb-3w">Vous trouverez ici l'activité de vos dossiers suivis</span>
                {% endfor %}
            </ul>
        </article>
        <a class="timeline-button fr-btn fr-btn--sm fr-btn--tertiary"
           data-test-id="project-activity-link"
           href="{% url 'projects-project-detail-internal-followup-tracking' project.pk %}">Voir toute l'activité du dossier</a>
    </div>
</div>
