{% load static %}
{% load sass_tags %}
<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <title>UrbanVitaliz{% block title %}, réhabilitez vos friches plus sereinement{% endblock %}</title>
        <meta name="description" content="{% block description %}Aiguiller les collectivités dans leurs projets de réhabilitation de friches et autres fonciers à l’abandon - un service gratuit du Cerema{% endblock %}">
        <meta name="robots" content="index, archive" />

        <meta property="og:title" content="UrbanVitaliz{% block og_title %}, réhabilitez vos friches plus sereinement{% endblock %}" />
        <meta property="og:locale" content="fr" />
        <meta property="og:site_name" content="UrbanVitaliz" />
        <meta property="og:description" content="{% block og_description %}Aiguiller les collectivités dans leurs projets de réhabilitation de friches et autres fonciers à l’abandon - un service gratuit du Cerema{% endblock %}" />


        <!-- Bootstrap core CSS -->
		    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% sass_src 'css/base.scss' %}" rel="stylesheet" type="text/css">
        <link href="{% sass_src 'css/sidebars.scss' %}" rel="stylesheet" type="text/css">
        <link href="{% sass_src 'css/markdownx.scss' %}" rel="stylesheet" type="text/css">

        <!-- Extra CSS -->
        {% block css %}
        {% endblock %}

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="{% static 'img/favicons/apple-touch-icon.png' %}" sizes="180x180">
        <link rel="icon" href="{% static 'img/favicons/favicon-32x32.png' %}" sizes="32x32" type="image/png">
        <link rel="icon" href="{% static 'img/favicons/favicon-16x16.png' %}" sizes="16x16" type="image/png">
        <link rel="icon" href="{% static 'img/favicons/favicon.ico' %}">

    </head>
    <body class="bg-light">

        <h1 class="visually-hidden">Urban Vitaliz</h1>
        {% include "sidebar.html" %}

        <main>
            {% if messages %}
            <div id="notification-container" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                {% for message in messages %}
                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}bg-success text-white{% endif %} {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}bg-error text-white{% endif %}">
                        {% if "email" in message.tags %}
                        <strong class="me-auto">
                            <svg class="bi me-1" width="16" height="16" fill="currentColor">
                                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#envelope"/>
                            </svg>&nbsp;
                            <span class="align-middle">Courriel envoyé !</span>
                        </strong>
                        {% elif "auth" in message.tags %}
                        <strong class="me-auto">
                            <svg class="bi me-1" width="16" height="16" fill="currentColor">
                                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#lock"/>
                            </svg>&nbsp;
                            <span class="align-middle">Gestion des droits</span>
                        </strong>
                        {% else %}
                        <strong class="me-auto">Notification</strong>
                        {% endif %}
                        <small></small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{ message|capfirst }}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <!--             <div class="b-page-divider"></div> -->

            <div class="container-fluid bg-white">
                <div class="row">
                    {% block content %}
			              {% endblock %}
                </div>

                <div class="row justify-content-center">
                        {% include 'footer.html' %}
                </div>
            </div>

        </main>


        <script src="{% static 'js/jquery-3.6.0.slim.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/text.js' %}"></script>
        <script src="{% static 'js/sidebars.js' %}"></script>


        <!-- bs5 notifications  -->
        <script type="text/javascript">
         $(function() {
             $('.toast').toast('show');
         });
        </script>

        {% block js %}
        {% endblock %}
    </body>
</html>
