{% load static %}
<footer class="col-11 py-5">
    <hr />
    <div class="row py-5">

        <div class="col-6">
            <img src="{% static 'img/partners/logo_cerema.png' %}" width="200px" alt="Logo du Cerema">

        </div>
        <div class="col-6 col-md">
            <h5>UrbanVitaliz</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="link-secondary" href="{% url 'whoweare' %}">Qui sommes-nous ?</a>
                </li>
                <li>
                    <a class="link-secondary" href="{% url 'followus' %}">Suivre le projet</a>
                </li>
                <li>
                    <a class="link-secondary" href="https://cerema.box.com/s/uoqe2qhvmwrpw19heum1os4k3bsfdyh5" target="_new">Plaquette de présentation</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Logiciel Libre</h5>
            <ul class="list-unstyled text-small">
                <a href="https://github.com/betagouv/urbanvitaliz-django" target="_new">Code Source</a>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="link-secondary" href="{% url 'statistics' %}">Statistiques d'impact</a>
                </li>
            </ul>
        </div>
        
    </div>
</footer>
