{% load static %}

{% with request.resolver_match.url_name as url_name %}
<li class="nav-item me-2">
    <a href="{% url 'projects-project-detail-knowledge' project.pk %}" class="nav-link link-dark {% if url_name == 'projects-project-detail-knowledge' %}active{% endif %}">
        <span class="position-relative">
            <svg class="bi align-middle" width="16" height="16">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#question-circle"/>
            </svg>
            <span class="ms-1 align-middle">Connaissance du site</span>
            {% if active_project_survey_session %}
            <div class="progress" style="height: 10px">
                <div class="progress-bar progress-bar-striped" style="width: {{ active_project_survey_session.completion }}%" role="progress-bar">
                    <span style="font-size: 8px;">{{ active_project_survey_session.completion }}%</span>
                </div>
            </div>

            {% endif %}
        </span>
    </a>
</li>

<li class="nav-item me-2">
    <a href="{% url 'projects-project-detail-actions' project.pk %}" class="nav-link link-dark {% if url_name == 'projects-project-detail-actions' %}active{% endif %}">
        <span class="position-relative">
            <svg class="bi align-middle" width="20" height="20">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#check2"/>
            </svg>
            {% if project.tasks.proposed.count %}
            <span class="position-absolute start-50 top-100  bg-info badge rounded-circle m-0" style="font-size: 8px;">
                {{ project.tasks.open.count }}
                <span class="visually-hidden">Action en cours</span>
            </span>
            {% endif %}

            {% if active_project_action_notification_count %}
            <span class="position-absolute start-25 top-100  bg-danger badge rounded-circle m-0" style="font-size: 8px;">
                <svg class="align-middle bi" width="12px" height="12px" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#bell"/>
                </svg>
                <span class="visually-hidden">{{ active_project_action_notification_count }} Notifications des actions</span>
            </span>
            {% endif %}

        </span>

        <span class="ms-1 align-middle">Actions</span>
    </a>
</li>

<li class="nav-item me-2">
    <a href="{% url 'projects-project-detail-conversations' project.pk %}" class="nav-link link-dark {% if url_name == 'projects-project-detail-conversations' %}active{% endif %}">
        <span class="position-relative">
            <svg class="bi align-middle" width="16" height="16">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#chat-text"/>
            </svg>

            {% if active_project_conversations_notification_count %}
            <span class="position-absolute start-50 top-100  bg-danger badge rounded-circle m-0" style="font-size: 8px;">
                <svg class="align-middle bi" width="12px" height="12px" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#bell"/>
                </svg>
                <span class="visually-hidden">{{ active_project_conversations_notification_count }} Notifications des conversations</span>
            </span>
            {% endif %}
        </span>

        <span class="ms-1 align-middle">Conversations</span>
    </a>
</li>

{% if active_project_can_administrate %}
<li class="nav-item me-2">
    <a href="{% url 'projects-project-detail-internal-followup' project.pk %}" class="nav-link link-dark {% if url_name == 'projects-project-detail-internal-followup' %}active{% endif %}">
        <span class="position-relative">
            <svg class="bi align-middle" width="16" height="16">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#list-check"/>
            </svg>

            {% if active_project_followup_notification_count %}
            <span class="position-absolute start-50 top-100  bg-danger badge rounded-circle m-0" style="font-size: 8px;">
                <svg class="align-middle bi" width="12px" height="12px" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#bell"/>
                </svg>
                <span class="visually-hidden">{{ active_project_followup_notification_count }} Notifications de suivi</span>
            </span>
            {% endif %}
        </span>
        <span class="ms-1 align-middle">Suivi Interne</span>
    </a>
</li>
{% endif %}

{% endwith %}
