                <!-- Ressources -->
                <li class="nav-item dropdown me-2">
                    <div class="btn-group">
                        <a href="{% url 'resources-resource-search' %}" class="nav-link link-dark">
                            <svg class="bi align-middle" width="16" height="16">
                                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#key"/>
                            </svg>
                            <span class="ms-1 align-middle">Ressources</span>
                        </a>
                        {% if user.is_staff %}
                        <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'resources-resource-create' %}">Créer</a></li>
                        </ul>
                        {% endif %}
                    </div>
                </li>


                {% if request.user.is_staff  %}
                <!-- Address Book -->
                <li class="nav-item nav-item-admin">
                    <a href="{% url 'addressbook-organization-list' %}" class="nav-link link-dark">
                        <svg class="bi align-middle" width="16" height="16">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#person-lines-fill"/>
                        </svg>
                        <span class="ms-1 me-2 align-middle">Carnet d'adresses</span>
                    </a>
                </li>
                {% endif %}
                {% if request.user.is_staff or is_switchtender  %}
                <!-- Project List -->
                <li class="nav-item dropdown nav-item-admin me-2">
                    <div class="btn-group">
                        <a href="{% url 'projects-project-list' %}" class="nav-link link-dark">
                            <svg class="bi align-middle" width="16" height="16">
                                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#building"/>
                            </svg>
                            <span class="ms-1 align-middle">Projets</span>
                        </a>
                    </div>
                </li>
                {% endif %}
