{% load static %}

{% with request.resolver_match.url_name as url_name %}

<!-- Ressources -->
<li class="nav-item dropdown me-2">
    <div class="btn-group">
        <a href="{% url 'resources-resource-search' %}" class="nav-link link-dark {% if url_name == 'resources-resource-search' %}active{% endif %}">
            <svg class="bi align-middle" width="16" height="16">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#bookshelf"/>
            </svg>
            <span class="ms-1 align-middle">Ressources</span>
        </a>
        {% if user.is_staff %}
        <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'resources-resource-create' %}">Créer</a></li>
        </ul>
        {% endif %}
    </div>
</li>

{% if request.user.is_staff or is_switchtender  %}
<!-- Project List -->
<li class="nav-item dropdown nav-item-admin me-2">
    <div class="btn-group">
        <a href="{% url 'projects-project-list' %}" class="nav-link link-dark {% if url_name == 'projects-project-list' %}active{% endif %}">
            <svg class="bi align-middle" width="16" height="16">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#table"/>
            </svg>
            <span class="ms-1 align-middle">Tableau de Bord</span>
        </a>
    </div>
</li>


{% if request.user.is_staff  %}
<!-- Address Book -->
<li class="nav-item nav-item-admin">
    <a href="{% url 'addressbook-organization-list' %}" class="nav-link link-dark {% if url_name == 'addressbook-organization-list' %}active{% endif %}">
        <svg class="bi align-middle" width="16" height="16">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#person-lines-fill"/>
        </svg>
        <span class="ms-1 me-2 align-middle">Carnet d'adresses</span>
    </a>
</li>
{% endif %}

{% endif %}

{% endwith %}
