{% load gravatar %}
{% load static %}

<!-- User -->
<div id="user-info" class="pe-2 ps-2 ms-2 me-2">
    {% if user.is_authenticated %}
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <img
                src="{% gravatar_url user.email 16 %}"
                alt="{{ user.get_full_name }}"
                class="me-2 rounded-circle"
                style="width: 16px; height: 16px;"
            />

            <span class=" small d-none d-lg-none d-xl-block">{{ user.get_full_name|default:user.email }}</span>

        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            {% if user.is_staff %}
            <li><a class="dropdown-item small " href="{% url 'switchtender-dashboard' %}">CECPP&trade;</a></li>
            <li><hr class="dropdown-divider"></li>
            <li class="small dropdown-item border-0 d-inline-block position-relative">
                <svg class="bi me-2 d-inline" width="16" height="16">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#signpost-fill"/>
                </svg>
                <a  href="{% url 'projects-task-recommendation-list' %}">Pré-fléchage</a>
            </li>
            {% if request.site.siteconfiguration.project_survey %}
            <li class="small  dropdown-item border-0 d-inline-block position-relative">
                <svg class="bi me-2 d-inline" width="16" height="16">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#question-circle"/>
                </svg>
                <a href="{% url 'survey-editor-survey-details' request.site.siteconfiguration.project_survey_id %}">Questionnaire</a>
            </li>
            {% endif %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="small  dropdown-item" href="{% url 'admin:index' %}">Administration</a></li>
            <li><hr class="dropdown-divider"></li>
            {% endif %}
            <li><a class="dropdown-item small " href="{% url 'account_logout' %}">Déconnexion</a></li>
        </ul>
    </div>

    {% else %}
    <a href="{% url 'account_login' %}" class="btn">
        <svg class="bi me-2 align-middle" width="16" height="16">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#person-circle"/>
        </svg>
        <span class="align-middle">Se connecter</span>
    </a>

    {% endif %}
</div>
