{% load static %}

<div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <div class="sidebar-content">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img src="{% static 'img/logo_big.png' %}" width="40" alt="Logo UrbanVitaliz"/>
            &nbsp;
            <span class="fs-4">UrbanVitaliz</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link link-dark" aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#house"/>
                    </svg>
                    Accueil
                </a>
            </li>

            <li>
                <a href="{% url 'resources-resource-search' %}" class="nav-link link-dark">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#book"/>
                    </svg>
                    Ressources
                </a>
                {% if user.is_staff %}
                <ul class="submenu">
                    <li class="list-group-item bg-light border-0">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#plus"/>
                        </svg>
                        <a class="text-secondary" href="{% url 'resources-resource-create' %}">Créer</a>
                    </li>
                </ul>
                {% endif %}
            </li>

            <li>
                <a href="https://betagouv.github.io/urbanvitaliz/bacasable_perrine/home3_choix_chapitre.html" class="nav-link link-dark" target="_new">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#grid"/>
                    </svg>
                    Méthodologie
                </a>
            </li>

            {% if user.is_staff %}
            <li>
                <a href="{% url 'projects-project-list' %}" class="nav-link link-dark">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#building"/>
                    </svg>
                    Projets
                </a>
                <ul class="submenu">
                    <li class="list-group-item bg-light border-0">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#plus"/>
                        </svg>
                        <a class="text-secondary" href="{% url 'projects-onboarding' %}">Créer</a>
                    </li>
                </ul>
            </li>
            {% endif %}

            {% if not user.is_staff %}
            <hr>

            <div class="card">
                <div class="card-body">

                    <h5>

                        <svg class="bi me-2" width="24" height="24">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#lightbulb"/>
                        </svg>
                        &nbsp;Un Projet ?
                    </h5>

                    <p>
                        Parlez-nous en !
                        L'équipe <strong>UrbanVitaliz</strong> est là pour <strong>vous accompagner</strong>.
                    </p>

                    <a href="{% url 'projects-onboarding' %}" class="btn btn-primary">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#megaphone"/>
                        </svg>
                        Prendre contact
                    </a>
                </div>

            </div>
            {% endif %}

            <hr/>
            <!-- 
                 <li>
                 <a href="project" class="nav-link">
                 <svg class="bi me-2" width="16" height="16">
                 <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#building"/>
                 </svg>
                 Mon Projet
                 </a>
                 </li>
                 <li>
                 <a href="#" class="nav-link link-dark">
                 <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                 Communauté
                 </a>
                 </li>
            -->
        </ul>

        <!-- User -->
        <div id="user-info" >
            <hr>

            {% if user.is_authenticated %}

            <div class="dropdown">
                <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg class="bi me-2 rounded-circle" width="32" height="32">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#person-circle"/>
                    </svg>
                    <strong>{{ user.get_full_name|default:user.email|truncatechars:19 }}</strong>

                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <!-- 
                         <li><a class="dropdown-item" href="#">Nouveau Projet...</a></li>
                         <li><a class="dropdown-item" href="#">Profil</a></li>
                         <li><hr class="dropdown-divider"></li>
                    -->
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Déconnexion</a></li>
                    {% if user.is_staff %}
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'admin:index' %}">Administration</a></li>
                    {% endif %}
                </ul>
            </div>

            {% else %}
            <a href="{% url 'magicauth-login' %}" class="btn btn-primary">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#person-circle"/>
                </svg>
                Se connecter
            </a>

            {% endif %}
        </div>
    </div>
</div>
