{% load static %}

<div x-data="TaskComment()">
    <template x-if="task.content !== '' && !isEditing">
        <div class="position-relative p-3 bg-grey-light rounded-3 p-3">
            <div x-html="renderMarkdown(task.content)"
                 class="text-info-custom font-small text-dark mb-3"></div>
            {% include 'projects/project/fragments/task/task_user_card.html' %}
            <button class="position-absolute bottom-0 mb-3 me-3 right-0 end-0 border tiny d-flex align-items-center justify-content-center px-2 py-2 me-1 hover-bg-grey"
                    @click="isEditing = true">
                <svg class="bi" width="12px" height="12px" fill="#929292">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#pencil-fill" />
                </svg>
            </button>
        </div>
    </template>
    <template x-if="!isEditing && task.content === ''">
        <div class="rounded bg-grey-light mb-4 px-3 d-flex flex-column py-3 justify-content-between align-items-start task-item position-relative">
            <div class="d-flex flex-column align-items-center justify-content-center w-100 py-4">
                <span class="text-info-custom text-orange name fw-normal mb-2">Pas de commentaire initial</span>
                <button class="button filled blue small inherit"
                        @click="isEditing = true">Ajouter un commentaire</button>
            </div>
        </div>
    </template>
    <template x-if="isEditing">
        <div class="py-3 px-3 mb-2 border-blue task-comment medium-border-radius position-relative">
            <button class="position-absolute top-0 mt-3 me-3 right-0 end-0 border tiny d-flex align-items-center justify-content-center px-2 py-2 me-1 hover-bg-grey"
                    @click="isEditing = false">
                <svg class="bi" width="12px" height="12px" fill="#929292">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#x" />
                </svg>
            </button>
            {% include 'tools/editor.html' with is_task_comment=True %}
        </div>
    </template>
</div>
