<div class="tiny">
    <span class="text-grey-dark">par </span>
    <img class="rounded-circle d-inline-block" width="20px" height="20px"
    :src="gravatar_url(f.who.email, 25)" data-bs-toggle="tooltip" data-bs-placement="bottom"
        :title="`${f.who.first_name} ${f.who.last_name}`" style="z-index: 1000;" tabindex="0" />
    <span :class="!f.who.is_active && 'inative-status'" class="ms-1 fst-italic" x-text="`${f.who.first_name} ${f.who.last_name}`"
    style="line-height: 20px"></span>
    <template x-if="f.who.profile.organization && f.who.profile.organization.name">
        <span x-text="f.who.profile.organization.name" class="fst-italic text-muted"></span>
    </template>
</div>
