<div class="tiny">
    <span class="text-grey-dark">par </span>
    <img class="rounded-circle d-inline-block" width="20px" height="20px"
    :src="gravatar_url(task.created_by.email, 25)" data-bs-toggle="tooltip" data-bs-placement="bottom"
        :title="`${task.created_by.first_name} ${task.created_by.last_name}`" style="z-index: 1000;" tabindex="0" />
    <span :class="!task.created_by.is_active && 'inative-status'" class="ms-1 fst-italic" x-text="`${task.created_by.first_name} ${task.created_by.last_name}`"
    style="line-height: 20px"></span>
    <template x-if="task.created_by.profile.organization && task.created_by.profile.organization.name">
        <span x-text="task.created_by.profile.organization.name" class="fst-italic text-muted"></span>
    </template>
</div>
