{% load static %}

{% with request.resolver_match.url_name as url_name %}
<ul class="list-unstyled mb-0 d-flex justify-content-center align-items-center" style="padding-left: 15px;">
    <!-- Projects -->
    {% if active_project %}
    <li style="margin-right: 15px;padding-bottom:20px; border-bottom:solid 2px transparent;">
        <div id="project-selector" class="nav-item">
                <div x-data="{ open: false }" x-on:click.outside="open = false" class="btn-group">
                    <a style="text-decoration: none; color: inherit;" class="ms-1 align-middle" href="{% url 'projects-project-detail' active_project.pk %}"><strong>{{active_project.name}}</strong><span class="text-secondary small ms-2 text-break text-truncate">({{ active_project.commune.name }})</span></strong></a>
                </div>
        </div>
    </li>
    <li style="margin-right: 15px;padding-bottom:20px; border-bottom:solid 2px transparent; {% if 'projects-project-detail' in url_name %} border-bottom:solid 2px #0063CB;{% endif %}">
        <div id="project-selector" class="nav-item">
                <div x-data="{ open: false }" x-on:click.outside="open = false" class="btn-group">
                    {% if request.session.projects|length > 0 %}
                    <span class="ms-1 align-middle">Mes projets</span>
                    <button x-on:click="open = !open" type="button" class="border-0 btn py-0 px-1">
                        <svg data-toggle="tooltip" data-placement="top" title="Notifications désactivées" class="align-middle bi" width="20px" height="20px" fill="currentColor" stroke="currentColor" style="padding: 3px;">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#chevron-down"/>
                        </svg>
                    </button>
                    <ul x-show="open" :class="{'show':open}" class="dropdown-menu py-0 mt-2 top-100" style="width: 20vw;">
                        {% for project in request.session.projects %}
                        <li class="list-group-item px-3 py-2 list-group-item-action dropdown-item border-0 border-bottom">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-break text-truncate">
                                    <a class="stretched-link text-reset text-decoration-none" href="{% url "projects-project-detail" project.id %}">{{ project.name|capfirst }}</a>
                                </span>
                                {% if project.actions_open > 0 %}
                                <div>
                                    <span class="align-middle badge bg-primary rounded-pill">
                                        {{ project.actions_open }}
                                    </span>
                                </div>
                                {% endif %}
                            </div>
                            <span class="text-secondary small text-break text-truncate">{{ project.location|truncatechars:40|capfirst }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
    </li>
    {% endif %}
    <!-- Dashboard -->
    {% if is_switchtender or is_administrating_project %}
        <li class="nav-item dropdown nav-item-admin" style="margin-right: 35px;padding-bottom:20px; border-bottom:solid 2px transparent; {% if url_name == 'projects-project-list' %}border-bottom:solid 2px #0063CB;{% endif %}">
            <div class="btn-group">
                <a href="{% url 'projects-project-list' %}" class="nav-link link-dark {% if url_name == 'projects-project-list' %}active{% endif %}">
                    <span class="ms-1 align-middle">Tableau de Bord</span>
                </a>
            </div>
        </li>
    {% endif %}
    <!-- Methodology -->
    {% if not user.is_authenticated %}
    <li style="margin-right: 35px ;padding-bottom:20px; border-bottom:solid 2px transparent; {% if 'methodology' in url_name %}border-bottom:solid 2px #0063CB;{% endif %}">
        <div class="btn-group">
            <a href="{% url 'methodology' %}" class="nav-link link-dark">
                <span class="me-2 ms-1 align-middle">Méthodologie</span>
            </a>
        </div>
    </li>
    {% endif %}
    <!-- Ressources -->
    <li style="margin-right: 15px ;padding-bottom:20px; border-bottom:solid 2px transparent; {% if url_name == 'resources-resource-search' %}border-bottom:solid 2px #0063CB;{% endif %}">
        <div x-data="{ open: false }" x-on:click.outside="open = false" class="btn-group d-flex justify-content-center align-items-center">
            <a href="{% url 'resources-resource-search' %}" class="nav-link link-dark {% if url_name == 'resources-resource-search' %}active{% endif %}">
                <span class="ms-1 align-middle">Ressources</span>
            </a>
            {% if user.is_staff %}
            <button x-on:click="open = !open" type="button" class="border-0 btn py-0 px-1">
                <svg data-toggle="tooltip" data-placement="top" title="Notifications désactivées" class="align-middle bi" width="20px" height="20px" fill="currentColor" stroke="currentColor" style="padding: 3px;">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#chevron-down"/>
                </svg>
            </button>
            <ul x-show="open" :class="{'show':open}" class="dropdown-menu py-0 mt-2 top-100">
                <li><a class="dropdown-item px-4 py-2" href="{% url 'resources-resource-create' %}">Créer</a></li>
            </ul>
            {% endif %}
        </div>
    </li>
    <!-- Address Book -->
    {% if request.user.is_staff %}
    <li style="margin-right: 35px ;padding-bottom:20px; border-bottom:solid 2px transparent; {% if 'addressbook' in url_name %}border-bottom:solid 2px #0063CB;{% endif %}">
        <a href="{% url 'addressbook-organization-list' %}" class="nav-link link-dark {% if url_name == 'addressbook-organization-list' %}active{% endif %}">
            <span class="ms-1 me-2 align-middle">Carnet d'adresses</span>
        </a>
    </li>
    {% endif %}
</ul>
{% endwith %}

