{% load django_vite %}

{% block js %}
    {% vite_asset 'js/apps/organizationSearch.js' %}
{% endblock %}

<div x-data='OrganizationSearch("{{value|default:""}}")'>
        {% if dsfr %}
            {{label}}
        {% else %}
            <label class="text-info-custom text-grey-dark" for="id_for_label">{{ label }}</label>
        {% endif %}
        <input x-on:input.change.debounce="handleOrganizationChange" x-model="organization" type="text" 
        {% if dsfr %} 
            class="fr-input fr-mt-2v fr-mb-4v"
        {% else %}
            class="{% if small_padding %} py-2 {% else %}py-4 {% endif %}placeholder-grey form-control {% if errors %} is-invalid {% endif %} {% if disabled %} input-disabled {% endif %}"
        {% endif %}
            id="{{ id_for_label }}" name="{{ name }}" placeholder="{{placeholder}}"
            value="organization" {% if not disabled %} required {% endif %} />
        {% for error in errors %}
            <div class="text-danger text-end">{{ error }}</div>
        {% endfor %}
        <template x-if="results.length > 0">
            <div class="d-flex align-items-center flex-wrap mt-2 mb-2">
                <span class="d-block text-blue text-info-custom text-grey-dark font-small fw-normal">Suggestions de noms d'organisation :</span>
                <template x-for="result in results">
                    <div class="d-flex align-item-center flex-wrap mx-1 mt-1">
                        <button @click.prevent="handleResultClick(result.name)" class="button secondary blue small" x-text="result.name"></button>
                    </div>
                </template>
            </div>
        </template>
</div>
