{% load static %}
{% load django_vite %}

{% block js %}
    {% vite_asset 'js/apps/user.js' %}
{% endblock %}

{% load guardian_tags %}
{% load projects_extra %}

{% get_advising_position user project as position %}

{% get_obj_perms request.user for request.site as "user_site_perms" %}
{% get_obj_perms request.user for project as "user_project_perms" %}

<div x-data="User()" class="user-card position-relative d-flex my-1 flex-column justify-content-between align-items-start">
    <div class="position-relative d-flex align-items-center justify-content-between {% if user_activity %} w-100 {% endif %}">
        <div x-ref="user" @click="onUserClick" class="d-flex align-items-center flex-wrap user-info">
            <span class="me-1 d-flex align-items-center font-very-small">
                <img class="rounded-circle me-1 {% if not user.is_active%}{% elif position.is_advisor %}advisor-border border-2{% elif position.is_observer %}observer-border border-2{% endif %}" :src="gravatar_url('{{user.email}}', 18, '{{user.first_name}}' + ' ' + '{{user.last_name}}')" alt="{{action.actor}}">
                <strong class="text-nowrap text-capitalize {% if not user.is_active%}inative-status{% endif %}">
                    {% if user.get_full_name %}
                        {{ user.get_full_name }}
                    {% elif project and project.first_name and project.last_name %}
                        {{ project.first_name }}
                        {{ project.last_name }}
                    {% else %}
                        {{user.email}}
                    {% endif %}
                </strong>
            </span>
            {% if user.profile.organization.name and user.is_active %}
                <span class="text-dark fw-normal font-italic font-very-small">{{user.profile.organization.name}}</span>
            {% elif project_owner and project.org_name and user.is_active %}
                <span class="text-dark fw-normal font-italic font-very-small">{{project.org_name}}</span>
            {% endif %}
        </div>
        {% if 'use_crm' in user_site_perms and user_activity %}
            <a class="small ms-1" href="{% url 'crm-user-details' user.pk %}">
                <svg class="bi me-1" width="16" height="16" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#activity" />
                </svg>
            </a>
        {% endif %}
    </div>
        <div x-cloak x-ref="userTooltip" id="user-tooltip" @click.outside="onOutsideUserClick" class="user-card-popup flex-column {% if position.is_advisor %}advisor-border{% elif position.is_observer %}observer-border {% endif %}">
            {% if position.is_advisor %}
                <div class="user-role position-absolute">
                    <span class="py-1 px-2 fw-bold text-uppercase tiny advisor-background text-white"
                        style="border-radius: 2px;">Conseiller</span>
                </div>
            {% elif position.is_observer %}
                <div class="user-role position-absolute">
                    <span class="py-1 px-2 fw-bold text-uppercase tiny observer-background text-white"
                        style="border-radius: 2px;">Observateur</span>
                </div>
            {% endif %}
            <div class="d-flex align-items-center flex-wrap">
                <span class="me-2 d-flex align-items-center font-very-small">
                    <img class="rounded-circle me-2 {% if not user.is_active%}{% elif position.is_advisor %}advisor-border border-2{% elif position.is_observer %}observer-border border-2{% endif %}" :src="gravatar_url('{{user.email}}', 25, '{{user.first_name}}' + ' ' + '{{user.last_name}}')" alt="{{action.actor}}">
                    <strong class="text-nowrap text-capitalize {% if not user.is_active %}inative-status{% endif %}">
                        {% if user.get_full_name %}
                            {{ user.get_full_name }}
                        {% elif project and project.first_name and project.last_name %}
                            {{ project.first_name }}
                            {{ project.last_name }}
                        {% else %}
                            {{user.email}}
                        {% endif %}
                    </strong>
                </span>
                {% if user.profile.organization.name and user.is_active %}
                    <span class="text-dark fw-normal font-italic font-very-small">{{user.profile.organization.name}}</span>
                {% elif project_owner and project.org_name and user.is_active %}
                    <span class="text-dark fw-normal font-italic font-very-small">{{project.org_name}}</span>
                {% endif %}
            </div>
            {% if user.is_active %}
                <span class="d-flex align-items-center justify-content-between text-blue font-very-small mt-1">
                    <div class="d-flex align-items-center">
                        <svg class="bi align-middle me-2" width="18" height="18" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#link-45deg" />
                        </svg>
                        <a class="text-decoration-none text-blue" href="mailto:{{ user.email }}">{{ user.email }}</a>
                    </div>
                        <button class="ms-4 px-2 py-0 btn small btn-outline-primary" @click="clipboardCopy(`L'email`, '{{user.email}}')">
                            <svg class="bi align-baseline" width="10" height="10" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#clipboard" />
                            </svg>
                        </button>
                </span>
            {% endif %}
            {% if user.profile.phone_no and user.is_active %}
                <span class="d-flex align-items-center justify-content-between text-blue font-very-small mt-1">
                    <div class="d-flex align-items-center">
                        <svg class="bi align-middle me-2" width="15" height="15" fill="currentColor">
                            <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#telephone" />
                        </svg>
                        <a class="text-decoration-none text-blue" href="tel:{{ project.owner.profile.phone_no }}">{{ user.profile.phone_no }}</a>
                    </div>
                    <button class="ms-4 px-2 py-0 btn small btn-outline-primary" @click="clipboardCopy('Le numéro de téléphone', '{{user.profile.phone_no}}')">
                        <svg class="bi align-baseline" width="10" height="10" fill="currentColor">
                          <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#clipboard" />
                        </svg>
                    </button>
                </span>
            {% endif %}
            {% if not user.is_active %} 
                <span style="border-radius: 2px;" class="p-1 px-2 font-very-small bg-grey-light w-100 d-flex mt-1 text-nowrap">Compte desactivé depuis le {{user.profile.deleted}}</span>
            {% endif %}
        </div>
</div>
