.separator {
  border-bottom: 1px solid #000;
  width: 45%; }

.flex-it-well {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem; }

.place-it-well {
  margin-bottom: 0px; }
