{% load static %}
<template x-if="$store.tasksData.newTasks.length > 0 && !$store.djangoData.isAdvisor">
    <div data-test-id="banner-new-tasks"
         class="fr-py-1v flag dark-blue fr-mb-2v d-flex align-items-center justify-content-start text-white small-border-radius fr-mt-3w">
        <img src="{% static 'projects/img/icon_new_task.svg'  %}"
             alt=""
             data-test-id="img-presentation"
             class="icon-banner" />
        <div class="fr-ml-3w d-flex justify-content-between align-items-center w-100">
            <h6 class="fr-mb-0 fw-bold text-white">
                Vous avez
                <span x-text="$store.utils.isPlural(`1 recommandation non lue`, `${$store.tasksData.newTasks.length} recommandations non lues`, $store.tasksData.newTasks.length)"></span>
                <span x-text="`(sur ${$store.tasksData.tasks.length} au total).`"></span>
            </h6>
            <button @click="$store.previewModal.openWithPagination()"
                    class="button filled white small inherit fw-bold specific-color-high-blue-france">
                Consultez les recommandations
            </button>
        </div>
    </div>
</template>
