<div class="kanban-header__view-selector fs-5 fr-mr-6v">
    {% include "projects/project/fragments/navigation/display_select.html" %}
</div>
<div x-data="Tutorial('time-filter-tutorial-on-kanban')"
     class="kanban-header__middle-part">
    <div class="kanban-header__searchbar position-relative">
        {% include "projects/project/fragments/search_bar.html" with action_search="onSearch" x_model="searchText" placeholder="Rechercher commune, #tag, nom du dossier..." %}
    </div>
    <div class="kanban-header__my-projects-toggle">
        {% include "projects/project/fragments/only_my_projects_toggle.html" %}
    </div>
    <div class="kanban-header__region-filter fr-mr-6v">
        {% include "projects/project/fragments/departments_selector.html" with label="Projets de mon territoire" filter_by_regions=True zone_objects="regions" select_all=True %}
    </div>
</div>
