{% load static %}

<div class="modal fade" id="invite-member-modal" tabindex="-1" aria-labelledby="invite-member-modal-label"
  aria-hidden="true" x-init="initInviteMemberModal()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 style="font-size: 22px;" class="fw-bold d-block mb-0">Inviter un membre de la collectivité</h6>
      </div>
      <div class="modal-body">
          <form class="form" id="form-projects-access-add-user" action="{% url 'projects-project-access-collectivity-invite' project.pk %}" method="post">
            <div class="mb-3">
                <label class="form-label" style="font-size: 16px; color: #666666;" for="invite-email">Saisissez l'adresse email de la personne à inviter</label>
                <input id="invite-email" type="email" name="email" required class="form-control" placeholder="camille@ville-imaginaire.fr"/>
            </div>
                
            <input type="hidden" name="{{ invite_form.role.html_name }}" id="role-collaborator" value="COLLABORATOR">
            
            {% if source %}
              <input type="hidden" name="source" id="source" value="{{source}}">
            {% endif %}

            <div class="mb-3">
                <label style="font-size: 16px; color: #666666;" class="form-label" for="invite-message">Message d'invitation (optionnel)</label>
                <textarea id="invite-message" rows="8" name="message" class="form-control" placeholder="J'aimerais vous inviter car..."></textarea>
            </div>

            <div class="d-flex justify-content-end">
                <button class="button d-inline-flex align-items-center" type="submit">
                    Envoyer l'invitation
                </button>
            </div>

            {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
</div>
