{% extends "base.html" %}

{% block content %}
    <div class="col-9 fr-py-6w fr-mx-auto">
        <div class="fr-grid-row">
            <div class="col-12">
                <iframe width="100%" height="500vh" src="{% url "resources-resource-detail-embeded" resource.pk %}"></iframe>
            </div>
        </div>

        <form method="POST">
            {% csrf_token %}
            <div class="fr-grid-row">
                <!-- Choice -->

                  <div class="col-4" style="border: 1px solid red">
                      <input type="radio" id="choice1" name="{{ form.choice.html_name }}" value="1">
                      <label for="choice1">{{ comparison.summary1.text }}</label>
                  </div>

                  <!-- no one is satisfying todo --->

                  <div class="col-4 fr-col-offset-4" style="border: 1px solid red">
                      <input type="radio" id="choice2" name="{{ form.choice.html_name }}" value="2">
                      <label for="choice2">{{ comparison.summary2.text }}</label>
                  </div>
                </input>
            </div>
        </form>
    </div>
{% endblock %}
