{% load static %}
{% load humanize %}

<div class="mb-3">
  <div class="rounded border py-2 px-3 mb-2 d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <a href="{{ document.the_file.url }}" class="d-flex align-items-center text-decoration-none" target="_new" download>
        <svg class="bi align-baseline me-2" width="17" height="17" fill="#222">
          <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#file-earmark" />
        </svg>
        <span class="text-info-custom text-black fw-medium">{{ document.description|truncatechars:33 }}</span>
        <span class="text-info-custom text-black ms-2">{{document.the_file.name}}</span>
        <span class="text-info-custom text-black ms-2">({{document.the_file.size}})</span>
      </a>
    </div>
    <div class="d-flex align-items-center">
      <a class="d-flex me-2" href="{{ document.the_file.url }}" target="_new" download>
        <svg class="bi align-baseline fill-blue" width="20" height="20">
          <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#star" />
        </svg>
      </a>
      {% if document.uploaded_by == user %}
      <form class="me-2" method="post" action="{% url 'projects-conversation-delete-file' project.pk document.pk %}">
        {% csrf_token %}
        <button class="d-flex" style="border: 0; background: 0;">
          <svg class="bi align-baseline fill-grey" width="20" height="20">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#trash" />
          </svg>
        </button>
      </form>
      {% endif %}
      <a class="d-flex" href="{{ document.the_file.url }}" target="_new" download>
        <svg class="bi align-baseline fill-blue" width="20" height="20">
          <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#download" />
        </svg>
      </a>
    </div>
  </div>
  <div class="ps-4 ms-4 d-flex align-items-center">
    <span class="tiny" style=""><strong>{% if document.uploaded_by.get_full_name %}{{ document.uploaded_by.get_full_name }}{% else %}{{ document.uploaded_by.email }}{% endif %}.</strong>
        {% if document.uploaded_by.profile.organization %}
        <span class="tiny text-grey-dark">Équipe {{ document.uploaded_by.profile.organization.name }}</strong></span>
        {% endif %}
    </span>
    <span class="ms-4 tiny d-flex align-items-center" style=""><svg class="bi align-baseline me-2" width="12" height="12" fill="#222">
      <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#calendar" />
    </svg> {{ document.created_on|naturalday }}</span>
  </div>
</div>
