{% load static %}
{% load humanize %}

<div class="{% if is_pinned == True %} mb-1 {% else %} mb-3 {% endif %}">
  <div class="rounded border py-2 px-3 mb-2 d-flex align-items-center justify-content-between {% if disable_toolbar == True %} bg-white {% endif %}">
    {% if is_pinned == True %}
      <div class="d-flex align-items-start">
        <svg class="bi align-baseline me-2 mt-1" width="17" height="17" fill="#222">
          <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#file-earmark" />
        </svg>
        <a href="{{ document.the_file.url }}" class="d-flex flex-column align-items-start text-decoration-none" target="_new" download>
          <span class="text-info-custom text-black fw-medium">{{ document.description|truncatechars:33 }}</span>
          <div>
            <span class="text-info-custom text-black">{{document.filename|truncatechars:15}}</span>
            <span class="text-info-custom text-black ms-2">({{ document.the_file.size|filesizeformat }})</span>
          </div>
        </a>
      </div>
    {% else %}
      <div class="d-flex align-items-center">
        <a href="{{ document.the_file.url }}" class="d-flex align-items-center text-decoration-none" target="_new" download>
          <svg class="bi align-baseline me-2" width="17" height="17" fill="#222">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#file-earmark" />
          </svg>
          <span class="text-info-custom text-black fw-medium description">{{ document.description|truncatechars:33 }}</span>
          <span class="text-info-custom text-black ms-2 name">{{ document.filename|truncatechars:15 }}</span>
          <span class="text-info-custom text-black ms-2">({{ document.the_file.size|filesizeformat }})</span>
        </a>
      </div>
      {% endif %}
      <div class="d-flex align-items-center {% if is_pinned == True %}flex-column {% endif %}">
          {% if not disable_toolbar %}
          <form method="POST" action="{% url 'projects-documents-pin-unpin' project.pk document.pk %}">
              {% csrf_token %}
              <button class="btn btn-link d-flex p-0 {% if is_pinned == True %} me-0 mb-2 {% else %} me-2 {% endif %}">
                  <svg class="bi align-baseline fill-blue" width="20" height="20">
                      {% if document.pinned == True %}
                      <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#star-fill" />
                      {% else %}
                      <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#star" />
                      {% endif %}
                  </svg>
              </button>
          </form>
          {% if document.uploaded_by == user and not is_pinned == True %}
      <form class="me-2" method="post" action="{% url 'projects-documents-delete-document' project.pk document.pk %}">
        {% csrf_token %}
        <button class="d-flex" style="border: 0; background: 0;">
          <svg class="bi align-baseline fill-grey" width="20" height="20">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#trash" />
          </svg>
        </button>
      </form>
      {% endif %}
      {% endif %}
      <a class="d-flex" href="{{ document.the_file.url }}" target="_new" download>
        <svg class="bi align-baseline fill-blue" width="20" height="20">
          <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#download" />
        </svg>
      </a>
    </div>
  </div>
    {% if not is_pinned == True and not disable_toolbar == True %}
    <div class="ps-4 ms-4 d-flex align-items-center">
      <span class="tiny"><strong>{% if document.uploaded_by.get_full_name %}{{ document.uploaded_by.get_full_name }}{% else %}{{ document.uploaded_by.email }}{% endif %}.</strong>
          {% if document.uploaded_by.profile.organization %}
          <span class="tiny text-grey-dark">Équipe {{ document.uploaded_by.profile.organization.name }}</strong></span>
          {% endif %}
      </span>
      <span class="ms-4 tiny d-flex align-items-center"><svg class="bi align-baseline me-2" width="12" height="12" fill="#222">
        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#calendar" />
      </svg> {{ document.created_on|naturalday }}</span>
      {% if document.attached_object %}
        <span class="ms-4 tiny d-flex">De :  {{ document.attached_object }}</span>
      {% endif %}
    </div>
    {% endif%}
  </div>
