{% load static %}
{% load humanize %}

{% if document %}
<div class="mb-3">
  <div class="rounded border py-2 px-3 mb-2 d-flex align-items-center justify-content-between bg-white ">
      <div class="d-flex align-items-center">
        <a href="{{ document.the_file.url }}" class="d-flex align-items-center text-decoration-none" target="_new" download>
          <svg class="bi align-baseline me-2" width="17" height="17" fill="#222">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#file-earmark" />
          </svg>
          <span class="text-info-custom text-black fw-medium description">{{ document.description|truncatechars:33 }}</span>
          <span class="text-info-custom text-black ms-2 name">{{ document.filename|truncatechars:15 }}</span>
          {% if document and document.the_file.size %}
            <span class="text-info-custom text-black ms-2">({{ document.the_file.size|filesizeformat }})</span>
          {% endif %}
        </a>
      </div>
      <div class="d-flex align-items-center">
          {% if document.uploaded_by == user or can_administrate %}
              <form class="me-2" method="post" action="{% url 'projects-documents-delete-document' project.pk document.pk %}">
                {% csrf_token %}
                <button class="d-flex" style="border: 0; background: 0;">
                  <svg class="bi align-baseline fill-grey" width="20" height="20">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#trash" />
                  </svg>
                </button>
              </form>
          {% endif %}
            <a class="d-flex" href="{{ document.the_file.url }}" target="_new" download>
            <svg class="bi align-baseline fill-blue" width="20" height="20">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#download" />
            </svg>
            </a>
        </div>
      </div>
  </div>
  {% endif %}
