{% load static %}
{% load humanize %}

<div class="mb-3">
  <div class="rounded border py-2 px-3 mb-2 d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-start">
        <svg class="bi align-baseline me-2 mt-1" width="17" height="17" fill="#222">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#box-arrow-up-right" />
          </svg>
        <div class="flex-column align-items-start justify-content-start">
            <a href="{{ document.the_link }}" class="d-flex align-items-center text-decoration-none" target="_new" download>
                <span class="text-info-custom text-black fw-medium">{{ document.description|truncatechars:33 }}</span>
            </a>
            <a href="{{document.the_link}}" target="_blank" class="small text-black font-marianne fw-light">({{document.the_link|truncatechars:25}})</a>
        </div>
    </div>
    <div class="d-flex align-items-center">
      {% if document.uploaded_by == user or can_administrate %}
      <form class="" method="post" action="{% url 'projects-documents-delete-document' project.pk document.pk %}">
        {% csrf_token %}
        <button id="link-delete-button" class="d-flex" style="border: 0; background: 0;">
          <svg class="bi align-baseline fill-grey" width="20" height="20">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#trash" />
          </svg>
        </button>
      </form>
      {% endif %}
    </div>
  </div>
</div>
