{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% load sass_tags %}

{% block css %}
<link href="{% sass_src 'resources/resources.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="col-11 py-5 mx-auto">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#book"/>
                </svg>&nbsp;
                <a href="{% url 'resources-resource-search' %}">Ressources</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'resources-resource-detail' resource.id %}">{{ resource.title|title|truncatechars:20 }}</a>
            </li>
            <li class="breadcrumb-item active">Mettre en favori
            </li>
        </ol>
    </nav>
    <h2>
        <svg class="bi me-1 " width="32" height="32" fill="currentColor">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#star"/>
        </svg>
        Ajouter une ressource en favori
    </h2>

    <form class="form" id="form-create-bookmark" action="{% url "resources-bookmark-create" resource.id %}" method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label class="mb-2" for="input-project-comments">Vous pouvez ajouter une note privée si vous le souhaitez :</label>
            <textarea class="form-control {% if form.comments.errors %}is-invalid{% endif %}" style="height: 100px;" id="input-bookmark-comments" name="{{ form.comments.name }}" placeholder="Vous pouvez par exemple donner du contexte, ajouter un mémo, ...">{{ form.comments.value|default:'' }}</textarea>

            {% for error in form.comments.errors %}
            <div class="text-danger text-end">{{ error }}</div>
            {% endfor %}
        </div>
        <button class="btn btn-primary" type="submit">Ajouter aux favoris</button>
    </form>
</div>
{% endblock %}
