{% load static %}

<!-- Horizontal Card -->
<div class="card-resource card-resource-horizontal card h-100" style="min-height: 100px;">
    <!-- <hr class="middle-hr" /> -->
    <div class="card-body">
        <div class="card-title mb-4">
            <div class="row">
                <!-- <div class="icon-placeholder  d-inline"> -->
                <!--</div> -->
                <!-- <span class="col-8 category">
                     <span class="badge bg-light text-dark">
                     {{ resource.category.name|default:"Ressource" }}
                     </span>
                     </span>
                -->
                <div class="title">
                    <svg class="bi me-2 bg-color-darkgrey resource-icon">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#person-badge"/>
                    </svg>
                    {{ contact.full_name|title }} {% if show_id and user.is_staff %}
                    <span class="text-secondary">#contact-{{ contact.id }}</span>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="card-text">
            <div class="small text-secondary subtitle">{{ contact.organization.name|truncatechars:120 }}</div>
            {% if contact.phone_no %}
            <div class="small text-secondary">
                <svg class="bi" width="12" height="12" >
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#telephone"/>
                </svg>
                &nbsp;
                <a href="tel:{{contact.phone_no}}">{{ contact.phone_no }}</a>
            </div>
            {% endif %}
            {% if contact.mobile_no %}
            <div class="small text-secondary">
                <svg class="bi" width="12" height="12" >
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#phone"/>
                </svg>
                &nbsp;
                <a href="tel:{{contact.mobile_no}}">{{ contact.mobile_no }}</a>
            </div>
            {% endif %}
            {% if contact.email %}
            <div class="small text-secondary">
                <svg class="bi" width="12" height="12" >
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#envelope"/>
                </svg>
                &nbsp;
                <a href="mailto:{{contact.email}}">{{ contact.email }}</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
