{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% load sass_tags %}

{% block css %}
<link href="{% sass_src 'resources/resources.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="col-11 py-5 mx-auto">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#book"/>
                </svg>&nbsp;
                <a href="{% url 'resources-resource-search' %}">Ressources</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'resources-resource-detail' project.id %}">{{ resource.title|title|truncatechars:20 }}</a>
            </li>
            <li class="breadcrumb-item active">Pousser la ressource
            </li>
        </ol>
    </nav>
    <h2>
        <svg class="bi me-1 " width="32" height="32" fill="currentColor">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#layer-forward"/>
        </svg>
        Pousser une ressource
    </h2>
    <p class="fs-5">Recommander la ressource "<span class="text-secondary">{{ resource.title|title }}</span>" au projet "<span class="text-secondary">{{ project.name|title }}</span>".</p>

    <form class="form" id="form-create-bookmark" action="." method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label class="mb-2" for="input-project-comments">Pourquoi poussez-vous cette ressource ?</label>
            <textarea class="form-control {% if form.comments.errors %}is-invalid{% endif %}" style="height: 100px;" id="input-bookmark-comments" name="{{ form.comments.name }}" placeholder="Veuillez saisir quelques mots pour motiver la raison de cette suggestion." required>{{ form.comments.value|default:'' }}</textarea>

            {% for error in form.comments.errors %}
            <div class="text-danger text-end">{{ error }}</div>
            {% endfor %}
        </div>
        <p class="small text-secondary">Le contact de ce projet ({{ project.full_name }}) sera notifié par courriel de votre proposition.</p>
        <button class="btn btn-primary" type="submit">Pousser la ressource</button>
    </form>
</div>
{% endblock %}
