/* Info boxes */


.bd-callout {
	  padding: 1.25rem;
	  margin-top: 1.25rem;
	  margin-bottom: 1.25rem;
	  border: 1px solid #e9ecef;
	  border-left-width: .25rem;
	  border-radius: .25rem;
}

.bd-callout-info {
	  border-left-color: #5bc0de;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

