.markdownx {
    display: flex;

    textarea {
        margin-right: 50px;
        min-height: 300px;
        width: 50%;
    }

    .markdownx-preview {
        width: 50%;
        overflow-wrap: break-word;
    }
}
