{% load wagtailcore_tags %}
{% wagtail_site as current_site %}
{% url 'home' as home_url %}

{% if user.is_authenticated == False %}
    <li class="fr-nav__item">
        <a type="link"
        href="{% url 'resources-resource-search' %}"
        class="fr-nav__link"
        {% if url_name == 'resources-resource-search' %}aria-current="page"{% endif %}>Ressources</a>
    </li>
{% endif %}
{% for menuitem in current_site.root_page.get_children.live.in_menu %}
    <li class="fr-nav__item">
        <a type="link"
           href="{% pageurl menuitem %}"
           class="fr-nav__link"
           {% if request.path in menuitem.url and not request.path == home_url %}aria-current="page"{% endif %}>{{ menuitem.title }}</a>
    </li>
{% endfor %}
