{% extends "account/layout/layout.html" %}

<div class="container">
    {% block layout_content %}
        <div x-data="AjvValidationSchema('schemaOnboardingStep1SignupFormValidator')">
            <div x-data="DsrcFormValidator('{{ form.helper.form_id }}', schemaValidator, '{{ request.method }}')"
                 x-init="init">
                {% include "onboarding/fragments/form-user.html" with include_password_field=True include_message_field=False %}
            </div>
        </div>
    {% endblock layout_content %}
</div>
