{% load static %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/apps/topicSearch.js' %}
{% endblock js %}
<!-- Action title -->
<div class="fr-mt-2v" x-show="push_type == 'noresource'">
    <label class="push-reco__title-section" for="intent">Titre</label>
    <input class="fr-input"
           type="text"
           id="intent"
           name="intent"
           x-model="intent"
           required
           :readonly="push_type != 'noresource'">
    {% for error in form.intent.errors %}<div class="text-danger text-end">{{ error }}</div>{% endfor %}
</div>
<!-- Action theme -->
<div x-data='TopicSearch("{{ form.topic_name.value|default:"" }}", "recommendations")'
     class="fr-mt-2v fr-mb-2w">
    <label class="push-reco__title-section" for="topic_name">Ajout d’une thématique</label>
    <div class="thematic__search-bar">
        <span class="fr-icon-search-line fr-icon--sm" aria-hidden="true"></span>
        <input class="fr-input"
               type="search"
               id="topic_name"
               name="topic_name"
               x-model="topic"
               x-on:input.change.debounce="handleTopicChange">
        {% for error in form.topic.errors %}<div class="text-danger text-end">{{ error }}</div>{% endfor %}
    </div>
    <template x-if="results.length > 0">
        <div class="d-flex align-items-center flex-wrap fr-mb-2v fr-mt-1v">
            <span class="d-block text-info-custom text-grey-dark font-small fw-normal">Suggestions :</span>
            <template x-for="result in results">
                <div class="d-flex align-item-center flex-wrap fr-mx-1v fr-mt-1v">
                    <button @click.prevent="handleResultClick(result.name)"
                            class="fr-btn fr-btn--secondary fr-btn--small"
                            x-text="result.name"></button>
                </div>
            </template>
        </div>
    </template>
</div>
<!-- Action message -->
<div class="fr-input-group">
    <label class="push-reco__title-section" for="content">Rédaction d’un message personnalisé</label>
    {% include "tools/editor_dsfr.html" with input_name="content" input_value="content" errors=form.content.errors is_task=True %}
    <!-- Action file -->
    <button class="fr-btn fr-btn--sm fr-btn--tertiary fr-icon-file-add-line fr-btn--icon-left file-upload-wrapper"
            type="button"
            @click="$refs.fileUploadInput.click()">
        <span class="file-upload-text">Ajouter un fichier</span>
        <span class="fr-ml-1w" x-text="fileName"></span>
        <input x-ref="fileUploadInput"
               x-model="currentFile"
               type="file"
               id="file-upload"
               name="the_file"
               @change='handleFileUpload'
               class="d-none file-upload-input">
    </button>
</div>
<div class="fr-mb-3w">
    {% comment %} {% include "projects/project/fragments/files_links/file_upload_input_standalone.html" %} {% endcomment %}
    {% for error in document_form.the_file.errors %}
        <div class="text-danger text-start fr-mb-2v">{{ error }}</div>
    {% endfor %}
</div>
<!-- Action submit -->
<div class="d-flex justify-content-center">
    {% if not disable_draft %}
        <button @click="set_draft(true)"
                class="fr-btn fr-btn--secondary fr-btn--lg fr-mr-3w"
                :disabled="(push_type == 'single' && !selected_resource) || !$store.actionPusher.isSelectedProject"
                data-test-id="publish-draft-task-button">Enregistrer en brouillon</button>
    {% endif %}
    <button @click="set_draft(false)"
            type="submit"
            class="fr-btn fr-btn--lg"
            :disabled="(push_type == 'single' && !selected_resource) || !$store.actionPusher.isSelectedProject">
        Publier la recommandation
    </button>
</div>
