{% load static %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/apps/topicSearch.js' %}
{% endblock js %}
<!-- Action title -->
<div class="fr-mt-2v" x-show="push_type == 'noresource'">
    <label class="push-reco__title-section" for="intent">Titre</label>
    <input class="fr-input"
           type="text"
           id="intent"
           name="intent"
           x-model="intent"
           required
           :readonly="push_type != 'noresource'"
           data-cy="input-title-task">
    {% for error in form.intent.errors %}<div class="text-danger text-end">{{ error }}</div>{% endfor %}
</div>
<!-- Action theme -->
<div x-data='TopicSearch("{{ form.topic_name.value|default:"" }}", "recommendations")'
     class="fr-mt-2v fr-mb-2w">
    <label class="push-reco__title-section" for="topic_name">Ajout d’une thématique</label>
    <div class="thematic__search-bar">
        <span class="fr-icon-search-line fr-icon--sm" aria-hidden="true"></span>
        <input class="fr-input"
               type="search"
               id="topic_name"
               name="topic_name"
               x-model="topic"
               x-on:input.change.debounce="handleTopicChange">
        {% for error in form.topic.errors %}<div class="text-danger text-end">{{ error }}</div>{% endfor %}
    </div>
    <template x-if="results.length > 0">
        <div class="d-flex align-items-center flex-wrap fr-mb-2v fr-mt-1v">
            <span class="d-block text-info-custom text-grey-dark font-small fw-normal">Suggestions :</span>
            <template x-for="result in results">
                <div class="d-flex align-item-center flex-wrap fr-mx-1v fr-mt-1v">
                    <button @click.prevent="handleResultClick(result.name)"
                            class="fr-btn fr-btn--secondary fr-btn--small"
                            x-text="result.name"></button>
                </div>
            </template>
        </div>
    </template>
</div>
<!-- Action message -->
<div class="fr-input-group">
    <label class="push-reco__title-section" for="content">Commentaire personnalisé</label>
    {% include "tools/editor.html" with input_file_name="the_file" model="message" input_name="content" initial_content=form.content.value|default:preserved_content|default:'' initial_content_escapejs=True errors=form.content.errors is_task=True %}
    <template x-if="message.contact">
        <input type="hidden"
               name="{{ form.contact.name }}"
               :value="message.contact.id">
    </template>
</div>
<!-- Action submit -->
<div class="d-flex justify-content-center">
    {% if not disable_draft %}
        <button @click="set_draft(true)"
                class="fr-btn fr-btn--secondary fr-btn--lg fr-mr-3w"
                :disabled="(push_type == 'single' && !selected_resource) || !$store.actionPusher.isSelectedProject"
                data-test-id="publish-draft-task-button">Enregistrer en brouillon</button>
    {% endif %}
    <button @click="set_draft(false)"
            type="submit"
            class="fr-btn fr-btn--lg"
            data-cy="button-submit-task"
            :disabled="(push_type == 'single' && !selected_resource) || (push_type == 'noresource' && (intent == '' || message.text == '')  ) || !$store.actionPusher.isSelectedProject">
        Publier la recommandation
    </button>
</div>
