<!-- Resources externes -->
<div x-show="push_type == 'external_resource'"
     x-data="Tutorial('external-resources-proper-functioning')"
     x-transition:enter-start="grow-enter-start"
     x-transition:leave="grow-leave"
     class="position-relative"
     id="external-resources-step">
    <label class="fr-label push-reco__title-section"
           for="external-resource-url-input">
        Désignation de la ressource externe à récupérer
        <span class="fr-hint-text">Copiez l'URL de la ressource depuis son site d'origine (https://...), collez la ci-dessous et cliquez sur Charger</span>
    </label>
    <div class="fr-search-bar fr-search-bar--lg" id="search-2" role="search">
        <input class="fr-input"
               type="text"
               placeholder="https://"
               x-ref="external_resource_url"
               @input="canLoadNewExternalResource = $refs.external_resource_url.value != ''"
               name="external-resource-url-input"
               data-cy="input-external-resource-url">
        <button class="fr-btn"
                type="button"
                :disabled="!canLoadNewExternalResource"
                @click="postExternalResource($refs.external_resource_url.value)"
                data-cy="button-external-resource-load">Charger la ressource</button>
    </div>
    {% include "tutorial/tutorial_hint.html" with type="searchExtRes" %}
    <div x-show="isBusyExternalResource"
         x-transition
         class="position-absolute top-0 text-center w-100">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div x-show="!isBusyExternalResource && externalResourceError"
         class="fr-alert fr-alert--error fr-alert--sm fr-mt-1v">
        <p x-text="externalResourceError"></p>
    </div>
    <div x-show="externalResource.length > 0 && !externalResourceError"
         class="fr-alert fr-alert--success fr-alert--sm fr-mt-1v">
        <p>Ressource importée avec succès, pensez à la relire et si besoin, modifiez la dans la bibliothèque de ressources</p>
    </div>
    <ul x-show="externalResource.length > 0"
        class="cards d-flex row row-cols-3 g-4 fr-pl-0 fr-ml-0 fr-mt-1v">
        <template x-for="resource in externalResource" :key="resource.id">
            <li class="col-4">
                {% include "projects/project/fragments/action_pusher/resource_short_element.html" with pre_selected="True" %}
            </li>
        </template>
    </ul>
</div>
<!-- Resources internes -->
<div id="resource-list"
     class="push-reco__ressources fr-mb-3w grow"
     x-show="push_type == 'single'"
     x-transition:enter-start="grow-enter-start"
     x-transition:leave="grow-leave">
    <h3 class="push-reco__title-section fr-mb-3v">Recherche d'une ressource existante sur {{ request.site.name }}</h3>
    <div class="ressources__search-bar">
        <span class="fr-icon-search-line fr-icon--sm" aria-hidden="true"></span>
        <input data-test-id="search-resource-input"
               class="fr-input w-100"
               type="search"
               x-on:input.debounce="searchResources()"
               x-model="search"
               placeholder="Rechercher une ressource...">
    </div>
    {% for error in form.resource.errors %}<div class="text-danger text-start fr-mb-2v">{{ error }}</div>{% endfor %}
    <!-- listing -->
    <p class="search-counter fs-6 fr-mb-0"
       x-show="!search"
       x-text="`${db.documentCount} ressources au total`"></p>
    <p class="search-counter fs-6 fr-mb-0"
       x-show="search"
       x-text="`${results.length} ressource(s) trouvée(s)`"></p>
    <ul x-show="results.length > 0"
        class="cards d-flex row row-cols-3 g-4 fr-pl-0 fr-ml-0 fr-mt-1v">
        <template x-for="resource in results" :key="resource.id">
            <li class="col-4 fr-mt-1w">{% include "projects/project/fragments/action_pusher/resource_short_element.html" %}</li>
        </template>
    </ul>
    <div x-show="results.length <= 0 && search != ''"
         class="fr-p-2w w-100 text-center rounded bg-light">
        <span class="fw-bolder">Aucune ressource correspondante</span>
        <div x-show="suggestions.length">
            Vous cherchez peut être :
            <template x-for="suggestion in suggestions">
                <a href="#"
                   @click.prevent="search = suggestion.suggestion; searchResources();"
                   x-text="suggestion.suggestion"></a>&nbsp;
            </template>
        </div>
    </div>
</div>
