<div class="container-fluid">
    <div class="row g-0">
        <div class="col-12">
            <fieldset class="fr-fieldset"
                      id="radio-rich-hint-inline"
                      aria-labelledby="radio-rich-hint-inline-legend radio-rich-hint-inline-messages">
                <legend class="fr-fieldset__legend--regular fr-fieldset__legend"
                        id="radio-rich-hint-inline-legend">Type de ressource à recommander</legend>
                <div class="row">
                    <div class="col-4 fr-radio-group fr-radio-rich">
                        <input type="radio"
                               name="push_type"
                               value="single"
                               id="push-single"
                               x-model="push_type">
                        <label class="fr-label" for="push-single">
                            Ressource existante sur {{ request.site.name }}
                            <span class="fr-hint-text">Vous sélectionnerez une ressource depuis bibliothèque de ressources {{ request.site.name }}.</span>
                        </label>
                    </div>
                    <div class="col-4 fr-radio-group fr-radio-rich">
                        <input type="radio"
                               name="push_type"
                               value="external_resource"
                               id="push-external"
                               x-model="push_type">
                        <label class="fr-label" for="push-external">
                            Ressource d’un autre site web
                            <span class="fr-hint-text">Vous indiquerez l’URL d’une ressource publiée sur un autre site web.</span>
                        </label>
                    </div>
                    <div class="col-4 fr-radio-group fr-radio-rich">
                        <input type="radio"
                               name="push_type"
                               value="noresource"
                               id="push-noresource"
                               x-model="push_type"
                               @click="intent = ''">
                        <label class="fr-label" for="push-noresource">
                            Pas de ressource associée
                            <span class="fr-hint-text">Vous rédigerez la recommandation en texte libre uniquement, sans y joindre de ressource.</span>
                        </label>
                    </div>
                </div>
                <div class="fr-messages-group"
                     id="radio-rich-hint-inline-messages"
                     aria-live="polite"></div>
            </fieldset>
        </div>
    </div>
</div>
