<div class="container-fluid">
    <div class="row g-0">
        <div class="col-12">
            <fieldset class="fr-fieldset fr-mb-4w"
                      id="radio-rich-hint-inline"
                      aria-labelledby="radio-rich-hint-inline-legend radio-rich-hint-inline-messages">
                <legend class="push-reco__title-section fr-mb-3v"
                        id="radio-rich-hint-inline-legend">Type de ressource à recommander</legend>
                <div class="row resource-selector">
                    <div class="col fr-radio-group fr-radio-rich">
                        <input type="radio"
                               name="push_type"
                               value="single"
                               id="push-single"
                               x-model="push_type"
                               data-cy="radio-push-reco-single-resource">
                        <label class="fr-label resource-selector__label" for="push-single">
                            Ressource existante sur {{ request.site.name }}
                            <span class="fr-hint-text resource-selector__subtitle">Vous sélectionnerez une ressource depuis bibliothèque de ressources {{ request.site.name }}.</span>
                        </label>
                    </div>
                    <div class="col fr-radio-group fr-radio-rich">
                        <input type="radio"
                               name="push_type"
                               value="noresource"
                               id="push-noresource"
                               x-model="push_type"
                               @click="intent = ''"
                               data-cy="radio-push-reco-no-resource">
                        <label class="fr-label resource-selector__label" for="push-noresource">
                            Pas de ressource associée
                            <span class="fr-hint-text resource-selector__subtitle">Vous rédigerez la recommandation en texte libre uniquement, sans y joindre de ressource.</span>
                        </label>
                    </div>
                </div>
                <div class="fr-messages-group"
                     id="radio-rich-hint-inline-messages"
                     aria-live="polite"></div>
            </fieldset>
        </div>
    </div>
</div>
