.contact-list {
  .header {
    &__actions {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      .actions {
        &__search-bar {
          position: relative;
          width: 75%;
          max-width: 852px;
          span {
            position: absolute;
            top: 0.5rem;
            left: 0.75rem;
            color: var(--light-text-mention-grey, #666);
          }
          input {
            padding-left: 2rem;
          }
        }
        &__add-contact {
          align-self: flex-end;
        }
      }
    }
    &__filter-letter {
      color: var(--light-background-action-high-blue-france, #000091);
      font-size: 14px;
      font-weight: 400;
      line-height: 36px;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
    }
  }
  &__list {
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    align-content: start;
    flex-direction: row;
    justify-content: start;
    .organization-container {
      width: 100%;
      .organization {
        &__name {
          color: #161616;
          font-weight: 400;
          font-size: 18px;
          line-height: 36px;
          letter-spacing: 0%;
        }
        &__departments {
          &-item {
            display: inline-block;
            margin-left: 0.625rem;
            padding: 2px 4px;
            align-items: center;
            border-radius: 2px;
            background: var(--light-background-contrast-info, #e8edff);
            color: var(--light-text-default-info, #0063cb);
            font-family: Marianne;
            font-size: 11px;
            font-style: normal;
            font-weight: 700;
            line-height: 1rem;
          }
        }
      }
    }
    &-item {
      width: 33.3%;
    }
    .contact-card {
      height: 9rem;
      position: relative;
      border: 1px solid var(--light-border-default-grey, #e5e5e5);
      &__updated-at {
        bottom: 0;
      }
    }
  }
  &__list-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
}
