{% load static %}
<div class="d-flex align-items-center fr-mb-3w">
    <!-- <div class="input-item select">
        <select class="input-field">
            <option>Tout</option>
        </select>
    </div> -->
    <div class="input-item fr-ml-2v">
        <svg class="input-icon bi align-baseline fr-mr-2v"
             width="17"
             height="17"
             fill="#222">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#search" />
        </svg>
        <input type="search"class="search input-field" placeholder="Rechercher" />
    </div>
</div>
