{% load static %}
{% load sass_tags %}
{% load humanize %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/styles/projects-file-upload.css.js' %}
{% endblock js %}
<div class="file-upload-btn" x-data="FileUpload('{{ type }}')">
    <button x-ref="button"
            class="fr-btn fr-btn--sm fr-btn--secondary {% if filled == True %}filled{% endif %} {% if small == True %}small{% endif %}"
            @click="onButtonClick">Ajouter un fichier</button>
    <div x-cloak
         x-ref="popover"
         id="popover"
         @click.outside="onOutsideClick"
         class="file-upload-btn__modal rounded bg-white shadow">
        <form method="post" action="{{ action }}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="fr-p-2w">
                <h6 class="text-uppercase h6-specific-fontsize-1">Ajouter un fichier</h6>
                <p class="fr-mb-2v text-info-custom text-grey-dark small">
                    Vous pouvez joindre un fichier à votre <span x-text="getString(`types.${type}`)"></span>, d'une taille maximum de 20Mo
                </p>
                <div class="fr-mb-3w fr-mt-2w">
                    {% include "projects/project/fragments/files_links/file_upload_input_standalone.html" with required=True %}
                </div>
                <label class="fr-label" for="document-description">Donnez un nom au fichier</label>
                <input class="fr-input"
                       id="document-description"
                       required
                       name="description"
                       x-model="pendingTitle"
                       type="text">
            </div>
            <div class="border-top border-light fr-p-2w d-flex justify-content-end">
                <button id="document-submit-button" class="fr-btn" type="submit">Envoyer</button>
            </div>
        </form>
        <div x-ref="arrow" class="popover-arrow"></div>
    </div>
</div>
