{% load static %}
{% load humanize %}
{% load guardian_tags %}
{% get_obj_perms request.user for request.site as "user_site_perms" %}
{% get_obj_perms request.user for project as "user_project_perms" %}
<div class="fr-mb-2w">
    <div class="rounded border fr-py-2v fr-px-2w fr-mb-2v d-flex align-items-center justify-content-between">
        <div class="d-flex flex-column align-items-start">
            <a x-bind:href="document.the_file"
               class="d-flex align-items-center text-decoration-none"
               target="_new"
               download>
                <svg class="bi align-baseline fr-mr-2v" width="17" height="17" fill="#222">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#file-earmark" />
                </svg>
                <span class="text-info-custom text-black fw-medium text-truncate specific-maxwidth-200"
                      x-text="document.filename"></span>
            </a>
        </div>
        <div class="d-flex align-items-center">
            {% if "manage_documents" in user_project_perms %}
                <a class="d-flex fr-mr-2v"
                   href="{% url 'projects-project-detail-documents' project.pk %}">
                    <svg class="bi fr-mr-1v fill-blue" width="20" height="20">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#pencil-square" />
                    </svg>
                </a>
            {% endif %}
            <a class="d-flex" x-bind:href="document.the_file" target="_new" download>
                <svg class="bi align-baseline fill-blue" width="20" height="20">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#download" />
                </svg>
            </a>
        </div>
    </div>
    <div class="fr-pl-3w fr-ml-3w d-flex align-items-center">
    <span class="tiny"><strong x-text="document.uploaded_by.first_name + ' ' + document.uploaded_by.last_name"></strong>
    <span x-show="document.uploaded_by.profile.organization"
          class="tiny text-grey-dark"
          x-text="document.uploaded_by.profile.organization.name"></span>
</span>
<span class="fr-ml-3w tiny d-flex align-items-center">
    <svg class="bi align-baseline fr-mr-2v" width="12" height="12" fill="#222">
        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#calendar" />
    </svg>
    <strong x-text="`${formatDate(document.created_on)}`"></strong></span>
</div>
</div>
