{% load sass_tags %}
{% block css %}
    <link href="{% sass_src 'projects/css/fragments/owner/invite-not-accepted-banner.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% if project.owner != project.submitted_by %}
    {% for invite in invites %}
        {% if invite.role == "COLLABORATOR" and invite.email == project.owner.email %}
            <div class="invite-not-accepted-banner fr-p-2v">
                <span class="fr-icon-warning-line invite-not-accepted-banner__span fr-mx-2v"
                      aria-hidden="true"
                      title="warning-line"></span><span class="invite-not-accepted-banner__span">Cette personne n’a pas encore rejoint le projet</span>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
