{% load static %}
{% load django_vite %}
{% load projects_extra %}
{% block js %}
    {% vite_asset 'js/components/ClickToSeeUser.js' %}
    {% vite_asset 'js/components/User.js' %}
{% endblock js %}
{% load phone_filters %}
{{ users_to_display|json_script:"usersToDisplay" }}
<div x-data='ClickToSeeUser({{ project.owner.id }}, {{ request.user.id }}, "{{ is_staff }}" == "True", {{ project.id }}, JSON.parse(document.getElementById("usersToDisplay").textContent))'>
    <div class="fr-pt-1v fr-pb-3v fr-px-2w"
         x-show="!displayUser"
         x-transition.duration.10ms>
        <button class="fr-btn w-100 justify-content-center"
                @click='handleClickToSeeInfo()'
                data-cy="btn-overview-reveal-contact">Voir les coordonnées</button>
    </div>
    <div x-data="User()"
         x-show="displayUser"
         x-transition.duration.300ms
         data-cy="container-revealed-contact">
        {% if project.owner %}
            <div class="d-flex align-items-start fr-mb-2v">
                <a class="d-flex align-items-center fr-mb-1v text-decoration-none a-specific-fontsize-14 specific-color-high-blue-france"
                   href="mailto:{{ project.owner.email }}">
                    <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#link-45deg" />
                    </svg>
                    &nbsp;
                    {{ project.owner.email }}
                </a>
                <button class="fr-ml-3w fr-px-2v fr-py-0 fr-btn fr-btn--secondary fr-btn--xs"
                        @click="clipboardCopy(`L'email`, '{{ project.owner.email }}')"
                        title="Copier l'email">
                    <svg class="bi align-baseline" width="10" height="10" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#clipboard" />
                    </svg>
                </button>
            </div>
        {% endif %}
        {% if project.owner.profile.phone_no or project.phone %}
            <span class="d-flex align-items-center a-specific-fontsize-14 specific-color-high-blue-france">
                <svg class="bi align-middle fr-mr-2v"
                     width="15"
                     height="15"
                     fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#telephone" />
                </svg>
                <a class="text-decoration-none a-specific-fontsize-14 specific-color-high-blue-france"
                   href="tel:{{ project.owner.profile.phone_no }}">
                    {% if project.owner.profile.phone_no %}
                        {{ project.owner.profile.phone_no|format_phone }}
                    {% elif project.phone %}
                        {{ project.phone|format_phone }}
                    {% endif %}
                </a>
            </span>
        {% endif %}
    </div>
</div>
