{% load static %}
{% load phone_filters %}
{% if project.owner %}
    <a class="d-flex align-items-center mb-1"
       style="font-size: 14px;
              color: #0063CB;
              text-decoration: none"
       href="mailto:{{ project.owner.email }}">
        <svg class="bi align-middle" width="18" height="18" fill="currentColor">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#link-45deg" />
        </svg>
        &nbsp;
        {{ project.owner.email }}
    </a>
{% endif %}
{% if project.owner.profile.phone_no or project.phone %}
    <span style="font-size: 14px;
                 color: #0063CB"
          class="d-flex align-items-center">
        <svg class="bi align-middle me-2"
             width="15"
             height="15"
             fill="currentColor">
            <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#telephone" />
        </svg>
        <a style="font-size: 14px;
                  color: #0063CB;
                  text-decoration: none"
           href="tel:{{ project.owner.profile.phone_no }}">
            {% if project.owner.profile.phone_no %}
                {{ project.owner.profile.phone_no|format_phone }}
            {% elif project.phone %}
                {{ project.phone|format_phone }}
            {% endif %}
        </a>
    </span>
{% endif %}
