{% load django_vite %}
{% block js %}
    {% vite_asset 'js/styles/project-banner.css.js' %}
{% endblock js %}
<div class="d-flex justify-content-center banner-container banner banner--join fr-pb-2v fr-px-3v fr-pt-2v">
    <span class="bold-text">Certains espaces sont réservés aux membres du dossier. Pour y accéder,&nbsp;</span>
    <span class="text-underline specific-hover-blue bold-text"
          data-test-id="join-project-banner"
          data-fr-opened="false"
          aria-controls="modal-action"
          type="button">rejoignez le dossier</span>
</div>
