{% load sass_tags %}
{% block css %}
    <link href="{% sass_src 'projects/css/fragments/project_banner/paused_project_banner.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
<div class="d-flex justify-content-center specific-position-absolute-centered">
    <span class="fr-pb-2v fr-px-3v fr-pt-1v specific-background-1e1e1e specific-border-radius specific-box-shadow specific-text-color-white">Ce projet est en pause, le porteur de projet ne sera pas notifié de nouvelles activités ici.</span>
</div>
