{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="col-11 py-5 mx-auto">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#person-lines-fill"/>
                </svg>&nbsp;
                <a href="{% url 'addressbook-organization-list' %}">Carnet d'adresses</a>
            </li>
            <li class="breadcrumb-item">
                <span class="text-secondary">
                    <a href="{% url "addressbook-organization-list" %}">
                        Organisations
                    </a>
                </span>
            </li>
            <li class="breadcrumb-item">
                <span class="text-secondary">
                    Ajouter
                </span>
            </li>
        </ol>
    </nav>

    <form class="form" id="form-organization-create" method="POST">
        {% csrf_token %}
        <div class="d-flex flex-column align-items-start">
            <div class="w-100 d-flex flex-column">
                <p>
                {% include "tools/organization_search.html" with name=form.name.name label=form.name.label value=form.name.value id_for_label=form.name.id_for_label placeholder="Nom" errors=form.name.errors small_padding=True %}
                </p>
            </div>
            <div class="w-100 d-flex flex-column select-custom mt-2">
                {{form.departments.errors}}
                {% include 'tools/searchable_list.html' with list=form.departments label=form.departments.label search_list_id=form.departments.id_for_label search_options="['name']" item_label="département"%}
            </div>
        </div>
        
        <input type="submit" value="Créer" class="button filled">
    </form>

</div>

{% endblock %}
