{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="col-11 py-5 mx-auto">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <svg class="bi align-middle" width="18" height="18" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#person-lines-fill"/>
                </svg>&nbsp;
                <a href="{% url 'addressbook-organization-list' %}">Carnet d'adresses</a>
            </li>
            <li class="breadcrumb-item">
                <span class="text-secondary">
                    Organisations
                </span>
            </li>
        </ol>
    </nav>

    <div class="row resource-details mb-3">
        <div class="col-sm-12 col-lg-8 col-xl-9">
            <h2 class="mb-3 d-inline-block">
                <svg class="bi" width="28" height="28" fill="currentColor">
                    <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#people"/>
                </svg>
                {{ organization.name }}
            </h2>
        </div>

        <!-- Sidebar -->
        <div class="col-sm-12 col-lg-4 col-xl-3 border-start">
            <!-- Edit -->
            <div class="d-grid gap-2 mb-3">
                <a class="btn btn-light btn-sm" href="{% url 'addressbook-organization-update' organization.id %}" role="button">
                    <svg class="bi" width="16" height="16" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#pen"/>
                    </svg>
                    &nbsp;
                    Éditer cette organisation
                </a>
            </div>

            <!-- Add contact -->
            <div class="d-grid gap-2 mb-3">
                <a class="btn btn-light btn-sm mb-1 d-inline-block"  href="{% url 'addressbook-organization-contact-create' organization.id %}">
                    <svg class="bi me-1" width="16" height="16" fill="currentColor"> 
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#person-plus"/>
                    </svg>
                    Ajouter un contact
                </a>
            </div>
        </div>
    </div>

    <table class="table">
        <tr>
            <th>
                Prénom
            </th>
            <th>
                Nom
            </th>
            <th>
                Fonction
            </th>
            <th>
                Téléphone
            </th>
            <th>
                GSM
            </th>
            <th>
                Courriel
            </th>
            <th></th>
        </tr>
        {% for contact in organization.contacts.on_site.all %}
        <tr>
            <td>
                {{ contact.first_name }}
            </td>
            <td>
                {{ contact.last_name }}
            </td>
            <td>
                {{ contact.division|default:"-" }}
            </td>
            <td>
                {% if contact.phone_no %}
                <a href="tel:{{contact.phone_no}}">{{ contact.phone_no }}</a>
                {% else %}
                -
                {% endif %}
            </td>
            <td>
                {% if contact.mobile_no %}
                <a href="tel:{{contact.mobile_no}}">{{ contact.mobile_no }}</a>
                {% else %}
                -
                {% endif %}
            </td>
            <td>
                {% if contact.email %}
                <a href="mailto:{{contact.email}}">{{ contact.email }}</a>
                {% else %}
                -
                {% endif %}
            </td>
            <td>
                <a class="btn btn-light btn-sm" href="{% url 'addressbook-organization-contact-update' contact.id %}">
                    <svg class="bi" width="16" height="16" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#pen"/>
                    </svg>
                    &nbsp;
                    Éditer
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
