.errorlist {
  background-color: #daaeae;
  border-radius: 0.25rem 0.25rem 0 0;
  list-style: none;
  padding: 10px;
}

.max-width-800 {
  max-width: 800px;
}

.specific-height-1px {
  height: 1px;
}

.specific-mb-20px {
  margin-bottom: 20px;
}

.specific-backgroundcolor-grey {
  background-color: grey !important;
}

.specific-backgroundimage-none {
  background-image: none;
}

.span-padding {
  padding: 11px 10px;
}
