.custom-background-actors-image {
  background-image: url('/static/home/img/actors/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
}

@media (min-width: 48em) {
  .custom-background-actors-image {
    padding-top: 0;
  }
}

.custom-background-actors {
  margin-top: 150px;
  padding-bottom: 50px;
}

@media (max-width: 48em) {
  .custom-carousel-images {
    min-height: 300px;
    width: 100%;
    margin: auto;
    margin-bottom: 55px;
  }
}

.list-group-item {
  padding-right: 10px;

  svg {
    opacity: 0;
    transform: translate3d(5px, 0, 0);
    transition: all 0.25s ease;
  }

  &.active {
    background-color: #f8794b !important;
    border-color: #f8794b !important;

    svg {
      opacity: 1;
      transform: translate3d(0, 0, 0);

      * {
        fill: white;
      }
    }
  }

  &:hover {
    &:not(.active) {
      background-color: #edc3b4 !important;
      border-color: #edc3b4 !important;

      svg {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.actors-bg-color {
  background-color: #1b1b35;
}

.max-width {
  max-width: 160px;
}

.border-style {
  border-top: solid 1px #e3e3e3;
}

.border-important {
  border-color: #e5e5e5 !important;
  border-width: 1px !important;
}
