.card-resource .card-title span {
  font-variant: small-caps; }

.card-resource .card-body {
  z-index: 1; }

.card-resource .subtitle {
  font-variant: small-caps; }

.card-resource .middle-hr {
  position: absolute;
  top: 25px;
  border: 1px solid #bbb;
  width: 100%;
  z-index: 0; }

.card-resource .icon-placeholder {
  width: 80px;
  display: inline-block; }

.card-resource .category {
  height: 100%; }
  .card-resource .category span {
    font-size: 15px;
    margin-top: 12px; }

.card-resource .title {
  text-align: left;
  font-size: 20px;
  font-weight: 700; }
