/* Icon background colors based on Tango */
.bg-color-orange {
  background-color: #ce5c00 !important;
}

.bg-color-black {
  background-color: black !important;
}

.bg-color-darkgrey {
  background-color: #666 !important;
}

.bg-color-yellow {
  background-color: #edd400 !important;
}

.bg-color-green {
  background-color: #4e9a06 !important;
}

.bg-color-blue {
  background-color: #204a87 !important;
}

.bg-color-violet {
  background-color: #5c3566 !important;
}

.bg-color-red {
  background-color: #a40000 !important;
}

.resource-icon {
  vertical-align: middle;
  background-color: black;
  color: white;
  //border: 8px solid black;

  padding: 2px;
  width: 34px;
  height: 34px;
}

.resource-details {
  .subtitle {
    font-variant: small-caps;
  }
}

.specific-height-100px {
  height: 100px;
}

.specific-minwidth-200#limit_area {
  min-width: 200px;
}

.specific-border-solid2px222 {
  border: solid 2px #222;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.specific-flex {
  flex: 0 0 auto !important;
}

.resource-template a {
  text-decoration: underline;
  color: #0000ee;
}

.toggle-expired {
  min-width: 300px;
  max-width: 20%;
}
