{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load sass_tags %}
{% load django_vite %}
{% block css %}
    <link href="{% sass_src 'projects/css/kanban.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% block js %}
    {% vite_asset 'js/apps/pageInvitation.js' %}
{% endblock js %}
{% block title %}
    {{ request.site.name }} - Invitation à rejoindre le dossier {{ invite.project.name }}
{% endblock title %}
{% block og_title %}
    {{ request.site.name }} - Invitation à rejoindre le dossier {{ invite.project.name }}
{% endblock og_title %}
{% block content %}
    {% include "invites/fragments/invite_form.html" with title="Invitation à rejoindre un dossier" %}
{% endblock content %}
