{% extends "base.html" %}

{% load humanize %}
{% load static %}

{% load sass_tags %}

{% block css %}

{% endblock %}

{% block title %}
{{ site.name }} | Invitation à rejoindre le projet {{ invite.project.name }}
{% endblock %}

{% block content %}

<div class="col-10 py-5 mx-auto">

    <h4 class="fw-bolder">Invitation à rejoindre {{ site.name }}</h4>

    <div class="mt-3 mb-3 fw-bolder">
        {{ error_msg }}
    </div>

    <div>
        Si vous n'êtes pas <span class="fw-bolder">{{ request.user.get_full_name }}</span>, vous pouvez <a href="{% url 'logout' %}">vous déconnecter</a>.
    </div>


</div>
{% endblock %}
