{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% block title %}
    {{ site.name }} | Invitation à rejoindre le dossier {{ invite.project.name }}
{% endblock title %}
{% block og_title %}
    {{ site.name }} | Invitation à rejoindre le dossier {{ invite.project.name }}
{% endblock og_title %}
{% block content %}
    <div class="col-10 fr-py-6w fr-mx-auto">
        <h4 class="fw-bolder">Invitation à rejoindre {{ site.name }}</h4>
        <div class="fr-mt-2w fr-mb-2w fw-bolder">{{ error_msg }}</div>
        <div>
            Si vous n'êtes pas <span class="fw-bolder">{{ request.user.get_full_name }}</span>, vous pouvez <a href="{% url 'logout' %}">vous déconnecter</a>.
        </div>
    </div>
{% endblock content %}
