{% load cookie_consent_tags %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/apps/consent.js' %}
{% endblock %}

{% load sass_tags %}
{% block css %}
    <link href="{% sass_src 'home/css/dsfr/custom-dsfr.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock %}
<div x-data="Consent">
    <template x-if="!userHasSelectedCookies">
        <div  class="fr-consent-banner">
            <h5 class="title-info mb-2">À propos des cookies sur {{ request.site.name }}</h5>
            <div class="fr-consent-banner__content">
                <p class="custom-text-info">
                    Bienvenue ! Nous utilisons des cookies pour améliorer votre expérience et les services disponibles sur ce site. Pour en savoir plus, visitez la page <a class="text-decoration-underline" style="color: #335B7E;" href="{% url "privacy" %}">Données personnelles et cookies</a>. Vous pouvez, à tout moment, avoir le contrôle sur les cookies que vous souhaitez activer.
                </p>
            </div>
            <ul class="d-flex align-items-center justify-content-start list-unstyled flex-row-reverse">
                <li>
                    <button @click="handleAcceptAllCookies('{% url 'cookie_consent_accept_all' %}')"
                            class="button filled small"
                            title="Autoriser tous les cookies">
                        Tout accepter
                    </button>
                </li>
                <li class="mx-2">
                    <button @click="handleRejectAllCookies('{% url 'cookie_consent_decline_all' %}')"
                            class="button small"
                            title="Refuser tous les cookies">
                        Tout refuser
                    </button>
                </li>
                <li>
                    <a href="/cookies/" style="color: #335B7E;" class="text-decoration-underline">Personnaliser</a>
                </li>
            </ul>
        </div>
    </template>
</div>
