{% load static %}
{% load gravatar %}
{% load guardian_tags %}
{% get_obj_perms request.user for request.site as "user_site_perms" %}
{% get_obj_perms request.user for project as "user_project_perms" %}
<div x-data="Task(task)"
     data-test-id="task-item"
     style="width: 49%; border-radius:4px;"
     :class="`border${getTaskColor(task)}`"
     class="position-relative fr-mb-2w fr-px-2w d-flex fr-pt-2w fr-pb-2w justify-content-between align-items-start task-item {% if embed_view is not True %}cursor-pointer{% endif %} hover-shadow hover-border-blue transition-all"
     {% if embed_view is not True %}@click="handleOpenPreviewModal()"{% endif %}
     :id="task.id">
    <div x-show="task.isLoading"
         class="fr-ml-2v item-loader z-1 specific-size">
        <div class="spinner-border spinner-border spinner-border-sm text-primary"
             role="status"></div>
    </div>
    <div class="d-flex flex-column flex-grow-1 ease-transition tmp-usevar"
         :style="task.isLoading && 'opacity:0.3';">
        <div data-test-id="badge-new-task"
             class="card-top-information d-flex align-items-center">
            {% if embed_view is not True %}
                <template x-if="!task.visited && task.public">
                    <div class="left-0">
                        <span class="bg-blue text-white"
                              x-text="!$store.djangoData.isAdvisor ? 'Nouveau' : 'Non lu par le demandeur' "></span>
                    </div>
                </template>
            {% endif %}
            <template x-if="!task.public">
                <div class="left-0">
                    <span data-test-id="task-draft-status"
                          :class="`bg${getTaskColor(task)}`"
                          class="text-dark">Brouillon</span>
                </div>
            </template>
            
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <template x-if="task.topic && task.topic.name">
                <div class="d-flex align-items-center fr-mb-1v">
                    <span class="topic-indicator bg-green fr-mr-1v"></span>
                    <h5 data-test-id="task-kanban-topic"
                        x-text="task.topic.name"
                        class="fw-bold tiny text-gray-800 fr-mb-0"></h5>
                </div>
            </template>
            {% if embed_view is not True %}
                {% if "manage_tasks" in user_project_perms and not disable_edit %}
                    {% include "projects/project/fragments/task/task_actions.html" %}
                {% endif %}
            {% endif %}
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <h6 class="fr-mb-0 fw-bold title-info text-transform-none text-blue text-decoration-underline"
                        x-text="currentTask.intent"></h6>
        </div>
        {% if embed_view is not True %}
            <article class="fr-mt-1v fr-mb-2v">
                <template x-if="task.resource_id && task.resource && task.resource.subtitle">
                    <div x-html="truncate(renderMarkdown(task.resource.subtitle),100)"
                         class="text-info-custom fw-light font-small text-dark fr-m-0 fr-p-0 font-size-14px fw-400"></div>
                </template>
                <template x-if="!task.resource_id && task.content">
                    <div x-html="truncate(renderMarkdown(task.content),100)"
                         class="text-info-custom fw-light font-small text-dark fr-mb-2v fr-p-0 font-size-14px fw-400"></div>
                </template>
                <template x-if="!task.resource_id && task.contact">
                    <div x-data="{contact: task.contact,isOpenDeleteContact:null}"
                         class="container__card-contact--no-ressource">
                        {% include "tools/contacts/contact_card.html" %}
                    </div>
                </template>
            </article>
        {% endif %}
        <template x-if="task.resource">
            <article>{% include "projects/project/fragments/task/task_comment.html" with content="tiny" %}</article>
        </template>
        <!-- DS integration -->
        <template x-if="task.ds_folder && task.ds_folder.prefilled_count > 0">
            <hr class="fr-mt-3w">
            <div>
                <h4 class="fw-bolder">
                    <img height="31px"
                         width="32px"
                         src="{% static 'svg/picto-demarches_simplifiees.svg' %}"
                         alt="Pictogramme Démarches Simplifiées">
                    Pré-créer un dossier sur Demarches-simplifiees.fr
                </h4>
                <p class="fr-text-mention--grey fr-text--sm fr-my-3v">
                    En cliquant ci-dessous, vous créerez un dossier en brouillon sur Demarches-Simplifiees.fr.
                    <br>
                    <span x-text="task.ds_folder.prefilled_count > 1 ? `${task.ds_folder.prefilled_count} champs seront pré-remplis avec les informations déjà renseignées ici.` : '1 champ sera pré-rempli avec les informations déjà renseignées ici.'"></span>
                </p>
                <a class="fr-btn fr-btn--secondary fr-btn--sm"
                   @click.stop=""
                   x-bind:href="task.ds_folder.dossier_url"
                   target="_blank">Aller sur Demarches-simplifiees.fr</a>
            </div>
        </template>
        <hr class="fr-mt-3w">
        <footer class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                {% if embed_view is not True %}
                    <template x-if="task.public">
                        {% include "projects/project/fragments/tasks_inline_kanban/tasks_status_buttons.html" %}
                    </template>
                {% endif %}
                <div class="text-grey-dark d-flex align-items-center tiny fr-mr-2w responsive-flex-column">
                    <span class="fr-icon-chat-2-line fr-icon--sm fr-mr-1v" aria-hidden="true"></span>
                    <span class="tiny {% if embed_view is not True %}hover-underline cursor-pointer{% endif %}"
                          {% if embed_view is not True %}@click="handleOpenPreviewModal()"{% endif %}
                          x-text="task.resource_id ? getTaskMessageCountLabel(task.comments_count + 1) : getTaskMessageCountLabel(task.comments_count)"></span>
                    <template x-if="task.notifications.count > 0">
                        <span class="tiny {% if embed_view is not True %}hover-underline cursor-pointer{% endif %} text-blue fw-medium fr-ml-1v"
                              {% if embed_view is not True %}@click="handleOpenPreviewModal()"{% endif %}
                              x-text="task.resource_id ? getTaskNewMessageCountLabel(task.notifications.count) : getTaskNewMessageCountLabel(task.notifications.count)"></span>
                    </template>
                </div>
            </div>
            {% if embed_view is not True %}
                <div class="tiny d-flex align-items-center">
                    <span class="text-muted fr-mr-1v specific-lineheight-20"
                          x-text="`Émis le ${formatDate(task.created_on)}`"></span>
                    {% include "projects/project/fragments/task/task_user_card.html" %}
                </div>
            {% endif %}
        </footer>
    </div>
</div>
