{% if embed_view is not True %}
    <template x-for="(task, i) in column(board.status)" :key="task.id">
        {% include "projects/project/fragments/tasks_inline/task_item.html" %}
        <!-- {% include "projects/project/fragments/tasks_kanban/task_item.html" with kanban_or_list="kanban" %} -->
    </template>
    <div x-show="column(board.status).length == '0'">
        <div class="border rounded fr-mb-2w fr-px-2w d-flex fr-pt-2w fr-pb-2w justify-content-between align-items-start task-item">
            <p class="text-info-custom font-small text-grey-dark fr-my-0"
               x-text="filterIsDraft == true ? 'Aucune recommandation en brouillon' : 'Aucune recommandation dans cette catégorie'">
            </p>
        </div>
    </div>
{% else %}
    {% for task in actions %}
        <div class="task-animation-appear-in position-relative fr-my-3w tmp-usevar">
            {% include "projects/project/fragments/tasks_inline/task_item_embed.html" with task=task task_id=task.id %}
        </div>
    {% endfor %}
{% endif %}
