{% load static %}
{% load django_vite %}
{% load gravatar %}
{% load phone_filters %}
{% block js %}
    {% vite_asset 'js/apps/user.js' %}
{% endblock js %}
{% load guardian_tags %}
{% load projects_extra %}
{% load sass_tags %}
{% block css %}
    <link href="{% sass_src 'css/user/user_card.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% get_obj_perms request.user for request.site as "user_site_perms" %}
{% get_obj_perms request.user for project as "user_project_perms" %}
<div x-data="User()"
     class="user-card position-relative d-flex fr-my-1v flex-column justify-content-between align-items-start">
    <div class="position-relative d-flex align-items-center justify-content-between {% if user_activity %}w-100{% endif %}">
        <button x-ref="user"
                type="button"
                {% if not user_popup_deactivate %}@click="onUserClick"{% endif %}
                class="d-flex align-items-center flex-wrap user-info border-0 fr-p-0 bg-transparent {% if user_popup_deactivate %}no-underline{% endif %}"
                data-test-id="button-open-tooltip-user-card">
            <span class="fr-mr-1v d-flex align-items-center font-size-12px">
                <img class="user-card__gravatar rounded-circle fr-mr-1v {% if not user.is_active %}border-0{% elif advising_position.is_advisor %}advisor-border border-2{% elif advising_position.is_observer %}observer-border border-2{% else %}neutral-role-border border-2{% endif %}"
                     src="{% gravatar_url user.email size=16 %}"
                     :style="{ '--current-bg-color': stringToColor('{{ user.email }}') }"
                     alt="{{ action.actor }}">
                {% if user %}
                    <strong class="user-card__name text-nowrap text-capitalize {% if not user.is_active %}inactive-status{% endif %}"
                            data-test-id="user-card-intro">
                        {% if user.get_full_name %}
                            {{ user.get_full_name }}
                        {% elif project and project_owner and project.first_name and project.last_name %}
                            {{ project.first_name }}
                            {{ project.last_name }}
                        {% elif user.email %}
                            {{ user.email }}
                        {% endif %}
                    </strong>
                {% endif %}
            </span>
            {% if user.profile.organization.name %}
                <span class="user-card__org-name fw-normal font-italic font-size-12px">{{ user.profile.organization.name }}</span>
            {% elif project_owner and project.org_name %}
                <span class="user-card__org-name fw-normal font-italic font-size-12px">{{ project.org_name }}</span>
            {% endif %}
        </button>
        {% if 'use_crm' in user_site_perms and user_activity %}
            {% if not disable_links %}
                <a class="small fr-ml-1v" href="{% url 'crm-user-details' user.pk %}">
                    <svg class="bi fr-mr-1v" width="16" height="16" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#activity" />
                    </svg>
                </a>
            {% else %}
                <span class="small fr-ml-1v">
                    <svg class="bi fr-mr-1v" width="16" height="16" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#activity" />
                    </svg>
                </span>
            {% endif %}
        {% endif %}
    </div>
    <div x-cloak
         x-ref="userTooltip"
         id="user-tooltip"
         @click.outside="onOutsideUserClick"
         data-test-id="tooltip-user-card"
         class="user-card-popup flex-column {% if not user.is_active %}...{% elif advising_position.is_advisor %}advisor-border{% elif advising_position.is_observer %}observer-border{% else %}neutral-role-border{% endif %}">
        {% if user.is_active and advising_position.is_advisor %}
            <div class="user-role position-absolute">
                <span class="fr-py-1v fr-px-2v fw-bold text-uppercase tiny advisor-background text-white specific-borderradius-2px">Conseiller</span>
            </div>
        {% elif user.is_active and advising_position.is_observer %}
            <div class="user-role position-absolute">
                <span class="fr-py-1v fr-px-2v fw-bold text-uppercase tiny observer-background text-white specific-borderradius-2px">Observateur</span>
            </div>
        {% endif %}
        <div class="d-flex align-items-center flex-wrap">
            <span class="fr-mr-2v d-flex align-items-center font-very-small">
                <img class="rounded-circle fr-mr-2v {% if not user.is_active %}border-0{% elif advising_position.is_advisor %}advisor-border border-2{% elif advising_position.is_observer %}observer-border border-2{% else %}neutral-role-border border-2{% endif %}"
                     :src='gravatar_url("{{ user.email }}", 25, "{{ user.first_name }}" + " " + "{{ user.last_name }}")'
                     alt="{{ action.actor }}">
                <strong class="text-nowrap text-capitalize {% if not user.is_active %}inactive-status{% endif %}">
                    {% if user.get_full_name %}
                        {{ user.get_full_name }}
                    {% elif user and project and project.first_name and project.last_name %}
                        {{ project.first_name }}
                        {{ project.last_name }}
                    {% else %}
                        {{ user.email }}
                    {% endif %}
                </strong>
            </span>
            {% if user.profile.organization.name %}
                <span class="text-dark fw-normal font-italic font-very-small">{{ user.profile.organization.name }}</span>
            {% elif project_owner and project.org_name %}
                <span class="text-dark fw-normal font-italic font-very-small">{{ project.org_name }}</span>
            {% endif %}
        </div>
        {% if user.profile.organization_position %}
            <div class="d-flex align-items-center justify-content-between text-blue font-very-small specific-my">
                <div class="d-flex align-items-center">
                    <svg class="bi align-middle fr-mr-2v specific-ml-012"
                         width="18"
                         height="18"
                         fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#briefcase" />
                    </svg>
                    <span class="text-decoration-none text-blue">{{ user.profile.organization_position }}</span>
                </div>
            </div>
        {% endif %}
        {% if user.is_active %}
            <span class="d-flex align-items-center justify-content-between text-blue font-very-small fr-mt-1v">
                <div class="d-flex align-items-center">
                    <svg class="bi align-middle fr-mr-2v"
                         width="18"
                         height="18"
                         fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#link-45deg" />
                    </svg>
                    {% if not disable_links %}
                        <a class="text-decoration-none text-blue" href="mailto:{{ user.email }}">{{ user.email }}</a>
                    {% else %}
                        {{ user.email }}
                    {% endif %}
                </div>
                <button class="fr-ml-3w fr-px-2v fr-py-0 btn small btn-outline-primary"
                        @click="clipboardCopy(`L'email`, '{{ user.email }}')">
                    <svg class="bi align-baseline" width="10" height="10" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#clipboard" />
                    </svg>
                </button>
            </span>
        {% endif %}
        {% if user.is_active and user.profile.phone_no and not advising_position.is_observer %}
            <span class="d-flex align-items-center justify-content-between text-blue font-very-small fr-mt-1v">
                <div class="d-flex align-items-center">
                    <svg class="bi align-middle fr-mr-2v"
                         width="15"
                         height="15"
                         fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#telephone" />
                    </svg>
                    {% if not disable_links %}
                        <a class="text-decoration-none text-blue"
                           href="tel:{{ user.profile.phone_no }}">{{ user.profile.phone_no|format_phone }}</a>
                    {% else %}
                        {{ user.profile.phone_no|format_phone }}
                    {% endif %}
                </div>
                <button class="fr-ml-3w fr-px-2v fr-py-0 btn small btn-outline-primary"
                        @click="clipboardCopy('Le numéro de téléphone', '{{ user.profile.phone_no }}')">
                    <svg class="bi align-baseline" width="10" height="10" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg'  %}#clipboard" />
                    </svg>
                </button>
            </span>
        {% endif %}
        {% if user and not user.is_active %}
            <span data-test-id="deactivated-user-details"
                  class="fr-p-1v fr-px-2v font-very-small bg-grey-light w-100 d-flex fr-mt-1v text-nowrap specific-borderradius-2px">Compte desactivé depuis {{ user.last_login.date|date:"F" }}  {{ user.last_login.date|date:"Y" }}</span>
        {% elif not user %}
            <span data-test-id="deleted-user-details"
                  class="fr-p-1v fr-px-2v font-very-small bg-grey-light w-100 d-flex fr-mt-1v text-nowrap specific-borderradius-2px">Compte desactivé</span>
        {% endif %}
    </div>
</div>
