{% extends "base.html" %}
{% load static %}
{% load gravatar %}
{% load django_vite %}
{% load sass_tags %}
{% load survey %}
{% block title %}
    Projets à examiner
{% endblock title %}
{% block og_title %}
    Projets à examiner
{% endblock og_title %}
{% block js %}
    {% vite_asset 'js/store/projects.js' %}
{% endblock js %}
{% block css %}
    <link href="{% sass_src 'home/css/dsfr/marianne.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% sass_src 'projects/css/project_moderation.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% block content %}
    <div x-data
         x-init="$nextTick(() => $store.projects.init('{{ request.site.name }}'))"
         class="col-11 fr-pt-2w fr-pb-6w fr-mx-auto">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    {% if draft_projects.count > 1 %}
                        <h2>{{ draft_projects.count }} projets entrants à examiner</h2>
                    {% elif draft_projects.count > 0 %}
                        <h2>{{ draft_projects.count }} projet entrant à examiner</h2>
                    {% else %}
                        <h2>Aucun projet à examiner</h2>
                    {% endif %}
                    {% for project in draft_projects %}
                        <div class="card fr-mb-2w d-flex flex-row project-card">
                            <div class="project-card__col--left project-card__col__padding d-flex flex-column">
                                <h3 class="project-card__title">
                                    <a href="{% url 'projects-project-detail' project.id %}">
                                        {% if project.commune %}
                                            <span class="project-card__city">{{ project.commune.name }}({{ project.commune.postal|slice:2 }})</span>
                                        {% endif %}
                                        <span class="project-card__name">{{ project.name }}</span>
                                    </a>
                                </h3>
                                <p class="project-card__keyinfo fr-mb-2v">
                                    {% if project.project_sites.origin.site != request.site %}
                                        <span>
                                            {% if project.project_sites.origin.site.configuration.logo_small %}
                                                <img src="{{ project.project_sites.origin.site.configuration.logo_small.url }}"
                                                     width="16px"
                                                     height="auto"
                                                     alt="Logo {{ project.project_sites.origin.site.name }}" />
                                            {% else %}
                                                <span class="fr-icon--sm fr-icon-window-line" aria-hidden="true"></span>
                                            {% endif %}
                                            projet envoyé par {{ project.project_sites.origin.site.name }}
                                        </span>
                                    {% endif %}
                                    {% if project.commune %}
                                        <span class="fr-icon--sm fr-icon-map-pin-2-line">INSEE: {{ project.commune.insee }}</span>
                                    {% endif %}
                                    <span class="fr-icon--sm fr-icon-calendar-event-line">déposé depuis {{ project.created_on|timesince }}</span>
                                </p>
                                <div class="project-card__location">
                                    <h4 class="text-uppercase project-card__address fr-mb-0">Localisation</h4>
                                    {% if project.location and project.commune %}
                                        <p>
                                            <span class="fr-icon--sm fr-icon-map-pin-2-line project-card__location"
                                                  id="no-margin">{{ project.location }}</span>
                                        </p>
                                        <p class="fr-mb-2v">
                                            <span class="project-card__communename">{{ project.commune.postal }} {{ project.commune.name }}</span>
                                        </p>
                                    {% elif project.location %}
                                        <p class="fr-mb-2v">
                                            <span class="fr-icon--sm fr-icon-map-pin-2-line project-card__location">{{ project.location }}</span>
                                        </p>
                                    {% elif project.commune %}
                                        <p class="fr-mb-2v">
                                            <span class="fr-icon--sm fr-icon-map-pin-2-line project-card__location">{{ project.commune.postal }} {{ project.commune.name }}</span>
                                        </p>
                                    {% else %}
                                        <p class="fr-mb-2v">
                                            <span class="fr-icon--sm fr-icon-map-pin-2-line project-card__location">Non renseigné</span>
                                        </p>
                                    {% endif %}
                                </div>
                                <h4 class="text-uppercase project-card__team fr-mb-0">Porteur de projet</h4>
                                <div>
                                    {% include "projects/project/fragments/project_owner.html" with project=project %}
                                    {% include "projects/project/fragments/owner/owner-details.html" with project=project %}
                                </div>
                                <div class="d-flex flex-grow-1 align-items-end fr-mt-3w">
                                    <div class="d-flex justify-content-between align-items-stretch w-100 specific-maxheight-70">
                                        <form method="post"
                                              action="{% url "projects-moderation-refuse" project.id %}"
                                              class="flex-grow-1">
                                            {% csrf_token %}
                                            <button class="fr-btn fr-btn--secondary black fr-btn--sm fr-mr-1v h-100"
                                                    type="submit"
                                                    role="submit"
                                                    data-test-id="refuse-project">Refuser</button>
                                        </form>
                                        <form method="post"
                                              action="{% url "projects-moderation-accept" project.id %}">
                                            {% csrf_token %}
                                            <button class="fr-btn fr-btn--secondary fr-btn--sm fr-mr-1v float-end h-100"
                                                    type="submit"
                                                    role="submit"
                                                    @click="$store.projects.resetProjectsLocalStorage()"
                                                    data-test-id="accept-project">Accepter</button>
                                        </form>
                                        <form method="post"
                                              action="{% url "projects-moderation-accept" project.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="join" value="1">
                                            <button class="fr-btn fr-btn--secondary fr-btn--sm fr-mr-1v float-end h-100"
                                                    type="submit"
                                                    role="submit"
                                                    @click="$store.projects.resetProjectsLocalStorage()"
                                                    data-test-id="accept-project">Accepter et rejoindre</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="project-card__col--right fr-p-0">
                                <!-- Contexte -->
                                {% include "projects/project/fragments/information_card.html" with full_width=True padding_end=False padding_top=False project=project title="Résumé du projet" description=project.description updated_on=project.created_on data_test="context" display_user=False %}
                                <!-- Complément -->
                                {% for question in site_config.onboarding_questions.all %}
                                    {% project_session_for_survey project site_config.project_survey as session %}
                                    {% question_answer session question as answer %}
                                    {% if answer and answer.values %}
                                        {% lookup_choices_from_answer answer as choices %}
                                        {% if answer.comment %}
                                            <!--Texte libre-->
                                            {% include "projects/project/fragments/information_card.html" with full_width=True padding_end=False padding_top=False project=project title=answer.question.text description=answer.comment updated_on=project.created_on card_user=project.submitted_by org_name=project.submitted_by.profile.organization.name display_user=False %}
                                        {% else %}
                                            <div class="fr-pt-2v">
                                                {% for choice in choices %}
                                                    {% include "projects/project/fragments/information_card.html" with full_width=True project=project title=answer.question.text_short description=choice.conclusion updated_on=project.created_on card_user=project.submitted_by org_name=project.submitted_by.profile.organization.name display_user=False %}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
