{% extends "base.html" %}
{% load static %}
{% load gravatar %}
{% load django_vite %}
{% load sass_tags %}
{% load survey %}
{% block title %}
    Projets à examiner
{% endblock title %}
{% block og_title %}
    Projets à examiner
{% endblock og_title %}
{% block js %}
    {% comment %} {% vite_asset 'js/apps/.js' %} {% endcomment %}
{% endblock js %}
{% block css %}
    <link href="{% sass_src 'home/css/dsfr/marianne.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% sass_src 'projects/css/project_moderation.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% block content %}
    <div class="col-11 pt-3 pb-5 mx-auto">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    {% if draft_projects.count > 0 %}
                        <h2>{{ draft_projects.count }} projet entrant à examiner</h2>
                    {% elif draft_projects.count > 1 %}
                        <h2>{{ draft_projects.count }} projets entrants à examiner</h2>
                    {% else %}
                        <h2>Aucun projet à examiner</h2>
                    {% endif %}
                    {% for project in draft_projects %}
                        <div class="card mb-3 d-flex flex-row project-card p-3 row">
                            <div class="col-4">
                                <h3 class="project-card--title">
                                    <a href="{% url 'projects-project-detail' project.id %}">
                                        {% if project.commune %}
                                            <span class="project-card--city">{{ project.commune.name }}({{ project.commune.postal|slice:2 }})</span>
                                        {% endif %}
                                        <span class="project-card--name">{{ project.name }}</span>
                                    </a>
                                </h3>
                                <p class="project-card--keyinfo">
                                    {% if project.commune %}<span class="fr-icon-map-pin-2-line">INSEE: {{ project.commune.insee }}</span>{% endif %}
                                    <span class="fr-icon-calendar-event-line">déposé depuis {{ project.created_on|timesince }}</span>
                                </p>
                                <h4 class="text-uppercase project-card--address">Localisation</h4>
                                {% if project.location and project.commune %}
                                    <p>
                                        <span class="fr-icon-map-pin-2-line project-card--location" id="no-margin">{{ project.location }}</span>
                                    </p>
                                    <p>
                                        <span class="project-card--communename">{{ project.commune.postal }} {{ project.commune.name }}</span>
                                    </p>
                                {% elif project.location %}
                                    <p>
                                        <span class="fr-icon-map-pin-2-line project-card--location">{{ project.location }}</span>
                                    </p>
                                {% elif project.commune %}
                                    <p>
                                        <span class="fr-icon-map-pin-2-line project-card--location">{{ project.commune.postal }} {{ project.commune.name }}</span>
                                    </p>
                                {% else %}
                                    <p>
                                        <span class="fr-icon-map-pin-2-line project-card--location">Non renseigné</span>
                                    </p>
                                {% endif %}
                                <h4 class="text-uppercase project-card--team">Équipe collectivité</h4>
                                <p>
                                    {% include "projects/project/fragments/project_owner.html" with project=project %}
                                    {% include "projects/project/fragments/owner/owner-details.html" with project=project %}
                                </p>
                                <div class="d-flex justify-content-between">
                                    <form method="POST" action="{% url "projects-moderation-refuse" project.id %}">
                                        {% csrf_token %}
                                        {% include "dsrc/core/blocks/buttons/button.html" with label="Refuser"  role="submit" variant="secondary black" classes="me-1" %}
                                    </form>
                                    <form method="POST" action="{% url "projects-moderation-accept" project.id %}">
                                        {% csrf_token %}
                                        {% include "dsrc/core/blocks/buttons/button.html" with label="Accepter"  role="submit" variant="secondary" classes="me-1 float-end" %}
                                    </form>
                                    <form method="POST" action="{% url "projects-moderation-accept" project.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="join" value="1">
                                        {% include "dsrc/core/blocks/buttons/button.html" with label="Accepter et rejoindre"  role="submit" variant="secondary" classes="me-1 float-end" %}
                                    </form>
                                </div>
                            </div>
                            <div class="col-8">
                                {% for question in site_config.onboarding_questions.all %}
                                {% project_session_for_survey project site_config.project_survey as session %}
                                    {% question_answer session question as answer %}
                                    {% if answer.values %}
                                        {% lookup_choices_from_answer answer as choices %}
                                        {% if answer.comment %}
                                            {% include "projects/project/fragments/information_card.html" with full_width=True project=project title=answer.question.text description=answer.comment updated_on=project.created_on card_user=project.submitted_by org_name=project.submitted_by.profile.organization.name display_user=False %}
                                        {% elif not answer.comment %}
                                            {% include "projects/project/fragments/information_card.html" with full_width=True project=project title=answer.question.text description=answer.comment updated_on=project.created_on card_user=project.submitted_by org_name=project.submitted_by.profile.organization.name new_onboarding=True multichoice=True display_user=False %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
