a.fr-btn {
    &:hover {
        &:not(.fr-btn--secondary) {
            color: white !important;
        }

        &.fr-btn--secondary {
            color: #000091 !important;
        }
    }
}

.custom-button {
    background : #00BBC3 !important;

    &:hover {
        background : #479195 !important;
    }
}

.custom-background-home {
    margin-top: -10vw;
    margin-bottom: 50px;
}

@media (min-width: 48em) {
    .custom-background-home {
        margin-top: -35vw;
        margin-bottom: 0;
    }
}

.custom-background-actors {
    margin-top: 0;
    margin-bottom: 50px;
}

@media (min-width: 48em) {
    .custom-background-actors {
        margin-top: -40vw;
        margin-bottom: 0;
    }
}

.mt-n150px {
    margin-top: 0;
}

@media (min-width: 48em) {
    .mt-n150px {
        margin-top: -150px;
    }
}

.fr-btn-custom-hover:hover {
    background-color: #8585F6 !important;
    box-shadow: 0 0 0 1px #8585F6 !important;
}
